[2022-08-09 09:10] misterhackerman opened #1405 "Making the window as the actual size of an image"
When first opening an image, it's great to see it in it's actual dimensions.

This will return these benefits:
1. It will give you a better Idea of how big is the image.
2. It will Look nicer without the empty margins.
3. It won't take screen space more than it needs to.

I don't know much C#, but I think making this change is possible through resizing the window to the size of the image at startu

[2022-08-09 13:43] d2phap commented on #1405
You can view the actual size of the image, then click on the "Lock zoom ratio" button. This will keep your image opened in 100% size.

![image](https://user-images.githubusercontent.com/3154213/183663029-6bd921e5-6a5c-4cfc-b274-1dd09d1f0b52.png)

Or, you can create an `igconfig.admin.xml` file in the start up folder (where the ImageGlass.exe located) with the below content:
[code]

This file force

[2022-08-09 15:47] masterofobzene opened #1406 "WARNING- rotating pictures may corrupt them (already reported time ago)"
### System information:
 - Windows OS version: x64  its not a windows issue, its the app.
 - ImageGlass version:  8 6 7 13

### To Reproduce
Steps to reproduce the behavior:
1. rotate a picture
2. go "next"

### Actual behavior:
picture is corrupted when being saved.

### Screenshots:
![imagen](https://user-images.githubusercontent.com/94469116/183698554-ac87eaa0-614c-4bcd-bc15-8f28d67eb896.png)

[2022-08-10 12:44] d2phap commented on #1398
So your issue is related to #1273 which is a bug

[2022-08-10 12:44] #1398 closed, assigned to d2phap

[2022-08-10 12:45] d2phap commented on #1321
Confirm duplication of #1273

[2022-08-10 12:45] #1321 closed, assigned to d2phap

[2022-08-10 12:45] d2phap commented on #1406
it's a known bug #1273

[2022-08-10 12:45] #1406 closed, assigned to d2phap

[2022-08-14 09:59] cldotdev opened #1407 "Support jxr files"
### Describe the solution you'd like

Hope ImageGlass can support [jxr](https://en.wikipedia.org/wiki/JPEG_XR) files.

[2022-08-14 13:36] d2phap commented on #1407
ImageGlass uses https://github.com/dlemstra/Magick.NET to decode the image. According to its website (https://imagemagick.org/script/formats.php), you need to "**_Put the JxrDecApp and JxrEncApp applications in your execution path_**".

I tried to search for the library, but I could not find it.

![image](https://user-images.githubusercontent.com/3154213/184539536-946a7a42-f9bd-49d9-a968-23a9732be

[2022-08-14 16:22] cldotdev commented on #1407
The official repo of jxrlib (https://jxrlib.codeplex.com/) is shutting down. I can find the mirror https://github.com/4creators/jxrlib but there is no binaries.

[2022-08-16 04:17] ThreeDeeJay opened #1408 "Stereoscopic 3D formats: PNS and JPS (PNG and JPG, but different extension)"
### Is your feature request related to a problem? Please describe.
A Stereocopic 3D image is basically 2 views in the same frame, one for each eye.
When attempting to open a PNS or JPS file, ImageGlass isn't able to display it.
![image](https://user-images.githubusercontent.com/71472458/184796149-a0813629-22a6-4fb2-adf2-5397e517d5f1.png)

### Describe the solution you'd like
ImageGlass just needs

[2022-08-16 06:44] d2phap commented on #1408
You can add these extensions in Settings > File type associations, click Add button and type the extensions

![image](https://user-images.githubusercontent.com/3154213/184814544-f6fbe999-f6c6-4cc5-8705-61052e414abb.png)

[2022-08-16 09:36] ThreeDeeJay commented on #1408
Neat, that works for me.
This is such a niche request that I'll just go ahead and close the issue. Tho it would probably be a good idea to pre-add them. 👌

[2022-08-16 09:36] #1408 closed, assigned to nobody

[2022-08-17 10:05] playmobilmeister commented on #1402
No, this did not work unfortunately

[2022-08-19 09:00] ghost opened #1409 "Thumbnails don't update after editing image"
### System information:
 - Windows OS version: 10 20H2 Enterprise
 - ImageGlass version: 8.6.7.13

### To Reproduce
Steps to reproduce the behavior:
1. Crop an image & save it; thumbnail in windows explorer will not update
2. Rotate an image & save it; thumbnail will not update BUT preview pane in windows explorer shows correct image or maybe not
3.
4.

### Actual behavior:

Thumbnails & previews

[2022-08-19 09:58] d2phap commented on #1409
Thanks @FrankGHB
This issue was already posted here: #754

[2022-08-19 09:58] #1409 closed, assigned to d2phap

[2022-08-19 15:43] misterhackerman commented on #1405
Thanks for the response.
doing this ( setting zoom to Actual size, and locking zoom), solves one problem but it doesn't scale the window to fit the image)

[2022-08-20 18:09] hessch opened #1410 "Make crop behave more like other apps"
Crop uses a visualization that is opposite to any other app that I use, i.e. instead of coloring the selection,
the non selected parts are colored.
The idea is actually nice, as it makes the resulting image stand out. It has a side effect though. When using
ImageGlass as a browser to quickly crop many images, this becomes painful, the opaque overlay makes that
one doesn't know what part of the  Im

[2022-08-27 12:14] d2phap opened #1413 "Hall of shame 👑"
![image](https://user-images.githubusercontent.com/3154213/187029452-938a90b8-b9f2-4d6b-81f7-c09010c7cef4.png)

<div align="center">

## To honor the shameful people who violates ImageGlass' copyrights!

</div>

[2022-08-27 12:29] d2phap commented on #1413
# "HEIC Viewer for Apple Photos" from "Paints Labs"

|     |     |
| --- | --- |
App name | HEIC Viewer for Apple Photos
Author | Paints Labs
MS Store URL | https://microsoft.com/store/productId/9P4VR62PPD1B
Found on | 29/05/2022
My report | https://twitter.com/duongdieuphap/status/1530812541475373056
Status | ✅ Removed

![image](https://user-images.githubusercontent.com/3154213/187030257-825e0c60

[2022-08-27 12:34] d2phap commented on #1413
# "Imageglass Photo Viewer For Windows" from "Aidan Lingin"

|     |     |
| --- | --- |
App name | Imageglass Photo Viewer For Windows
Author | Aidan Lingin
MS Store URL | https://www.microsoft.com/store/productId/9NB81MSN3X0Q
Found on | 27/08/2022
My report | https://twitter.com/duongdieuphap/status/1563491001582632961
Status | ✅ Removed

![image](https://user-images.githubusercontent.com/315421

[2022-09-02 09:33] cihe13375 commented on #1413
Just asking, are they violating ImageGlass's copyrights because they rebrand ImageGlass as something else, or because they don't release their source code? (to be clear, I have no relation with the apps shown above and I didn't use them either)

[2022-09-03 03:26] d2phap commented on #1413
@cihe13375 yes the brand and they don't publish the source code. And also, when publishing to MS Store, they violate the [policy 11.2](https://docs.microsoft.com/en-us/windows/uwp/publish/store-policies#112-content-including-names-logos-original-and-third-party) which is about the original content:

[2022-09-04 15:45] robinfriedli commented on #956
I have the same problem with JXL files containing HDR content created by Mirillis Action:
![image](https://user-images.githubusercontent.com/29976416/188317494-d20d2156-b55d-4967-b6e2-54086f50f408.png)
(of course the right side looks a bit off / washed out in an SDR screenshot, but it's closer to what it should look like).

Here's the jxl image: https://mega.nz/file/tXlkRJBb#PmEpeJwc3z9vHeBisy6f0O

[2022-09-05 00:52] DCaedus commented on #1059
Same here, every time after cropping an image with ImgGlass, Windows 11 won't update the thumbnail to reflect the change ever, until I save it again with other editor.

Love the program tho, keep up the good work.

[2022-09-05 20:59] donatopace commented on #1402
Hello,
you can try to increase the folder cache size,
this is the registry key that also speeds up image loading.
If that's not enough, you can clear the "thumbnail" cache with programs like CCLEANER etc.
obviously restarting before checking if the problem is solved and if necessary by forcing the folder update with the "F5" key

[Max Cached Icons.zip](https://github.com/d2phap/ImageGlass/files/94

[2022-09-06 09:52] playmobilmeister commented on #1402
This actually worked, thanks ! I added the digit '1' to the left of the existing number in the said registry entry, and used Glary Utilities to clear the thumbnail cache, and voila !

[2022-09-06 09:52] #1402 closed, assigned to nobody

[2022-09-06 11:25] Setsu-BHMT opened #1418 "Toolbar flickers on image change"
### System information:
 - Windows OS version: 10.0.19044 Build 19044
 - ImageGlass version: 8.6.7.13 x64
(BTW it would be helpful if the version string in the Help dialog is copy-able)

### To Reproduce
Steps to reproduce the behavior:
1. Open an image to view
2. Press arrow keys to switch to next image

### Actual behavior:
The top toolbar will flicker due to re-painting.

### Expected behavior:

[2022-09-06 12:19] Setsu-BHMT commented on #396
I just found out that imagemagic supports apng, could this be used instead of libpng?

[2022-09-06 12:35] d2phap commented on #1418
This is because the app state is set to busy while it's loading / saving / processing image. This will be fixed in version 9.0

[2022-09-06 12:40] d2phap commented on #1360
This issues is fixed in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904)!
You can set / unset the default photo viewer though main menu.

![image](https://user-images.githubusercontent.com/3154213/188636890-dab44f71-4502-4c02-8e3d-492bbcde491f.png)

![image](https://user-images.githubusercontent.com/3154213/188636809-b1ddcdc7-90a4-4799-85d2-b0a4617f28d3.png)

![image](htt

[2022-09-06 12:40] #1360 closed, assigned to nobody

[2022-09-06 12:49] d2phap commented on #1337
You can do this in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) with this setting:

[code]

The list of events for `MouseClickActions`:
https://github.com/d2phap/ImageGlass/blob/40c22af09e81ac6ffc8b8e0f3114615677ee4c45/v9/Components/ImageGlass.Base/Types/MouseEvent.cs#L26-L42

[2022-09-06 12:49] #1337 closed, assigned to nobody

[2022-09-06 12:50] d2phap commented on #1324
All dialogs in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) support closing / cancelling by ESC.

[2022-09-06 12:50] #1324 closed, assigned to nobody

[2022-09-06 12:51] d2phap commented on #1085
Similar to #1360, it's fixed in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904).

[2022-09-06 12:51] #1085 closed, assigned to d2phap

[2022-09-06 12:51] d2phap commented on #1015
This issue is fixed in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904).

[2022-09-06 12:51] #1015 closed, assigned to d2phap

[2022-09-06 12:52] d2phap commented on #832
Similar to #1360, it's fixed in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904)!

[2022-09-06 12:52] #832 closed

[2022-09-06 13:10] d2phap commented on #991
[v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) adds support for mouse action customization with this setting:

### Example 1:
Left double-click to open image location and exit the app:
[code]

### Example 2:
- First left double-click to view actual size of the image.
- Second left double-click to set the zoom back to Auto zoom.
[code]

### Example 3:
- First left double

[2022-09-06 13:10] #991 closed, assigned to nobody

[2022-09-06 13:20] d2phap commented on #683
You can do it with [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) as the follow setting:

1. Use `MenuHotkeys` to define a custom hotkey for menu View next / View previous image
[code]

2. Use `ToolbarItems` to swap the function of the View next / previous image button of the toolbar
[code]

[2022-09-06 13:24] d2phap commented on #1209
You can do it with [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) as the follow setting:

[code]

[2022-09-06 13:24] #1209 closed, assigned to nobody

[2022-09-06 13:26] d2phap commented on #748
@xmha97
You can do this in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904).

See more details and example here: https://github.com/d2phap/ImageGlass/issues/991#issuecomment-1238130837

[2022-09-06 13:26] #748 closed

[2022-09-06 13:27] d2phap commented on #471
You can do this in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904).

See more details and example here: https://github.com/d2phap/ImageGlass/issues/991#issuecomment-1238130837

[2022-09-06 13:27] #471 closed

[2022-09-06 13:28] d2phap commented on #648
You can do this in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904).

See more details and example here: https://github.com/d2phap/ImageGlass/issues/991#issuecomment-1238130837

[2022-09-06 13:28] #648 closed

[2022-09-06 13:29] d2phap commented on #381
[v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) allows you to customize the mouse actions. See more details and example here: https://github.com/d2phap/ImageGlass/issues/991#issuecomment-1238130837

[2022-09-06 13:37] d2phap commented on #584
Some changes made in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) to help to clarify this:
- `Image data` is changed to `Clipboard image`
- When being in the `Clipboard image` mode, all functions will work with the clipboard image, such as:
  + Refresh / changing Zoom modes
  + Save
  + Print
  + Flip / Rotate
  + Set as desktop background
  + Set as lock screen
  + C

[2022-09-06 13:37] #584 closed

[2022-09-06 13:46] d2phap commented on #1074
Added a warning message when you override the image file in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904).
In this version, the PSD layers are kept but the structure is not (text layer is rasterized to image).

As ImageGlass does not focus on editing features, so this warning will be useful enough.

![image](https://user-images.githubusercontent.com/3154213/188650599-7

[2022-09-06 13:46] #1074 closed, assigned to d2phap

[2022-09-06 13:49] d2phap commented on #1107
This issue is fixed in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904)

[2022-09-06 13:49] #1107 closed, assigned to d2phap

[2022-09-06 13:54] d2phap commented on #608
You can change the hotkey of the menus in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904).

For example:
[code]

You can find all the menu names (begin with `Mnu`) in https://github.com/d2phap/ImageGlass/blob/40c22af09e81ac6ffc8b8e0f3114615677ee4c45/v9/ImageGlass/FrmMain.Designer.cs

[2022-09-06 13:54] #608 closed

[2022-09-06 13:55] xmha97 commented on #748
Thanks 🌹❤️

[2022-09-06 14:08] d2phap commented on #272
- [x] [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) added support GPU rendering for transparent image formats. The maximum image dimension is till 16384 x 16384 pixels.
- [x] Animated GIF/WEBP format is still use GDI+ for less resource.
- [x] Supports smooth & precise zooming by keyboard / trackpad.
- [x] Supports smooth panning by keyboard when enabling Image Focus mo

[2022-09-08 19:18] dlee13 commented on #396
https://imagemagick.org/script/formats.php#supported does list APNG as supported now

[2022-09-11 03:09] nonogamester opened #1419 "Hi, Single key press hotkey to copy current photo to a preset folder. Would be life changing for culling photos. [:"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-09-11 12:12] SekiBetu opened #1420 "open archives and browse the images inside"
### Is your feature request related to a problem? Please describe.

The images are stored in a archive(.zip .7z .rar) file, and extracting them will make a mess of the folder

### Describe the solution you'd like

use ImageGlass to open the archive file and browse the images inside without extracting them

### Describe alternatives you've considered

just like what [NeeView](https://bitbucket.org/

[2022-09-12 11:22] herb52 commented on #1169
Hello,

can we have please a correction of this annoying error.
And sorry to say: ImageGlass is the only application (I know) that has problems to display the UTF-8 output of ExifTool properly

Best regards

[2022-09-12 14:02] xmha97 opened #1421 "Support light theme"
I'm using [ImageGlass Moon 9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904)

I need the light theme.

![image](https://user-images.githubusercontent.com/23485114/189673645-8bbfc876-09b0-47d5-ad8b-aa53541082eb.png)

[2022-09-13 02:58] d2phap commented on #1421
- The `IsDark` property is just to indicate the type of the theme pack, to prepare for #434
- IG v9 changes and introduces new theme properties, you can add these settings into the `Settings` section in `igtheme.json` file:

https://github.com/d2phap/ImageGlass/blob/40c22af09e81ac6ffc8b8e0f3114615677ee4c45/v9/Components/ImageGlass.UI/Themes/IgThemeModels.cs#L62-L89

[2022-09-13 12:00] bucketcat commented on #530
Since this is still marked as open nearly half a decade later and I still have the issue I'm going to necro this issue.

Any updates, any workarounds on user end (besides renaming folder or moving deeply nested folders to top directory)?

[I also found this ](https://superuser.com/a/1165879) which could _maybe_ be useful for a future fix in regards to bypassing the 260 char path limit, includes bo

[2022-09-13 16:23] donatopace commented on #530
Ti solve the issue
you Need format a partition with "ReFs".
REFs Is a new Microsoft file system.

Il mar 13 set 2022, 14:00 bucketcat ***@***.***> ha scritto:

[2022-09-13 18:39] timea-techgirl commented on #995
This problem still exists, HEIC files are very slow to load, takes 2 seconds. Tested all versions, spider, moon, beta.

[2022-09-14 02:22] d2phap commented on #530
Some people confirm that this issue is resolved in v9.0 beta:
https://groups.google.com/g/imageglass/c/dzlrupO4dp4/m/GH0-zwc3AwAJ

This is probably because v9.0 beta uses .NET 6.0 which supports long path by default: https://github.com/dotnet/runtime/issues/14062#issuecomment-135933052

[2022-09-14 02:25] d2phap commented on #1420
Duplicated to #254

[2022-09-14 02:25] #1420 closed, assigned to nobody

[2022-09-14 03:12] d2phap opened #1422 "Move to folder"
From https://groups.google.com/g/imageglass/c/VDOwZo3L6uo/m/4PAFxT2UAQAJ

### Describe the solution you'd like
It would be nice to have "Quick Move shortcut"
- in Settings - there would be "Move to specific folder" path
- pressing eg. CTRL + F6 will move specific file to that folder

as a bonus
-  there can be, lets say, 5 options for different Move folders
- and also 5 shortcuts - CTRL +F6 ... CT

[2022-09-17 07:58] djlongy opened #1425 "Magnifying-Glass 100% while Left Mouse Button Held"
### Is your feature request related to a problem? Please describe.
When viewing an image that is larger than the resolution of the monitor, it is action intensive to view at move around the image at 100% scaling.
A quicker way to view images at 100% while going through images exists and can be implemented to ImageGlass.

### Describe the solution you'd like
Currently the way FastPictureViewer hand

[2022-09-20 00:17] masterofobzene opened #1426 "Image corrupted after rotated"
### System information:
 - Windows OS version: win 10 x64
 - ImageGlass version:  8.6.7.13

I'm done with your software. It ruined lots of images from my collection. Recently it completely hung my pc (and I know this because it was the only program running besides windows file explorer). After the restart it started "forgeting" the zoom setting to "scale to fit" continually. After that, the 3 imag

[2022-09-21 02:29] d2phap commented on #1426
Duplicated #1273

This is a known bug. IG is not the photo editor, the option to save image is unchecked by default. Instead, you should read this thing on the internet before you create any more duplicated issues.

[2022-09-21 02:29] #1426 closed, assigned to d2phap

[2022-09-22 12:02] KoalaBear84 commented on #1425
Yes, that is a great feature I use from Faststone Image Viewer. The only reason I'm looking for an alternative is because I have folders with 15.000 images, and Faststone takes 3-4 seconds after start because it becomes responsive to input because of the amount of images, which it shouldn't. :)

[2022-09-22 12:09] KoalaBear84 opened #1427 "Self-contained release"
It's great that ImageGlass 9.x now uses .NET 6, and maybe in 2 months .NET 7? 😜

### Is your feature request related to a problem? Please describe.
I'm relating to this line in the readme:
_ImageGlass 9 uses [.NET 6](https://devblogs.microsoft.com/dotnet/announcing-net-6/). If you are unable to install .NET 6, you can still use version 8._

The 'problem' of the need to install .NET can be solved b

[2022-09-22 12:57] d2phap commented on #1427
The problem is .NET 6 is not really compatible to .NET Framework 4.8. So, it's hard to maintain 2 versions at the same time. And people should upgrade to .NET 6 already to take advantage of the performance and features. It's easier to upgrade from .NET 5 to later versions.

.NET 6 is long-term support, ImageGlass 10 may requires .NET 8 instead.

[2022-09-22 14:13] KoalaBear84 commented on #1427
I find LTS not that important, as most of the time you can upgrade by changing "6.0" to "7.0". Maybe there is more to it for some project types. And performance/memory gains and support for new features are very welcome if it's that easy to upgrade.

[2022-09-23 20:57] Merapretu commented on #1375
Still getting this error. Beta 2 build

[2022-09-24 03:40] d2phap commented on #1375
v9.0 beta 2 does not support GUI for settings. All it has done is open the `igconfig.json` by the default associated editor. The error is thrown when you don't have any app to open that extension.

Simply, you can just associate `.json` extension to open in MS Notepad.

[2022-09-25 10:34] d2phap commented on #532
This should work in v9.0 beta since .NET 6 supports long path by default

[2022-09-25 10:34] #532 closed

[2022-09-27 20:41] cdgriffith opened #1430 "sRGB JPEG colors appear muted when HDR is off"
### System information:
 - Windows OS version: Windows 11 Version	10.0.22000 Build 22000
 - ImageGlass version: 8.6.7.13 x64

### To Reproduce
Steps to reproduce the behavior:
1. Grab an HDR monitor
2. Disable "Use HDR" in windows settings
3. Open sRGB JPG and sRGB PNG side by side (both 8 bit, 300dpi)
4. See that the colors are muted in the JPEG

### Screenshots:
![jpg muted color](https://user-i

[2022-10-01 09:59] d2phap commented on #737
It's confirmed that touch pan by 1 finger works in v9.0 beta 2: https://groups.google.com/g/imageglass/c/k6yzT0gO1qA/m/se09gx74DwAJ

[2022-10-01 09:59] #737 closed

[2022-10-04 07:51] d2phap opened #1431 "Toolbar button to preview an image as Tileable texture"
### Discussed in https://github.com/d2phap/ImageGlass/discussions/1428

<div type='discussions-op-text'>

<sup>Originally posted by **Danim3D** September 25, 2022</sup>
Suggestion, it would be great to have a toolbar button to preview how an image would look as a Tileable texture.</div>

[2022-10-09 23:15] xmha97 opened #1432 "Set GPS location to photos"
Please add the feature to add GPS location to photos using ImageGlass.
[code]
https://www.google.com/maps/@34.6363,50.874900000000004,21z

[2022-10-10 17:37] robredrob opened #1433 "Imageglass NOT respecting color profile management settings"
### System information:
 - Windows OS version: 10 Pro
 - ImageGlass version: v8.6.7.12 x64

### To Reproduce
Steps to reproduce the behavior:
1. Going to ImageGlass setting and choosing color profile in color management
2. NOT also enabling "apply to non embedded images"
3. Apply/Save
4. View images with and without color embedded profiles

### Actual behavior:

Whether images have or not embedded

[2022-10-13 02:43] d2phap commented on #1433
After changing the color management setting, you will need to reload the image (Ctrl+R).
It's better if you have some screenshots and attach the image file here.

[2022-10-13 22:13] pedrodeleo commented on #956
I'm having the exact same problem with EXR images, colors are way too dark! It's weird because it didn't use to be like that, ImageGlass was my favorite image viewer by far because of the EXR/HDR capabilities but now I can't use it anymore. Any chance to update this?

[2022-10-14 03:06] d2phap commented on #956
@ASOwnerYT tested you EXR image with [ImageGlass 9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904), the color seems correct.

![image](https://user-images.githubusercontent.com/3154213/195751285-99890f65-4941-4626-9daf-2fad5e248861.png)

[2022-10-14 03:09] d2phap commented on #956
@robinfriedli
I open your JXL with GIMP 2.10.32 (revision 1) and ImageGlass 9.0 beta 2, both render the same.
Can you try opening it in other viewers?

![image](https://user-images.githubusercontent.com/3154213/195753136-79a1b05f-cf3b-4968-b1cf-b64dba5de448.png)

[2022-10-14 05:02] d2phap commented on #1383
Do you still experience this issue? I can't access the video url.

It's probably not because of ImageGlass, it might cause by your antivirus software.

[2022-10-14 05:32] d2phap commented on #1430
I don't have a HDR monitor to test this, but can you try reloading the image in ImageGlass (press Ctrl+R) after disabling HDR in Windows?

[2022-10-14 05:38] d2phap commented on #1287
@mirh can you attach a screenshot or draw your expectation?

[2022-10-14 05:56] d2phap commented on #700
@TheCGDF can you try [ImageGlass 9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904)

[2022-10-14 14:42] pedrodeleo commented on #956
I just tested the 9.0 beta 2 and it looks like this problem is fixed!!
The image sequence on the bottom still looks too dark but the main image looks accurate! Great job!
![Screenshot 2022-10-14 153757](https://user-images.githubusercontent.com/115746302/195874040-cb2d43aa-1628-42e0-95f1-5c8099eef3fa.png)
(LEFT SIDE: ImageGlass 9.0 beta 2, RIGHT SIDE: DJV 2)

Happy to go back to my favorite image

[2022-10-14 16:18] d2phap commented on #956
Thanks @pedrodeleo!

[2022-10-14 17:01] cdgriffith commented on #1430
Just tried and doesn't change anything.  It doesn't only happen when you just turn HDR off when ImageGlass is open, it happens all the time when HDR is off.

If you turn HDR on and refresh it then looks correct.

[2022-10-16 00:06] TheCGDF commented on #700
How to enable `Display viewer scrollbars` in 9.0 beta2?

[2022-10-16 14:08] d2phap commented on #905
This issue should be fixed in [ImageGlass 9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) already!

[2022-10-16 14:08] #905 closed

[2022-10-17 10:34] donatopace commented on #1405
Good idea,
as Picasa does when opening an image, zooming enlarges the image without cropping it.

[2022-10-17 14:22] Catfriend1 commented on #1097
I also have this problem with the corruption after rotate and pressing left/right cursor keys.
Plus, today I've had three JPG of a book's page. Page 1...3. ImageGlass wrote the content of page3.jpg into page2.jpg. Had a backup copy of the original scans and then noticed, page2.jpg really contained page2 and ImageGlass saved to the wrong file name what was rotated/shown for page 3.

[2022-10-17 16:11] ghost opened #1434 "."
.

[2022-10-20 14:55] Hyderman opened #1435 "Can't open ppm file."
### System information:
 - Windows OS version: 11
 - ImageGlass version: 8.6.7.13 x64

### To Reproduce
Steps to reproduce the behavior:
1. Open the image.ppm file

### Actual behavior:

Can't open file.

### Expected behavior:

Open the file.

### Screenshots:

![image](https://user-images.githubusercontent.com/81628944/196983151-50b76abf-69fb-42fa-af78-a0dbe4936dc7.png)

### Additional context:

[2022-10-20 15:20] d2phap commented on #1435
According to the error message: `Improper image header`, so this image file is invalid (invalid header).

When I try opening it with GIMP, it also shows `Invalid file`!
![image](https://user-images.githubusercontent.com/3154213/196989658-0f0c142e-2610-48d9-a563-95a4428d0782.png)

[2022-10-20 15:47] Hyderman commented on #1435
The problem seems to come from Powershell when i create the file, CMD solves the problem.

[2022-10-20 15:47] #1435 closed

[2022-10-21 19:37] 1blackbar opened #1436 "add grid view for entire folder"
thjeres no grid view for thumbnails only, with no space between images, also default view wastes so much space between each image its weird, keep them very close so we can see more at once

[2022-10-25 18:10] sovalyeler commented on #1396
It's fixed now, thank you.

[2022-10-25 18:10] #1396 closed, assigned to d2phap

[2022-10-26 00:39] d2phap commented on #1322
Exit option is added in v8.7

[2022-10-26 00:39] #1322 closed, assigned to nobody

[2022-10-26 00:40] d2phap commented on #1364
Updated the icon in v8.7 Kobe / Light Grey theme

[2022-10-26 00:40] #1364 closed, assigned to nobody

[2022-10-26 00:41] d2phap commented on #1155
Implemented in v8.7, you can set the interval as `4.3` but it must be >= 1 second.

[2022-10-26 00:41] d2phap commented on #1226
Fixed the colon in v8.7

[2022-10-26 00:41] #1226 closed, assigned to nobody

[2022-10-26 00:42] d2phap commented on #1390
Added Exit option for context menu in v8.7

[2022-10-26 00:42] #1390 closed, assigned to nobody

[2022-10-26 00:42] d2phap commented on #1371
Fixed this in v8.7

[2022-10-26 00:42] #1371 closed, assigned to d2phap

[2022-10-26 05:54] DannyBen commented on #1155
Why this arbitrary limitation? I needed sub-second, not fraction second...

[2022-10-26 11:22] juliankadar commented on #1364
Great! Thank you :-)

On Wed, 26 Oct 2022 at 02:40, Phap Dieu Duong ***@***.***>
wrote:

[2022-10-26 11:37] d2phap commented on #1155
@DannyBen
If the interval is smaller than 1, it may not be enough time for the app to load the image and render it on the viewer. If the image is large, it's sure that 1s is not enough.

I can reopen and implement this if you just use it for small images.

[2022-10-26 11:58] DannyBen commented on #1155
Thank you for your consideration.

Of course, you know your app better, so if you feel this is going to create a bad experience for some users, I understand - it is no big deal, I can manage either way.

My use case was this: I had thousands of files that I wanted to do a "flash review" on - for quality control. One second was too slow, so I ended up creating a script that presses space (or right

[2022-10-26 18:54] Shadlock0133 opened #1439 "Can open jp2 images but ignores them when switching to next/previous"
### System information:
 - Windows OS version: Windows 10 x64
 - ImageGlass version: 8.7.10.26

### To Reproduce
Steps to reproduce the behavior:
1. Have folder of images in ".jp2" format
2. Open any image
3. Change to next/previous image

### Actual behavior:

Image closes, leaving program with empty window

### Expected behavior:

Switch to next/previous image in the folder.

### Screenshots:

O

[2022-10-27 15:12] mpek opened #1440 "Network drive letter: Thumbnail panel doesn't update when deleting picture"
### System information:
 - Windows OS version: 11 22H2
 - ImageGlass version: 8.7.10.26 x64

### To Reproduce
Steps to reproduce the behavior:

1. Have a network share mounted to a drive letter
2. Open Explorer click on that drive letter and open a picture from that directory network location.
3. In ImageGlass turn on thumbnail panel if not present (Menu > Layout > Thumbnail panel) or by pressing

[2022-11-01 18:22] srboisvert opened #1441 "Windows 10 right-click copy only works for the first image."
Using the right click to copy an image works fine the first time.  Subsequent attempts to copy other images just results in the first image copied being pasted. Same issue happens with ctrl-shift-c.  I expect copying an image should overwrite the image in the clipboard.

Using the clear clipboard command between copy actions works and should be trivial to clear the clipboard automatically on a cop

[2022-11-03 04:55] Setsu-BHMT opened #1442 "Slideshow mode persists across application sessions"
### System information:
 - Windows OS version: 10.0.19044 Build 19044
 - ImageGlass version: 8.7.10.26 x64

### To Reproduce
Steps to reproduce the behavior:
1. Open an image using explorer double click
2. Once ImageGlass loads, enter slideshow mode
3. Alt+F4 to quit the program
4. Open any image using explorer double click
5. Observe ImageGlass starts in slideshow mode, paused

### Actual behavio

[2022-11-03 16:00] d2phap commented on #1155
Published v8.7.11.6 to remove this restriction!

[2022-11-03 16:00] #1155 closed, assigned to nobody

[2022-11-03 16:01] d2phap commented on #595
Dark mode for title bar is supported in v8.7.11.6. You may need to update your theme packs: https://imageglass.org/themes.

If you check the option `Show colour in Start, taskbar, action centre and title bar` in Windows Settings, the title bar will use the accent color.

[2022-11-03 16:02] DannyBen commented on #1155
Thank you!

[2022-11-03 16:03] d2phap commented on #630
Dark mode for title bar is supported in v8.7.11.6. You may need to update your theme packs: https://imageglass.org/themes.

If you check the option `Show colour in Start, taskbar, action centre and title bar` in Windows Settings, the title bar will use the accent color.

[2022-11-03 16:04] d2phap commented on #831
Dark mode for title bar is supported in v8.7.11.6. You may need to update your theme packs: https://imageglass.org/themes.

If you check the option `Show colour in Start, taskbar, action centre and title bar` in Windows Settings, the title bar will use the accent color.

[2022-11-03 16:08] d2phap commented on #530
Confirmed this issue is fixed in [v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904)

[2022-11-03 16:08] #530 closed

[2022-11-04 17:09] 8uddha5an opened #1445 "Software dependency checker"
I installed ImageGlass on a computer and wasn't aware that we didn't install .NET Framework 4.8 on it. When I opened up ImageGlass, it stated that it needed the .NET Framework installed and it needed the dependency to run.

Please add a .NET Framework checker so that we can use ImageGlass more smoothly in the future.

[2022-11-05 03:12] PeinNMB opened #1446 "TIFF: negative image positions unsupported"
I use Adobe Photoshop's picture format is .tif, but it cannot be opened and the file is bad, but it is not a real damaged file.

ImageGlassThe picture cannot be opened because the file appears to be damaged or unsupported.
Magick.NET-Q16-HDRI-OpenMP-x64:TIFF:negative image positions unsupported@error/tiff.c/WriteTIFFlmage/3829

[2022-11-05 03:17] PeinNMB commented on #1446
![4AE45D17-582A-4a3c-BA95-89E612CFBCB9](https://user-images.githubusercontent.com/115677720/200098644-4acb903d-0d4d-4315-a5da-3c9e4626909f.png)

[2022-11-06 04:37] Setsu-BHMT commented on #1446
Well if you have complaints you should log it with Magick.NET...it's a different project. ImageGlass just uses the library.

[2022-11-08 03:03] d2phap commented on #1446
@PeinNMB
You can either report this to https://github.com/dlemstra/Magick.NET, or attach your TIF file here so that I can test it.

[2022-11-08 03:10] d2phap commented on #1445
@8uddha5an

This is framework's level check so I cannot implement this. But isn't it working like you mentioned?

Also, since v8.0, ImageGlass has been using .NET Framework 4.8 which is announced here ~2y ago:
https://imageglass.org/news/announcing-imageglass-8-0-kobe-70

FYI, ImageGlass 9.0 will use .NET 6.0 as I announced since v8.3 released: https://imageglass.org/news/announcing-imageglass-8-3

[2022-11-08 03:14] d2phap commented on #1439
Can you check if `.jp2` is listed in the Settings > File type associations?
![image](https://user-images.githubusercontent.com/3154213/200466420-bf5aafea-b268-4655-a10f-4bce0769a6cc.png)

If not, you can add it.

[2022-11-08 09:08] Shadlock0133 commented on #1439
Adding it to the list fixed it, thanks. Might be worth to add it to the list by default.

[2022-11-08 12:18] #1439 closed, assigned to d2phap

[2022-11-09 16:08] Wilstrong commented on #1318
If I'm understanding the request correctly, this is something I have been looking for in an image viewer since Google's lightweight Picassa viewer bit the dust (not the bloated Picassa program, but the tiny viewer which accompanied it).

With the Picassa viewer, you could pan to any part of the image, even when zoomed out, causing parts of the image to go off the side of the screen.  The only othe

[2022-11-10 18:02] kampidh opened #1447 "JPEG XL: Output color mismatch on files with embedded CICP instead of ICC"
Repost of an issue from Magick.NET https://github.com/dlemstra/Magick.NET/issues/1296

### System information:
 - Windows OS version: Windows 10 64 bit 21H2
 - ImageGlass version:  Kobe v8.7.11.6 x64

### To Reproduce
Steps to reproduce the behavior:
1. Download the [jxldebug.zip](https://github.com/dlemstra/Magick.NET/files/9983225/jxldebug.zip)
2. Open both JXL files on ImageGlass and notice the

[2022-11-12 11:24] RVillaT opened #1448 "Cannot minimize an image under certain circumstances."
### System information:
 - Windows OS version: Windows 11 64 bit 22H2 (build 22621.819)
 - ImageGlass version: Kobe v8.7.11.6 x64

### To Reproduce
Steps to reproduce the behavior:
Automatic zoom activated (1)
Fit to window activated (F9)
Toolbar hidden (T)
1. Open any image with a vertical resolution higher than the screen's max resolution : the image fits to the screen.
2. Show the toolbar (T).

[2022-11-12 11:48] d2phap commented on #1448
Thanks @RVillaT
Confirm the bug!

[2022-11-12 12:05] d2phap commented on #1447
I can confirm it's the issue with ImageGlass 8. I also tested with version 9 beta 2, the output is quite similar, but the color of the ICC one is more vibrant

[2022-11-12 12:12] d2phap commented on #1447
GIMP also shows the same color as IG 9.0 beta 2.
Can you try and confirm it's correct?

![image](https://user-images.githubusercontent.com/3154213/201473258-c1950694-0253-4bbd-ba39-edd67e9e34a2.png)

[2022-11-12 19:34] kampidh commented on #1447
Tried IG 9.0 beta 2 and GIMP 2.10.32 confirmed that it shows the same as your result.
However it only fixes the TRC / gamma, while the color primaries are still assigned to sRGB, not Rec.2020 (hence the desaturation on IG and GIMP).

AFAIK, the viewer/editor that can currently display image with CICP values correctly are Krita and *(sadly)* Chrome. This seems to be a bug(?) for libjxl lower than v

[2022-11-15 11:28] Eugenii10 opened #1449 "An option in the settings to show/hide file names for images in the Thumbnail panel"
### Is your feature request related to a problem? Please describe.
Let's imagine a situation. You have a folder with lots of images some of which are very close similar. You have opened one of images in external software (e.g. Paint), your ImageGlass window is focused on another image from that folder. Then you need to find some data from `exiftool` for the image opened in the external software (i

[2022-11-15 12:07] d2phap commented on #1449
Hi @Eugenii10

[ImageGlass v9.0 beta 2](https://github.com/d2phap/ImageGlass/releases/tag/9.0.2.904) added support for this feature via the setting `ShowThumbnailFilename` in `igconfig.json`. It also supports showing tooltip of image information when you hover on the thumbnail.

![image](https://user-images.githubusercontent.com/3154213/201915269-ad024e96-ce49-4693-8dd1-13f40e0fb99f.png)

[2022-11-15 12:43] d2phap commented on #1447
I downloaded and ran the [MagickViewer](https://github.com/dlemstra/MagickViewer) with the latest version 12.2.1 of Magick.NET, it also shows the same output.

![image](https://user-images.githubusercontent.com/3154213/201921367-522c5d46-2f9f-41ef-b6d9-2a1ad5c1c5dc.png)

[2022-11-15 12:45] d2phap commented on #1434
Thanks @Catfriend1, it's a known issue, already reported here #1097

[2022-11-15 12:45] #1434 closed, assigned to d2phap

[2022-11-15 13:02] Catfriend1 commented on #1097
Thanks for reopening the ticket.

[2022-11-15 13:50] Eugenii10 commented on #1449
Hello👋
As I understand there are no **Settings** window and **Tools** now in the 9.x beta. And I can't move Thumbnail panel to the right side. So I will be waiting for future beta releases 👀!
And I have another suggestion. If you want I can create a separate issue for this:
+ Embed an 'exiftool' window somewhere in the main window. Single monitor users will thank you 😉! With an option to open it i

[2022-11-16 06:02] 6Tom commented on #651
First of all, I really appreciate d2phap's hard work and selfless dedication. Thank you very much.

This is really one of the most useful features. For example, as a practitioner in the construction industry, I often need to view various architectural drawings. Just like using AutoCAD, my colleagues and I often need to zoom and pan around to view the drawings carefully.

For this demand, we have t

[2022-11-18 01:06] d2phap commented on #1449
I will close this as it's implemented in v9.0 beta

[2022-11-18 01:06] #1449 closed, assigned to nobody

[2022-11-21 00:59] cp2732 commented on #1381
Hello, I am also seeing a similar issue with ImageGlass. I am converting a TIFF file to JXL and after trying to open it with ImageGlass, ImageGlass immediately quits. I am using Windows 10 22H2 and ImageGlass 8.7.11.6 x64. I am using the following ImageMagick command for the conversion:
`magick -verbose -define jxl:effort=9 -define jxl:quality=100 "input.tif" "output.jxl"`

Here are the input and

[2022-11-21 01:39] d2phap commented on #1381
@cp2732 This is upstream issue (https://github.com/libjxl/libjxl/issues/1579)

[2022-11-27 21:37] floppyD opened #1453 "This image doesn't load in ImageGlass Moon"
### System information:
 - Windows OS version: 10
 - ImageGlass version:  9.0.2.904_Beta-2

### To Reproduce
Steps to reproduce the behavior:
1. Open https://upload.wikimedia.org/wikipedia/commons/6/6d/The_Garden_of_Earthly_Delights_by_Bosch_High_Resolution.jpg?download

### Actual behavior:
It doesn't load.

### Expected behavior:
It loads.

### Additional context:
Other than being really slow, K

[2022-11-27 21:44] floppyD commented on #1453
Neither can open this one by the way, Moon returns this error:
![image](https://user-images.githubusercontent.com/29208110/204161205-cba5c9d0-c2e1-45f7-a998-fc587c7b4caf.png)

https://upload.wikimedia.org/wikipedia/commons/9/96/The_Garden_of_earthly_delights.jpg?download

[2022-11-29 13:47] JoGrob opened #1454 "certain TIF pictures doesnt load"
### System information:
 - Windows OS version:  10
 - ImageGlass version:  8.7.11.6

### To Reproduce
Steps to reproduce the behavior:
1. try loadin TIF picture
2. errormessage appears

### Actual behavior:
instead of displaying the picture a errormessage appears

### Expected behavior:
TIF picture should be displayed

### Screenshots:
see attached

### Additional context:
Problem is also reported