[2020-12-23 21:08] fire-eggs commented on #951
I forgot to ask ... Does single finger swipe work for previous / next?

Here's what IG had at the end of 2019:

- swipe left/right for previous/next picture
- rotate in either direction (90-degree)
- zoom in/out at a location via spread/pinch
- zoom in/out via swipe up/down

Can you explain why specifically two-finger swipe?

Thanks!

[2020-12-23 21:22] mreitenb commented on #951
My comments refer to a touchpad, the type that every laptop has, not a touchscreen. Single finger swipe doesn't make sense for a touchpad, since single finger movement just moves the cursor.

[2020-12-23 21:28] ScriptTiger commented on #940
@dotjaz, as quoted from the official `JPEG XL reference implementation` that you linked:

So trying to use the brunsli project to decode images you encoded with cjxl is obviously not guaranteed to work since even week-old versions of djxl that comes with cjxl are not guaranteed to do that since it's not even finished being implemented yet.

In your own words:

It's because nobody would be guarante

[2020-12-23 21:54] ScriptTiger commented on #940
I don't know about delegates with Magick.NET, but if you get ImageMagick you can just edit the delegates.xml. It's super straightforward when you read it and you can just add your own delegate lines to the delegatemap depending on what formats you're converting to and from. After you tell ImageMagick how to decode an image, you can then view it using `magick image.jxl win:`, which basically decode

[2020-12-24 13:42] d2phap commented on #951
@mreitenb
Can you try unchecking `Enable touch gestures support` as reported at #709
However, ImageGlass does not officially support touchpad gestures (#305).

![image](https://user-images.githubusercontent.com/3154213/103091957-bdb40c00-4630-11eb-8251-5b69879230d7.png)

[2020-12-24 13:56] d2phap commented on #940
Thanks @ScriptTiger  for the details.
I will keep this open and look back when it's settled out

[2020-12-24 16:46] mreitenb commented on #951
Unchecking this box does not make a difference.

[2020-12-24 19:50] fire-eggs commented on #951
I had to remind myself about gesture handling and the relevant IG code. Looks like a bug, sorry about all the back-and-forth.

First, IG's gesture handling is coded to be supported only when "Enable touch" option is ON.

Second, the code "should" have worked for touchpad, but obviously is not. IG's gesture handling code needs to be revisited for _touchpad_ as well as _touch_.

[2020-12-24 20:47] mreitenb commented on #951
OK, thanks for looking into it. I will keep my eyes open for future commits.

[2020-12-26 11:33] attikov opened #952 ""Save As" default path"
"Save As" should have and option if the save dialog should use "last dir" or "image dir"

[2020-12-26 19:45] fire-eggs commented on #939
I forgot to mention ... Have you tried the ImageGlass setting "Save the viewing image after rotating"? [See Settings -> Edit].

[2020-12-26 22:45] CombeeMike commented on #939
@fire-eggs Perfect, this is even better than my proposed change which is then obsolete for me 😮
Thanks you very much for pointing this out!

[2020-12-27 13:08] lyaaz commented on #822
yeah, hope to add this feature too. Option to fit window to image size  while zoom image or at least a hotkey to do this manually.

[2020-12-27 19:50] Polychronopolis commented on #937
I have been following ImageGlass for years hoping for a similar adoption of Picasa features.  In addition to the thumbnail bar, I'd like to see image caption data displayed on screen.  I manage a ton of archive photos and have captions added to easily identify (and preserve) information about the image.
![Caption_Info](https://user-images.githubusercontent.com/17388157/103178672-d6037100-4852-11eb

[2020-12-28 03:17] silverwings15 commented on #937
great suggestions. i'd like to build on/flesh out the previous post with the following feature:

right now, the image metadata is only displayed on the titlebar, which means that it is not/will not be possible for it to show during fullscreen or in the proposed transparent view. thus, i'm suggesting a shortkey like `Tab` that will display the image metadata/exif info directly in the viewer.

here

[2020-12-30 03:17] rahmanshaber opened #953 "New method for zooming an image"
It's always extra step to hold down the ctrl and scroll to zoom.

Holding the right mouse button and scroll to zoom is a good solution to it, as it does not involve 2 hands for simple task as zoom.

This way is fast and don't have to use keyboard at all. All can be done using the mouse.

I learned about this navigation from this app [pdflite](http://www.pdflite.com/), and using it for many years.

[2020-12-30 16:20] slobodaapl opened #954 "Some .pgm type P2 files cannot be opened"
### System information:
 - Windows OS version:  Windows 10 build 19041.685
 - ImageGlass version: 8.0.12.8

It seems that opening certain .pgm (P2) files is currently bugged. A file with a correct format cannot be opened.

### To Reproduce
Open a  .pgm file of type P2.

### Actual behavior:
A correctly formatted .pgm type P2 file is reported as unsupported or corrupted by the software.

### Expect

[2021-01-03 21:58] camjac251 commented on #636
I have not been able to find another program that offers this functionality. There are many javascript libraries for web usage of comparing images but nothing in a convenient desktop app.

Did you see the above @d2phap about the last opened image toggle? This could be really useful if A/B comparison is complex. I tried comparing 2 images side by side but when i go to the next image, I have to set

[2021-01-06 07:20] ASOwnerYT opened #956 "HDR images are too dark / colors are way off"
### System information:
 - Windows OS version:  20H2
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Open any HDR image in both ImageGlass, and mostly any other image viewers (such as the Windows 10 default image viewer)
2. Compare the two, and in ImageGlass the image is way darker than it should

### Actual behavior:

When I view an OpenEXR image in ImageGlas

[2021-01-06 23:00] Ailothaen opened #958 "Make "Open image location" feature more accessible"
Hello,

I have been searching for this feature for some time, and I eventually found it:

![20210106-235323-001755](https://user-images.githubusercontent.com/11133116/103828047-8e62bd80-507a-11eb-85a7-161554771063.png)

Something I am often doing with ImageGlass is going through folders that have a lot of images in them (hundreds, or even thousands sometimes). Depending on the context, when I come

[2021-01-07 03:27] d2phap commented on #958
Thanks @Ailothaen
FYI, This function is also accessible in context menu.

[2021-01-07 06:48] KaranKad opened #959 "ImageGlass app needs icon in taskbar preview"
### System information:
 - Windows OS version: 20H2
 - ImageGlass version: 8.0.12.8
### Problem:
Imageglass app does not have a icon in taskbar preview.
### Screenshots:
![Screenshot 2021-01-07 121228](https://user-images.githubusercontent.com/71691514/103860492-b6393c00-50e1-11eb-9fce-896aa37c0859.jpg)

[2021-01-07 09:17] #927 closed, assigned to d2phap

[2021-01-07 09:23] d2phap commented on #937
@mimecry You can view full EXIF data in v8.0, just need to link `exiftool.exe` to ImageGlass

[2021-01-07 09:28] #924 closed, assigned to d2phap

[2021-01-07 12:46] d2phap commented on #959
I don't think other apps have an icon:

![image](https://user-images.githubusercontent.com/3154213/103894115-67af9000-5129-11eb-8ff9-61edc3dfbb31.png)

[2021-01-07 13:01] KaranKad commented on #959
### Windows has settings for taskbar where it does not show icon and app name on the top like your current one.
![image](https://user-images.githubusercontent.com/71691514/103895290-3083b380-5116-11eb-97bf-9aef02967750.png)
### Mine is set to always hide label so it shows app name and icon on the top.
![image](https://user-images.githubusercontent.com/71691514/103895397-5d37cb00-5116-11eb-9b1d-82a

[2021-01-08 02:21] WasabiWarlord75 commented on #404
It's not a duplicate of #139, the issue still persists.

[2021-01-08 08:31] MCD4U opened #960 "Ability to navigate between images in a zip file without extracting"
### Is your feature request related to a problem? Please describe.
Back when I used windows photo viewer, when I opened a zip file (without extracting it) with lots of images in them, I could open one of the images and still be able to navigate to previous or next images in the current folder/zip file, **without** needing to extract the zip file. I wish to have this feature in ImageGlass as well.

[2021-01-08 16:20] VoxSerico opened #963 "Previous / Next Image with arrow keys also pan the view."
### System information:
 - Windows OS version: Windows 10 Pro v2004 build19041.685
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Set Keyboard setting "Left / Right arrows" to "Previous / Next Image"
2. Open an image in a folder with other images
3. Zoom in far enough for panning to work and lock the zoom ratio.
4. Hold (Single press is more subtle to see) Le

[2021-01-08 18:24] fire-eggs commented on #404
Yes, search results in explorer is a different beastie.

[2021-01-08 18:26] fire-eggs commented on #960
Duplicate of issue #254.

[2021-01-08 18:26] #960 closed, assigned to nobody

[2021-01-08 19:28] fire-eggs commented on #963
Damn, you're right! I was sure I had it covered but I was wrong! Thanks!

[2021-01-08 21:54] GavanWilhite commented on #517
This is the one feature to get me to switch from IrfranView

[2021-01-10 18:24] Dhyfer1 commented on #535
d

[2021-01-11 21:36] kocane commented on #202
@d2phap how can I disable the update check thru registry or config file? I've been unable to

[2021-01-12 02:38] fire-eggs commented on #202
IG no longer uses the registry for settings.

The following line in the igconfig.xml file will turn off the update check:
`<Item key="AutoUpdate" value="0" />`

It might be a little tricky to find your igconfig.xml, depending on how you installed IG. You should look at [this](https://imageglass.org/docs/app-configs) to hunt down where your igconfig file(s) might be.

FYI, there is a[ Google+ group

[2021-01-12 10:37] kocane commented on #202
@fire-eggs right on, thanks!

[2021-01-15 15:48] PowershellScripter opened #967 "Crashed in Settings if using custom ThumbnailDimension"
### System information:
 - Windows OS version: Windows 10
 - ImageGlass version: 8.0.12.8

Installing v8.0.12.8, consistent issues with the admin config file.
First was users not being able to open imageglass with admin config file in place, which I was only able to resolve by modifying the registry to run the program as admin.

This issue has been reported and still not responded to.
[AdminConfig

[2021-01-16 00:53] vertigo220 commented on #471
This could be combined with issue #648 and #953. If this were done, those functions could be added as some of the available options, so users could zoom by scrolling while holding down right-click (#953) or, my preference, by either moving the mouse up and down while holding the RMB or, probably even better, double-clicking the LMB and holding it, then moving the mouse up and down (similar to how

[2021-01-16 00:53] vertigo220 commented on #748
Agreed. The problem is that it won't zoom past 100%. So if I'm viewing an image that's taking up the whole window, but I want to zoom more to zoom in on a particular spot, I have to use the zoom in function, which is much more tedious. It's a lot easier to just double-click and have it zoom in on the part double-clicked. Granted, this can get a bit complicated, because if the image is smaller than

[2021-01-16 18:05] RanArkon opened #970 "Key Shortcut for Always on Top"
Hi,

Please make Key Shortcut for Always on Top feature.

[2021-01-18 01:27] d2phap commented on #967
Hi @NinjaRMMTheming

About

No worry for your issues created here, I do read them all.
I only reply if I need more information or to inform the issue is fixed.

Thanks!

[2021-01-18 04:17] SilentGene opened #971 "customize the info shown in title bar?"
Hi there, Thanks for developing such a useful and handy tool!

I was just wondering if there is any way to customize the information shown in the title bar? As a photographer, information such as ISO/ aperture/ shutter speed is also very important to check when browsing images. So if there is an option for us to customize which exif info we would like to be shown in the title bar, that would be pe

[2021-01-18 06:46] d2phap commented on #971
Thanks @SilentGene
Currently IG does not support customizing title bar info yet.

[2021-01-18 14:00] PowershellScripter commented on #967
My Apologies

&

Thank You!

________________________________
From: Phap Dieu Duong <notifications@github.com>
Sent: Sunday, January 17, 2021 6:27 PM
To: d2phap/ImageGlass <ImageGlass@noreply.github.com>
Cc: Ninja RMM <ninjarmm@fourpeakslandscape.com>; Mention <mention@noreply.github.com>
Subject: Re: [d2phap/ImageGlass] Unhandled Exception in v8.0.12.8 (#967)

Hi @NinjaRMMTheming<https://github.c

[2021-01-19 15:15] mirh commented on #870
I cannot find that option in 8.0.12.8.

[2021-01-19 15:44] mirh commented on #523
[This](https://github.com/file/file/blob/master/magic/Magdir/images) is the crazy shit voodoo libmagic does (it's even still improving in 2020, maybe @jenderek can give its two cents)..  but couldn't these files have been recognized just through their sort-of magic number `TRUEVISION-XFILE.[0x00]`?

[2021-01-19 15:48] d2phap commented on #870
@mirh
You go to Settings > Edit tab.
Or you can send me a screenshot

[2021-01-19 16:24] mirh commented on #614
Putting aside [Mono](https://markheath.net/post/running-windows-forms-on-linux-with-mono) *might* support enough of a subset of windows forms to run IG, [.NET 5](https://docs.microsoft.com/en-us/dotnet/desktop/winforms/migration/?view=netdesktop-5.0) has somewhat of a streamlined path forward from it.

[2021-01-19 16:29] mirh commented on #870
~~Yes, I have seen your scre~~
Nvm I had a brainfart.

[2021-01-19 16:43] mirh opened #973 "Per-format options in save dialog"
### Is your feature request related to a problem? Please describe.
Say I have this png I want to compress to a given rough size with jpg.
It's overly burdensome to pass through the general settings (especially if I'm experimenting with different values for quality)

### Describe the solution you'd like
Irfanview has [checkbox](http://4.bp.blogspot.com/-cXcDw1fNB-I/VEKKUyT50rI/AAAAAAAAArA/eb9i6Z822

[2021-01-19 16:56] fire-eggs commented on #614
Has anyone tried [WINE](winehq.org) ?

[2021-01-19 19:54] mirh commented on #611
Hoping this isn't too much hijacking, frameless is also lacking any kind of window size control (i.e. those little arrows instead of the mouse pointer when the cursor is over some border).
It's very strange since a lot of of other borderless programs still support that.

[2021-01-19 20:09] mirh opened #974 "Little scrolling improvements"
- [x] A new action (at least for PgUp/PgDn keys) to straight-away jump at the top/bottom of the current image.
- [x] A new setting to adjust scrolling speed. I know ctrl/shift modifiers for "bigger skips than simple arrow keys" already exist, but they are just too unsmooth to still keep track of long text lines you are reading, if I can explain.

[2021-01-21 00:08] tferrerm commented on #928
I can confirm I have the same issue on Windows 10 1909 (or at least its very similar). Here's the stacktrace:
[code]

[2021-01-21 11:56] Jack-Paterson opened #975 "HP laptop with Touchscreen"
### System information:
 - Windows OS version: Windows 10 Home edition
 - ImageGlass version:  8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Touching the screen whilst displaying a JPG file creates an error
2. See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.InvalidOper

[2021-01-21 13:06] d2phap commented on #975
Thanks @Jack-Paterson
It's duplication of #928

[2021-01-21 13:06] #975 closed, assigned to d2phap

[2021-01-21 14:50] d2phap commented on #928
Tried to fix this bug, please help to test the latest build:
https://imageglass.org/moon

[2021-01-21 14:51] d2phap commented on #927
Shipped to IG Moon:
https://imageglass.org/moon

[2021-01-21 15:02] d2phap commented on #944
I tried but could not reproduce this.
Do you have screenshot?

[2021-01-21 15:45] i5lee8bit commented on #928
Nice, I've been waiting for an 8.x moon build. Just did a quick test - seems to be fixed. Admittedly, I didn't do much testing beyond some quick basic touch inputs. Tried tapping, swiping, pinch to zoom in / out. Thanks!

[2021-01-22 05:06] chenrylee commented on #944
@d2phap  Can't reproduce it either, maybe a coincidence, or I misread `Scale to fill` to `Scale to fit` .

[2021-01-22 05:06] #944 closed, assigned to d2phap

[2021-01-22 13:50] mirh commented on #614
I just checked both 5.0 stable and the new 6.0, and for some reason it seems to crash even before loading any kind of .net assembly.
Which is pretty odd since not even the latest and shiniest and complexest DRM fails inside kernel32.

[2021-01-23 05:14] d2phap commented on #794
Improved the loading time of the first image in folder (#976)

[2021-01-23 05:22] #928 closed, assigned to d2phap

[2021-01-23 15:05] fire-eggs commented on #614
Welp, that sucks. Thanks for the heads up!

Looking at the [WINE test results for the .NET frameworks](https://appdb.winehq.org/objectManager.php?sClass=version&iId=38203), it sounds like a pain to install .NET much less run .NET apps.

[2021-01-23 17:54] Mr-Z-2697 opened #977 "HEIC images with YUV444P8/10 colorspace doesn't present correct chroma resolution when open with ImageGlass."
### System information:
 - Windows OS version: Windows10 1909 Pro
 - ImageGlass version: Moon_8.1.1.21_x64

### To Reproduce
Steps to reproduce the behavior:
1. Open a YUV444 HEIC image.
2. Zoom to 100% (if not).
3. See blocks in color.

### Actual behavior:
1. YUV444 is somehow converted to YUV420 then to actual RGB.
2. And, blocks are caused by point resize is used when upscaling chroma planes,

[2021-01-23 17:57] mirh commented on #614
Not really actually, that bug report is quite overconvoluted on top of old.
Somewhere around 2019 it should have been fully supported and usually just a matter of using `winetricks -q dotnet48` and you are done. I have yet to find bugs with that, in a lot of programs.
And anyway you only need it when the built-in mono doesn't work 100% properly (that happens pretty often though, to be fair).

Mid-

[2021-01-23 18:17] Mr-Z-2697 commented on #977
Sorry, seems that it all depends on ImageMagick, I might be in the wrong place.

[2021-01-24 03:13] d2phap commented on #977
Honestly, I don't see any difference.
Can you help to point out? 😅

![image](https://user-images.githubusercontent.com/3154213/105620182-f6642280-5e34-11eb-8d25-a23f518b6780.png)

[2021-01-24 04:00] Mr-Z-2697 commented on #977
Thanks for your reply!
Please zoom in to 100% and look at those red areas.
ImageGlass:
![ig](https://user-images.githubusercontent.com/74594146/105620911-e2242380-5e3c-11eb-9432-8781044d26dc.png)
GIMP:
![gimp](https://user-images.githubusercontent.com/74594146/105620913-e2bcba00-5e3c-11eb-963b-b214ba9ee7ea.png)

[2021-01-24 13:35] Mr-Z-2697 commented on #946
FYI, HEIF (both HEIC & AVIF) image sequence are just a video track (parameter constrained, perhaps) in ISOBMFF container like a normal MP4 video, plus a single frame image item, which is the "only first frame" you saw.
So it can be played like a normal video file.

[2021-01-24 15:29] fire-eggs commented on #977
It is subtle but I can see it on _one_ of my monitors. IG looks "more red" than GIMP. There is also a difference in skin tone: the IG version looks "more tanned".

But not my other monitor. I'm not sure what that means - color calibration?

[2021-01-24 17:00] Mr-Z-2697 commented on #977
Were you saw this two kind of "color tone"? (please be sure to open original png image)

This is another story: bt709 and bt601 (bt470bg) matrixs used in RGB <==> YUV conversion.
The "more red" color may be caused by "RGB ==(bt601)==> YUV ==(bt709)==> RGB" uncorrect process.

I chose **bt601** to convert my image, and I've tagged this info in the image, if image viewers are ignoring this info and

[2021-01-24 17:34] Mr-Z-2697 commented on #977
Is that I noticed the blocky color because I'm still using "1080p garbage"?😢

[2021-01-24 23:47] fire-eggs commented on #977
I'm sorry, I seem to be doing this wrong. I was looking at the screen cap posted by Phap, showing the two side-by-side. I can see the problem (and the skin tone difference) in that cap.

I have two monitors connected to my computer. I can get slightly different color behavior depending on which monitor I look at, due to differences in the monitors and/or monitor configuration.

When GIMP 2.10.22 f

[2021-01-29 12:28] d2phap commented on #967
Hi @NinjaRMMTheming

I have tried adding `igconfig.admin.xml` as steps you described, IG works well.
- What is the installed folder of IG?
- Can you send me your admin config?

![image](https://user-images.githubusercontent.com/3154213/106275093-48130f80-6270-11eb-9de8-147ac71f09fa.png)

[2021-01-29 13:14] d2phap commented on #952
I added a shortcut to open the current folder of viewing file.
Download the latest build at https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/106278835-5bc17480-6276-11eb-95fa-b55c457fcff6.png)

[2021-01-29 13:15] d2phap commented on #881
This requested is implemented,
Download the latest build at https://imageglass.org/moon

[2021-01-29 14:11] PowershellScripter commented on #967
@d2phap

Default installed Folder: 'C:\Program Files\ImageGlass'

Admin Config:

[code]

[2021-01-29 15:05] VatorArt commented on #620
I don't feel like writing another thread for this issue, but I've been dealing with it since last summer, and even with constant updating this is still an issue in January, 2021.

Any updates on what caused this and how one can go about fixing it?

The way I go around this bug is by having a separate program called Alt Drag, which allows you to put any program to be always on top. By using this ap

[2021-01-30 02:09] d2phap commented on #967
The problem is you used a custom value for `ThumbnailDimension`, and this is not relevant to `igconfig.admin.xml` file.

[code]

![image](https://user-images.githubusercontent.com/3154213/106343867-7fba9f80-62e2-11eb-8cf8-c8fb61f79b82.png)

### Steps to reproduce:
- Open `igconfig.xml` file (or `igconfig.admin.xml`),
- Change `ThumbnailDimension` to `100`
- Save change
- Run ImageGlass, go to Sett

[2021-01-31 00:28] mirh commented on #833
I can't really vouch on what's really the best and most frequent use case..
Though since it modifies the default OS behaviour, it sounds a bit like this should be disabled by default and only come through a checkbox.

[2021-01-31 08:02] pwhnz opened #978 "Make exiftool tag selection configurable"
I am enjoying ImageGlass and exiftool.

It would be nice if there was an option to display selected exif tags in the exiftool window. For example, using exiftool from the command line I can get my favorite data by going: "exiftool -Model -LensID -FocalLength35efl -MeteringMode -WhiteBalance -ISO -Aperture -ExposureTime DSC_3362.JPG".

A config file where you list the tags you want seems like the s

[2021-01-31 22:35] mirh opened #979 "View position resets when image is resized/rescaled"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Open a (preferably big) image
2. Set some scale mode (in a preferably small window)
3. Move elsewhere in the picture
4. Change scale mode (or even just set again the same one)

### Actual behavior:
View position resets back on the default (i.e. top, or center imag

[2021-02-01 14:30] PowershellScripter commented on #967
There was no way for me to mention the steps clearly as anything I did in imageglass was resulting in that error from the admin config, so I could not determine what specifically was causing the error.

And the Thumbnail deminsion attribute is not one I have ever changed, it came with the config file. Anyways, I appreciate the fix. No more exception error. Thanks.

[2021-02-01 14:30] #967 closed, assigned to d2phap

[2021-02-01 18:14] mirh commented on #522
Jeez, it's crazy what they could pull out with just a couple of shaders.
Though to be fair that's still quite above the level of complexity we have now, just hooking into .NET's own [algorithms](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.drawing2d.interpolationmode)

https://github.com/d2phap/ImageGlass/blob/e2cfa0d9a2ba8d4441a63c2c0c0941b510474fe1/Source/ImageGlass/frmMain.cs#L165

[2021-02-03 05:08] Wolfrisger commented on #940
just an info.
https://squoosh.app     now support JPEG XL.

[2021-02-04 13:45] xantao commented on #664
This sadly didnt work for me at all on a 3 week old Windows 10 installation. Not after uninstalling ImageGlass, nor deleting the registry key tree, nor using DISM to check Windows integrity.

No one knows whats causing this?

[2021-02-05 23:51] bughunter2 commented on #664
Without knowing exactly what you are experiencing, I think the following may be helpful.

A method is described to clear the Windows Explorer thumbnail caches. That may (or may not) resolve your issue.

Steps:
1. First, make sure to follow the first workaround, [posted above](https://github.com/d2phap/ImageGlass/issues/664#issuecomment-678813537), to remove the `HKEY_CURRENT_USER\Software\Microsof

[2021-02-06 00:06] nvire commented on #664
I gave this a shot but no dice still. Really odd.

Thanks a bunch for your help so far though, I appreciate it

[2021-02-06 02:22] #952 closed, assigned to nobody

[2021-02-06 02:23] #881 closed

[2021-02-06 08:38] attikov commented on #952
I appreciate your efforts but you have to understand that this is very far from what I have asked.
I was already able to select the directory where I want to save the image, but using the last save dir by default
is against common sense, unexpected, contra productive, without any logic and annoying.
Example: try to mass edit (rotate, whatever) some images in separate directories. (Like icons)
Ever

[2021-02-06 23:06] antoniomtnez opened #980 "When installing the program, it looks like this. It does not work"
### System information:
 - Windows OS version: 8.1
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Install
2. Open

![2021-02-06_175639](https://user-images.githubusercontent.com/38137118/107131613-fa1c8e00-68a5-11eb-8166-2a510b672db9.jpg)

[2021-02-06 23:30] d2phap commented on #980
You need to install .NET Framework 4.8 or later

https://dotnet.microsoft.com/download/dotnet-framework/net48

[2021-02-10 01:00] #980 closed, assigned to d2phap

[2021-02-10 07:19] Binjaaaa opened #981 "Optional Zoom out feature"
1. Currently when we open up a photo it defaults to a "Scale to fit" view. After zooming in _or_ out we're never able to return to the defaulted "Scale to fit" view (without pressing the dedicated 'Scale to fit' button). Also, there's no way for us to remap key presses to different commands, that'd be a nice addition.

2. I'm proposing an additional option in the settings people can check on or of

[2021-02-10 17:36] Arudinne opened #982 "Adobe Reader / PDF icon is being replaced with ImageGlass's ICO icon"
### System information:
 - Windows OS version: Windows 10 LTSC (1809)
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Install ImageGlass
2. Set ImageGlass's File Type Assocations
3. Reboot
4. Open a PDF

### Actual behavior:
The Installation of ImageGlass seems to be replacing the icon settings for Adobe Reader DC somewhere.

### Expected behavior:
Adobe Reade

[2021-02-16 07:25] Luvideria commented on #421
I see the version 8.0 of ImageGlass is out. Is there a roadmap for the integration of the new SVG loader? Is there a branch?

[2021-02-16 07:45] d2phap commented on #421
@Luvideria I have been developing a simple viewer using HTML/JavaScript (for experiment purpose), I may embed a Webview into ImageGlass for some specific formats, including SVG

[2021-02-18 11:41] SteveThackery opened #986 "Settings | Toolbar | Apply button doesn't work"
### System information:
 - Windows OS version: 10.0.19042 Build 19042
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Click Menu button, then Settings, then Toolbar
2. Add any item from the 'Available Buttons' column to the 'Current Buttons' column by selecting and clicking the right arrow icon
3. Visually confirm that it is now in the 'Current Buttons' column

[2021-02-18 21:18] brunogm0 commented on #949
Hi to contribute more in this issue [here ](https://photosauce.net/blog/post/examining-iwicbitmapscaler-and-the-wicbitmapinterpolationmode-values) an analysis of the  "zoom interpolation methods~ from  Windows Imaging Component.
Some are broken most are slow...
So how about integrating THE  fastest library [MagicScaler](https://github.com/saucecontrol/PhotoSauce ). It also uses the least memory fr

[2021-02-20 09:06] flyxyz123 opened #987 "Uncheck "Auto-center the window in Window Fit mode" in setting doesn't work."
I uncheck "Auto-center the window in Window Fit mode" in the setting but it doesn't work. The window still auto center when using Window Fit mode. The `IsCenterWindowFit` value in `igconfig.xml` file is updated when I reopen the software. So I think it's not the problem. I looked at the code and find this.

https://github.com/d2phap/ImageGlass/blob/0e0711a5e00d00c38532b79457df62251e76e7f9/Source/I

[2021-02-20 14:17] flyxyz123 commented on #987
I build the program and tested it with #988 and it fixed the problem.

[2021-02-20 15:12] d2phap commented on #987
Thanks @flyxyz123
I will check it tomorrow!

[2021-02-21 07:53] #987 closed, assigned to nobody

[2021-02-21 07:59] d2phap commented on #986
@SteveThackery
When you click on Apply button, the settings are saved in memory. And when you focus on the viewer window, you will see the changes.

[2021-02-21 09:56] SteveThackery commented on #986
Thank you, d2phap.  However, this is not really "standard" behaviour for a Windows program with this feature: normally you would expect to see the window update without having to focus it first.

However, if this is "as designed", please feel free to close this report.

[2021-02-21 10:16] d2phap commented on #950
Applied the fix and shipped to https://imageglass.org/moon

[2021-02-21 10:20] d2phap commented on #949
ImageGlass is using .NET interpolation algorithms, I will not write custom ones.
In the latest build of IG Moon, I added all options for Zoom optimization:
![image](https://user-images.githubusercontent.com/3154213/108621991-07727480-7471-11eb-8b36-21273e02efa7.png)

High quality options can cause performance issue.
Download at: https://imageglass.org/moon

[2021-02-21 10:21] d2phap commented on #986
Thanks @SteveThackery
Let's close this for now

[2021-02-21 10:21] #986 closed, assigned to d2phap

[2021-02-21 10:27] d2phap commented on #943
You can try the latest IG Moon at https://imageglass.org/moon

[2021-02-21 10:51] d2phap commented on #872
Fixed in IG Moon: https://imageglass.org/moon

[2021-02-21 10:54] d2phap commented on #826
This is probably due to how Windows handles the files in external storage.
When you click on the photo to open, it will be downloaded from your phone device to temporary folder of Windows, and open the application. In this case, IG only sees 1 file in the temporary folder.

There won't be a fix for this.

[2021-02-21 10:54] #826 closed

[2021-02-22 23:15] Ronald-G-Andrade opened #989 "SVG looks blurry instead in a vector form"
### System information:
 - Windows OS version: Windows 10 Enterprise - 21H1 - 64 bits
 - ImageGlass version: 8.0.12.8 - Kobe

### To Reproduce
Steps to reproduce the behavior:
1. Open a SVG File
2. Zoom In the file

### Actual behavior:
It won't show the vector form in a SVG file

### Expected behavior:
To be seen like in every browser, in other words, make infinite zoom and see fine the vector im

[2021-02-23 01:17] d2phap commented on #989
Hi @Ronald-G-Andrade
ImageGlass does not support scaling SVG yet, please refer to #421 for future update

[2021-02-23 01:17] #989 closed, assigned to d2phap

[2021-02-23 01:19] Ronald-G-Andrade commented on #989
Hello dear d2phap, thank you very much for your quick response :)

Oh, that's strange, because I really can open a SVG file (but as I wrote above, it looks blurry, not vector).

[2021-02-24 08:02] miharix commented on #202
Hi,

I would suggest a little change in config behavior et least for AutoUpdate parameter

 If Registry exist -> ignore setting in igconfig.xml & disable check field in settings
On click save in setting -> no code change, ignore registry, don't write to registry.

So when deploying over scripts/GPO admin could easy lock some parameter

[2021-02-24 08:12] d2phap commented on #202
@miharix
You can create `igconfig.admin.xml` in Start up folder: https://imageglass.org/docs/app-configs

[2021-02-24 16:00] tferrerm commented on #982
The same happened to my Transmission Qt client desktop icon right after installing the program. It seems to affect shortcuts with a non-editable target (Don't really know the difference between these shortcuts and regular ones other than the fact they are created by a program installer).

![image](https://user-images.githubusercontent.com/26530657/109028051-2f93ea80-76a0-11eb-96bc-6c3d03eb0f72.png

[2021-02-28 17:51] Zeus64 opened #990 "Drag & drop from the thumbnail panel"
It's could be very good if we can do drag & drop from the thumbnail panel (for example drag from the thumbnail panel and drop it in the word document). I guess it's must not be very complicated to implement as we know the file location

[2021-02-28 20:51] Zeus64 opened #991 "Need an option to define custom action when double clicking on a Image"
In setting we can define what to do when we scroll the wheel but nothing to define what to do when we double click on the image. Personally I would like to define an option like : "open image location & close ImageGlass" when I double click on the image (instead of the actual behavior to set the image at full size).

[2021-03-02 08:06] #872 closed

[2021-03-02 08:07] #949 closed, assigned to nobody

[2021-03-02 08:07] #950 closed, assigned to d2phap

[2021-03-02 08:10] d2phap commented on #982
You can try going to Settings > File type associations, click on Unregister extensions button to remove the extensions in registry, then click on Set as Default photo viewer button again to re-register them

[2021-03-02 14:49] Arudinne commented on #982
I've actually since removed ImageGlass because I found it had replaced the icon for our AnyDesk client as well. Both programs now show the generic icon for an application that doesn't have it's own icon now. So whatever occurred seems to be somewhat permanent.

![image](https://user-images.githubusercontent.com/29390020/109665373-b3802380-7b33-11eb-890c-01676b7feee6.png)

EDIT: Reinstalled Adobe j

[2021-03-02 17:33] Arudinne commented on #982
I've stripped the external icons from my local copy of the MSI and reinstalled. So far the issue has not reoccured.

[2021-03-02 22:55] xmha97 opened #992 "Use "Page Up" and "Page Down" to navigation pages (like Windows 7 Photo Viewer)"
Use `Page Up` and `Page Down` to navigation pages (like Windows 7 Photo Viewer)

![image](https://user-images.githubusercontent.com/23485114/109726046-474eff80-7bc7-11eb-8958-79bc18ade169.png)

Please add this feature:

![image](https://user-images.githubusercontent.com/23485114/109724561-07871880-7bc5-11eb-930b-d56f824974ee.png)

![image](https://user-images.githubusercontent.com/23485114/1097246

[2021-03-03 04:19] kyyyy4 opened #993 "Window moves/resets when switching between photos"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. snap window
2. switch image (arrow keys)

### Actual behavior:

window returns to the middle of the screen and resizes on arrow key press

### Expected behavior:

window remains snapped and switches between images

### Screenshots:

no easy way to add the screen c

[2021-03-03 04:40] d2phap commented on #993
Hi @kyyyy4
Can check with you if  you are in `Window Fit` mode with the option in Settings > Others `Auto-center the window in  Window
 Fit mode` checked?

[2021-03-03 06:10] kyyyy4 commented on #993
yeah, I have window fit on, and I've tried Auto-center in Window Fit mode on and off, doesn't seem to make a difference.

[2021-03-03 12:02] db-one opened #994 "Select the largest frame of ICO files"
![image](https://user-images.githubusercontent.com/20243226/109802471-d2c5a080-7c5a-11eb-8cf6-695cf4bc5008.png)

Hi, can you add support for ICO icon files, for example, this icon contains seven icons of different sizes. If you use the WINDOWS default file manager, you can browse the seven icons separately, but ImageGlass can only display the first one by default , And some icons are displayed abn

[2021-03-03 14:02] d2phap commented on #994
You can use Page Navigation tool:
![image](https://user-images.githubusercontent.com/3154213/109816694-fba26180-7c6b-11eb-9be0-58f813e44199.png)

[2021-03-03 14:04] d2phap commented on #993
I think it's related to #987 which was fixed in the latest build of ImageGlass Moon: https://imageglass.org/moon

[2021-03-03 16:19] kyyyy4 commented on #993
yup, fixed. thank you very much. great app btw ima drop a donation

[2021-03-03 16:19] #993 closed, assigned to d2phap

[2021-03-04 03:35] db-one commented on #994
![image](https://user-images.githubusercontent.com/20243226/109907624-a1da7f80-7cdd-11eb-8914-bd3fc578d1c5.png)
Okay, thank you very much for your reply, can you add these two options to the custom toolbar

[2021-03-04 03:36] db-one commented on #994
Okay, thank you very much

[2021-03-04 04:10] db-one commented on #994
![image](https://user-images.githubusercontent.com/20243226/109910227-9c336880-7ce2-11eb-8881-2a3e716dc25d.png)

![image](https://user-images.githubusercontent.com/20243226/109910029-31822d00-7ce2-11eb-8930-d23f3c221445.png)

For example, the size of the image opened by ImageGlass will be displayed incompletely as shown below. Below is the original file of the icon for reference, thank you

![imag

[2021-03-05 10:40] kleuter opened #995 "HEIC opening is somewhat slow"
### System information:
 - Windows OS version: 10x64
 - ImageGlass version:  8

Before opening a 1MB image I need to wait ~3 seconds on my Core i7 8700K

Any change to get it improved? Thanks.

[2021-03-05 12:35] d2phap commented on #995
Hi @kleuter

Can you describe more about 3 seconds.
- Is that the time you waited for ImageGlass window open, or to view the image?
- Can you attach your HEIC file, it's better for investigation?

Thanks!

[2021-03-05 13:40] kleuter commented on #995
The window opens normally for a .NET app, not instantly as native apps but fine.
After it opens I have to wait the file to be rendered.
Can't attach a file, it happens to any file from the library, even for small files.

I can record a video if you'd like

[2021-03-06 11:43] d2phap commented on #978
This feature is ready in IG Moon:
https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/110205609-e0299780-7eb3-11eb-9734-477248d7aa22.png)

[2021-03-06 17:19] dlemstra commented on #977
This should be fixed with an upgrade to the most recent version of Magick.NET.

[2021-03-07 00:42] d2phap commented on #977
Thanks @dlemstra !
@Mr-Z-2697, you can try the latest build of IG Moon at https://imageglass.org/moon

[2021-03-07 01:14] d2phap commented on #940
I updated Magick.NET lib in the latest build of IG Moon (https://imageglass.org/moon), JPEG XL is supported.
Sample file: [jpegxl-logo.zip](https://github.com/d2phap/ImageGlass/files/6096374/jpegxl-logo.zip)

![image](https://user-images.githubusercontent.com/3154213/110225923-f02d8f80-7f24-11eb-85b3-a85aa0dfbf63.png)

But when I test with your attached files, it shows error. I guess the file conv

[2021-03-07 01:16] d2phap commented on #930
Close due to no further information provided

[2021-03-07 01:16] #930 closed, assigned to d2phap

[2021-03-07 01:19] d2phap commented on #885
Just a note to look back in the future:
This is because IG does not support Slideshow mode from startup.

[2021-03-07 02:25] skycommand commented on #885
If that was true, I should have been able to work around the problem by waiting for a few seconds. This doesn't seem to be the case.

Anyway, I can't see how that is relevant. Erratic behaviors like this go against the principle of the least astonishment. For a well-organized mind that writes well-organized code, this mustn't be a problem. All you have to do is to approach the subject systematical

[2021-03-07 03:11] d2phap commented on #995
You can attach a zip file instead

[2021-03-07 12:12] pTinosq commented on #981
This would be really great, maybe an option in the settings that has a dropdown of default zoom options?

[2021-03-07 13:07] pTinosq opened #996 "Discord server"
I'm just wondering if there's ever been any thought of starting a Discord server related to ImageGlass?

I think it'd be really beneficial as it'd reinforce a stronger community, allow for instant development feedback, allow for people to get mentioned when a new update is released and it could potentially act as marketing for the software.

[2021-03-07 13:47] d2phap commented on #996
Hi @pTinosq

Thanks for the suggestion. The problem is that we are lack of people, there are only me and Kevin, and we have our own work.
It's good to have a Discord server, but I worry that I cannot response fast enough. 😣

[2021-03-07 13:47] #996 closed, assigned to nobody

[2021-03-07 20:37] Mr-Z-2697 commented on #977
The problem is solved, thank you!

[2021-03-07 20:57] kleuter commented on #995
[IMG_8080.zip](https://github.com/d2phap/ImageGlass/files/6097949/IMG_8080.zip)

[2021-03-07 21:00] Amnesiac9 opened #998 "Error on copying a gif image from web browser and pasting in image glass"
### System info:
- ImageGlass version: 8.0.12.8
- OS version: Windows 10 20H2

### Expected behavior:
Open gif image copied from firefox

### Actual behavior:
Gives error: "ImageGlass cannot open this picture because the file appears to be damaged, corrupted or not supported. Magick.net-Q16-OpenMP-x64: improper image header 'C:\Users\NAME\AppData\Local\Temp\ShipperLabel.gif' @ error/gif.c/ReadGIFI

[2021-03-08 15:04] eduards-amped commented on #523
Even `mspaint` supports opening extensionless files. This should be doable at least for common file formats like jpeg and png.

[2021-03-09 01:08] fire-eggs commented on #885
"Start to Fullscreen to Slideshow" goes into windowed mode because the `FullScreenMode` function _always_ turns off frameless mode, even in this case where we don't want to.

I believe the subsequent "confusion" of F11 and F12 could then be due to the disconnect between the `IsFullScreen` flag and the actual window state. I.e. after the sequence "Start to Fullscreen to Slideshow", the `IsFullScree

[2021-03-09 01:11] fire-eggs commented on #905
I believe this might be related to Issue #885 - the `FullScreenMode` function _always_ forces the work of turning off frameless mode and windows fit mode, even if they aren't already on.

On some systems, doing this forced work could make a visible "hiccup" on the screen.

[2021-03-09 01:38] fire-eggs commented on #995
Here's my experience on my Win7x64, I7-4790.

Your sample image takes me about 2 seconds to load. I get the impression that IG 8.0 takes a smidge longer than IG 7.6 or the latest IG Moon. You might give the latter a try.

IG 7.6/Moon takes me three seconds to load a 5000x8889 pixel HEIC (see issue #647); IG 8.0 takes about 5 seconds. [A larger _resolution_ image may take longer than a larger disk

[2021-03-09 10:24] kleuter commented on #995
Local SSD drive, I don't think I must use the older version if 8.0 is the latest

[2021-03-09 15:39] laundmo opened #999 "Exiftool feature does not work with chocolatey distributions of exiftool"
### System information:
 - Windows OS version: Windows 10 20H2 19042.804
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Install exiftool using chocolatey: `choco install exiftool`
2. Start ImageGlass and navigate to the exiftool section
3. observe it claiming the exe is invalid

### Actual behavior:
exiftool.exe as installed by chocolatey is invalid.

### Exp

[2021-03-09 22:36] fire-eggs commented on #999
This looks like a known issue (see #927). IG 8.0 is unhappy about the space in the path.

You can either:
- Grab a copy of [IG Moon](https://imageglass.org/moon)
- Change the location of exiftool.exe so there is no space in the path.

[2021-03-09 22:36] #999 closed, assigned to d2phap

[2021-03-09 22:43] fire-eggs commented on #995
Sorry if I was unclear. The [ImageGlass Moon](https://imageglass.org/moon) releases are newer than 8.0 but might not be considered "stable" by some. Issue #977 is a HEIC related bug which was addressed in the most recent ImageGlass Moon.

[2021-03-10 07:01] #977 closed, assigned to d2phap

[2021-03-10 07:02] #978 closed, assigned to nobody

[2021-03-10 07:25] pwhnz commented on #978
Tried it out, works great. Nice easy config. So good, thanks.

[2021-03-10 12:08] be5invis opened #1000 "ARM64"
### Is your feature request related to a problem? Please describe.
The current ImageGlass only targets X86 and X64, lacking ARM64 support. As .NET6 adding ARM64 support for WinForm, it is possible to support ARM64 platform as well.

### Describe the solution you'd like
* Migrate to .NET 6
* Target ARM64

### Describe alternatives you've considered
Current ARM64 Windows support running x86 applicat

[2021-03-10 13:12] d2phap commented on #1000
Thanks @be5invis
Migration to .NET 6 is planned for v9.0 which will be released in 2022

[2021-03-11 03:19] Diamondragon commented on #940
Not sure if this has been cleared up, but brunsli has been totally taken out of the JPEG XL spec. JPEG transcode is now done by encoding JPEG block coeffs directly as VarDCT 8x8 blocks.

I have a bug in the latest release of ImageGlass Moon related to recompressed JPEG files. Specifically, they don't seem to display. I get the same error in your screenshot just above. I've attached a sample below.

[2021-03-11 08:04] cocoon commented on #940
Hi, just for your information, JPEG-XL support was already added Jan 9 2021:
https://github.com/d2phap/ImageGlass/pull/962

For a working version you can follow my small guide that uses a commit where all is working still for jxl:
https://github.com/cocoon/jxl.Net/wiki/Image-Viewer-with-JPEG-XL-Support#imageglass

There is a bug in later ImageMagick versions that's why it fails to displayx jxl.

I

[2021-03-11 08:14] d2phap commented on #940
Thanks @cocoon !

[2021-03-12 15:12] tferrerm commented on #982
Changing the file association of the .ico format to Paint (for example) restores the right icon. Changing it to ImageGlass again however makes the same ImageGlass icon reappear.

[2021-03-16 01:17] Troceleng opened #1001 "Reading .CBRs doesn't work"
- Lower high-end desktop PC
 - Windows OS version: 10
 - ImageGlass version: 8.1.1.29

Steps to reproduce the behavior:
1. Zip pictures into a .7zip
2. Rename that .7zip into a .CBR
3. Attempt to open with ImageGlass
4. Blank screen

When I try to open a .CBR file (Comic Book Archive file), only a blank screen comes up. This isn't pleasant as I would like to read my comics.

When opening a .cbr wi

[2021-03-16 01:47] fire-eggs commented on #1001
Duplicate of issue #254

[2021-03-16 01:47] #1001 closed, assigned to d2phap

[2021-03-17 03:52] d2phap commented on #998
Can you attach the GIF file here?

[2021-03-17 15:15] fire-eggs commented on #998
I can't repro using other GIF images on the web. For example, here's a link to an Amazon shipping label; it's in GIF format.

[Here's a link to one](https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F02%2F56%2F38%2F025638874d7579c6dd7a8b5f6acca202.gif&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F411375747187308049%2F&tbnid=h8roW7B0hQRb4M&vet=12ahUKEwiFmvqswbfvAhWeIN

[2021-03-17 15:21] fire-eggs commented on #998
... but I do have an "oddity" about this ...

1. Copy image in browser
2. Paste into IG
3. Note the image is created in the user's temp folder and is viewable in IG
4. Copy an image in the browser

As soon as I do step 4, the image from step 2 disappears from the temp folder and from IG.

[2021-03-17 22:43] cactysman commented on #480
I've been running into the same issue since first installing ImageGlass and it's still an issue with version `8.0.12.8`.

[2021-03-18 00:21] lbux commented on #480
The issue has been persistent since my initial post; however, the issue seems to be more so Windows related than ImageGlass related. I've also had the issue on instances not running ImageGlass. [Google File Stream](https://www.reddit.com/r/Windows10/comments/8jx5ym/google_drive_file_stream_causing_uwp_icons_to/) (which I have installed) also seems to cause a similar issue.

[2021-03-18 18:07] netiauga opened #1002 "Show and change Exif.Image.Rating"
Show image rating (Exif.Image.Rating) like Stars.
Changing rate juste by on clic on en star.

[2021-03-18 20:29] fire-eggs commented on #1002
Duplication of issue #141

[2021-03-18 20:29] #1002 closed, assigned to nobody

[2021-03-18 20:37] fire-eggs commented on #963
Fix is available in ImageGlass Moon 8.1.1.21 and later.

[2021-03-18 20:37] #963 closed, assigned to d2phap

[2021-03-21 09:44] cocoon commented on #940
The issue is now fixed in  [Magick.Native.2021.3.21.236](https://github.com/dlemstra/Magick.Native/packages/11774?version=2021.3.21.236)

I compiled Magick.NET on my own and tested it and now I could open all my previously "unreadable" jxl files without a problem.
So looks good and as soon as a new Magick.NET version is released it should be good.

[2021-03-21 10:41] be5invis commented on #1000
@d2phap Not sure whether WinForms have plans to backport A64 support to .NET 5. WPF will do that: https://github.com/dotnet/wpf/issues/1817.

[2021-03-22 20:33] PaulCoddington commented on #441
I'm not sure this is working as expected.

Expectation would be that "show hidden images" applies to viewing images in a folder using navigation keys or slideshow feature. But ImageGlass would still be expected to display a hidden file when double-clicked in File Explorer regardless of this setting. This is the way most viewers work.

[2021-03-28 15:57] dreaddr commented on #794
Can this app just have an option of running in the background? It takes so much of time compared to other image viewers (Irfanview... and even MS Photos at times) and time is critical.

[2021-03-28 20:35] unquietwiki commented on #794
@dreaddr @d2phap I can already see how that might work. Start the program as a taskbar item, and make async window startups. There's a way to async start for console apps as of C# 7.x; not sure how that is supposed to work for Forms or WPF apps in later versions.

- https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7
- https://docs.microsoft.com/en-us/archive/msdn-magazine/2015/novem

[2021-03-29 11:42] akdevservices opened #1003 "Support themed status bar or side panel to show current image info in frameless mode"
Support a themed status bar or side panel to show current image info in frameless mode (instead of showing image info in the window title bar in non-frameless mode).

[2021-04-02 05:12] d2phap commented on #571
Ready in ImageGlass Moon https://imageglass.org/moon

[2021-04-02 05:12] #571 closed

[2021-04-02 05:12] d2phap commented on #939
Ready in ImageGlass Moon https://imageglass.org/moon

[2021-04-02 05:13] d2phap commented on #869
Hide the OpenWith menu in Win7, ImageGlass Moon https://imageglass.org/moon

[2021-04-02 05:16] d2phap commented on #940
Updated ImageGlass Moon, https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/113383026-8d110a80-93b5-11eb-8381-cb6855120ca7.png)

[2021-04-02 16:55] d2phap commented on #954
Hi @slobodaapl
Can you attach the file?
Thanks!

[2021-04-02 19:09] bitsycore commented on #593
Hey, this feature would be really usefull for me too, for gamedev but also 3D art in general.

If doing that menu like proposed by fire-eggs is too complexe, just an option to disable alpha computation on color channel could be handy, because when I see a color channel I don't except alpha to be applied to it.

Thanks

[2021-04-02 20:28] slobodaapl commented on #954
[img.zip](https://github.com/d2phap/ImageGlass/files/6251161/img.zip)

Sure! Here you go. The image's contents are identical to that provided in Additional context.

[2021-04-05 04:21] #940 closed, assigned to nobody

[2021-04-05 04:21] #869 closed

[2021-04-05 04:21] #939 closed, assigned to nobody

[2021-04-05 05:51] BradKML opened #1004 "Touch Screen Error"
### System information:
 - Windows OS version: Latest as of 2020 April 5th
 - ImageGlass version: 8.0.12.8 (chocolatey)

### To Reproduce
Steps to reproduce the behavior:
1. Launch App
2. Touch The Screen
3. Get Error

### Actual behavior:
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.InvalidOperationException: RunSynchronously may no

[2021-04-05 05:54] d2phap commented on #1004
Hi, @BrandonKMLee
You can try the ImageGlass Moon version which fixed this bug (#928) while waiting for the v8.1 released in couple of weeks.

[2021-04-05 05:54] #1004 closed, assigned to d2phap

[2021-04-06 02:45] xxjapp opened #1005 "drag without SHIFT key on image to move app window"
### Is your feature request related to a problem? Please describe.

Useful feature in normal mode, specially in frameless mode.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-04-08 15:42] PowershellScripter commented on #943
IG Moon Still does the same thing. Will not open application if igconfig.admin.xml found in program install directory. Essentially, the program doesnt have the 'Run As Admin' flag set, so when 'igconfig.admin.xml' file exists, it requires the program to run in admin mode, but in turn, it wont because the executable itself doesnt have the run as admin flag bit set on it.

I understand the premise o

[2021-04-08 16:11] d2phap commented on #954
It seems that Magick.NET does not support this file
![image](https://user-images.githubusercontent.com/3154213/114060559-15b50c80-98c8-11eb-9b25-1531c14eeeb5.png)

[2021-04-08 19:48] slobodaapl commented on #954
Yeah it seems so. Though it's very similar in structure to .PGM P1 files. Any possibility of implementing support for it?.. Or is ImageGlass strictly dependent on Magick.NET?

[2021-04-09 06:09] d2phap commented on #902
I think it will be more flexible and better to use other programs to play music. I'm using foobar2000 🙂

[2021-04-09 06:09] #902 closed

[2021-04-09 07:27] kristjanvariksoo opened #1006 "Unhandled exception when using touchscreen to pinch and zoom JPEG"
### System information:
 - Windows OS version: Win 10
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Install ImageGlass
2. Open JPEG image
3. Touch your laptops screen on the image with two fingers

### Actual behavior:
When I touch the image in ImageGlass with my two fingers on the touch screen I get an error.

### Expected behavior:
No error. Either ignore

[2021-04-09 09:47] d2phap commented on #1006
Thanks @kristjanvariksoo
This bug was reported at #928, and fixed in the latest build of ImageGlass Moon: https://imageglass.org/moon/

[2021-04-09 09:47] #1006 closed, assigned to d2phap

[2021-04-09 09:49] wildpa opened #1007 ".fax files (tiff files with just a different extension)"
### Is your feature request related to a problem? Please describe.

I have a lot of .fax files, created by a scanning software,

### Describe the solution you'd like
It would be nice if ImageGlass could just open .fax files like a .tiff file.

### Describe alternatives you've considered
 i could rename them all to .tiff, then ImageGlass could open them, but this would entail changing all the paths

[2021-04-09 09:55] d2phap commented on #1007
Hi @wildpa

If IG opens it after you rename to .tiff, you can add `.fax` extension to IG by:
- Open Settings > File Type Associations
- Click on Add... button
- Type `.fax`, and click OK
- Enjoy

[2021-04-09 10:22] wildpa commented on #1007
Oh wow, thank you, i somehow didn't see that option...

[2021-04-09 10:36] #1007 closed, assigned to nobody

[2021-04-09 10:47] d2phap commented on #958
The shortcut changed from <kbd>Ctrl+Shift+L</kbd> to <kbd>L</kbd> in v8.1

[2021-04-09 11:02] d2phap commented on #943
Can you provide more information like recorded video, or config files?
I am unable to reproduce this

![image](https://user-images.githubusercontent.com/3154213/114170760-f2d93580-9965-11eb-9852-bd8905f9a899.png)

[2021-04-09 13:30] Happyclem opened #1008 "Webp Image preview"
I would really appreciate to be able to have **preview of my webp images without opening them** :)

![2021-04-09_153005](https://user-images.githubusercontent.com/65565485/114187581-aecf3c00-9937-11eb-9818-1b9689e786df.png)

[2021-04-09 21:26] fire-eggs commented on #1008
ImageGlass is not responsible for Windows Explorer preview.

You will have to investigate other options. For instance, [Icaros](https://shark007.net/forum/Thread-New-Release-3-2-0-Final) apparently can provide webp preview.

[2021-04-09 21:26] #1008 closed, assigned to nobody

[2021-04-09 21:26] K0media commented on #994
@d2phap, acutally, I'm having an issue about how the icons are handled.
Please see below:

https://user-images.githubusercontent.com/22375465/114242091-b22aed80-9960-11eb-8b50-3304e7e992e7.mp4

What can be done about this? Any workarounds or it works that way?
Is there another issue open regarding this problem? I thought of opening an issue, but I think it would be a duplicate.

Is it going to be

[2021-04-09 21:33] fire-eggs commented on #994
@K0media :

Could you state what your actual issue is? I see you clicking on what are presumably icon files, zooming in and out, and clicking on another icon.

What is it about the ImageGlass behavior which is unacceptable?

[2021-04-09 22:04] K0media opened #1009 "[FR] "Immitate" Picasa's Photo Viewer gestures (scroll between images when hovering the thumbs bar, mouse wheel zooming, etc)"
### Is your feature request related to a problem? Please describe.

Right now, you can use some "power" features, but IG still lacks some fair improvements that could be enhanced in future updates.

### Describe the solution you'd like

I come from Picasa software and I really miss three features in IG:
1. Scrolling between images by hovering the thumbnails on the bottom and rolling the mouse whee

[2021-04-09 22:35] K0media commented on #994
It's simple. It is handled abnormally by IG, while it displays fine on other media viewers.

I'll record another screencast to show you. (I'd record a video with audio explaining details, but that would take longer. I can do it if necessary later, though.)

https://user-images.githubusercontent.com/22375465/114246897-39309380-996a-11eb-8092-8d47c005dca6.mp4

As you can see above, some icons displa

[2021-04-09 23:39] fire-eggs commented on #943
If ImageGlass is not appearing, then it sounds to me like an exception is causing the shutdown. We probably need to see your admin config file. Details on file ownership might also be necessary [e.g. is the user not the owner of the program files folder? who is the owner of the admin config file?]

Can you run ImageGlass itself (i.e. not double-clicking on an image)?

[2021-04-09 23:45] d2phap commented on #994
@K0media
You can change Zoom Optimization option to Smooth pixels (in v8.0), or Low quality (in v8.1) in Settings > Image > Zooming

[2021-04-09 23:48] d2phap commented on #1008
You can try https://sourceforge.net/projects/sagethumbs/ as well

[2021-04-09 23:51] fire-eggs commented on #994
Right, I understand now. Thanks for the detailed videos!

TLDR; sorry to say but this is the current state of ImageGlass, no workarounds possible.

Some of these other apps presumably are taking advantage of the different sized icons contained in the ICO. [E.g. as you zoom in, the apps use the next larger icon file as necessary.] ImageGlass (currently) does not: the first, smallest icon file is th

[2021-04-09 23:55] d2phap commented on #1009
In fact, Picasa tricked everybody that it has a transparent background, but it actually took a screen shot of the desktop, used it as the app background without window frame 🤭.

But it is good idea to have a "transparent" background look and feel without actual implementation.

[2021-04-12 11:00] d2phap opened #1010 "Add filter by file type option"
From pTinosq:
https://discord.com/channels/818852544859209748/818852544859209751/831120554248372284

### Describe the solution you'd like
It'd be really cool if when you right clicked in the thumbnail pane to have a "filter by filetype..." option where it would give you a dialog with all the file types (shown in the thumbnail pane) as checkboxes.

I just had to look for .psd files so it was hard t

[2021-04-13 05:33] nmevenkamp commented on #636
Concerning the side-by-side comparison with multiple windows open, it would be very helpful to be able to toggle locking their zoom/scroll navigations. By this I mean that when navigating in one window using the mouse and/or keyboard, all other windows would mimic the same zoom/scroll such that all (locked) windows of ImageGlass always show the same part of their respective image. Of course, this

[2021-04-13 05:42] nmevenkamp opened #1011 "Option to lock scroll"
### Is your feature request related to a problem? Please describe.
I would like to use the option to lock the zoom to keep the visible portion of an image fixed while scrolling through multiple images of the same dimensions. Essentially, I would like to compare difference in details between multiple images of the same scene. However, currently the image will only keep the zoom ratio fixed, but jum

[2021-04-17 16:57] #958 closed, assigned to nobody

[2021-04-17 19:04] iDm1 commented on #994
I think you're overcomplicating how other viewers are handling ICO files. This format usually contains several different images for different sizes. Most image viewers are displaying the largest of them by default, but ImageGlass always displays the first one, which is often the smallest one.

Displaying the largest image from ICO file by default is enough. Dynamic switching to the closest size is

[2021-04-17 19:37] iDm1 opened #1014 "Upgrade to 8.1.4.18 is broken"
### System information:
 - Windows OS version:  Windows 10 x64
 - ImageGlass version: 8.0.12.8

### To Reproduce
Steps to reproduce the behavior:
1. Download ImageGlass_8.1.4.18_x64.msi
2. Start ImageGlass_8.1.4.18_x64.msi

### Actual behavior:
Upgrade fails with the message: "Another version of this product is already installed. Installation of this version cannot continue. To configure or remove

[2021-04-18 00:15] BradKML commented on #951
Would like to know when the next release comes out to fix this

[2021-04-18 00:20] mreitenb commented on #951
Sure, that would be great.
   Markus

    On Saturday, April 17, 2021, 06:15:39 PM MDT, BrandonKMLee ***@***.***> wrote:

Would like to know when the next release comes out to fix this

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-18 01:37] db-one commented on #994
Yes, Strongly Agree

[2021-04-18 03:07] gunters63 opened #1015 "Switching fullscreen and back moves window to primary monitor"
### System information:
 - Windows OS version: 10
 - ImageGlass version:  8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1. Move Imageglass window to secondary monitor
2. Press F11 for fullscreen
3. Press F11 for switch back to windowed mode

### Actual behavior:

4. Imageglass window gets moved to primary monitor

### Expected behavior:

4. Imageglass window restores position, size A

[2021-04-18 07:22] d2phap commented on #1014
Please download again, I fixed the upgrading issue with MSI installer for x64.
Thanks!

[2021-04-18 07:40] Riajyuu commented on #421
Why not Edge WebView2 (if possible), which is already OS built-in since 20H2

[2021-04-18 14:31] skycommand commented on #421
WebView2 does not ship with any OS, not even 20H2. To use it, either the app must ship with WebView2 Runtime, or the customer must have Microsoft Edge non-stable (Canary) version 82 and later installed. (See: [Prerequisites](https://docs.microsoft.com/en-us/microsoft-edge/webview2/gettingstarted/win32)) This is good, because that makes WebView2 available for Windows 7 and later.

Of course, WebVie

[2021-04-18 17:09] rubenguip opened #1017 "Show checkerboard background for transparent gifs"
### Is your feature request related to a problem? Please describe.
For gif images that have alpha, would it be possible to add an option to display the transparency as a checkerboard background by default? As it is today, when I open a gif image and select to scale to fit or another such option there is no way to know where is the border of the image.

### Describe the solution you'd like
Option t

[2021-04-18 17:19] rubenguip opened #1018 "Hover over the edges of the screen for toolbar and thumbnail on/off"
### Is your feature request related to a problem? Please describe.
The toolbar and thumbnail menus are super useful but would it be possible to keep them hidden until you click the image or hover mouse over the edges of the screen(like the arrow buttons)?

### Describe the solution you'd like
An option to open images with the menus hidden by default until you click the image once or hover over the

[2021-04-18 20:36] fire-eggs commented on #1017
Did you try the 'B' command (draw checkerboard background)?  If enabled, it will stay enabled across ImageGlass invocations.

If you want to be certain of the image edge, you can use the option 'Display checkerboard only in the image region" setting - under Settings / General.

[2021-04-18 20:38] fire-eggs commented on #994
My thanks for the feedback! My ignorance of the ICO format is showing ...

[2021-04-18 23:32] SelfDestructor opened #1019 "Opening an image pops up the message "Reached the first image" and only shows a blank screen until you go prev/next."
### System information:
 - Windows OS version: Windows 10 Pro 20H2 19042.685
 - ImageGlass version: 8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1.  Double click on any image with ImageGlass set as default.
2.  See the message "Reached the first image" and just a blank screen.
3. Go to the next or previous image and then back again and the image shows up correctly.

### Actual behav

[2021-04-19 02:09] fire-eggs commented on #1019
Occurs only when "loop back to beginning" setting is OFF.

If there is only one image in the folder, next / prev will not "recover".

[2021-04-19 02:57] SelfDestructor commented on #1019
I used the 64-bit installer.

I had loop back option enabled from the previous version. Toggling it off and on again makes images show up as expected on launch.

[2021-04-19 05:57] d2phap commented on #1019
It seems that there was a problem in `igconfig.xml` file while updating new version. 🤔

[2021-04-19 07:48] SelfDestructor commented on #1019
A problem in my existing config, or in general? I run daily backups so here is my config from 2 days ago, before I updated just in case:
[igconfig.xml.txt](https://github.com/d2phap/ImageGlass/files/6334133/igconfig.xml.txt)

[2021-04-19 18:26] CrBoysen commented on #1019
same problem here

[2021-04-19 19:28] fire-eggs opened #1020 ""Reached first image" state stops animated GIF from playing"
### System information:
 - Windows OS version: 7
 - ImageGlass version: 8.1

### To Reproduce
Steps to reproduce the behavior:
1. Load a folder of images. The first/only image should be an animated GIF
2. Note: "Loop back viewer" setting should be OFF
3. Note first image in list is animated and playing.
4. Try to go "previous": the "first image reached" toast message appears

### Actual behavior:

[2021-04-19 19:32] fire-eggs commented on #1019
Pretty sure this is a bug. I ran IG8.1 from scratch (not an upgrade) and saw the described behavior.

[2021-04-19 19:43] fire-eggs commented on #1019
Additional behavior:
1. Run imageglass (i.e. do not double-click an image to run ImageGlass)
2. Make sure "Loop back" option is OFF
3. Use File/Open to open a file.

Note at this point that the toast message which appears is "Last image has been reached" [not "first image"]!

[2021-04-19 20:42] SecondBunny commented on #1019
This doesn't work for me. Only by keeping it on does it work.

[2021-04-19 21:39] SelfDestructor commented on #1019
I didn't test it with the option turned off as I prefer to have it on. Turning it off causes the bug to happen on my end too.

[2021-04-20 02:26] joekrie opened #1021 "Cannot convert from WEBP to PNG after upgrading to 8.1.4.18"
### System information:
 - Windows OS version: Windows 10 Pro 19042.928
 - ImageGlass version: 8.1.4.18 x64

### To Reproduce
Steps to reproduce the behavior:
1. Download https://upload.wikimedia.org/wikipedia/commons/a/a1/Johnrogershousemay2020.webp
2. Open WEBP file in ImageGlass
3. Save as PNG (File > Save image as...)
4. Open PNG in ImageGlass

### Actual behavior:
Invalid PNG file is generate

[2021-04-20 02:33] d2phap commented on #1021
I think this issue is ~due to Magick.NET~, I will investigate the problem.
For temporary solution,
- you can press <bkd>Ctrl+C</kbd> to copy the image data to clipboard,
- then press <bkd>Ctrl+D</kbd> to paste this data to ImageGlass,
- after that, you can press <bkd>Ctrl+S</kbd> to save the webp to png

[2021-04-20 15:19] d2phap commented on #1021
Fixed this issue in the latest build of IG Moon, not due to Magick.NET lib:
https://imageglass.org/moon

[2021-04-21 17:14] fire-eggs commented on #991
Mickey N<mickeysworkemail@gmail.com> Apr 19, 2021, 10:17:32 PM (2 days ago)
to ImageGlass Community
Is there a way to change double click behavior when viewing an image? I would like it to go to full screen and hide the toolbar. Double clicking again would return to windowed with toolbar.

[2021-04-21 20:45] ghost opened #1023 "Japanese language archive is broken"
### System information:
 - Windows OS version: Windows 10 x64
 - ImageGlass version: N/A

### To Reproduce
Steps to reproduce the behavior:
1. Download japanese language archive from <https://imageglass.org/language/download/ja>
2. Unzip `ja.zip`

### Actual behavior:
I can not unzip `ja.zip`.

### Expected behavior:
I will get language files.

### Screenshots:
None

### Additional context:
None

[2021-04-21 20:47] fire-eggs commented on #1023
Yup, it's empty!

Japanese.iglang can be found in the 8.0.12.8 branch but not the 8.1.  You can try the [8.0 version](https://github.com/d2phap/ImageGlass/blob/8.0.12.8/Setup/Assets/Languages/Japanese.iglang) but off-hand I don't know what new strings were added.

[2021-04-21 20:54] ghost commented on #1023
Okay, I will try the 8.0 version.
Thank you very much.

[2021-04-21 20:58] fire-eggs commented on #1023
I'm reopening because I think the website should provide the 8.0 version at least, not an empty zip.

[2021-04-21 21:59] fire-eggs commented on #1017
Works as designed.

[2021-04-21 21:59] #1017 closed, assigned to nobody

[2021-04-21 22:02] fire-eggs commented on #1005
Drag is currently tied to image panning. If drag is switched to windows move, what do you suggest is the mechanism for image panning?

[2021-04-21 22:08] fire-eggs commented on #1023
I see 10 new strings added in 8.1, mostly related to Zoom Optimization. So the 8.0 language pack is "pretty good".

[2021-04-22 06:15] xxjapp commented on #1005
Thanks for your answer. I see.

I wonder if there is some way to customize mouse & keyboard shortcut.

[2021-04-22 07:25] d2phap commented on #1023
There is an issue with CrownIn the service that I'm using for localization.
I'm contacting them for the fix.

[2021-04-22 07:27] #1014 closed, assigned to d2phap

[2021-04-22 08:15] d2phap commented on #1023
The issue is fixed, you can download now!
Thanks

[2021-04-22 08:15] #1023 closed, assigned to d2phap

[2021-04-22 11:30] xiaoxiang01a opened #1025 "Picture switching problem"
### System information:
 - Windows OS version: Windows 10 Pro 19041.928
 - ImageGlass version: 8.1.4.18 x64
### To Reproduce
Steps to reproduce the behavior:
- About 3MB picture files
1. Put multiple 3MB of image file into the same folder
2. open one of the pictures
3. buttons<'←'> or <'→'> to switch, the obvious pausing (more obvious than Win10 picture viewer )
- About 10KB picture files
1. Same

[2021-04-22 13:50] mhtvsSFrpHdE commented on #794
Is there any possible about the Windows Defender? I just double-clicked my image and realize Windows Defender use 68% CPU for seven  seconds, then ImageGlass shows my image immediately after Windows Defender CPU usage are gone.

As a comparison, if I use Windows UWP Photo to open the image, the entire process can be done within one seconds until the first image shows.

[2021-04-22 14:14] mhtvsSFrpHdE commented on #794
@timmay7 If anyone here are using Windows Defender or any other antivirus program, try add

[code]

Or your ImageGlass.exe **FULL PATH** to Windows Defender or something else's process exclusions.

1. Windows Settings(UWP)
2. Update & Security
3. Windows Security
4. Virus & threat protection
5. Virus & threat protection settings
6. Manage settings
7. Scroll down to "Exclusions"
8. Add or remove ex

[2021-04-23 21:56] Catfriend1 commented on #689
Hi, i've still had this bug in 7.5.x and now upgraded to 8.x  recent release where it also exists. I'm enrolling to c:/program files/imageglass which is then write protected from the user perspective . If a  user first logs on and his profile is created, the appdata\imageglass folder is missing . so changing and persisting settings for the user is impossible.

[2021-04-25 03:03] #1021 closed, assigned to d2phap

[2021-04-25 05:44] kylin0329 opened #1026 "Open the picture is too slow, can you lock a background"
### Is your feature request related to a problem? Please describe.
It takes a long time to load the picture after opening for the first time

### Describe the solution you'd like
can you lock a background

### Describe alternatives you've considered
Add a backend service to ensure that images are opened quickly every time

### Additional context

[2021-04-25 14:45] d2phap commented on #1019
Shipped the fix to IG Moon, https://imageglass.org/moon

[2021-04-25 14:46] d2phap commented on #1020
Shipped the fix to IG Moon, https://imageglass.org/moon

[2021-04-26 08:20] Catfriend1 commented on #689
Thanks for caring @d2phap
I'm currently working around the issue by pre-creating the folder on user profile creation.
Our AD logon script contains

[2021-04-26 17:16] Eboubaker commented on #27
how can we pause gif images?

[2021-04-26 17:17] Eboubaker opened #1029 "Can you add possibility to pause Gif image?"
Can you add possibility to pause Gif image?

reopen of this issue: https://github.com/d2phap/ImageGlass/issues/27
gifs can be played but can't be paused.

[2021-04-26 17:23] Eboubaker commented on #27
it is actually the ctrl+space key

[2021-04-26 17:24] #1029 closed, assigned to nobody

[2021-04-28 01:27] fire-eggs commented on #1020
Hey, @d2phap - the latest Moon release (4/20) looks too early to have this fix - did you update the Moon page?

[2021-04-28 02:26] d2phap commented on #1020
Hmm, there should be v8.1.4.25, I will upload again later

[2021-04-28 14:17] d2phap commented on #1020
I re-uploaded

[2021-04-28 15:25] d2phap opened #1031 "Print all pages from multi-page TIFF file"
From https://groups.google.com/g/imageglass/c/O7A5BQKOpGo/m/7obNLNFHAQAJ

I haven't been able to find this in documentation or previous issues, so my apologies if there's anything I've overlooked.

I can not find how to print all pages from a multi-page TIFF file. Am I missing something or is this option unavailable? I can only seem to be able to print the currently selected page.

----------

we

[2021-04-28 18:37] derFleder opened #1032 "Imageglass not displaying first image since update"
### System information:
 - Windows OS version: Windows 10 Pro 64bit latest Patch
 - ImageGlass version: 8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1. click on image file without imageglass window open
2. no image will be displayed

### Actual behavior:
Imageglass does not display the first image upon starting.
You have to scroll/switch to the next image and back to make it appear.

[2021-04-28 18:48] fire-eggs commented on #1032
Duplicate of issue #1019. A fix is available in the latest [ImageGlass MOON](https://imageglass.org/upload/moon/ImageGlass_Moon_8.1.4.28_x64.zip).

[2021-04-28 18:48] #1032 closed, assigned to d2phap

[2021-04-28 18:48] fire-eggs commented on #1020
Thanks, I see it, maybe it was my browser cache???

[2021-04-29 01:40] Ares9323 opened #1033 "Rotating files and saving them causes corruption"
### System information:
 - Windows OS version: 10 21H1
 - ImageGlass version: 8.1.4.18_x64 PORTABLE

### To Reproduce
Steps to reproduce the behavior:
1. Open an image
2. Rotate it (with the "save after rotate" option enabled)
3. Image is corrupted and no longer readable

### Actual behavior:
Sometimes I get the error "Unable to save image... Path/of/file.png"
![image](https://user-images.githubus

[2021-04-29 02:44] d2phap commented on #1033
Can you try the latest IG Moon (https://imageglass.org/moon)?
This bug  is similar to #1021.

The official release will be shipped in a few weeks.

[2021-04-29 02:48] d2phap commented on #1020
I think because the Hosting service provider was upgrading IG's host, and they used the old backup to restore it.

[2021-04-29 08:04] Ares9323 commented on #1033
![image](https://user-images.githubusercontent.com/46932745/116519804-34f4f780-a8d2-11eb-85c2-865f6db810e0.png)

Just tried with the latest Moon, still corrupted but with different error

[2021-04-29 11:00] Loakii opened #1034 "BUG: Settings not saved when using AutoUpdate 0"
### System information:
 - Windows OS version: Windows Server 2016 10.0.14393 Build 14393
 - ImageGlass version: 8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1. Make programdir nonwriteable for users
2. Create igconfig.admin.xml in programdir with AutoUpdate 0
3. Start ImageGlass as user
4. Settings wont be saved (should be saved in %appdata% but it doesn't save anything)

### Actua

[2021-04-29 11:32] Loakii commented on #1034
For now using a script when launching that creates the folder %AppData%\ImageGlass

[2021-04-29 11:38] d2phap commented on #1034
Thanks @Loakii
Probably duplication of #689

[2021-04-29 11:38] #1034 closed, assigned to d2phap

[2021-04-29 14:16] R-a-p-o-l-a-s opened #1035 "Fully fullscreen mode?"
Unless I have missed something, seems like there's no way to display an image in full screen without the top bar? Excluding slideshow, but that's not the most usable solution, anyway. It's a very needed thing and I'm surprised to see it missing, and hope to see it added.

[2021-04-29 14:29] d2phap commented on #1035
You can press <kbd>T</kbd> to hide the tool bar. Full screen mode is to remove the window frame, and expand app's size to fit the screen, including Taskbar.

[2021-04-30 06:00] #1031 closed, assigned to nobody

[2021-04-30 06:00] #1020 closed, assigned to d2phap

[2021-04-30 06:00] #1019 closed, assigned to d2phap

[2021-04-30 19:49] klou commented on #874
v8.1.4.18

I have a TIF scan that was sent to me (sorry, can't share) that opened OK, looked like a standard scanv.  I then ran the TIF through FileOptimizer (https://nikkhokkho.sourceforge.io/static.php?page=FileOptimizer), and the resulting file had all of the white space replaced by magenta.

[2021-05-01 20:31] SufyanAbbada opened #1036 "Can't find a way to make ImageGlass my Default Image Viewer in Windows 10"
### System information:
 - Windows OS version: 10
 - ImageGlass version: Latest (8.1.4.18)

### Actual behavior:
There is no way to make ImageGlass as my Default Image Viewer once I download it. Even in Windows, it is not showing in the available applications

### Expected behavior:
There should be an option for making it a default Image Viewer application even after installing it.

[2021-05-01 21:47] silverwings15 commented on #1036
![image](https://user-images.githubusercontent.com/10742312/116795762-83d4a400-ab01-11eb-8b2d-ffcb750158cd.png)

![image](https://user-images.githubusercontent.com/10742312/116795770-8c2cdf00-ab01-11eb-9515-8d7271367348.png)

[2021-05-02 00:43] #1036 closed, assigned to d2phap

[2021-05-02 04:31] d2phap commented on #945
This request is ready in IG Moon: https://imageglass.org/moon

#### Settings > Edit
- Add support for `*.lnk` extension, environment variables (relative paths). You can use command for App path, e.g. `cmd`, `cmd.exe`, `imageglass`, ...
- Add support for selecting multiple extensions to edit

![image](https://user-images.githubusercontent.com/3154213/116801951-57407c80-ab41-11eb-8fec-c767df12f254.p

[2021-05-02 04:32] d2phap commented on #689
Fixed this bug in IG Moon: https://imageglass.org/moon

[2021-05-02 04:32] d2phap commented on #1033
Fixed this bug in IG Moon: https://imageglass.org/moon

[2021-05-02 06:44] Catfriend1 commented on #689
Thanks :-)

[2021-05-02 15:18] arthursun opened #1038 "It shows no image when double clicking on image file."
### System information:
 - Windows OS version:  10
 - ImageGlass version:  8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1.  Double click an image file to open with ImageGlass
2.  It says "reaching the 1st image" (I translated this, not sure what's the notice in English version) . Then nothing is shown but a grey background.
3.  Use left/right or scroll mouse changing images will bri

[2021-05-02 15:27] d2phap commented on #1038
Hi @arthursun

This bug is duplicated (https://github.com/d2phap/ImageGlass/issues/1019) and fixed in the latest build of IG Moon (https://imageglass.org/moon)
The official release will be shipped in next few weeks.

[2021-05-02 15:29] #1038 closed, assigned to d2phap

[2021-05-02 15:45] arthursun commented on #1038
@d2phap  Thank you! I wondered if it's that obvious, there should be a report about it. I did checked many posts, but missed that  one.

[2021-05-02 17:35] Countryen commented on #945
Awesome news :) Good job

[2021-05-03 11:11] Zeus64 opened #1039 "After updating imageglass to the last version, image are not drawed anymore in imageglass"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.1.4.18

When I double click on an image in the Windows Explorer, it's work I can see the image in imageglass. However when I do the same from total commander (https://www.ghisler.com/) It's not work ! Please not that it's was working very well in previous version of ImageGlass, it's after the update that it's not work anymo

[2021-05-03 11:18] d2phap commented on #1039
Thanks @Zeus64
This is probably duplicated of #1019, and fixed in the latest build of ImageGlass Moon https://imageglass.org/moon
The official release will be shipped in few weeks

[2021-05-03 11:20] Zeus64 commented on #1039
@d2phap yes thanks it's look exactly the same issue !

[2021-05-03 11:20] #1039 closed, assigned to d2phap

[2021-05-05 00:56] aphideater opened #1040 "i get imageglass cannot open this picture becaut this file appears to be damaged but the file is valid but is very large"
### System information:
 - Windows OS version:
 - ImageGlass version:

### To Reproduce
1. open normal file
2.  go back and forth till you find a large file in the folder
3. the file will not open

### Actual behavior:
files says is courpted but is not

### Expected behavior:
open the file normaly

### Screenshots:
![image](https://user-images.githubusercontent.com/83680753/117086613-bf67ac00-ad55

[2021-05-05 01:40] aphideater commented on #1040
just to clearfy i have 64 gigs of ram so thats not a issue

[2021-05-05 01:41] aphideater commented on #1040
my mode is random order

[2021-05-05 01:42] d2phap commented on #1040
What version of ImageGlass are you using?

[2021-05-05 01:52] aphideater commented on #1040
8.1.4.18

also here is a pic of the picture open on one window by arrow another by click showing the difference
![image](https://user-images.githubusercontent.com/83680753/117089285-a95de980-ad5d-11eb-82bf-9913506176e3.png)

[2021-05-05 01:54] aphideater commented on #1040
in general only happens with big files not small ones under maybe 5mb

[2021-05-05 02:07] d2phap commented on #1040
Can you try the latest build of IG Moon: https://imageglass.org/moon
This might be fixed

[2021-05-05 07:37] Denis96 opened #1041 "File tree with folders"
![Sin título](https://user-images.githubusercontent.com/11568576/117109179-8f83cd00-ad84-11eb-9413-f6498a8e0a31.png)

I don't know if there is such a thing, but it could be a very cool feature to show more than one folder and to be able to organize everything more easily.

[2021-05-05 09:44] lyaaz opened #1042 "the first photo cannot be displayed if disable "Loop back viewer to the first image when reaching the end of the list""
### System information:
 - Windows OS version: Win10 19042.964
 - ImageGlass version: 8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1. uncheck "Loop back viewer to the first image when reaching the end of the list"
2. open a photo with IG.

### Actual behavior:

IG starts but the image is not displayed. If there are more than one photos in the folder, switch the image and all the ima

[2021-05-05 09:46] d2phap commented on #1042
Thanks @QingKongBaiYu
This is probably duplicated of #1019, and fixed in the latest build of ImageGlass Moon https://imageglass.org/moon
The official release will be shipped in few weeks

[2021-05-05 09:46] #1042 closed, assigned to d2phap

[2021-05-05 20:17] ThomasLeigh commented on #933
Please include settings etc. within themes, it’s very hard for me (vision-wise) to configure the app, many settings are hardly visible :(

[2021-05-05 20:19] ThomasLeigh opened #1043 "Invert picture colors (negative)."
Would You please add an option to invert picture colors, turning it into a negative?

[2021-05-07 02:49] TheCGDF commented on #700
@fire-eggs Any updates?

[2021-05-08 19:16] FabianToledo opened #1044 "After update to 8.1.4.18 the viewer shows a black screen with the leyend "reached the last image""
### System information:
 - Windows OS version: 	10.0.19042 Build 19042
 - ImageGlass version:  8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1. Double click on an image
2.
3.
4.

### Actual behavior:
After update to 8.1.4.18 when I try to view an image double-clicking on it, the viewer shows a black screen with the leyend "reached the last image"
If there are more images in the folde

[2021-05-08 20:43] fire-eggs commented on #1044
This is a duplicate of #1019, and fixed in the latest build of ImageGlass Moon https://imageglass.org/moon
The official release will be shipped in few weeks

[2021-05-08 20:43] #1044 closed, assigned to d2phap

[2021-05-09 03:04] d2phap commented on #1041
Thanks @Denis96
However, ImageGlass is designed to work with File Explorer, so there is no gallery, or file/directory tree. This is to simplify the app and avoid being bloated.

[2021-05-09 03:04] #1041 closed, assigned to nobody

[2021-05-09 14:05] SylwesterZarebski opened #1045 "Window fit (F9) sets wrong window size with small images"
### System information:
 - Windows OS version: Windows 10 20H2 (build 19042.928)
 - ImageGlass version: 8.1.4.18
 - Theme: Windows 10 Dark (HiDPI) 3.4

### To Reproduce
Steps to reproduce the behavior:
1. Open small image with Window fit (F9) option enabled.
2. See very small window with no image, almost only window title bar.

### Actual behavior:
ImageGlass do not set proper window size and open

[2021-05-09 15:46] #945 closed, assigned to d2phap

[2021-05-09 15:47] #1033 closed, assigned to d2phap

[2021-05-09 15:48] #689 closed

[2021-05-10 03:34] d2phap commented on #1045
Thanks @SylwesterZarebski
This is duplicated of #814

[2021-05-10 03:34] #1045 closed, assigned to d2phap

[2021-05-10 06:40] SylwesterZarebski commented on #1045
Sorry, Github search did not find #814 using *Window fit* or *F9* phrases.

PS. And now it finds... Github quirks?

[2021-05-10 06:42] SylwesterZarebski commented on #814
Confirmed with enabled or disabled Auto zoom.

[2021-05-10 07:15] akdevservices opened #1046 "Consider shipping hotfixes for crucial bugs for the latest stable release"
Bugs happen, it's part of the software development process. But it would be nice to have hotfixes for annoying bugs (like #1020) for the latest stable release.

[2021-05-10 07:18] d2phap commented on #1046
Thanks @akdevservices
It will be shipped by this weekend.

[2021-05-10 08:24] akdevservices commented on #1046
@d2phap
Nice piece of software. Thank you for your work.

[2021-05-10 08:25] #1046 closed, assigned to nobody

[2021-05-10 11:04] BANG-github opened #1047 "how about adding a function that rotate a picture in small degree"

[2021-05-10 11:06] BANG-github commented on #1047
i can only rotate a picture in 90 degree

[2021-05-10 11:06] #1047 closed, assigned to nobody

[2021-05-10 11:07] BANG-github opened #1048 "how about adding a function that rotate a picture in small degree"
i can only rotate a picture in 90 degree

[2021-05-10 13:10] akdevservices opened #1049 "Center thumbnails horizontally in Thumbnail panel"
If there is a small number of images in Thumbnail panel, all images are left aligned. It would be great if thumbnails are center aligned.
![ImageGlass1](https://user-images.githubusercontent.com/29972256/117663589-adbb4580-b155-11eb-8903-6058147cb7d0.png)

[2021-05-13 14:53] haoey opened #1051 "Borderless mode can't adjust picture size"
### System information:
 - Windows OS version: windows 10
 - ImageGlass version: 8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

### Actual behavior:

### Expected behavior:

### Screenshots:

### Additional context:

[2021-05-13 15:07] haoey opened #1052 "When using Windows fit, if the picture size is too small, the display will be abnormal"
### System information:
 - Windows OS version:
 - ImageGlass version:

### To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

### Actual behavior:

When using Windows fit, if the picture size is too small, the display will be abnormal.

### Expected behavior:

Small size pictures can be displayed normally in Windows fit mode
### Screenshots:

This is a normal picture.
![image](https://user

[2021-05-13 15:20] haoey opened #1053 "show toolbar when starting up."
### Is your feature request related to a problem? Please describe.

1. close “show toolbar when starting up“.
2. Open image glass, and then open toolbar, "show toolbar when starting up" will open automatically.

### Describe the solution you'd like

  I hope that "show toolbar when starting up" and manual opening do not interfere with each other, that is, That is, "show toolbar at startup" is stil

[2021-05-13 15:35] haoey opened #1054 "Image glass seems to have two in my computer"
### System information:
 - Windows OS version: windows 10
 - ImageGlass version: 8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
If I use imageglass to open pictures through windows explorer and "everything" file search software, the interface is different, that is to say, their configuration files are different.

Open through Windows Explorer
![image](https://user-images.githubusercon

[2021-05-13 15:57] d2phap commented on #1051
Resizing was removed since v8.0
https://github.com/d2phap/ImageGlass/issues/916

[2021-05-13 15:57] #1051 closed, assigned to d2phap

[2021-05-13 15:58] d2phap commented on #1052
This is duplicated of #814

[2021-05-13 15:58] #1052 closed, assigned to d2phap

[2021-05-13 16:09] d2phap commented on #1053
Both are working same. I don't think it's not necessary to create another behavior.

[2021-05-13 16:09] #1053 closed, assigned to nobody

[2021-05-13 16:14] d2phap commented on #1054
ImageGlass uses `%AppData\ImageGlass%` as "Configuration directory" if the Startup directory is not writable. You can read more about it at: https://imageglass.org/docs/app-configs

In your case, you might install it into 2 place?! Can you open both cases, and check the location of the ImageGlass process?

[2021-05-13 16:29] haoey commented on #1054
I think I understand that this software can only be installed once, but it uses different configuration files through different software calls, so it looks like two of software。
![image](https://user-images.githubusercontent.com/70797176/118155866-45b57980-b44b-11eb-8f06-69722e3627a8.png)

[2021-05-13 16:39] haoey commented on #1054
After "open file location", they are the same file, but their icon colors are different.

![image](https://user-images.githubusercontent.com/70797176/118157158-cb85f480-b44c-11eb-92f6-8b575b7f907b.png)

[2021-05-14 07:19] d2phap commented on #859
@rstarkov

You can disable the option "Check for update automatically" in Settings > General.

[2021-05-15 05:08] d2phap commented on #519
I won't implement file browser to avoid being bloated

[2021-05-15 05:08] #519 closed

[2021-05-15 08:21] d2phap commented on #994
I spent my time today to refactor the code for ICO file, so now IG will display the largest frame of the viewing ICO file by default.
However, the problem with displaying (picture below) is not fixed. ImageGlass is using Magick.NET for loading ICO, apparently Magick.NET has issue with this ico file.

This change will be included in the next official release (soon).

![image](https://user-images.gi

[2021-05-15 09:25] d2phap commented on #959
fixed this in v8.1

[2021-05-15 09:25] #959 closed, assigned to d2phap

[2021-05-15 17:15] fire-eggs opened #1055 "Unhandled Exception - "Save As" across network"
This is a report of Allan Holdt's bug from Google Groups.

### System information:
 - Windows OS version: Win 10
 - ImageGlass version:  IG 8.1

### To Reproduce
Steps to reproduce the behavior:
1. Double-click an image in network shared folder.
2. Goto the File menu, select "Save As".

### Actual behavior:

Unhandled exception

![image](https://user-images.githubusercontent.com/9809727/118372415-

[2021-05-15 17:23] fire-eggs commented on #1055
I've finally reproduced this bug.

I was able to reproduce it by opening an image across the network, with "find in child folders" ON, and the image at the top of a tree of folders - 11,000 images. Admittedly, I have to go to "File/Save" or "File/Save As" fairly quickly.

The problem relates to the change added where the "current" image is displayed while IG builds the image list in the background

[2021-05-15 17:37] fire-eggs commented on #1055
A quick scan of the usages of `Local.CurrentIndex` suggests the following functions might be impacted. The functions may crash (failing to check for null filename) or do something the user doesn't expect (e.g. Copy Image Path will put an empty string in the clipboard, not the path of the apparently visible file).

mnuSaveImage_Click
mnuMainSaveAs_Click
(show ExifData in Local_OnImageChanged)
picMa

[2021-05-15 17:40] RoroRoze opened #1056 "Crop and Saving .png File Error"
### System information:
 - Windows OS version:
 - ImageGlass version:

### To Reproduce
Steps to reproduce the behavior:
1. Open .png photo
2. Crop the .png photo
3. save as .png
4. Try open the saved photo
5. Error

### Actual behavior:

Can't read file header !
Unknown file format, empty/damaged file or file not found !

### Expected behavior:

Open as normal

### Screenshots:

.png Photo Before

[2021-05-15 17:45] RoroRoze opened #1057 "Crop using aspect ratio"
### Is your feature request related to a problem? Please describe.

Crop using Specific aspect ratio instead of using Width & Hight
Similar to Photoshop
### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/65495906/118373233-6b16c480-b5be-11eb-9720-a98faeaafffa.png)

### Describe alternatives you've considered

### Additional context

[2021-05-15 17:52] fire-eggs commented on #1055
This issue is a pain to make happen [setting up a remote folder with 15000 images]. For testing and debugging purposes, the problem can be replicated by adding a forced delay in `PrepareLoadingAsync`. Either within the `await Task.Run` invocation, or within `LoadImages`, adding a `sleep(20)` would simulate the problem. Then, when loading a local image, there is a 20 second window of time where the

[2021-05-15 21:05] fire-eggs opened #1058 "Save of animated GIF loses animation"
### System information:
 - Windows OS version: N/A
 - ImageGlass version:   8.1

### To Reproduce
Steps to reproduce the behavior:
1. Load an animated GIF file
2. Use save to save it [no changes!]
3. GIF is no longer animated

### Actual behavior:
GIF file loses animation.

### Expected behavior:
File should be saved with its original characteristics : animation, color depth, etc.

### Screenshots

[2021-05-15 21:08] fire-eggs commented on #1056
This is a known issue, and a fix is available in [ImageGlass Moon](https://ImageGlass.org/moon). An updated "official" release is anticipated soon.

[2021-05-15 21:08] #1056 closed, assigned to d2phap

[2021-05-16 05:32] UrbanMonk6 opened #1059 "Image files not updating thumbnail after editing"
### System information:
 - Windows OS version: Windows 10 20H20 19042.985
 - ImageGlass version:  8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

### Actual behavior:

Image files not updating thumbnail after any editing work like cropping..

### Expected behavior:

### Screenshots:

### Additional context:

[2021-05-16 09:52] d2phap commented on #814
fixed in v8.2

[2021-05-16 09:52] #814 closed

[2021-05-16 09:52] d2phap commented on #994
released v8.2!

[2021-05-16 09:52] #994 closed, assigned to nobody

[2021-05-17 00:42] timmay7 opened #1062 "Make the Enter key a fullscreen toggle"
Currently, it seems like F11 is the fullscreen toggle. Since the Enter key isn't used for anything, I would suggest making that a fullscreen toggle as well.

There are also ergonomic reasons for doing this:
- The Enter key is larger and easier to press.
- The Enter key is in a more convenient location, instead of F11's upper-right corner placement.

[2021-05-17 00:59] timmay7 opened #1063 "Settings > Unexpected scrolling behavior when hovering over dropdown menus"
Regardless of where my mouse cursor happens to be, I expect the scrolling behavior to scroll the entire page of options.

If my cursor happens to be hovering over a dropdown menu, it instead scrolls the list of items within that menu. That is NOT the expected behavior. See my attached video for the issue.

https://user-images.githubusercontent.com/4268981/118419111-f603c780-b66f-11eb-93ea-b48f60eb

[2021-05-17 04:36] M7amma opened #1064 "Feature request : Add close button for frameless mode"
When the app runs in frameless mode, there's no close button anywhere on the UI to click on and exit the app. So everytime I've to close it through the option in the right click menu from task bar. So it'd be less painful to add the close [x] control button either anywhere on the main window or as a button in the toolbar. Thanks.

[2021-05-17 06:33] d2phap commented on #1064
It's duplicated of #908

[2021-05-17 06:33] #1064 closed, assigned to nobody

[2021-05-17 18:34] aphideater commented on #1040
i was unable to reproduce the error on the new version of imgeglass 8.2.6.6

[2021-05-17 18:34] #1040 closed, assigned to d2phap

[2021-05-17 18:53] xmha97 opened #1067 "Add "Browser" items to the folders context menu"
Hi, please add "Browser" items to the folders context menu.
![Explorer](https://user-images.githubusercontent.com/23485114/118541318-c97ea700-b766-11eb-84bf-82652d41bd66.png)

[2021-05-17 21:01] iJahangard opened #1068 "Scale-able Vector graphics compatibility"
As you know IG just show svg/svgz in raster quality

In most cases i need to switch between raster mode and scale-able mode

It can be awesome if you add a floating button in somewhere like top right to switch this mode

[2021-05-18 01:12] fire-eggs commented on #1067
Some technical details:
https://stackoverflow.com/questions/20449316/how-add-context-menu-item-to-windows-explorer-for-folders

[2021-05-18 01:18] xmha97 commented on #1067
Yes, I know, but I want to add this option by default.
[code]
Download [Registry.zip](https://github.com/d2phap/ImageGlass/files/6497681/Registry.zip)

[2021-05-18 01:23] fire-eggs commented on #1067
And I'm entering the link for my future reference as an ImageGlass developer.

[2021-05-18 02:43] d2phap commented on #1068
It's duplicated of #421

[2021-05-18 02:43] #1068 closed, assigned to nobody

[2021-05-18 07:57] progonkpa opened #1069 "Add simple drawing tool"
I missed the ability to draw a line or draw a rectangular box (without fill) around content I wished to highlight.
P.S. The mask on your profile picture is bloatware ;)

[2021-05-18 08:12] progonkpa opened #1070 "Browsing images (next-previous buttons) on android in full screen not working"
When I connect oneplus droid with cable and navigate to pictures, I want to open a picture and push next button but this doesn't work. I'm not sure if the problem lies with GlassView because I also don't see thumbnails of pictures in Windows explorer.

[2021-05-18 08:30] #1070 closed, assigned to nobody

[2021-05-18 12:52] ThomasLeigh commented on #933
Or maybe You could make it following Windows 7 theme?

[2021-05-18 12:56] sanmaodo opened #1071 "Additional Mouse Button function customization"
Looking forward to more complete button function customization, if possible, I will immediately set the following 2 functions:
1. When the left mouse button is pressed in the window, the window can be moved.
2. When the left mouse button double-clicks in the window, the window is maximized instead of the image.

[2021-05-18 13:00] ThomasLeigh commented on #739
It could be great to have it working also for double click to zoom: I often need to zoom particular image area and it can be of a great help to zoom directly where I’ve clicked instead of being in the need to constantly looking for a desired area on a zoomed image.

[2021-05-18 14:40] panins opened #1074 "PSD layers merged after press Ctrl+s"
### System information:
 - Windows OS version: Windows 10 20H2
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Open any .psd file with multi layers.
2. Ctrl+s
3. All layers merge to 1 layer.

### Actual behavior:

Using hot key Ctrl+s , all layers  in .psd file have merged. All my work with the psd file have lost.

### Expected behavior:

Crtl+s" save file to a

[2021-05-18 18:51] DoomRater opened #1075 "Save and Save As of a pasted image from clipboard results in dialog error"
### System information:
 - Windows OS version: Windows 10 Home 20H2 (OS Build 19042.985)
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Copy image to clipboard
2. Open ImageGlass
3. Paste image
4. Attempt to save

### Actual behavior:
![image](https://user-images.githubusercontent.com/4010432/118707171-35552400-b7e8-11eb-89c1-b8a55cceb382.png)

### Expected be

[2021-05-18 19:08] Davexx opened #1076 "No .HEIC file icon"
### System information:
 - Windows OS version:  Windows 10.0.19042
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Install ImageGlass
2. Associate HEIC image files with ImageGlass
3. In a windows file browser, observe the file icon for a known  HEIC file
4. File Icon uses a default ImageGlass icon and not an icon from the "Ext-Icons" folder

### Actual behavior

[2021-05-18 19:23] fire-eggs opened #1077 "Multi-page TIFF file, orientation of pages not respected"
From Google groups.

### System information:
 - Windows OS version:
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Load attached TIF
2. Using page navigation, goto page 2.

### Actual behavior:
The 2d page is shown only as wide as the first page. The first page is rotated, so it is narrow; the second page is not, so it is wide. So the 2d page is truncated, wid

[2021-05-18 19:44] fire-eggs commented on #1075
Hooray, a new bug! Couldn't see this one because of the error shown in #1055 ...

[2021-05-19 03:01] Komprogue opened #1079 "Unhandled Exception (Save/Save as...)"
### System information:
 - Windows OS version: Windows 7 x86
 - ImageGlass version: 8.2.6.6 & 8.1.4.18

### To Reproduce
Steps to reproduce the behavior:
1. Take screenshot
2. Open ImageGlass and paste your image
3. Click "Save" / "Save as..." or press Ctrl+S
4. Get error message

### Actual behavior:

![bug](https://user-images.githubusercontent.com/84424346/118749602-83a90800-b866-11eb-96cf-24c9

[2021-05-19 03:04] d2phap commented on #1079
Duplicated of #1079

[2021-05-19 03:04] #1079 closed, assigned to d2phap

[2021-05-19 13:18] darksiders2 opened #1080 "please add animated webp support."
current version cant play animated webp
any chance for this feature.

[2021-05-19 13:23] d2phap commented on #1080
Thanks @darksiders2 ,
It's duplicated of #508

[2021-05-19 13:23] #1080 closed, assigned to nobody

[2021-05-19 20:10] gingerkid427 opened #1081 "Bug with cropping images in albums"
### System information:
 - Windows OS version: Win10 x64 20H2
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Open an image in an album
2. Open the cropping tool
3. Select an area, dragging the mouse to either side of the window until the previous/next image arrow appears
4. Release the mouse

### Actual behavior:

ImageGlass moves to the previous/next image

#

[2021-05-20 14:35] fire-eggs opened #1084 "Ability to add title-bar "applet" buttons"
From Discord, re: F11 as full-screen mode shortcut:

ijahangard — Today at 2:08 AM
Yeah ! Good idea
I also like to see its button on title bar as an applet button

Request is to be able to add action buttons to the title bar [not toolbar].

[2021-05-20 23:00] mirh commented on #518
Maybe fixed, or at least improved by now?

[2021-05-21 08:34] d2phap commented on #1076
@Davexx
I don't have original design for those icons, so need somebody to contribute :)

[2021-05-21 08:38] d2phap commented on #1076
Maybe @AnotherDimension-Ex (#492) and @KyoGrou (#217) can help to update the icons pack?

[2021-05-21 08:48] d2phap commented on #1084
Adding buttons on title bar adds more complexity into the app as it's hard and complex to customize the WinForms UI. The new ImageGlass uses WinUI 3 and Webview2 will have more customization.

[2021-05-21 08:48] #1084 closed, assigned to nobody

[2021-05-21 09:05] d2phap commented on #1069
Thanks @progonkpa
IG focuses on viewing functions, so I don't want to develop lots of editing features.
Instead, you can right-click > Edit  image..., it will open the third-party app for editing. You just need to save, IG will update the changes.

[2021-05-21 09:05] #1069 closed, assigned to nobody

[2021-05-21 10:06] thang-nhatrangart opened #1085 "Set as default photo viewer... setting get error alert"
### System information:
 - Windows OS version: 10
 - ImageGlass version: lastest

### To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

### Actual behavior:

### Expected behavior:

### Screenshots:

![image](https://user-images.githubusercontent.com/64763913/119120769-df39e800-ba56-11eb-88da-a516ebf156e9.png)

### Additional context:

[2021-05-21 12:50] dhana-exe opened #1086 "Maybe usefull setting/feature"
Umm you know... i searching and found your amazing "imageglass" while i have problem with windows photo viewer...
one feature that i love most from that is when someone send me the picture/image and that picture is "not right" i mean... they send to me on rotated version... so i had to rotate 90° to left or right to see the image as i should...

and the good things when i do rotate the image, any

[2021-05-21 12:53] d2phap commented on #1086
You can find these settings in Settings > Edit:
Save image after modification
Image quality

[2021-05-21 13:02] dhana-exe commented on #1086
ah amazing
:D thanks alot
i will tell everyone to use this now

even gif can be played faster on here
amazing software man :D

[2021-05-21 13:03] dhana-exe commented on #1086
eh wait... after i rotate and they autosaved
the image damaged
![image](https://user-images.githubusercontent.com/29838157/119141515-8dea2280-ba6f-11eb-9b11-3ae9f444bd0e.png)

[2021-05-21 15:31] Davexx commented on #1076
I would be more than happy to add icons to any icons set needing the HEIC icon.  If you have source files for the sets in need, that would allow me to create them quickly and accurately.  If you don't, I could create them from scratch.  Let me know which ones need the update.

I noticed that the "**Resolute Bay Icon Set**" and "**AnotherDimension-Ex Icon Set**" already contains a HEIC.ico file, so

[2021-05-21 16:57] fire-eggs opened #1087 "Current ImageGlass resource leaks"
I ran [Coverity Scan](https://scan.coverity.com/) against a fork of ImageGlass as of early May. Setting aside some false positives, the scan correctly identified a number of resource leaks.

Unfortunately, the reporting capabilities for the free version are limited, I've attempted to distill them down here:

| File | Method | Issue |
| --- | --- | --- |
| ImageInfo.cs | GetWxHSize | var ico=new Ic

[2021-05-21 17:04] kekkc commented on #518
No difference for me in ImageGlass_8.2.6.6_x64 (arrow navigation works, but mouse navigation skips images)

[2021-05-22 13:27] KyoGrou commented on #1076
@d2phap this is my updated icons pack with the new .HEIC extension
[ImageGlass Icons.zip](https://github.com/d2phap/ImageGlass/files/6526481/ImageGlass.Icons.zip)

[2021-05-22 13:35] KyoGrou commented on #1076
@d2phap Also the icons colors has been changed since the last time I made the pack so maybe we can update the preview image on the website, yes ?

[2021-05-22 13:39] d2phap commented on #1076
As you wish!
Pls note that IG icon is theme-aware, which means, the icon is changable through theme pack.

The main IG icon is still blue

[2021-05-24 16:13] Mine-Modder opened #1088 "Zoom optimisation: Auto (High quality/Nearest-neighbour)"
### Is your feature request related to a problem? Please describe.
I like using Auto mode as it makes pixel art look pixelated while zoomed in, without losing detail when zoomed out. However, the _Low quality_ part of the current auto mode _Auto (Loq quality/Nearest-neighbour)_

_Low quality_ at 60% zoom looks better than _Nearest-neighbour_, but it doesn't look that great, which would be expected

[2021-05-25 08:02] MasoudRahmani commented on #1009
+1, i would ship this feature for the app too.

[2021-05-25 16:27] gontz opened #1089 "onion skin"
Sometimes I have to model 3d a person and I would love to be able to put the photo over my 3d sculpture.

An onion skin like function with always on top option would be really great.

[2021-05-26 00:01] Shidouuu opened #1090 "JXL files do not show up in thumbnails in file explorer"
![image](https://user-images.githubusercontent.com/36283656/119583174-00bb0c80-bd94-11eb-8456-1f4909c2b547.png)

ImageGlass 8.2.6.6

[2021-05-26 01:42] fire-eggs commented on #1090
ImageGlass is not responsible for Windows Explorer preview.

[This](https://github.com/saschanaz/jxl-winthumb) seems to be the best option right now.

[2021-05-26 01:42] #1090 closed, assigned to d2phap

[2021-05-26 11:50] trickshooter opened #1091 "Multipage features disabled when TIFF comes with well-established .FAX extension"
### System information:
 - Windows OS version: Win10 20H2 64bit
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Open a multipage Tiff CCITT Fax Group 4 file in ImageGlass - file has extension *.fax (!)
2. Result: None of the features for multipage handling are available, neither keyboard shortcuts nor any of the menu functions
3. Rename the very same file to ex

[2021-05-26 20:45] mmuffins commented on #822
I agree, auto-fitting the window to the image size makes prevents having to constantly manually adjust the window size when zooming in and out a lot. For reference, see the following video:

https://user-images.githubusercontent.com/16214627/119728974-654d9880-be74-11eb-9fdf-36e15700ef08.mp4

The application used in the video is [jpegview](https://sourceforge.net/projects/jpegview/).

[2021-05-29 04:43] d2phap commented on #1091
ImageGlass uses file extension to for viewing feature, I will add FAX to the next release

[2021-05-29 23:31] trickshooter commented on #1091
Great to hear that - I really can't wait to see it running!

But wait, there is possibly more to it ..... because it is **equally vital** for me to be able to PRINT this very *.fax file as well!

As I could see from your printing dialogue, you are using the Windows built-in specialized "photo printing" functions rather than a windows standard printing dialog or some self-written type of dialog.

T

[2021-05-30 15:31] soldivelot opened #1092 "configre upscale and downscale algorithm separately"
I want to zoom out image using bicubic algorithm and zoom in using nearest neighbor algorithm, but there is no such option
Is it possible to set the sampling algorithm separately instead of choosing some presets like “Auto (Low Q / NN)”?
This can provide more flexibility:smile:

[2021-06-01 06:58] MadDogDean opened #1093 "Add right click context menu in Windows File Explorer"
Just upgraded to a Win 10 laptop from Win 7, and there are lots of "Redmond supplied, built-in frustrations" that come with it. Have used IG for a few years, and happy to bring it for the ride.

I am looking to have the ability to add a right-click context "View in IG" command in Windows File Explorer.

Normally, image files like .png, .psd, I double click to open in my Photoshop for editing, but

[2021-06-01 07:32] MadDogDean commented on #1093
OK, don't know why it didn't work earlier, but now the Registry entry works.
I do think this still would be something good to add to the Options menu in IG to give users this option. Maybe increase user base...

[2021-06-01 18:33] fire-eggs commented on #1093
Duplicate of #1067

[2021-06-01 18:33] #1093 closed, assigned to nobody

[2021-06-02 12:39] trickshooter commented on #802
Urgently needed here, too!

Wish list:
Configurable PageUpDown = PrevNext**Page**
Desired entry for "igconfig.xml" reading as follows:

(...)
\<Item key="KeyComboActions" value="LeftRight:PanLeftRight;**PageUpDown:PrevNextPage**;SpaceBack:PauseSlideshow;UpDown:PanUpDown;" />
(...)

[2021-06-02 12:43] trickshooter commented on #992
Urgently needed here, too!

Wish list:
Configurable PageUpDown = PrevNext**Page(!)**
Desired entry for "igconfig.xml" should read as follows:

(...)
\<Item key="KeyComboActions" value="LeftRight:PanLeftRight;**PageUpDown:PrevNextPage**;SpaceBack:PauseSlideshow;UpDown:PanUpDown;" />
(...)

[2021-06-02 12:57] xmha97 commented on #992
@d2phap Please add this feature as soon as possible as I need it to view my TIFF documents:
`PageUpDown` : `PrevNextPage`
Thanks.

[2021-06-02 14:42] trickshooter opened #1094 "After rotating a multipage TIF file, all page navigation features stop working"
### System information:
 - Windows OS version: Windows 10, 64 bit, 21H1
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Open any multipage TIF file
2. Rotate left or right (once or multiple times) or even rotate back into its original position
3. All menu options and the tool window for page navigation are there, are enabled, are active, are clickable, but with

[2021-06-08 12:18] mirh commented on #1011
This seems a duplicate of #795
If you are doing computer vision stuff though, I wouldn't really use such "normal" tools.

[2021-06-08 12:28] mirh commented on #979
~~Toolbar resizing seems to have been fixed somewhere by 8.2.6.6.~~ Nevermind, when you are in fullscreen it still happens.

[2021-06-08 12:30] mirh commented on #795
I kinda think this is part of a bigger problem with position resetting #979

Maybe there should just be a setting "what default position do you want in images".

[2021-06-08 13:39] fire-eggs commented on #1011
Great! Thanks!

[2021-06-08 13:39] #1011 closed, assigned to nobody

[2021-06-14 14:15] dw-0 opened #1096 "Image gets corrupted after rotating"
### System information:
 - Windows OS version: Win 10 Pro x64
 - ImageGlass version: 8.1.4.18 x64 Portable

### To Reproduce
Steps to reproduce the behavior:
1. Open Image with ImageGlass
2. Rotate the image either left or right
3. Close the window and make ImageGlass save the new orientation
4. File is now corrupted

### Actual behavior:
The bug seems to appear irregular and without any pattern.

[2021-06-14 14:24] dw-0 commented on #1096
*facepalm*... i should have read the release notes of the 8.2.5.16 release first before creating this issue.
It literally states that this bug was fixed.

Sorry for the noise, i'll close this issue.

[2021-06-14 14:24] #1096 closed, assigned to d2phap

[2021-06-14 14:50] dw-0 opened #1097 "Image (still) gets corrupted after rotating"
### System information:
 - Windows OS version: Win 10 Pro x64
 - ImageGlass version: 8.2.6.6 x64 Portable

### To Reproduce
Steps to reproduce the behavior:
1. Open Image with ImageGlass
2. Enable "Save the viewing image after rotating" in the Edit-Settings
2. Rotate the image either left or right
3. Close the window and make ImageGlass save the new orientation
4. File is now corrupted

### Actual

[2021-06-14 15:34] xmha97 opened #1098 "Support animated SVG"
Hi, Please support animated SVG.
Like this: [loader.zip](https://github.com/d2phap/ImageGlass/files/6649552/loader.zip)

[2021-06-17 11:15] xmha97 opened #1099 "Fix selected toolbar buttons on Windows 11"
Hi, I use Windows 11.
Selected toolbar buttons is bad look:
![image](https://user-images.githubusercontent.com/23485114/122386149-d4557300-cf82-11eb-84ec-9c373401f60c.png)
Please fix it.

[2021-06-17 17:21] SilverKnight-Z opened #1100 "Some invisible icons with the Icon8 Office16 (Dark) theme."
### System information:
 - Windows OS version: Windows 7 Starter SP1 32-bit
 - ImageGlass version:  8.0.12.8_x86 (portable)

### To Reproduce
Steps to reproduce the behavior:
1. Open ImageGlass
2. Right Click and go to Settings
3. Go to Theme
4. Install Icon8 Office16 (Dark)
5. Customize the toolbar to your liking

### Actual behavior:
Some icons in the toolbar are invisible while the Icon8 Office

[2021-06-17 17:31] SilverKnight-Z opened #1101 "Ascending and descending loading options in the right-click menu"
### Is your feature request related to a problem? Please describe.
It's annoying to have to go to the settings every time I want to change the loading order of the images between ascending and descending.

### Describe the solution you'd like
I would love it if the ascending and descending loading options were also in the menu that appears when you right click on an image. And that they appear jus

[2021-06-23 14:59] TechnicJelle opened #1102 "Krita (.kra) file support"
The drawing program Krita's default file format is .kra, and I was wondering if it was possible to add the possibility to view those in ImageGlass. PhotoShop's PSD is supported, so I thought it'd make sense if Krita was supported too

[2021-06-23 16:36] d2phap commented on #1102
ImageGlass uses Magick.Net to load image, if this library supports this file type, you can add it in Settings > File type associations, click on Add, key in `.kra`

[2021-06-23 18:11] TechnicJelle commented on #1102
I just checked online and .kra is not (yet) supported by ImageMagick..

[2021-06-25 13:00] fire-eggs commented on #705
Microsoft is dropping Timeline for Windows 11. Recommend closing this as "Won't fix".

[2021-06-25 13:02] fire-eggs commented on #1099
Technical details for future reference.

I've confirmed this. ImageGlass currently does not have control over the toolbar button highlight colors. Attempts to change Registry settings [which worked in the past] had no effect. Appears to be controlled by the theme, which is effectively impossible to edit.

[2021-06-26 20:56] attikov opened #1103 "delete removes images without asking"
It became rather a review.

This sf removes images on pressing DEL without any confirmation, if recycle bin is off possible unwanted data loss.
Very-very bad design pattern.

Touch gesture support is pathetic.

Uninstalled.

[2021-06-27 05:26] d2phap commented on #1103
You can change the setting in Settings > General > Others

You can use MS Photos for better touch support.
Thanks!

[2021-06-27 05:26] #1103 closed, assigned to d2phap

[2021-06-28 10:04] xmha97 commented on #1099
I know this is difficult but I recommend switching to WPF.

[2021-07-02 07:37] xkonglong opened #1106 "HEIC display wrong"
### System information:
 - Windows OS version:  win10 1809
 - ImageGlass version:    8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.
![image](https://user-images.githubusercontent.com/9131496/124238623-65b01200-db4b-11eb-99bb-eb89720694ec.png)

### Actual behavior:

### Expected behavior:

### Screenshots:

### Additional context:

[2021-07-02 07:59] #705 closed

[2021-07-02 16:32] fire-eggs commented on #1106
Could you provide one of the images that displays incorrectly?

[2021-07-02 16:38] fire-eggs opened #1107 "Rapid Next / Delete actions freeze/kill IG"
From Google Groups:

After a while Imageglass pauses and then stops - Not Responding. Clicking the mouse makes the screen go white cloudy and the program crashes.

I have reproduced the problem.

### System information:
 - Windows OS version: Windows 10 Pro x64
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Open a folder in Imageglass containing images
2. Proc

[2021-07-02 16:45] fire-eggs commented on #1107
Running the scenario inside the debugger, I've narrowed down the problem slightly. When IG gets into the "won't show more images" state, it turns out that `Local.IsBusy` flag is true.

Reloading the image list "fixes" the problem because `Local.IsBusy` gets reset to false.

So the delete process appears to be messing up the `Local.IsBusy` state.

[2021-07-02 21:21] iJahangard commented on #1098
Also ,TGS and Lottie files

[2021-07-02 21:27] iJahangard opened #1108 "Support for Android vector drawable"
I have some android vector drawable xml files
It is hard to see them , Everytime i want to see them , I have to go online and upload and see or convert to svg

It can help me develope android apps and substratum themes or mod app's design

If it is possible, please add support for these xml files

[2021-07-02 22:22] MilkManEX opened #1109 "CMYK PSD files not generating thumbnails"
Windows 11 (and previously on Windows 10)

Steps to reproduce the behavior:
1. Save a PSD file with image>mode set to CMYK

Results in the generic IG thumbnail.

Example:
The RGB images are the ones with thumbnails. Otis-copy is a duplicate of otis saved as RGB instead of CMYK.
![image](https://user-images.githubusercontent.com/16171167/124333496-5ee0c980-db62-11eb-8bfc-f9cb450f79c5.png)

[2021-07-02 23:20] fire-eggs commented on #1109
ImageGlass does not provide the thumbnails in Windows Explorer. If thumbnails for PSD files in CMYK don't work, contact Microsoft.

[2021-07-02 23:20] #1109 closed, assigned to d2phap

[2021-07-03 01:29] d2phap commented on #1109
You may wanna try this https://sourceforge.net/projects/sagethumbs/ for shell extension

[2021-07-03 03:46] xkonglong commented on #1106
https://1drv.ms/u/s!AthRRU4MyrUagowQMmq-C8qVDAlpHw?e=kgwoGX

[2021-07-03 19:01] fire-eggs commented on #1106
I've attempted to test this image with:
1. MS Windows 10 Photos
2. Google Photos
3. [HEIC to JPG online converter](https://heic.imobie.com/heic-to-jpg/)
4. [HEICtoJPEG](https://heictojpg.com/)

All these have failed to load or display the image.

Testing with [this](https://speedtesting.herokuapp.com/heicviewer/), the result looks like:

![image](https://user-images.githubusercontent.com/9809727/1

[2021-07-04 09:28] xkonglong commented on #1106
Install  CopyTrans HEIC for Window ,  This image can display.

https://www.copytrans.net/copytransheic/

[2021-07-04 16:32] fire-eggs commented on #1106
Good to know, thanks!

[2021-07-05 10:55] BunyaminBozdagli opened #1110 "remember setted locked zoom position(not only centered or lef top) and modification date of photo all time in title bar"
It will be more useful if the following features are added to this application:

1)remember zoom, rotation, flip, position  for  each photo (while app is open only)    (for comparing two images easily)

2)sometimes the creation date of the pictures, sometimes the modification date appears in the title. Only the modification date should appear.

[2021-07-08 02:13] xkonglong commented on #1106
ImageMagick is can display need not "CopyTrans HEIC".

![屏幕截图 2021-07-08 100718](https://user-images.githubusercontent.com/9131496/124851394-0df32a00-dfd5-11eb-96e2-476ad852d143.png)

[2021-07-08 15:26] Wynadorn opened #1111 "ImageGlass / Greenshot (in)compatability"
### System information:
 - Windows OS version: 20H2 (19042.985)
 - ImageGlass version: 8.2.6.6 (64 bit)
 - Greenshot version: 1.2.10 Build 6 (64 bit)

### To Reproduce
Steps to reproduce the behavior:
1. In Greenshot head to Configure External Commands in de tray icon's context menu.
2. Create a new entry for ImageGlass
         `Name: ImageGlass`
         `Command: C:\Program Files\ImageGlass\Ima

[2021-07-08 18:07] fire-eggs commented on #1111
The way that GreenShot activates external programs appears to be incompatible with ImageGlass. If executed normally, ImageGlass runs fine accepting an image on the command line.

I found that after sending a screenshot to ImageGlass, then exiting Greenshot, ImageGlass would then appear (but without the screen cap).

I have two possible solutions.
1. If ImageGlass is configured as the "default imag

[2021-07-08 19:32] Wynadorn commented on #1111
Thanks, both very useful workarounds.

I'll close the issue as I'm sure others who'd run into this can live with these solutions.

_edit:_

[2021-07-08 19:32] #1111 closed, assigned to d2phap

[2021-07-08 19:55] SaskiFX opened #1112 "Default Theme Replacement"
### Is your feature request related to a problem? Please describe.
I'm deploying ImageGlass from SCCM, and I'd like to be able to override the default theme from within the .xml default file. It doesn't seem to work that way now.

### Describe the solution you'd like
I'm copying the theme over to the Program Files\ImageGlass\Themes directory as part of the install, so it should be waiting there.

[2021-07-09 00:43] d2phap commented on #1112
The other option is to override `Themes\Kobe` folder.
I will check why it does not work.

Thanks

[2021-07-14 14:06] iDm1 opened #1113 "ImageGlass doesn't see all pages of a multipage tiff"
### System information:
 - Windows OS version: Windows 10
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Open a multipage tiff file.
2. Enable page selection overlay with P key if it's not enabled.
3. ImageGlass shows only 1/1.

### Actual behavior:
ImageGlass shows only the first page.

### Expected behavior:
ImageGlass should be able to switch between the pa

[2021-07-14 19:44] fire-eggs commented on #1113
Thanks for the report. Confirmed.

I'm editing the title as IG _does_ support multi-page tiffs (see issues #1077 and #1094) but for some reason fails to handle this TIFF file.

Can you tell us which program was used to produce this file?

XnView and IrfanView both see both pages.

ImageMagick 7.0.11-2 is able to see both pages, but does produce warnings:
[code]

[2021-07-15 07:52] iDm1 commented on #1113
Looks like this happens with all TIFF's created with NAPS2 https://www.naps2.com/ in multipage mode.
But other software, including even old Windows Photo Viewer, handles them correctly.

[2021-07-15 08:02] iDm1 commented on #1113
This may be just some additional metadata, which ImageMagick doesn't support. Maybe OCR data.

[2021-07-15 15:04] xmha97 opened #1114 "Suggest a file name in the Rename window"
Add below feature:
- Suggest a file name in the Rename window
![Untitled](https://user-images.githubusercontent.com/23485114/125810867-bdb138fd-0733-4679-a51c-053027055494.png)

[2021-07-17 00:03] thegamerx1 commented on #623
cleaning my issues

[2021-07-17 02:02] fire-eggs commented on #623
Two others have indicated approval of this issue, so it is still valid.

[2021-07-17 04:09] gitflo commented on #754
Still present in ImageGlass version June 8.2.6.6

[2021-07-17 04:34] gitflo commented on #1059
I came across this issue after rotating some photos using ImageGlass June 8.2.6.6 and not seeing the rotation in Windows Explorer's directory listing, even after pressing F5 multiple times.

Then I also came across #754 and found that one to describe my environment's behaviour precisely. I've cross-checked these ways:
* Disabling the option mentioned there, which makes Windows Explorer update its

[2021-07-17 15:55] sculpordwarfsuntea opened #1115 "No zero connection at first start"
### System information:
 - Windows OS version: Windows 11
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Install ImageGlass_8.2.6.6_x64.msi
2. Start ImageGlass for the first time
3. Check the network activity for ImageGlass only
4. ImageGlass connects to online server on first startup without asking the user
5. For privacy reasons software should be designed t

[2021-07-19 10:15] d2phap commented on #1115
Hi @sculpordwarfsuntea

ImageGlass only uses network connection to check for update.
You can disable by default using a config file: https://imageglass.org/docs/app-configs.

I understand that you care about the privacy, but this is a basic feature of a software and it does not harm any thing.
So I don't want to add many options which can make ImageGlass bloated.

Thanks!

[2021-07-19 10:15] #1115 closed, assigned to d2phap

[2021-07-21 01:47] dingshi commented on #995
I'm experiencing similar problem. ~2 seconds for the app to load, another 3 seconds for the image to load, Most annoyingly the loading message at the center of the screen stays on for about 10 seconds after the image is rendered. Noticed CPU keeps up in the high during the entire 12 seconds. Most my files are local on SSD, and around 8-10 MB in size., Installed the Moon version. Same issue., Windo

[2021-07-22 00:13] keeganrowe opened #1116 "Save dialog should have current photo's directory"
### System information:
 - Windows OS version: Windows 8.1
 - ImageGlass version:  7.6.4.30 Portable

### To Reproduce
Steps to reproduce the behavior:
1. Open a photo from a directory e.g. C:\A\
2. Press Ctrl + S to save it
3. Note the directory in which the application will save the photo e..g C:\B\

### Actual behavior:
The folder in which the photo will be saved is generally the last one used

[2021-07-22 15:00] trickshooter commented on #1113
Hint: Rename the above attached "test.tiff" to "test.tif" '(only one f in the extension) and the functionality is restored as desired.

Solution: ImageGlass needs to handle files with *.tif, *.tiff, *.fax, *.jfx extensions in the same way / similarly as they can potentially all contain multipage TIFF files (e.g. among others "CCITT Fax Group 4 compressed")!

[2021-07-23 21:48] af-a1997 opened #1117 "EXIF info in pictures is often lost after editing from ImageGlass"
Hello, I'm not sure if this has been reported before and it's my first time reporting a program issue/bug, please let me know if I'm missing anything and/or if more info is needed, I tried following the template I was given here.

### System information:
 - **Windows OS version:** Windows 10 Education 19043
 - **ImageGlass version:** 8.2.6.6

### To Reproduce
1. Open any picture with EXIF info in

[2021-07-28 20:12] tayflo commented on #396
Hi there. I had never encountered animated `.png` before, but recently came across this format as Discord implemented stickers, supporting only `.png` and `.apng` files.
Since ImageGlass is the ultimate pictures viewer for Windows in my eyes, it would be cool if APNG were also supported.

I also noticed that an APNG file can end with both `.png` or `.apng` extension. Cheers!

[2021-07-29 17:11] PowershellScripter opened #1118 "TopBar Color / Menu background Color are the same"
### System information:
 - Windows OS version:
 - ImageGlass version:

### To Reproduce
Steps to reproduce the behavior:
1.  Changed Topbar color to black
2.  Went into Settings > Toolbar
3.
4.

### Actual behavior:
Turned Menu Background Black

### Expected behavior:
Only topbar color should change

### Screenshots:
![image](https://user-images.githubusercontent.com/71091773/127535374-c0cc510e-5f

[2021-07-29 17:50] fire-eggs commented on #1118
You've made the assumption that "topbarcolor" in the theme refers to the _title_ bar. In fact, it refers to the _toolbar_.

Nothing has changed since you submitted issue #929: changing the title bar color is not supported.

[2021-07-29 17:50] #1118 closed, assigned to d2phap

[2021-07-30 02:44] d2phap commented on #1118
Toolbar, Viewer and Thumbnail bar background colors are defined in theme pack.
You can manually edit the theme

[2021-07-30 14:30] PowershellScripter commented on #1118
I was not talking about the titlebar, I was in fact talking about the toolbar. I changed it to black and it changed the ribbon menu background color in the settings menu as well.

Yes, I know I can edit the theme, ive been using ImageGlass for quite some time now. My concern is that you set the ribbon menu (the part in the settings that allows you to add or remove items from the toolbar) color to

[2021-07-30 23:05] worldsdream opened #1119 "Zoom dropdown in toolbar"
Thank you for creating such a modern app to view our photos.

I always used another photo app, till I discovered ImageGlass.

There is a feature that I do miss. It’s a zoom dropdown in the toolbar which let me adjust the zoom.

For example:
100%
90%
80%
70%

Thanks.

[2021-08-01 21:50] PxCommoner opened #1120 "Rotate Image -> Save Image As.. Produces corrupt, unreadable image"
### System information:
 - Windows OS version:
 Edition	Windows 10 Pro
Version	21H1
Installed on	‎07/‎31/‎2021
OS build	19043.1110
Experience	Windows Feature Experience Pack 120.2212.3530.0

 - ImageGlass version:
8.2.6.6 (Portable)

### To Reproduce
Steps to reproduce the behavior:
1. Open image
2. Rotate Image
3. Save Image As..
4.

### Actual behavior:

Saved Image is unreadable

### Expected b

[2021-08-01 23:35] fire-eggs commented on #1120
Not reproducible when opening a JPEG, rotating, and saving as JPG, PNG, or TIFF.

Please specify the image format you loaded and the image format you saved to.

[2021-08-02 03:46] d2phap commented on #1116
The save / open dialog currently remembers  the last open directory.

[2021-08-02 05:23] #1116 closed, assigned to d2phap

[2021-08-02 05:47] PxCommoner commented on #1120
https://youtu.be/6eR54dWZOjU
![SCAN0007](https://user-images.githubusercontent.com/26192313/127810158-f6120255-927b-491c-b7a0-0c30b9dff63e.JPG)
![SCAN0008](https://user-images.githubusercontent.com/26192313/127810159-07c1e916-43c6-471f-ab08-c9cf6b3e7011.JPG)

The issue may be file specific - I scanned these files from my printer. Downloading and saving them should hopefully be identical to the one

[2021-08-02 16:29] fire-eggs commented on #1120
Wow! Thanks for the video - that was what finally let me repro the bug!

This is _really_ stupid, but the problem happens because the file extension on your "original" files is "JPG", not "jpg"!

That is, if I change your file extensions to "jpg", no problem. For some reason the uppercase vs lowercase makes a difference! Mixed case (e.g. ".jPg") also fails!!

So it's definitely a bug but there's a

[2021-08-02 17:39] fire-eggs commented on #1097
I'm pretty sure, just looking at the GIF and the archive attached to #1096, the problem is due to IG shutting down during the save process. I.e. the same problem as issue #566.

Sometimes your save will succeed, depending on who "wins": app shutdown or save-file.

Ideally, IG should stay running (but invisible) until async tasks like file save finish.

[2021-08-04 22:22] BugFixesAndPerformanceImprovements commented on #794
I don't believe Windows Defender has anything to do with it.

I'm using a version of Windows 10 without Windows Defender and devoid of all Windows 10 bloat on a M.2 NVMe SSD and ImageGlass still takes marginally longer to open an image than for instance, [JPEGView](https://sourceforge.net/projects/jpegview), which is quite literally instant.

Give it a try and you'll see what I mean.

[2021-08-07 14:07] d2phap commented on #1113
Add multipages support for TIFF, FAX.
You can try the latest build: https://imageglass.org/moon

[2021-08-07 14:08] d2phap commented on #1091
Add multipages support for TIFF, FAX.
You can try the latest build: https://imageglass.org/moon

[2021-08-07 14:09] d2phap commented on #218
Implemented this in the latest build of IG Moon: https://imageglass.org/moon

[2021-08-07 14:09] d2phap commented on #1099
You can try the new build of IG Moon for Windows 11 UI updates.
https://imageglass.org/moon

[2021-08-07 16:01] xmha97 commented on #1099
Thanks.
![image](https://user-images.githubusercontent.com/23485114/128606244-c3664a3d-2aba-4254-b6d8-d917f5167fa0.png)

[2021-08-07 16:01] #1099 closed, assigned to d2phap

[2021-08-07 17:34] #218 closed

[2021-08-08 19:06] RoyiAvital commented on #82
Is the ZIP in current releases a portable version of the program?

[2021-08-08 21:07] fire-eggs commented on #82
Yes, the ZIP files in the releases is the portable version.

Alternatively you can use the [website](https://imageglass.org/release/imageglass-8-2-6-6-june-32).

[2021-08-09 04:43] d2phap commented on #874
Upgraded Magick.NET to v8.2.0 to fix this issue.
https://github.com/dlemstra/Magick.NET/issues/946

Download the latest build of IG Moon: https://imageglass.org/moon

[2021-08-09 09:53] trickshooter commented on #1091
This refers to ImageGlass_Moon_8.2.8.9_x64

OK, multipage support for extension *.tif, *.fax and *.tiff now works flawlessly as desired regarding the pure **viewing** functionality (only). Thank you so much for implementing these additional file extensions! BUT (unfortunately)....

(for all the below cases we're always talking about a binarily identical TiffG4 file that simply gets renamed to diff

[2021-08-09 10:05] trickshooter commented on #1113
This refers to ImageGlass_Moon_8.2.8.9_x64

OK, multipage support for extension *.tif, *.fax and *.tiff now works flawlessly as desired regarding the pure **_viewing_** functionality (only). Thank you so much for implementing these additional file extensions! BUT (unfortunately)....

(for all the below cases we're always talking about a binarily identical TiffG4 file that simply gets renamed to di

[2021-08-10 09:00] trickshooter commented on #1031
This refers to ImageGlass_Moon_8.2.8.9_x64

As I already lined out here ([my post on issue #1091](https://github.com/d2phap/ImageGlass/issues/1091#issuecomment-850913699) ), there might be a **_printing_** issue with *.fax files as well - and it is as I already feared:

In case of **_printing_** the respective multipage TiffG4 file, there is still a severe issue:
Multipage TiffG4 files with a file

[2021-08-11 08:01] lingchuanbo opened #1122 "Add: Gif Play mode add play/pause shortcut key"
Add: Gif Play mode add play/pause shortcut key
Thank you

[2021-08-11 15:00] d2phap commented on #1122
You can play/pause by pressing Ctrl+Space:
![image](https://user-images.githubusercontent.com/3154213/129053100-b2b00ee6-c2ca-422e-b18c-28f055d539d1.png)

Or view separated frame of GIF file by using Page navigation tool:
![image](https://user-images.githubusercontent.com/3154213/129053190-3a6e36c5-6fe7-4ede-82cf-e7526ac437d7.png)

[2021-08-11 15:00] #1122 closed, assigned to nobody

[2021-08-12 00:06] Dhiparizky opened #1123 "Pin "Leftover" on Taskbar"
### System information:
 - Windows OS version: Windows 10 HSL 20H2 Build 19042.1151
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Drag and Drop the Image to the Taskbar, which will "Pin" it there.
2. Unpin it from taskbar

### Actual behavior:
When an image is pinned to the taskbar, unpinning it seems to leave an invisible taskbar shortcut.

### Expected beha

[2021-08-14 20:40] xmha97 opened #1124 "Why is ImageGlass displaying some SVG images wrong?"
Why is ImageGlass displaying SVG images wrong?
![Windows 11](https://user-images.githubusercontent.com/23485114/129459491-027193d4-99b7-484f-be7c-ebef24bba5fa.png)
[Office.zip](https://github.com/d2phap/ImageGlass/files/6987171/Office.zip)

[2021-08-14 21:28] xmha97 commented on #1124
These images also do not open in Photoshop and Illustrator.
But they open well in Firefox and Inkscape.
![WIndows 11](https://user-images.githubusercontent.com/23485114/129460339-01a10d38-fa6d-4556-b16a-37e949515fdb.png)

[2021-08-14 22:15] fire-eggs commented on #1124
ImageMagick 7.1.0-4 gives me these error for "+logo_Exchange.svg":
[code]

So ImageMagick might be the problem.

[2021-08-14 22:38] fire-eggs commented on #1124
Here is a modified version of "+logo_Exchange.svg" which ImageGlass, ImageMagick, and other programs handle OK:

[logo_Excange_V2.svg.zip](https://github.com/d2phap/ImageGlass/files/6987263/logo_Excange_V2.svg.zip)

I'd be interested to know if Photoshop and Illustrator handle it OK as well.

[2021-08-14 22:58] fire-eggs commented on #1124
From [this issue](https://github.com/w3c/svgwg/issues/827) in the SVG Working group, the SVG is valid as per the spec. But "many parsers" can't handle it; Adobe Illustrator is mentioned.

[2021-08-15 12:18] mhtvsSFrpHdE commented on #794
@BugFixesAndPerformanceImprovements Windows Defender do "has anything to do with it".

The thing is there are multiple factors can have an impact. My suggest could remove antivirus side effect.
And yes, add it to whitelist do improved open speed, but still slower than other solution.

[2021-08-15 22:35] mirh commented on #794
Other solutions are also scanned by defender (which can also be disabled), this doesn't make sense.

[2021-08-17 09:22] xmha97 commented on #1124
![image](https://user-images.githubusercontent.com/23485114/129692683-30dc61a2-a7a4-45a4-bf26-22e59e80957b.png)

I opened the SVG file you sent with several apps:
| # | App Name                            | Test Result                             |
|---|-------------------------------------|-----------------------------------------|
| 1 | Microsoft Edge / Google Chrome      | The SVG file loaded w

[2021-08-17 23:29] fire-eggs commented on #1124
Thanks for the update! Looks like I left some garbage at the end of the file [editing manually]. I'll see if I can clean it up.

[2021-08-17 23:33] xmha97 commented on #1124
Thank you for your follow up. 🙏

[2021-08-18 21:16] duckimann opened #1125 "DXF Support"
Can you make the program view the DXF files too? I worked on a lot of dwg files recently and the online viewer kinda sucks.
P/s: There's a lot of DXF viewer but i don't want to install them so...

[2021-08-18 23:06] fire-eggs commented on #1124
I think this will take care of some of the errors.

[logo_Excange_V3.svg.zip](https://github.com/d2phap/ImageGlass/files/7010632/logo_Excange_V3.svg.zip)

I must be missing something - both FireFox and Edge load the "V2" file without errors - do you have some sort of diagnostics enabled?

Thanks,
Kevin

[2021-08-18 23:27] fire-eggs commented on #1124
Apparently, ImageMagick cannot be completely relied on for SVG parsing. To quote from [ImageMagic issue #898](https://github.com/ImageMagick/ImageMagick/issues/898):

I've seen similar limitations in other SVG libraries. It looks like this issue will be a limitation, unless Phap wishes to integrate another SVG rendering library ...

[2021-08-21 14:27] JFMugen opened #1126 "2 ideas about Zoom and the Toolbar"
Firstly, I am so sad that I **just** found this program. I was blinded at nights thanks to Windows Photo Viewer, tired of Photos App's sogginess, and couldn't find the simplicity on other programs while they are missing some pretty basic features. Finally... I found salvation :D

I just have one (B)ig and one (S)mall request that I think it will make the program bit better for basic user like me.

[2021-08-22 23:08] ivalith opened #1127 "Request for ImageGlass to use the order of images as displayed on Windows desktop"
### Is your feature request related to a problem? Please describe.
So while I know ImageGlass allows you to change the order images load in and can follow the Windows File Explorer order when possible, something I can't seem to get it to do is load images the way they're shown when they're on the windows desktop, something that I've only seen Windows Photo Viewer do, with even the Windows 10 Photo

[2021-08-24 21:37] JFMugen commented on #1127
I would love that as well.

[2021-08-25 02:26] d2phap commented on #1127
Currently, ImageGlass can only know the order of files if that folder is open.

[2021-08-27 14:39] sparrowt commented on #936
As a guess I expect the reason the toolbar isn't hidden by default is that new users might then struggle to get out of full-screen.

Hiding the toolbar by default in full screen would be a good default behaviour _if_ the toolbar re-appeared on mouse movement near the top of the screen, as is a common pattern in many applications.

[2021-08-28 05:47] snowbie opened #1130 "Error when attempting to copy image "Requested Clipboard operation did not succeed.""
### System information:
 - Windows 10
 - ImageGlass 8.2 to current Moon release

### To Reproduce
Steps to reproduce the behavior:
1.  Open image
2. Copy via context menu or hotkey (Ctrl+Shift+C)
If it successfully copies, do it again until error occurs.

### Actual behavior:
Upon attempting to copy an image, if it doesn't immediately copy, an error will pop up after a second or so, saying
[code]

[2021-08-28 13:47] fire-eggs commented on #1130
Some quick research indicates this error occurs because another application is using the clipboard at the same time. [The clipboard is a shared-with-everyone resource.] E.g. one post suggests using task manager to look for a process called "rdpclip" and killing it.

ImageGlass needs to do two things here:
1. Catch the exception so the crash/unhandled-exception scenario doesn't occur.
2. Retry the

[2021-08-28 15:32] snowbie commented on #1130
Thanks for the explanation. I went process by process to try and narrow down what could potentially be conflicting, and I was able to find it. Terminating "syncthing", a program used to sync directories between devices, is what was conflicting with IG. If a program regularly updates its files/generates temp files, it can break the syncing process. Like instead of foobar2000 failing to run,  its "r

[2021-08-28 15:32] #1130 closed, assigned to d2phap

[2021-08-28 21:59] SB2020-eye commented on #795
So @canwail , when you say, "If you set the isKeepZoomRatio parameter in the NextPic method/function in Source/ImageGlass/frmMain.cs to true it does exactly what you (and I) are looking for," how do I set this setting you are referencing?

[2021-08-29 08:58] d2phap commented on #1124
We won't use other library, this is just a limitation

[2021-08-29 08:59] #1124 closed, assigned to d2phap

[2021-08-31 05:29] rohitghali opened #1131 "Possible to add alpha channel to background color?"
### Describe the solution you'd like
Alpha channel in background color option. Just like picasa photo viewer

### Describe alternatives you've considered
Picasa Photo viewer

[2021-08-31 05:43] rohitghali commented on #272
Any update about gpu rendering yet? Everythign is perfect except hardware acceleration.

[2021-08-31 06:08] rohitghali commented on #497
Pinch to zoom works... Nothing else does... No two finger scroll vertically or horizontally...

[2021-08-31 10:51] AzzaAzza69 opened #1132 "Ability to make it a "viewer" only..."
Ie. disable file operations like renaming, delete, moving, etc.

[2021-09-01 21:40] LoganAC34 commented on #447
Could this option be increased from the max of 10 currently to whatever number we want? I'm constantly getting slowed down by it trying to load the next picture. Being able to increase the cache to 20 would help.

[2021-09-03 09:29] d2phap commented on #447
@HVCFOG3Y34
It will stress the CPU when increasing this value. My recommendation is from 1 to 3

[2021-09-03 16:43] LoganAC34 commented on #447
@d2phap
It doesn't seem to stress my machine too much having it at 10. The images I'm trying to load are on a network drive which I think is slowing it down. When I reach the end of the cached images, it starts slowing down and my network usage goes up. It would be nice to have the option to up the image cache mount more. Maybe add a warning saying setting it higher than a certain amount will tax

[2021-09-03 21:31] jtagcat opened #1133 "Scaling an image."
Didn't find an option, nor an issue mentioning scaling an image, and saving it.

Using different algorithms and keeping aspect ratio would be neat. [paint.net](getpaint.net) seems to have a functional scaling (resize) menu. Extra points for showing a preview for the algorithm/size.

[2021-09-05 08:38] d2phap commented on #1133
Hi, ImageGlass focuses on viewing features, you can edit the viewing image through Edit menu (using 3rd party app)

[2021-09-05 08:38] #1133 closed, assigned to nobody

[2021-09-05 08:48] #874 closed

[2021-09-05 08:49] d2phap commented on #1087
fixed

[2021-09-05 08:49] #1087 closed, assigned to d2phap

[2021-09-05 08:51] jtagcat commented on #1133
Why is cropping implemented then? [/nbr](https://tonetags.carrd.co/#masterlist)

Most image viewers I've come across have cropping and scaling. When the user reached to me¹, I was about to reach gThumb. Windows Photos also allows scaling. I can only name feh as the one that can't.

Opening a full-blown image editor for this seems overkill. Even then, the resize/scale options are hidden behind menu

[2021-09-05 09:01] d2phap commented on #1133
I understand that you want some features, but
- An image viewer to me, as its name - viewer, should not include any editing features.
- Cropping was added lately, uses "selection" function of ImageBox component, I don't have to write a lot to enable it.
- When talking about editing, I must care about quality loss, metadata, layers, EXIF data, color profile, gamma, and a ton more... I really don't

[2021-09-05 09:11] d2phap commented on #447
Thanks, ImageGlass currently limits max 10 items. If you set to 10, ImageGlass will load 21 (10 x 2 + 1) image files into RAM at the same time. It causes high CPU during startup, after that, if you navigate by Arrow keys, it only loads uncached images.
I will think about supporting up to 20

[2021-09-05 09:14] d2phap commented on #1131
Please follow #591 for future update

[2021-09-05 09:14] #1131 closed, assigned to nobody

[2021-09-06 08:56] banshee24 opened #1134 "Image corruption after editing/cropping an image"
### System information:
 - Windows OS version: Win10 Pro 20H2
 - ImageGlass version: 8.2.6.6

### Actual behavior:
after editing/cropping an image, thumbnail picture of the image is not refreshed

### Expected behavior:
new thumbnail image should be refreshed as edited image

### Screenshots:
https://pasteboard.co/Kjk2P6O.png
https://pasteboard.co/Kjk3aVJ.png

[2021-09-06 11:45] fire-eggs commented on #1134
Probable duplicate of #1059 or #754

Please let us know if the "Preserve Modify Date on Save" setting is enabled.

[2021-09-06 12:04] fire-eggs commented on #754
Some possible solutions:

https://stackoverflow.com/questions/61200815/update-image-thumbnail-from-c-sharp

[2021-09-10 11:12] d2phap commented on #1063
Hi, this is not web dropdown. This is the correct behavior of Win32 app combobox

[2021-09-10 11:12] #1063 closed, assigned to d2phap

[2021-09-10 11:38] d2phap commented on #887
Closed due to no further info provided

[2021-09-10 11:38] #887 closed

[2021-09-10 11:42] d2phap commented on #650
I think this issue does not impact much to the overall user experience. So I will close.

[2021-09-10 11:42] #650 closed

[2021-09-10 11:44] d2phap commented on #596
It's probably Magick.NET function, so I just close this bcuz support for SVG is very limited

[2021-09-10 11:44] #596 closed

[2021-09-10 11:47] d2phap commented on #904
The Refresh function is designed to reset the zooming value. To totally reload the image, use Reload (Ctrl+R)

[2021-09-10 11:47] #904 closed

[2021-09-10 11:53] d2phap commented on #1108
Hi, ImageGlass uses Magick.NET library to load image, you can to submit a request to the folks at https://github.com/dlemstra/Magick.NET

[2021-09-10 11:53] #1108 closed, assigned to nobody

[2021-09-10 11:55] d2phap commented on #1127
I dont see any apps can do this, I will close then.

[2021-09-10 11:55] #1127 closed, assigned to nobody

[2021-09-10 12:01] d2phap commented on #947
F11 is more used for Fullscreen (browser, file explorer,...) so I will stick to this.
About your request for the custom keybind, let's follow this ticket #608

[2021-09-10 12:01] #947 closed, assigned to nobody

[2021-09-10 12:06] d2phap commented on #848
Thanks @Dogway , but this feature is too advanced for the current design of ImageGlass, I will close then.

[2021-09-10 12:06] #848 closed

[2021-09-13 09:50] dante987 opened #1135 "multiple images not opening on a single instance"
Suppose there are 50 images in a folder. I want to be able to select a few (say 3) in the windows explorer and when i hit enter to open the images in ImageGlass, i only want those 3 images to open in a single ImageGlass instance so that when i click on "show next image" or use arrow keys, only those 3 images keep looping.

Right now when i hit enter after selecting say 3 images, 3 different instan

[2021-09-13 10:13] dante987 opened #1136 ""Actual Size (0)" and "Scale to fit (5)" both alternate using a same keyboard key (spacebar)"
Can we please have the zoom options "Actual Size (0)" and "Scale to fit (5)" both alternate using a same keyboard key (spacebar) ?
I use "Actual Size (0)" and "Scale to fit (5)" keys a lot, and its much convenient to have a single key for both and spacebar is the most easily accessible key.

[2021-09-13 10:16] dante987 opened #1137 "Up and Down arrow keys to rotate images"
Please add an option to use Up and Down arrow keys to rotate images.

[2021-09-13 10:28] dante987 opened #1138 "next image takes a second to open and is not immediately opened."
If i have a lot of really big images and i am navigating through them using the arrow keys (next image/previous image), the next image takes a second to open and is not immediately opened. This sometimes may make us think we have not clicked on next image.
In Windows Photo Viewer, the next really big image is immediately opened but just blurred a few milliseconds in the beginning.
Basically it is

[2021-09-13 14:23] fire-eggs commented on #1138
Duplicate of issue #682 and sort of issue #495

[2021-09-13 14:23] #1138 closed, assigned to nobody

[2021-09-15 06:56] d2phap opened #1139 "Incorrectly starting MS Paint to edit a picture from the clipboard"
From email of Steve Thackery, Nottingham, UK

### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.2

### To Reproduce
Steps to reproduce the behavior:
1. Make sure the clipboard has an image stored
2. Start ImageGlass from the Start menu
3. Ctrl+V to paste the image into ImageGlass
4. Click the 'Edit image' icon

### Actual behavior:
Microsoft Paint is started with the image

[2021-09-15 10:15] SteveThackery opened #1140 "Unhandled exception"
### System information:
 - Windows OS version: 21H1, 19043.1202
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Make sure the clipboard has an image stored
2. Start ImageGlass from the Start menu
3. Ctrl+V to paste the image into ImageGlass
4. Click the 'Save' icon

### Actual behavior:
ImageGlass reports an unhandled exception: "System.ArgumentException: The p

[2021-09-15 11:36] mmqhh opened #1141 "Can you add a auto-move feature?"
When the picture is zoomed in and my mouse is close to the edge, the picture will automatically move to the direction of the mouse, no need to hold down the left mouse button and drag. Just like another software named 123 photo viewer. Please add this feature!

[2021-09-15 14:46] DarkTownStudios opened #1142 "Color Picker (K): A hexadecimal color is created, but 2 characters too many"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Just use the Color Picker (K)
2. Krita, Gimp, Illustrator, Photoshop will not accept copied value
3.
4.

### Actual behavior:
A hexadecimal color is created, but 2 characters too many
Appears to simply have added "FF" to each hexadecimal
.
(_Optional request issue_

[2021-09-15 15:02] d2phap commented on #1142
You can change it in Settings > Tools
![image](https://user-images.githubusercontent.com/3154213/133458735-ce0eba62-5797-4811-b6cd-f2684b20e385.png)

[2021-09-15 15:02] #1142 closed, assigned to d2phap

[2021-09-15 15:04] d2phap commented on #1140
duplicated of #1075

[2021-09-15 15:04] #1140 closed, assigned to d2phap

[2021-09-15 15:22] SteveThackery commented on #1140
Sorry!  Didn't realise it was a duplicate.

[2021-10-04 02:12] Unordinal commented on #593
This would be an extremely nice feature to have - I work a lot with packed textures that store roughness and other such things in their alpha channels which requires me to have a separate image viewing program solely to be able to properly see them.

A toggle in the settings menu to disable viewing the alpha when viewing just one of the RGB channels would work great for this purpose too, albeit le

[2021-10-05 11:14] ghost opened #1143 "Request to add a theme to follow the system mode"
I hope to change the theme following the night mode of the system. Contains two themes day and night

[2021-10-06 08:58] sken130 opened #1144 "Add option to save to same folder as original image"
Most of the times, I want to change the format of an opened image, and save it to the same folder as the original image.

So, I would hope that the File menu --> Save image as...  has an option to save to the same folder as the original image.

[2021-10-07 07:16] userzzzq opened #1145 "crop image with custom ratio"
![Snipaste_2021-10-07_15-09-21](https://user-images.githubusercontent.com/69742519/136336978-cc5f2e75-901f-449c-90c8-4eb643a2b88b.jpg)

and the ratio list should be editable.

[2021-10-09 11:05] byteschain opened #1146 "frmMain Designer error is not edit"
### System information:
 - Windows OS version:
 - ImageGlass version:

### To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.
![image](https://user-images.githubusercontent.com/19890858/136655458-0d542cdb-186d-4054-89c5-05fb5d9e5dc2.png)

### Actual behavior:

### Expected behavior:

### Screenshots:

### Additional context:

[2021-10-09 13:46] bai12-9em opened #1147 "Change UI to adapt Windows11"
Will the author be willing to change the UI for windows11? @d2phap

[2021-10-09 13:52] d2phap commented on #1147
You can try ImageGlass Moon. It has the latest UI for Win11

[2021-10-09 14:41] fire-eggs commented on #1146
Please provide more information.

![image](https://user-images.githubusercontent.com/9809727/136662590-d6364fe1-7066-4ccb-a2bc-00ecbb1b8aa6.png)

[2021-10-10 09:21] bai12-9em commented on #1147
Thanks,l will try.Will this change be applied to the official version?

[2021-10-10 09:53] w1178527264 opened #1148 "If possible, wanted to add a function which can make me go to the next folder or back to last folder"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

When there are many subfolders containing pictures in one folder, it is very troublesome to close the picture and open the picture in another folder. I hope to add a function that will make me whether to go to the next folder

[2021-10-11 20:57] FluffyDiscord opened #1149 "failing to open 42k image"
### System information:
 - Windows OS version: 20h2 19042.1052
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. download [this image (.png)](https://drive.google.com/u/0/uc?export=download&confirm=nOf9&id=10h1lCzVEFoAgBOP-mF0-7q43ZCaLHIzh)
2. open
3. wait a bit
4. see System.Drawing: Parameter incorrect error (translated)

### Actual behavior:
viewer hangs and f

[2021-10-12 01:20] fire-eggs commented on #1149
This image vastly exceeds ImageGlass' maximum limits. The largest image IG can handle is about 17Kx17K, if I remember correctly ...

[2021-10-12 01:34] d2phap commented on #1149
thanks @FluffyDiscord, it's known issue and also a limitation: #272

[2021-10-12 01:34] #1149 closed, assigned to d2phap

[2021-10-12 01:58] d2phap commented on #1143
Thanks @MAT-OUT, please follow #434 for future updates

[2021-10-12 01:58] #1143 closed, assigned to nobody

[2021-10-14 14:47] bai12-9em opened #1150 "Display the file name on task bar"
When I set to open this setting   “Item key="IsUseEmptyTitleBar" value="True" “，logo and text are hidden. #915   （black frame）,this is what i hope.

But the title bar on the taskbar, the text is hidden  (red frame)，I hope it can be shown  （red  frame）
 @d2phap

![屏幕截图 2021-10-14 222529](https://user-images.githubusercontent.com/92163936/137340433-c13e7ee8-63d0-4881-93a6-9142bcc6ed80.jpg)

[2021-10-15 07:32] mishich666 commented on #1010
Hi! It would be even better to filter by an arbitrary mask (pattern)

[2021-10-17 23:57] LukeL19 opened #1152 "ImageGlass crashes .NET framework when opening multi-selected images in zipped folder"
ImageGlass version 8.2.6.6 crashes the .NET framework when multiple .jpg images (12 in my case) **in a zipped folder** are selected at once, and attempted to be opened by right-clicking and selecting Open in the Windows context menu with ImageGlass set as default. It tries to open them all, but then the following error happens, among many .NET errors:

.NET-BroadcastEventWindow.4.0.0.2bf8098.0: Im

[2021-10-18 00:26] d2phap commented on #1152
Thanks @LukeL19
Can you check and follow the steps in this link: https://answers.microsoft.com/en-us/windows/forum/all/net-broadcasteventwindow-40000298bee0ccc-exe/f99b23a9-02a6-46ac-b83c-9e51174f098c

[2021-10-18 07:32] df257 opened #1153 "I want set keyboard for 'keep window always on top'"
![image](https://user-images.githubusercontent.com/7835444/137687551-4e2902f1-c269-44df-be1d-83b98aa6ea20.png)
![image](https://user-images.githubusercontent.com/7835444/137687422-206ad430-0181-43eb-8d8d-4410c93626e8.png)

[2021-10-18 23:04] bai12-9em opened #1154 "Too much information in the title bar，simplify information"
There is too much information in the title bar. In fact, I don’t need so much information（and it’s not beautiful）,I only need the file name, zoom and number of files.Just like this(2).
@d2phap

(1)
![图片1 (2)](https://user-images.githubusercontent.com/92163936/137818155-776d23af-5218-4d65-bae8-05df7e220eba.png)
(2)
![图片1 (2) (1)](https://user-images.githubusercontent.com/92163936/137818165-c4c9652f

[2021-10-19 14:14] fire-eggs commented on #1154
Duplicate of issue #971

[2021-10-19 14:14] #1154 closed, assigned to nobody

[2021-10-21 06:58] d2phap commented on #1153
Duplicated of #970

[2021-10-21 06:58] #1153 closed, assigned to nobody

[2021-10-22 20:51] andreisilv commented on #508
Will it ever support?

[2021-10-23 03:16] d2phap commented on #508
Webp format will be supported in the new app of ImageGlass, the first preview version is coming in a month or two

[2021-10-24 07:40] banshee24 commented on #1134
Hello,

"Preserve Modify Date on Save" setting is enabled and I still have the same problem. I hope that problem will be solved at upcoming versions.

Kind regards

B. Göktürk Bindal

Pilot CPL(A), FI(A)
B.Sc. Mech. Eng.

[2021-10-24 14:34] nathanielcwm commented on #421
Yuck @skycommand, I already have 10+ instances of Google Chrome/Chromium/CEF/Electron on my system. I don't need another one.

[2021-10-24 17:06] fire-eggs commented on #1134
_Enabling_ the "Preserve Modify Date on Save" is what is causing the problem. Windows Explorer will only update the thumbnail when the modify date is _changed_.

[Modified your reply to remove your phone #]

[2021-10-24 17:26] banshee24 commented on #1134
I disabled that option now but when I edit the image and close the program it corrupts the image irreversibly. If I use 'save as' option for the edited image, new saved file kept good without any problems but original file corrupts again.

B. Göktürk Bindal

Pilot CPL(A), FI(A)
B.Sc. Mech. Eng.

Phone: +90 532 415 67 77

________________________________
From: Kevin Routley ***@***.***>
Sent: Sunda

[2021-10-25 14:38] fire-eggs commented on #1134
OK, that sounds like a nasty problem! I'll take a look. For completeness, could you tell me what file format the original image is in? (png, jpeg, etc) Thanks!

[2021-10-25 15:10] banshee24 commented on #1134
Very strange, now it works both with .JPG and .PNG . I think it started to work after rebooting my PC. Btw I found another bug about that. That bug behaves differently both on JPG and PNG; For .JPG if you close the photo quickly just after editing the photo, it corrupts the file permanently, but if you wait just a bit after editing and then close the program it does not corrupt the file. For PNG;

[2021-10-25 23:00] fire-eggs commented on #1134
Sorry for the late reply, my day went all sideways.

I've not had a chance to dig into the details, but what you describe matches what I recall. The process of saving a file is not currently coordinated with app shutdown. This means IG can shut down during the middle of saving the file, resulting in corruption or no output.

Waiting a little bit after editing the file before closing IG should work

[2021-10-26 03:49] sken130 commented on #1144
There is one more place I want to have such option.

Summary:

Menu --> File --> Save image as...
Menu --> Image --> Extract image pages...

[2021-10-26 23:07] skycommand commented on #421
@nathanielcwm That doesn't seem like something that needs my attention.

You and many other people observe that Electron uses Chromium and Chromium uses CEF, but incorrectly conclude that to use CEF, you must use Electron and Chromium too! In reality, to take advantage of CEF's SVG parser, you don't need the whole CEF. You only need one of its DLLs.

Oh, I'm sorry, am I rambling? Well, in the futu

[2021-10-27 15:34] DannyBen opened #1155 "Sub-second slideshow interval"
It would be nice to be able to set slideshow interval as sub seconds: 0.3 for instance.

[2021-10-29 07:26] LostLogic opened #1156 "Exception when trying to print image"
### System information:
 - Windows OS version: Windows Server 2016
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. Open an image
2. Select print or Ctrl+Print
3. Crash

### Actual behavior:
When trying to print an image, ImageGlass throws an exception

I suspect this is due to it calling for the Print Image dialogue instead of the regular Print. Due to the setu

[2021-11-01 13:54] mlewand commented on #608
Personally I'm also missing hotkey for "Copy Image Path" option :slightly\_smiling\_face:

[2021-11-01 14:02] d2phap commented on #1156
ImageGlass use "Print Pictures" dialog of Windows for photo printing, as I know, Windows Server does not have this feature.
I will fix the error and add a message to notify user about this

[2021-11-01 14:27] LostLogic commented on #1156
Ah, of course! It relies on the old Windows Photo Viewer to print!

After some fiddling around with the registry, this fixed the issue. Please note that you must have the Windows Photo Viewer directory and files in C:\Program Files (Not x86)
Leaving this here in case someone else run into this issue.
Copy/paste the text below into a reg file to add it to your registry:

################

[code]

[2021-11-01 14:51] d2phap commented on #1156
Awesome!

[2021-11-02 02:09] d2phap commented on #1150
@bai12-9em
It's not feasible bcuz the taskbar uses window title

[2021-11-02 02:09] #1150 closed, assigned to nobody

[2021-11-02 02:10] d2phap commented on #1146
Closed, unable to replicate

[2021-11-02 02:10] #1146 closed, assigned to d2phap

[2021-11-02 02:11] d2phap commented on #1145
Duplicated #755

[2021-11-02 02:11] #1145 closed, assigned to nobody

[2021-11-02 02:11] d2phap commented on #903
Duplicated #755

[2021-11-02 02:11] #903 closed

[2021-11-02 02:11] d2phap commented on #1057
Duplicated #755

[2021-11-02 02:11] #1057 closed, assigned to nobody

[2021-11-02 03:17] #926 closed, assigned to d2phap

[2021-11-02 03:26] d2phap commented on #780
Duplicated of #651

[2021-11-02 03:26] #780 closed

[2021-11-02 14:14] d2phap commented on #1101
Implemented in the latest build of ImageGlass Moon: https://imageglass.org/moon

Main menu and context menu
![image](https://user-images.githubusercontent.com/3154213/139864129-ca16b926-43ee-4f3c-9c29-b8e19a1ff229.png)

[2021-11-02 14:15] d2phap commented on #906
Fixed this in the latest build of ImageGlass Moon: https://imageglass.org/moon

[2021-11-02 14:15] d2phap commented on #1076
Added this to the latest build of ImageGlass Moon: https://imageglass.org/moon

[2021-11-02 14:15] #1076 closed, assigned to d2phap

[2021-11-02 14:16] d2phap commented on #1055
Fixed in the latest build of ImageGlass Moon: https://imageglass.org/moon

[2021-11-02 14:16] #1055 closed, assigned to d2phap

[2021-11-02 14:17] d2phap commented on #1075
Fixed in the latest build of ImageGlass Moon: https://imageglass.org/moon

[2021-11-02 14:18] d2phap commented on #1156
I just implemented the new way to open Print Pictures in the latest build of ImageGlass Moon: https://imageglass.org/moon
If possible, could you help to test if the error still occurs?
Thanks!

[2021-11-02 14:20] d2phap commented on #1147
This is shipped to IG Moon for testing first, then stable build

[2021-11-02 14:20] #1147 closed, assigned to nobody

[2021-11-02 14:46] d2phap commented on #608
@mlewand
"Copy image path" menu has a hotkey in the latest build of IG Moon: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/139870148-8363bdd2-353a-4e9e-8354-732c9977f14f.png)

[2021-11-02 18:32] SilverKnight-Z commented on #1101
That's awesome! Thank you so much!

[2021-11-04 03:46] #1075 closed, assigned to d2phap

[2021-11-04 03:47] #906 closed

[2021-11-04 03:47] #1101 closed, assigned to nobody

[2021-11-04 03:49] d2phap commented on #1091
@trickshooter do you have a sample file of FAX extension?

[2021-11-04 03:51] d2phap commented on #1113
@trickshooter for your issue, refer to #1091

[2021-11-04 03:51] #1113 closed, assigned to d2phap

[2021-11-04 06:40] d2phap commented on #936
You can find the options in Settings > Image > Full screen in the latest build of IG Moon now: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/140269074-80e708ee-9ddf-42cd-95c5-e48a58dac0bd.png)

[2021-11-04 06:41] d2phap commented on #551
You can find the options in Settings > Image > Full screen in the latest build of IG Moon now: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/140269074-80e708ee-9ddf-42cd-95c5-e48a58dac0bd.png)

[2021-11-04 06:41] d2phap commented on #1035
You can find the options in Settings > Image > Full screen in the latest build of IG Moon now: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/140269074-80e708ee-9ddf-42cd-95c5-e48a58dac0bd.png)

[2021-11-04 06:41] #1035 closed, assigned to nobody

[2021-11-04 06:41] #551 closed

[2021-11-04 06:41] d2phap commented on #621
You can find the options in Settings > Image > Full screen in the latest build of IG Moon now: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/140269074-80e708ee-9ddf-42cd-95c5-e48a58dac0bd.png)

[2021-11-04 06:41] #621 closed

[2021-11-04 06:42] #936 closed, assigned to nobody

[2021-11-04 06:44] d2phap commented on #970
Your request is implemented in the latest build of IG Moon: https://imageglass.org/moon
- Main menu hotkey to **Alt+F**
- Keep window always on top: **`**

[2021-11-04 06:44] #970 closed, assigned to nobody

[2021-11-04 06:44] d2phap commented on #583
Fixed in the latest build of IG Moon: https://imageglass.org/moon

[2021-11-04 06:44] #583 closed

[2021-11-04 21:33] trickshooter commented on #1091
Sure -  voilà!   -->    [test-files.zip](https://github.com/d2phap/ImageGlass/files/7478795/test-files.zip)

The test files have been created by using Word365, then printed to a TiffG4-creating batch print queue, that stems from www.pdf24.org (which is basically a locally running ghostscript wrapper application). So basically the test file is just a simple multipage TiffG4 file, created by ghostsc

[2021-11-05 23:57] what-aboot commented on #1110
I second the request for the zoom setting to remain constant when moving between images. I have set my ig.admin.xml to open at actual size (Autozoom0) for the first image. To have it then revert to Autozoom 1 for the next image is very annoying.

[2021-11-08 07:13] LostLogic commented on #1156
Removed the reg-fix and the changes you've made in Moon seems to be working great! Sorry for not checking this earlier.

To be 100% sure, I launched ImageGlass first, and got the error mentioned in the initial post. Removed ImageGlass, then installed ImageGlass Moon. Moon had no errors, and popped up with the print dialogue shown below.

![image](https://user-images.githubusercontent.com/7568950/1

[2021-11-08 12:31] d2phap commented on #1156
Thanks a lot!

[2021-11-08 12:31] #1156 closed, assigned to d2phap

[2021-11-09 12:31] gbs-kgs commented on #1112
same here,  doesn't work to overwrite with config.default.xml

[2021-11-10 10:12] nisjeyenthiran opened #1158 "Interlaced image"
### System information:
 - Windows OS version: 21H1
 - ImageGlass version: 8.2.6.6

### To Reproduce
Steps to reproduce the behavior:
1. open a .bmp file
2.
3.
4.

### Actual behavior:

### Expected behavior:

### Screenshots:

### Additional context:

[2021-11-10 20:47] fire-eggs commented on #1158
Kindly provide a sample image which illustrates the problem. A ".bmp file" includes lots of possible format options (a DIB, a mono image, a pallete image, an OS/2 image, etc, etc). I have just successfully viewed several ".bmp" files of different formats successfully.

What exactly _is_ the problem? Image displays wrong? Wrong colors? etc

[2021-11-12 04:06] zhouyc98 opened #1159 "Add Alt-F shortcut for opening menu in the top-right"
I think adding "Alt-F" shortcut to open the menu in the top-right is a good idea. Many apps use this shortcut like chrome and edge browser :)
Currently, opening the menu is linked with a hotkey "`", but it is not intuitive and not easy to be pressed compared to Alt-F.

[2021-11-12 04:08] d2phap commented on #1159
Yea, it's changed to `Alt+F` in the latest build of IG Moon: https://imageglass.org/moon, also mentioned here:
https://github.com/d2phap/ImageGlass/issues/970#issuecomment-960497453

[2021-11-12 04:08] #1159 closed, assigned to nobody

[2021-11-12 23:31] xmha97 opened #1160 "By default, the edit button can't work on Windows 11"
Hi @d2phap
By default, the edit button can't work on Windows 11!
![image](https://user-images.githubusercontent.com/23485114/141594791-565ba99c-3d8c-4009-b19c-d0d22c34c7de.png)
![image](https://user-images.githubusercontent.com/23485114/141594887-901e9ced-ca6e-4705-9a1e-e1c58cd9edf6.png)
Because there is no longer the mspaint.exe file in System32.
Solution:
The following file should be used:
"%Loc

[2021-11-13 11:20] qaz075115961 opened #1161 "Keep the window always on top and hotkey"
### The function that keep the window always on top is inconvenience
I usually will open a photo and will keep it on the top on my screen. But in this software, I have to click right mouse button and select the option. I feel there are too many steps to implement that.

### Add a button or a hotkey for the function
I think that maybe adding a button in the toolbar or a hotkey in the settings will

[2021-11-14 02:09] d2phap commented on #1161
Implemented in the latest build of IG Moon: https://imageglass.org/moon
Also requested in #970

[2021-11-14 02:09] #1161 closed, assigned to nobody

[2021-11-14 19:28] mkruer commented on #1137
This is already possible by using Ctrl + "." to rotate Right and Ctrl + "," to rotate Left.

[2021-11-14 19:28] mkruer commented on #1148
This makes a lot of sense I propose Arrow Up and Arrow Down to jump to the next Directory in the path.

[2021-11-15 15:07] capkwantum opened #1162 "Config files are missing (ImageGlass - June)"
### System information:
 - Windows OS version: Windows 10
 - ImageGlass version: June

### Actual behavior:

After the Installation of the current ImageGlass version, not all config files are created

### Expected behavior:
As described [here ](https://imageglass.org/docs/app-configs)there must be al least 2 config files.

### Screenshots:
![image](https://user-images.githubusercontent.com/6636879

[2021-11-15 15:10] capkwantum commented on #1162
ImageGlass folder under %AppData% doesn't exist at all. If I update any settings the **igconfig.xml** will be updated.
This is **not** a portable version.  Any  help would be appreciated!

[2021-11-15 15:19] d2phap commented on #1162
It's designed like that, you need to manually create the files in Start up folder.

After installed, and launched, IG creates igconfig.xml file in Config folder.

[2021-11-15 15:23] capkwantum commented on #1162
Thank you for a such quick response!

As you can see in my screenshot the only file that is created after ImageGlass is installed is **igconfig.xml**
No files are created in %AppData% folder. So everything is stored in **igconfig** (C:\Programm files\ImageGlass)

[2021-11-15 15:29] d2phap commented on #1162
If IG has the write permission to create or write file in the installed folder, it will use the installed folder as configuration folder.

You can open Settings > General > Configuration directory to see where the configuration file is saved

[2021-11-17 23:50] victorhooi opened #1163 "Allow printing photos/contact sheets on black background?"
Is there any way in ImageGlass, when printing, to print photos/contact sheets on a black background?

(I know this would be more wasteful of ink, but it's something our users really want, and existing apps they use like PicCollage do it, hence there's some user inertia at play).

Also, it is often better when reviewing contact sheets/photos on a black background.

[2021-11-18 17:06] shockergit opened #1164 "EXIF data missing"
EXIF data about lens maker , model and flash is not showing.

[2021-11-18 17:08] shockergit opened #1165 "Lossless Crop and Rotate"
Can you add an option for lossless crop and rotate function

[2021-11-18 22:17] mlewand commented on #608
Awesome, thank you! Can't wait till it makes into stable release 🤞

[2021-11-20 13:00] shockergit commented on #1164
Its working a fine after i installed the exif app

[2021-11-20 13:00] #1164 closed, assigned to d2phap

[2021-11-20 13:01] shockergit opened #1166 "Change order of EXIF data"
Add an option to move file information from top to botton in Exif tab.

[2021-11-20 15:36] fire-eggs commented on #1134
Recently posted to ImageGlass+ group:

Again, the same problem: image save is asynchronous but not coordinated. By navigating backward, the user is hitting the image during the save, causing file corruption.

[2021-11-20 18:48] shockergit commented on #1166
It would have been nice if we can change the order of the list and the EXIF tab follows the main theme of the app

[2021-11-21 13:23] d2phap commented on #1091
Thanks @trickshooter
This should be fixed in IG v8.3
https://imageglass.org/news/announcing-imageglass-kobe-8-3-73

[2021-11-21 13:23] #1091 closed, assigned to d2phap

[2021-11-21 13:24] #1162 closed, assigned to d2phap

[2021-11-21 18:29] boromyr commented on #933
+1 for this correction.

[2021-11-22 10:50] trickshooter commented on #1091
Thanks for the good work @d2phap! I have tested what you implemented and it works fine so far.

BUT ... before I was able to test the new feautures, I had to manually add *.fax extension to the list of the 77 supported file formats. Without that, it was not possible to print the file or even to "see" it when browsing (with PgUp/PgDown) through a directory (containing 4 sample files: fax, tif, tiff

[2021-11-23 09:59] herb52 opened #1169 "Malformed non-Ascii characters in Exiftool output"
### System information:
 - Windows OS version: Windows 10 - UI in German
 - ImageGlass version: 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. For a file (in my case a jpg image) that contains metadata with also e.g. chinese characters and/or also German umlaut characters, these non-Ascii characters are malformed in ExifTool output window
2. Starting Exiftool with option -lang de,

[2021-11-23 10:18] d2phap commented on #1169
Can you send me a sample file?
Or can try adding this to Settings > Tools > Exif tool > Command arguments and see if it works
[code]

![image](https://user-images.githubusercontent.com/3154213/143006845-36b050ca-7a00-4740-88b6-0ca57cee43b7.png)

[2021-11-23 14:19] alabotski opened #1170 "Relative path for Editor"
I have portable version
Can I use relative path?

Something like in Total Commander
Editor=%COMMANDER_PATH%\..\..\SPSSuite\SyMenuSuite\Notepad++_(x64)_sps\Notepad++.exe "%1"

![image](https://user-images.githubusercontent.com/439337/143040780-7c156b58-4e16-4945-8853-f693e77dbe94.png)

[2021-11-23 14:23] alabotski opened #1171 "Image information"
Can you add image information in full screen mode?

For example XnView

![image](https://user-images.githubusercontent.com/439337/143041615-741d741a-244f-482f-a87d-fb8743ee2b62.png)
![image](https://user-images.githubusercontent.com/439337/143041648-d4234f64-a8c3-4867-a34f-a5406340aad7.png)

[2021-11-24 01:53] d2phap commented on #1170
It supports relative path, haven't you tried it out?
Something like without `....`
%COMMANDER_PATH%\..\..\SPSSuite\SyMenuSuite\Notepad++_(x64)_sps\Notepad++.exe

[2021-11-24 02:57] fire-eggs commented on #1170
If I understood correctly, the request is for a builtin "macro" like "%COMMANDER_PATH% [e.g. "%IG_PATH%"] to provide the "base" path. From which the relative path is applied.  The value of "%IG_PATH%" being the folder containing the ImageGlass.exe file.

I'm not certain what the point would be, without the OP providing the use-case.

[2021-11-24 04:10] tngyeu opened #1172 "CTRL + W to close Window"
Mình hay phải mở nhiều cửa sổ IG để làm việc.
Thói quen sử dụng CTRL + W ở các trình duyệt nên việc dùng ATRL + F4 để đóng cửa sổ nhanh rất bất tiện.

Mong là bác hỗ trợ thêm trường hợp này.

[2021-11-24 05:51] tngyeu commented on #1172
Mình vừa kiểm tra lại phần hot key 1 lần nữa thì thấy là IG sử dụng ESC để quit, mình có thể thêm thói quen này. Nên việc có sửa hay không thì cũng không quá quan trọng.
Tuy nhiên mình nghĩ CTRL W là 1 phím nóng khá thông dụng nên bác có thể xem xét.
Xin cảm ơn!

[2021-11-24 19:21] alabotski commented on #1170
Sorry for english
Image Glass is located along this path
d: \ SyMenu \ ProgramFiles \ SPSSuite \ SyMenuSuite \ ImageGlass_ (x64) _sps \

PicPick is located in a different path
d: \ SyMenu \ ProgramFiles \ SPSSuite \ SyMenuSuite \ PicPick_sps \

I want PicPick to be called when editing

What's the "base" path for Image Glass?

![image](https://user-images.githubusercontent.com/439337/143300803-79a8

[2021-11-24 23:11] fire-eggs commented on #1170
Understood, thank you for the follow up!

No, there isn't a built-in path variable. You can create one in your environment variables and use that.

For example, one of the pre-defined environment variables is %SystemRoot% and I successfully used it to point to mspaint:

%SystemRoot%\Windows32\mspaint.exe

[2021-11-25 08:26] some9000 commented on #636
Just wanted to chime in that this feature would be quite nice to have. Was searching for it and found this discussion. Maybe it could just share the size/scrolling information between all active windows. That would already work great.

[2021-11-25 12:19] herb52 commented on #1169
Hello,

thanks for your quick reply and also thanks for your great tool ImageGlass.
I answered with mail to your comment. Beeing not sure whether this was the correct way I repeat the mail here:

(1) -charset exif=utf8
As my testfile contains strings with non-ascii characters (and German umlauts) both in EXIF-tags and IPTC-tags (and of course in XMP-tags) I must use the Exiftool options -charset e

[2021-11-25 16:01] d2phap commented on #1169
@herb52 you can send it to phap@imageglass.org

[2021-11-25 18:08] fire-eggs commented on #1169
One possible cause of the problem here is the command shell used to execute exiftool.

In ExifToolWrapper.cs, these lines:
[code]

Add the "/u" switch to `args` to get unicode output, as per "cmd /?":
[code]

[2021-11-25 18:18] herb52 commented on #1169
Hello,

thanks fire-eggs for your investigations. Yes, that could cause the problem.
I think it is better to start Exiftool directly, and not as "sub-command" of "cmd"

Best regards
herb52

[2021-11-25 20:09] TKperson opened #1173 "Shift drag in ImageGlass is tied to one of windows 10 keybinding"
### System information:
 - Windows OS version: windows 10 home version 10.0.19042 build 19042
 - ImageGlass version: 8.3.11.21 [Portable]

### To Reproduce
Steps to reproduce the behavior:
1. open imagelgass
2. press f10 to switch to a "headless" mode
3. shift drag to move the image around

### Actual behavior:
ImageGlass window snaps to a certain position (see screenshot below)

### Expected beha

[2021-11-25 22:20] fire-eggs opened #1174 "Unregister IG file associations, when NOT associated, produces extra, confusing errors"
### System information:

 - Windows OS version: Win10_20H2
 - ImageGlass version: 8.3.11.21 (Portable)

### To Reproduce
Steps to reproduce the behavior:
1. Fresh install of IG. In the initial dialog steps, do NOT click "Set ImageGlass as Default Photo Viewer".
2. Run IG. Goto settings, File Type Associations
3. Click "Unregister extensions"

### Actual behavior:

IG produces several error dialog

[2021-11-25 22:35] fire-eggs commented on #1173
Maybe I'm missing something, I can't reproduce the issue as described.

Running Windows 10- 19042. IG is in headless mode (F10).

Click on IG and drag [_no_ shift] works. Using shift-drag doesn't "snap".

Unless you're using it, you could turn off snap in Windows (settings, multitasking).

[2021-11-25 23:30] TKperson commented on #1173
It doesn't auto snap the sizing, it auto snaps positioning of the IG window.
I'll upload a video

https://user-images.githubusercontent.com/50115012/143507323-5b692050-c53a-4e10-90da-c736114b5ec1.mp4

After some digging, it turns out that one of my windows plugin (powertoys) was causing the problem

sorry for the inconvenience

[2021-11-25 23:30] #1173 closed, assigned to d2phap

[2021-11-26 00:04] fire-eggs commented on #1173
No problem, thank you for the update!

[2021-11-26 08:04] Unordinal opened #1175 "Trying to view a specific channel of an image results in a "Cannot access a disposed object." error."
### System information:
 - Windows OS version: Windows 10 version 20H2
 - ImageGlass version: 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. Open any image file. (Tested with '.tif' and '.png' images).
2. Use "Shift+C" or go to "Menu -> Image -> View channels"
3. Select a channel other than 'All'.

### Actual behavior:
An error pops up in place of the image with the following text

[2021-11-26 17:25] fire-eggs commented on #1175
Confirmed with jpg as well.

Thank you for the report!

[2021-11-26 18:08] fire-eggs commented on #1175
Inappropriate use of `using` added to `ApplyColorChannel` on line 262 of Photo.cs:
[code]
`channelImgM` is returned in "channel other than All" case but is disposed by the `using` resulting in the exception.

[2021-11-28 11:57] m1karii opened #1176 "Thumbnails for vector graphics files"
Title.

[2021-11-28 16:23] fire-eggs commented on #1176
Are you referring to thumbnails in Windows Explorer?

[2021-11-28 16:42] m1karii commented on #1176
yes

[2021-11-28 16:45] fire-eggs commented on #1176
ImageGlass does not provide the thumbnails in Windows Explorer. You need to investigate using Explorer extensions such as [SageThumbs](https://www.cherubicsoft.com/en/projects/sagethumbs/).

[2021-11-28 16:45] #1176 closed, assigned to nobody

[2021-11-28 16:48] m1karii commented on #1176
from what i know the default app (for any given fileformat) provides thumbnails. is this incorrect?

[2021-11-28 17:03] fire-eggs commented on #1169
I've edited the metadata for the attached image (tumblr...zip) via Win10 properties.

Win10 Properties:

![image](https://user-images.githubusercontent.com/9809727/143778133-b8063a4c-e6ea-420c-85e5-744422a10f77.png)

ImageGlass:
![image](https://user-images.githubusercontent.com/9809727/143778032-2cdad108-f7c5-4c66-8242-aaef77c97a06.png)

[tumblr_e33b8463e398907306287dce8b5f2c9e_9f9ccd16_500.zip](

[2021-11-28 17:09] fire-eggs commented on #1176
That is incorrect. Windows Explorer itself provides the thumbnails for basic formats, such as JPEG, BMP, etc; not via Windows Photos. Other thumbnails are provided via Explorer extensions. It is possible that various apps include an Explorer extension as part of their package. ImageGlass does not.

[E.g. I've been working on an [Explorer extension to provide thumbnails for ebooks](https://github.c

[2021-11-28 17:25] fire-eggs opened #1177 "Exiftool command preview doesn't update when changing exe"
### System information:
 - Windows OS version: Win10
 - ImageGlass version: latest

### To Reproduce
Steps to reproduce the behavior:
1. Run imageglass
2. Open Settings, tools. Note the exiftool exe should already be selected.
3. Click on "select exif tool file" link, select a different exe than one already selected.

### Actual behavior:
The "command preview" does not update to show the new exe n

[2021-11-28 17:36] fire-eggs opened #1178 "Exif tool dialog won't accept anything but "exiftool.exe""
### System information:
 - Windows OS version: Win 10
 - ImageGlass version: latest

### To Reproduce
Steps to reproduce the behavior:
1. Make sure there is no exiftool path in igconfig.xml
2. Run imageglass, load an image.
3. 'X' to invoke the Exif tool dialog.
4. Click on the link to find the exif tool.
5. Select a valid exe (e.g. the exiftool download from sourceforge is actually named "exiftoo

[2021-11-29 05:48] tokukawa01 opened #1179 "Image move distance too short"
When I press arrow keys to move my view through the image (the action is discribed as pan leftright and pan updown in the software), it just moves a very short distance a single time, so I have to wait for a while every time, and it's quite annoying.

 I guess the problem is the move distance is set to a certain percentage of the **screen size**, and the problem will get more serious when zooming

[2021-12-01 08:49] chwt163 opened #1180 "want to be able to hide the toolbar automatically"
If you hide the toolbar, the main menu is also hidden, and if you want to use the main menu, you can only display the toolbar first. I want to add a feature: move the mouse over the top and automatically display the toolbar

[2021-12-02 10:31] rmadner opened #1181 "TIF-File does not open"
### System information:
 - Windows OS version: 1607 Build 14393.4704 64-bit
 - ImageGlass version: 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. open File from explorer
2.
3.
4.

### Actual behavior:

ImageGlass says "loading", Message disappears, no image opened, no error message
other TIF-Files can be opened without problems

### Expected behavior:

image opened or at least an

[2021-12-02 23:29] fire-eggs opened #1182 "Add 'Exit' button for toolbar"
From Discord:

Senex Barbatus: FEATURE REQUEST:  In Settings/Toolbar/Available Buttons, add a button to close ImageGlass.  This way I only need one click to close the app.

[2021-12-03 00:21] fire-eggs commented on #1181
Zip the TIF file, then upload the zip.

[2021-12-03 02:02] fire-eggs commented on #1180
The main menu is always accessible via its hotkey (`) - tilde. But I understand if you're a mouse user, having the toolbar popup as you suggest is a good idea.

[2021-12-03 07:46] rmadner commented on #1181
[imageglass.zip](https://github.com/d2phap/ImageGlass/files/7647628/imageglass.zip)
Inside are 3 examples, that do not work with ImageGlass, as well as a screenshot.

Any idea, what's the cause?

[2021-12-03 08:28] rmadner commented on #1181
In the preview/thumbnails it can be displayed, but it's impossible to get it displayed in ImageGlass. Seems that it's been opened, because you can click "open with" or "edit image" and it is displayed e.g. in paint. This is my workaround, but I am not happy with it.

[2021-12-03 08:35] d2phap commented on #1180
In v8.3, main menu hotkey is changed to `Alt+F`

[2021-12-03 09:55] xmha97 commented on #1182
Similar: #611

[2021-12-03 15:48] fire-eggs commented on #1180
Oops, running in the wrong Virtual Machine ...

[2021-12-03 15:49] fire-eggs commented on #1182
Right, thanks!

[2021-12-03 16:13] fire-eggs commented on #1181
MS Photos can't view "WelcomeFax.tif" either. Here is the output from ImageMagick:

[code]

So "WelcomeFax.tif" isn't a TIFF file at all; I see the first three characters in the file are "DCS", perhaps it is a dcs file? Anyway, whatever it is, it's not supported by ImageMagick, Windows, or ImageGlass ...

It's possible that ImageGlass would be happy with "Muster.tif" if the errors above were fixed

[2021-12-05 16:20] herb52 opened #1183 "Some more icons"
### Is your feature request related to a problem? Please describe.

Image Glass released a set on more than 71 icons for various image-types that can be opened.
### Describe the solution you'd like

It would be wonderful to add some more icons for filetypes that are missing: e.g. *.heif, *.heic, *.avif, *.cr3 and maybe others
### Describe alternatives you've considered

### Additional context

[2021-12-05 23:12] fire-eggs commented on #1183
HEIC icon is part of 8.3 release.

Feel free to contribute some icons!

[2021-12-06 00:36] mlewand commented on #608
@d2phap thank you I can confirm that it works like a charm in the stable release 👍

[2021-12-06 00:43] DarkotHub commented on #595
This is not a very reasonable solution as far as the user is concerned. What you're saying is that, if someone wanted a dark title bar, then they'd have to sacrifice their current accent colour, just to get it on this ONE app.

For me personally, I don't like applying an accent colour to title bars. I keep that setting off because I find it off-putting on most apps. But as things are now, if I don

[2021-12-06 02:59] d2phap commented on #1165
ImageGlass does not support lossless editing, it just provides basic editing features.
I understand your request but in this case, please use the 3rd app for professional editing.
Thanks

[2021-12-06 02:59] #1165 closed, assigned to nobody

[2021-12-06 18:59] CokeZero21 opened #1186 "Imageglass only see page 1 of 3 multi page TIFF - Windows Photo Viewer can see it fine"
### System information:
 - Windows OS version: Windows 10
 - ImageGlass version: 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. Open TIFF file in imageglass
2. on top, says 1/3 pages
3. cannot go to page 2 and so on
4.

### Actual behavior:

### Expected behavior:

### Screenshots:

![image](https://user-images.githubusercontent.com/95649597/144905760-4ae83c3c-cdea-4c33-8e58-c7343

[2021-12-07 03:25] s1nbad commented on #740
As a side note, when searching for how to use Slideshow in a window, other users have suggested using this 'bug' as a way of achieving this.  If you are to consider fixing this please take a look at supporting Slideshow in a window.

[2021-12-08 07:56] shockergit opened #1187 "Option to hide file details in Exif tools"
Please add an option to hide the file details in exiftool tab and bring exif data to top. And add an option to show only selected exif date (i dont want to see all the exif data i only want to see the lens details). I think this will reduce the exif data loading speed.

[2021-12-08 07:57] shockergit opened #1188 "Exif data as overlay over the image"
is it posiible to show the exif data as a overlay over the instead of a seperate tab.

[2021-12-08 08:06] d2phap commented on #1187
You can exclude it by adding this command: `--File:All --ExifTool:All`

![image](https://user-images.githubusercontent.com/3154213/145171481-c29c7796-097a-4602-8f61-cb2888062e7e.png)

[2021-12-08 12:40] CokeZero21 commented on #1186
[TIFF-3pages.zip](https://github.com/d2phap/ImageGlass/files/7676053/TIFF-3pages.zip)

Here's the test TIFF file

[2021-12-08 13:37] d2phap commented on #1186
So there are 2 ways:

### Main menu > Navigation > View next/previous/first/last page
![image](https://user-images.githubusercontent.com/3154213/145217539-c7486eb5-3421-412c-a03b-d27d10aa0562.png)

### Main menu > Tools > Page navigation
![image](https://user-images.githubusercontent.com/3154213/145217508-4aa13d44-dfae-41e6-a0bb-0c9214e66949.png)

[2021-12-08 13:37] #1186 closed, assigned to d2phap

[2021-12-08 13:49] d2phap commented on #1170
You can use `.\` to get the Startup path of ImageGlass.
Let's say your folder structure is like:
[code]
To get the path of `D:\Softwares\MS Photos\photo.exe`, you can use:
- `".\..\MS Photos\photos.exe"`, or
- `"..\MS Photos\photos.exe"`

[2021-12-08 13:50] d2phap commented on #1188
ImageGlass currently does not support overlay Exif tool

[2021-12-08 14:15] CokeZero21 commented on #1186
Awesome

I coulnd find for some reason

Glad its not a bug

Case closed 😊

Pascal Reeves
Technicien en TI
IT Technician
comerco
www.comerco.com<http://www.comerco.com>
t. 450-682-9900 x 8998<tel:(450)%20682-9900>
t. 1-800-290-9029 x 8998<tel:(800)%20290-9029>

De : Phap Dieu Duong ***@***.***>
Envoyé : 8 décembre 2021 08:38
À : d2phap/ImageGlass ***@***.***>
Cc : Pascal Reeves ***@***.***>; Author