[2021-12-09 10:39] shockergit commented on #1187
Thank you soo much. are their any commands to change order.

[2021-12-09 10:53] d2phap commented on #1187
You need to manually enter the tag groups in the order you want.
For example: `--File:All --ExifTool:All -Composite:All -PNG:All`. This excludes `File` and `ExifTool` group, and put `Composite` before `PNG`.

For details, you can check on their website: https://exiftool.org/#groups

![image](https://user-images.githubusercontent.com/3154213/145381890-57b4f52f-d54b-4a24-9859-0de9ce81453e.png)

[2021-12-09 11:33] shockergit commented on #1187
Thank you soo much thats all i need.

[2021-12-09 11:33] #1187 closed, assigned to nobody

[2021-12-09 19:21] rmadner commented on #1181
Well, "WelcomeFax.tif" seems to be anything, but not a TIFF, that's for sure.

I did some searches about muster.tif on myself. Strange: one dcs-converter says it must be TIFF, others take it an convert it to any image-type you like...

Did you find out anything new so far?

[2021-12-10 15:09] d2phap commented on #224
**ImageGlass v8.3 comes to Microsoft Store!**
This is the paid version, you will need to pay a small amount after 7-day trial.

**For the free version, it will also come from version 9.0**

If you buy ImageGlass in the Microsoft Store, you'll be supporting its development directly. You will get the convenience of fast, easy installation onto all of your Windows devices along with fully automatic,

[2021-12-10 15:09] #224 closed

[2021-12-10 15:44] ghost commented on #224
Thanks i have see the free version for test.

One question through (before buy) does the update are done on the store (or must we manually check like the normal version) ?

Thanks again ;)

[2021-12-10 15:51] d2phap commented on #224
The update is handled by the Store, so no longer manually download and install.

[2021-12-10 16:00] ghost opened #1189 "Windows store version open image from explorer bug"
### System information:
 - Windows OS version: 11
 - ImageGlass version: 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. Install it
2. Open it and go to the settings to add image glass as the default.
3. Add image glass as the default in windows 11 panel
4. Try to launch a photo from the explorer

### Actual behavior:
Error message : "Windows can't acces to the peripheric..."

###

[2021-12-10 16:15] ghost commented on #1189
i think the problem comme from the way to assign them to the picture, to assign them we must do launch it in admin.
maybe it can explain the access error he think the app must be administrator

[2021-12-11 01:40] d2phap commented on #1189
Yea, I'm fixing this

[2021-12-11 03:57] d2phap commented on #1189
I've just submitted a fix to the Store.
It will take hours to get approved from Microsoft testers, then you can update it throw MS Store.

Phap

[2021-12-11 08:32] alabotski commented on #1170
![image](https://user-images.githubusercontent.com/439337/145670097-530361b7-eaf1-477b-b0e4-a44248ac9a65.png)

[2021-12-11 15:21] d2phap commented on #1170
that's weird, make sure your relative path is correct.
In my test, the folder structure is like this:

[code]

![image](https://user-images.githubusercontent.com/3154213/145681722-43ee10ec-a5cc-453d-97dd-6dcf807ee3f7.png)

![image](https://user-images.githubusercontent.com/3154213/145681737-a906d339-b3d0-49e4-9f49-8b83dc775e17.png)

![image](https://user-images.githubusercontent.com/3154213/145681

[2021-12-12 05:41] #1188 closed, assigned to nobody

[2021-12-12 05:44] shockergit opened #1190 "long start up time"
can you guys reduce the startup time of image glass it takes upto 10 sec to load the first image when i open an image after a system boot.

[2021-12-12 16:55] shockergit opened #1191 "SVG files are blurred out"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.3.11.21 portable

When I open SVG files it's all blurred out in ImageGlass but it's opening high quality in other image viewers and Inkscape.
This is when the file opened in Inkscape.
![inkview_02oREMS7oP](https://user-images.githubusercontent.com/63154802/145721716-53eed754-6d2f-4c2b-b073-9ee66b3dee8f.png)

And this when o

[2021-12-12 17:04] shockergit commented on #1191
This is the original SVG file.GitHub doesn't support SVG uploading, so I renamed the format to PNG. Just rename the file format from png to svg.
![flatfoot](https://user-images.githubusercontent.com/63154802/145721844-e0ec5426-1b9b-40dd-83b9-41bf57ad874b.png)

[2021-12-13 02:09] d2phap commented on #1191
IG does not support for scaling SVG yet, see #421

[2021-12-13 02:09] #1191 closed, assigned to d2phap

[2021-12-13 02:20] d2phap commented on #1190
It's mostly due to the limitation of the framework WinForms (#794), it takes about 1-2s for the first startup (my machine is about 1s). I'm not sure but some users also encounter longer time.

[2021-12-13 02:20] #1190 closed, assigned to d2phap

[2021-12-13 02:34] shockergit commented on #421
I was using one of the old versions and scalable svg worked fine. I think it was 1 of these
ImageGlass 8.2.5.16 - June
ImageGlass 8.2.6.6 - June
Have you removed it in latest update.

[2021-12-13 02:44] d2phap commented on #421
It just does not support from the first version. The "scaling" or "blur" you mean maybe the Zoom Optimization option in settings:

![image](https://user-images.githubusercontent.com/3154213/145743953-66b96b47-145e-4ed8-9149-290c62254981.png)

Btw, I'm working on ImageGlass v9 which will use Webview2 to resolve all of these problems for SVG, APNG, WEBP,...

[2021-12-13 02:48] shockergit commented on #421
Well thats nice waiting for v9

[2021-12-13 12:34] shockergit commented on #794
please make v9 fast like honeyview

[2021-12-13 16:12] arthurjosse commented on #794
I think this issue should be a top priority. I mean, it's the core functionnality, the most used "feature" of an image viewer: open an image to see it. Speed should be prioritized over features. I'm on a fast desktop (Win 10) and ImageGlass takes 2s to open an image from the File Explorer. In comparison, Honeyview, JPEGView, Irfanview, nomacs are near-instant.

[2021-12-13 18:29] CasAdair opened #1192 "[Enhancement] Support WASD instead of arrow keys"
### Is your feature request related to a problem? Please describe.
N/A

### Describe the solution you'd like
I'd like to see an option to replace the arrow keys with WASD

### Describe alternatives you've considered
I used to have a cheap keyboard that could swap wasd and arrow keys, but I bought an expensive keyboard and this one doesn't have that feature.

### Additional context
N/A

[2021-12-14 00:53] d2phap commented on #1192
You may wanna check AutoHotkey: https://www.autohotkey.com if it can help.
You can follow #608 for future updates about keyboard shortcut customization

[2021-12-14 00:53] #1192 closed, assigned to nobody

[2021-12-15 14:52] d2phap commented on #1189
Just to update here, the MS tester requested more information for the submission of the fix because it uses `broadFileSystemAccess`. I already submitted again so just wait for their approval.

![image](https://user-images.githubusercontent.com/3154213/146208175-0170f71e-c2af-453d-a303-269f64e3cf33.png)

[2021-12-15 16:53] ghost commented on #1189
ok thanks to the update :)

[2021-12-16 07:54] alabotski commented on #1170
It doesn't work ... = ((

![image](https://user-images.githubusercontent.com/439337/146330148-8e7759b1-6b42-4936-8fb5-376e8bd7872d.png)
![image](https://user-images.githubusercontent.com/439337/146330277-19509f40-bb53-454e-b1ea-ccd97bf2e954.png)
![image](https://user-images.githubusercontent.com/439337/146330381-b947ab20-2c83-4190-9871-dedbf86d5eed.png)

[2021-12-16 14:29] d2phap commented on #1189
The fix is pushed to MS Store!

[2021-12-16 14:46] #1189 closed, assigned to d2phap

[2021-12-16 17:02] ghost commented on #1189
confirm it's fixed thanks

[2021-12-16 18:45] unquietwiki commented on #794
https://devblogs.microsoft.com/dotnet/announcing-net-6/?WT.mc_id=dotnet-35129-website is probably going to be a good fix for this situation.

[2021-12-16 21:19] m1karii commented on #1176
In case anybody reads this in the future: https://github.com/tibold/svg-explorer-extension works well

[2021-12-17 02:31] shockergit commented on #794
Does honeyview and irfanview use net?

[2021-12-18 10:40] Marrasco opened #1195 "Make the ImageGlass window pop on top other windows when loading a new image"
Could not find anything from the settings to make this happen. So far I have minimized the folder or brought ImageGlass up front every time I open another image.

[2021-12-18 10:56] d2phap commented on #1195
YOu can find it in Main menu > Layout, or context click menu

![image](https://user-images.githubusercontent.com/3154213/146638490-b0f2ea67-9f25-4c05-bf2f-970c4694376a.png)

[2021-12-18 11:23] Marrasco commented on #1195
I don't mean to always keep it on top, but for it to come in front when a new image is loaded. Other image viewers have acted this way so it's bothersome to manually bring it to front.
Thank you for the fast reply, I like everything else about the software, it's great

[2021-12-18 11:48] Marrasco commented on #1195
Could be an issue on my end that it does not pop in front, if others have not had this problem

[2021-12-18 18:02] fire-eggs commented on #1195
If you have "allow multiple instances" setting ON in IG, then each new window "pops in front".

The downside being you get a lot of open IG windows.

With "allow multiple instances" OFF then yes, IG doesn't currently force the single window instance to the front. The exception to this is when the IG instance is minimized: the window pops front when IG restores from minimized.

[See issue #774 for

[2021-12-18 18:14] fire-eggs commented on #794
No, Xnview, Irfanview and HoneyView are not .NET programs.

[2021-12-18 20:00] DanRotaru opened #1196 "Possibility to set to stay app in background"
So I have 16 GB of RAM and I think this this option will be very necessary and helpful.
If one app process will be in background it will open images files much faster than if I just open and close app with all this components and features.
Just add checkbox in settings "Save in background" and if is enable and close app, this will save a background process.
Hope you will think about it.

[2021-12-19 14:48] Marrasco commented on #1195
alright, guess im going back to irfanview for now, thanks for the feedback

[2021-12-19 15:49] fire-eggs commented on #1196
Doing this might help address the concerns about IG startup time as well.

[2021-12-19 16:41] shockergit commented on #794
hope imageglass use Xnview

[2021-12-19 17:16] fire-eggs commented on #794
The licensing restrictions from Xnview explicitly preclude it from being used to implement an image viewer.

[2021-12-21 11:43] unquietwiki opened #1198 "Code linting & NET 6 support"
[I spent a few hours tonight](https://github.com/unquietwiki/ImageGlass) running the IG code through VS 2022 and some Rosylnator + threading linters. I'm not sure if I actually have it set to use .NET 6 fully yet; but the code generation is at least C# 8. I did add the linters as NuGet dependencies.

_Stubborn error in frmMain.Designer.cs_

`this.thumbnailBar.ItemClick += new ImageGlass.ImageListV

[2021-12-21 11:45] unquietwiki commented on #794
Since a bunch of you all were annoyed here, I took some free time to come up with #1198 ; which I'm stuck on one error, else I think it'll build into something faster at least. I guess keep an eye on that for any development as I can actually finish & submit that.

[2021-12-21 11:54] d2phap commented on #1198
Hey @unquietwiki
I have been already working on v9 using .NET 6.0.
It'll be a hug update with 70% code rewritten, and replace ImageGlass.ImageBox component by a new one which supports hardware-accelerated from Direct2D 🎉.

![image](https://user-images.githubusercontent.com/3154213/146925959-a52f61ce-b517-488a-a820-13f1026e560e.png)

You can check the progress and other details: https://github.com/

[2021-12-21 11:59] unquietwiki commented on #1198
That's rad. I was looking at the develop branch; I'll have a look at the
new stuff tomorrow or whatnot. I said I'd help out a while back, and some
folks are annoyed about load times.

Michael Adams, unquietwiki.com

On Tue, Dec 21, 2021, 3:54 AM Phap Dieu Duong ***@***.***>
wrote:

[2021-12-21 20:44] not-holar commented on #497
this

[2021-12-23 09:30] unquietwiki commented on #1198
@d2phap Alright, I had a chance to look at the new v9 code. Ran the Rosylnator stuff against it; also tried the threading checker; but unclear if it hates VS 2022, or the present async functions are good-to-go. Tried working on some of the nullable stuff it flagged, but I was barely grasping the C# 7/8 changes last time, and now we're at 10. There was some stuff flagged in the C/C++ code, but it l

[2021-12-23 10:13] d2phap commented on #1198
Yeah C++ project is the external library, I don't touch it. And v9 is actively under development, codes are gonna be changed a lot.

You need to manually copy `\IgCodecs\ImageMagickIgCodec\bin\Debug\net6.0-windows\ImageMagick.IgCodec.dll` to `ImageGlass\bin\x64\Debug\net6.0-windows\Codecs`

[2021-12-24 05:01] unquietwiki commented on #1198
Thanks for clarifying on the external lib. The DLL thing worked, but then it asks for a IGTheme JSON file. I know you converted from XML to JSON for configs in this; I'm curious if there's a process to convert from the XML-based themes, and if there needs to be an extra tool / code added to convert those when applied.

[2021-12-24 05:22] d2phap commented on #1198
Ah for the theme, extract this zip into startup folder:
[Themes.zip](https://github.com/d2phap/ImageGlass/files/7772729/Themes.zip)

[2021-12-25 02:03] gerroon commented on #990
I hope to see this feature as well.

[2021-12-25 02:04] gerroon commented on #152
Is this supported in the current version? I cant seem to be able to dd into anything.

[2021-12-25 02:05] d2phap commented on #152
You can hold Ctrl and drag

[2021-12-25 18:26] AutomationBoi opened #1199 "Adding Option to Enable Image change alert"
The user  Can select the option to enable alerts after a set number of Images have been switched. Helpful in Slideshows mainly.

[2021-12-25 18:26] AutomationBoi commented on #1199
Working on It

[2021-12-26 10:09] ghost opened #1201 "ImageGlass registry keyes."
### System information:
 - Windows OS version:  10 21H2
 - ImageGlass version: 8.3.11.21 and others

### To Reproduce
Steps to reproduce the behavior:
1.  Install ImageGlass
2.  Uninstall ImageGlass
3. ImageGlass does not remove registry keyes.
4. Explorer still shows ImageGlass as the default even after uninstallation.

### Actual behavior:
Since ImageGlass does not remove registry keys, Windows

[2021-12-26 14:35] d2phap commented on #1201
For now you need to open Settings > File Type Associations, click on "Unregister extensions" to remove them. Duplicated of #546

[2021-12-26 14:35] #1201 closed, assigned to d2phap

[2021-12-26 15:04] anonymous-user commented on #635
I would like this feature too. I tried using the "Use Windows File Explorer sort order if possible" option but it didn't change the behavior.

[2021-12-28 06:32] CasAdair commented on #1192
I decided to buckle down and write a good script for this purpose. I hope anyone who needs it finds this well.
[code]

[2022-01-01 04:17] unquietwiki commented on #1198
Hey @d2phap : haven't been feeling well the past week; did submit a COVID test. Randomly, I found https://code4ward.net/2021/01/09/net-5-adventure-crossgen2/ & https://devblogs.microsoft.com/dotnet/conversation-about-crossgen2/ : this might help with the speed issues some have reported. Happy New Year BTW!

[2022-01-02 09:45] d2phap commented on #1198
thanks @unquietwiki! As I have been working on v9, this code linting should be postponed, because source code changes everyday.
Get well soon and happy new year!

[2022-01-02 10:10] unquietwiki commented on #1198
Roger that.  Lemme know when you want me to look at it again; I actually have to dig into some Javascript stuff for work, so I'll focus on that for the time being. Happy New Year!
On 1/2/2022 1:46:08 AM, Phap Dieu Duong ***@***.***> wrote:
thanks @unquietwiki [https://github.com/unquietwiki]! As I have been working on v9, this code linting should be postponed, because source code changes everyday.

[2022-01-02 19:51] Sxderp opened #1202 "Unable to press next image / prev images buttons unless window is focused"
### System information:
- Windows OS version:
-- Windows 10 Education [Basically same as Enterprise]
-- 20H2 / 19042.1415
- ImageGlass version:
-- 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. Open an image.
2. Unfocus the window (click on some other window)
3. Press the "next image" button
4. Press the "next image" button again

### Actual behavior:
First click focuses ImageGlas

[2022-01-03 01:03] d2phap commented on #1202
It's basic and normal behavior of all Windows software that you need to focus on the window to interact with it.

[2022-01-03 01:03] #1202 closed, assigned to d2phap

[2022-01-03 12:27] Pendora2017 opened #1203 "E-Mail Button"
Hi there,

it would be very nice if the ImageGlass Bar (where all Icons are located e.g. File Open, Zoom could get an E-Mail Button.

on click behavoir: opens the Windows standard E-Mail Programm with a new Mail and automatically attach the Image

Maybe you would prior this feature request if i spend more beer? 😂

[2022-01-03 14:20] Sxderp commented on #1202
I'm not sure about that. It's pretty inconvenient to force a focusing click. The "Windows Photo Viewer" does not do this. I was hoping to make ImageGlass a close drop-in replacement as "Windows Photo Viewer" has trouble with newer files (weird coloring in .webp) and sometimes has issues opening files with certain ICC profiles.

There are two issues that I noticed. The problem I reported here is th

[2022-01-03 18:36] fire-eggs commented on #1202
Yeah, there are some technical challenges involved. Windows tells the app that it has been "activated" but not _how_ it has been activated. I.e. was the app restored from minimized; executed; alt+tab; or clicked on ?

Without trying it out, I can't tell off-hand if / when the "mouse click" event is provided to the app (before the "activated"? after?).

[2022-01-04 03:37] gsokoll commented on #1134
How about disabling the navigation buttons while saving is underway?  I've had the unpleasant experience of several images being irreversibly corrupted by this bug.  ImageGlass now uninstalled...

[2022-01-04 09:40] lukaspechar commented on #141
I definitely agree with this. ImageGlass is already very fast and also adding the culling feature would save more time and would allow me to avoid installing another tool.

[2022-01-04 14:16] Sxderp commented on #1202
Maybe I'm not understanding the issue, but does it matter if the window receives the activation event before or after? If an element receives a click even then it should be handled regardless if the window was recently activated. The only time the order may matter is if you wanted to enable / disable certain elements based on window activation. I don't think that inconsistency would be good UX.

[2022-01-04 14:43] tofik7 commented on #1093
Hi,

I tried your register entry to get this feature (Win 10 x64) but it still doesn't work for me,
This is what I added:
[https://i.imgur.com/jc7SfhK.png](url)

Is it correct? I have ImageGlass installed in default folder,

[2022-01-04 15:38] MadDogDean commented on #1093
Try the link provided by @fire-eggs  for Request #1067

It seems more thorough.

Cheers

[2022-01-05 09:17] tofik7 commented on #1093
Thanks for your answer, I tried that and it works for folders but I need it for specific files like you (png, jpeg, etc), still haven't solved that unfortunately.

[2022-01-05 09:19] siblount opened #1204 "Scroll Image Speed Setting"
### Is your feature request related to a problem? Please describe.

Currently, scrolling through a large portrait is painfully slow when using Up and down arrow keys.
### Describe the solution you'd like

A setting that improves the scrolling of images through Up down . Max - up to 4x the current speed.

[2022-01-05 16:37] duckfist commented on #595
Since this is .NET Core, it's quite easy to do actually. WindowStyle must be set to "None" and a custom window style must be created, with a custom title bar and maximize/minimize buttons. This is standard procedure for any WPF desktop app that wants to look even remotely professional. The style can then be easily used by every window in the application. Dev is just lazy and still uses Windows For

[2022-01-05 17:16] fire-eggs commented on #595
Since it's "quite easy", why don't you submit a fix rather than be insulting?

The "Dev" (not me, BTW) has a real job and a real life and has to juggle priorities like any human being.

[2022-01-06 02:27] d2phap commented on #595
Thanks @fire-eggs
@duckfist You seem know how to implement it so well, just this, just that,... please submit a fix. Thank you.

[2022-01-06 14:12] d2phap commented on #1166
@shockergit You can do it by changing the command line of Exiftool in Settings > Tools.
See https://github.com/d2phap/ImageGlass/issues/1187#issuecomment-989739105 for details

[2022-01-06 14:12] #1166 closed, assigned to nobody

[2022-01-06 14:14] d2phap commented on #1158
Close due to lack of information

[2022-01-06 14:14] #1158 closed, assigned to d2phap

[2022-01-06 14:16] d2phap commented on #1119
v8.3 introduced Custom zoom which you can manually set zoom factor to any value.

![image](https://user-images.githubusercontent.com/3154213/148396505-9345a938-2547-41be-aa4b-0cc698a4433b.png)

[2022-01-06 16:48] worldsdream commented on #1119
It works great. I will close this then.

[2022-01-06 16:48] #1119 closed, assigned to nobody

[2022-01-07 14:17] d2phap commented on #1196
Implemented this in the latest build of IG Moon:
https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/148556605-863cad58-a28e-4d0c-840e-e0b4c2ebb6f4.png)

[2022-01-07 14:17] d2phap commented on #1199
Ready in the latest build of IG Moon:
https://imageglass.org/moon

[2022-01-07 14:18] d2phap commented on #1175
Fixed this in the latest build of IG Moon:
https://imageglass.org/moon

[2022-01-07 19:22] securitytime commented on #508
+1 for animated webp images

[2022-01-08 00:50] d2phap commented on #1163
@victorhooi ImageGlass just use the basic Print Pictures dialog of Windows for printing. So it does not support this.

[2022-01-08 01:08] #1163 closed, assigned to nobody

[2022-01-08 16:02] AutomationBoi commented on #1199
Hey excited to hear that, looking forward to see this in final build.

[2022-01-08 19:00] DanRotaru commented on #1196
Unfortunately it is not fast enough, windows 10/11 default image viewer (with latest updates) opens more faster than ImageGlass

[2022-01-09 04:45] #1199 closed, assigned to nobody

[2022-01-09 04:45] #1175 closed, assigned to d2phap

[2022-01-09 05:22] d2phap commented on #1196
It's #794

[2022-01-09 05:22] #1196 closed, assigned to nobody

[2022-01-09 06:07] d2phap commented on #1172
Implemented in the latest build of ImageGlass Moon: https://imageglass.org/moon.

Lưu ý, kể từ phiên bản này IG sẽ mặc định khởi động cùng Windows và thu nhỏ xuống khay hệ thống khi đóng. Bạn có thể thay đổi hành vi này trong Settings > General > Others.

[2022-01-09 06:07] #1172 closed, assigned to nobody

[2022-01-09 06:08] d2phap commented on #1139
Fixed this in the latest build of IG Moon: https://imageglass.org/moon

[2022-01-09 06:08] #1139 closed, assigned to d2phap

[2022-01-09 06:10] d2phap commented on #1160
Windows 11 removes the verb of associated programs (ImageGlass uses verb `edit` to for the default editing). So in the latest build of IG Moon: https://imageglass.org/moon, in Windows 11, I try to use `mspaint.exe` for the default editing app.

@xmha97 please help to test.

[2022-01-09 06:16] xmha97 commented on #1160
Thanks, everything worked fine.

[2022-01-09 06:23] xmha97 commented on #1160
![image](https://user-images.githubusercontent.com/23485114/148671568-4bf8fe73-b006-48fe-8211-76ac8b5e9d98.png)
Apparently the problem still exists.

Please remove Paint from the optional feature and install it from Microsoft Store.
https://www.microsoft.com/en-us/p/paint/9pcfs5b6t72h
![image](https://user-images.githubusercontent.com/23485114/148671602-3174bfa1-2243-49ec-8cf5-4b77d02801e4.png)

[2022-01-09 06:24] d2phap commented on #1160
Thanks I will try

[2022-01-09 06:38] xmha97 opened #1205 "Startup"
IG created a startup shortcut in path below:
"%AppData%\Microsoft\Windows\Start Menu\Programs\Startup"
![image](https://user-images.githubusercontent.com/23485114/148671864-764974c1-652a-494e-86e3-e76c12214ffd.png)

Please use registry for add startup item not startup shortcut.
![image](https://user-images.githubusercontent.com/23485114/148671901-8cdf4085-28f4-4e45-b1aa-721479c94b62.png)

Thanks.

[2022-01-09 06:51] d2phap commented on #1205
@xmha97 any reasons or explain why? I am not aware of the difference

[2022-01-09 11:09] d2phap commented on #1160
Hmm, I cannot install MS Paint from Store
![image](https://user-images.githubusercontent.com/3154213/148679436-8d016d2a-ec71-4541-b33b-c3c8cf112cfd.png)

[2022-01-09 12:38] xmha97 commented on #1205
1. The folder tends to be favorited by users, easy for them to create a shortcut there.
1. The registry key tends to be favorited by installers.
1. Most apps use the registry key to startup.
1. Apps run earlier in the registry key when the computer is started.

[2022-01-09 13:08] xmha97 commented on #1160
What windows are you using?

Yes, you can not install the Paint package in Windows 10.

![image](https://user-images.githubusercontent.com/23485114/148683226-43196a52-cf67-49b8-9fd9-1911ce8aa709.png)

But in Windows 11 you can and the package is installed by default.
![image](https://user-images.githubusercontent.com/23485114/148683240-c734652c-2d60-4524-b506-301138322222.png)

To download Microso

[2022-01-09 14:01] xmha97 commented on #1160
@d2phap I understood the problem.

I installed the MS Paint package on Windows 10 (not Windows 11), Please remove this condition:
![image](https://user-images.githubusercontent.com/23485114/148684972-d7ae0571-495c-4318-adbe-73522fcf6382.png)

Also, I can't edit if there is a space in the folder name,
For example: "D:\Pictures\My Wallpapers\Blue.png"
![image](https://user-images.githubusercontent.c

[2022-01-09 14:35] d2phap commented on #1160
Can you try again, still v8.3.12.9:
https://imageglass.org/moon

The implementation is a bit different:

[code]

[2022-01-09 16:56] xmha97 commented on #1160
OK, thank you. <3
![image](https://user-images.githubusercontent.com/23485114/148690982-42a1990b-30c1-4b0d-9f41-609084892258.png)

But why is MSPaint not set by default?
![image](https://user-images.githubusercontent.com/23485114/148692271-54540634-d0d7-44d0-b03b-baaa34c3de2a.png)

[2022-01-09 20:05] xmha97 opened #1208 "Support relative path for ExifTool"
Hi, I installed ExifTool using Chocolatey.
[code]
"C:\ProgramData\chocolatey\bin" added to %Path% and I can use it on Terminal:

![image](https://user-images.githubusercontent.com/23485114/148698564-7ac26673-7752-427a-abf1-446a8d457409.png)

ImageGlass can't detect installed ExifTool.

![image](https://user-images.githubusercontent.com/23485114/148698619-0cb06938-f5d4-46cc-89ea-2d7497179b18.png)

[2022-01-09 23:24] xmha97 commented on #992
@d2phap
Is it possible to add this feature in the new version?

[2022-01-10 00:24] d2phap commented on #1208
ImageGlass currently only support absolute path for `exiftool.exe`

[2022-01-10 00:29] d2phap commented on #1160
So ImageGlass tries to use the "associated app" for editing by using verb `edit`:
[code]

For example: When install Photoshop, it registers verb "edit" to Windows registry the extensions for editing. If user hasn't specified the editing app, ImageGlass will open Photoshop instead of MS Paint.

[2022-01-10 00:31] xmha97 commented on #1160
Ok, thank you for your explanation.

[2022-01-10 00:31] #1160 closed, assigned to d2phap

[2022-01-10 04:06] xmha97 opened #1209 "Add "open image location" toolbar button"
Hi, please add "open image location" toolbar button.
![image](https://user-images.githubusercontent.com/23485114/148717364-fee41b79-2c8c-4af6-ab90-e86127eac693.png)

[2022-01-10 04:15] xmha97 opened #1210 "Ctrl+Shift++/- keys to rotate images"
In many apps (like Adobe Acrobat Pro), the rotation is with the following buttons:

`Ctrl`+`Shift`+`+` -> Rotate to Left
`Ctrl`+`Shift`+`-` -> Rotate to Right

I need this feature for ImageGlass
Thanks.

[2022-01-10 23:14] xmha97 opened #1211 "Add mark feature"
Hi, please add the mark feature to make a collection. (batch copy or move selected images)
![image](https://user-images.githubusercontent.com/23485114/148853377-6ea8973c-78a8-4502-9dad-4228f7ed2d14.png)

[2022-01-11 00:09] xmha97 opened #1212 "Better system tray icon"
![image](https://user-images.githubusercontent.com/23485114/148858800-089e83a9-1029-45f0-9474-d84177c6b457.png)

[2022-01-11 00:21] d2phap commented on #1210
It's about shortcut customization, so follow #608

[2022-01-11 00:21] #1210 closed, assigned to nobody

[2022-01-11 00:22] d2phap commented on #1212
The system tray icon is theme-aware, and follows app logo

[2022-01-11 00:22] #1212 closed, assigned to nobody

[2022-01-11 10:43] rmadner commented on #1181
Sorry if I am being inconvenient:

Sorry if I am being inconvenient - do you see this as a bug and try to fix it?

[2022-01-11 11:01] d2phap commented on #1181
Hi @rmadner
The issue is open means I will still look into it. It depends on the difficulty, you can see there are issues remain for months or years, too.

As @fire-eggs mentioned above, ImageGlass uses Magick.NET to read and decode image files. We will need to contact to ImageMagick forks,...

[2022-01-11 14:16] rmadner commented on #1181
Hi @d2phap
Allright, I understand now... i did not see, that the problem lies in another piece of software, that you can't control. I try to be patient and hope that these problems don't occur too often (ImageGlass will be used by about 2500 Users), until you have a solution.

Thanks for the quick answer!

[2022-01-12 13:03] d2phap commented on #1183
Added icons for JXL, HEIF, CR3, AVIF, B64 for the next release

[2022-01-12 13:03] #1183 closed, assigned to nobody

[2022-01-12 13:09] d2phap commented on #1205
Done this in IG Moon: https://imageglass.org/moon

[2022-01-12 13:09] #1205 closed, assigned to nobody

[2022-01-12 13:11] xmha97 commented on #1205
Thanks.

[2022-01-12 14:16] Sxderp commented on #1202
Can this be reopened for review? As I've pointed out the statement in the second comment:

Is not accurate.

[2022-01-12 14:55] d2phap commented on #1134
Please try the latest build of IG Moon which is to attempts to fix this issue.
https://imageglass.org/moon
Note that, the thumbnail bar is flashing when the app is busy, I will fix later.

[2022-01-12 14:55] d2phap commented on #1120
Please try the latest build of IG Moon which is to attempts to fix this issue.
https://imageglass.org/moon
Note that, the thumbnail bar is flashing when the app is busy, I will fix later.

[2022-01-12 14:55] d2phap commented on #1097
Please try the latest build of IG Moon which is to attempts to fix this issue.
https://imageglass.org/moon
Note that, the thumbnail bar is flashing when the app is busy, I will fix later.

[2022-01-13 07:20] Hi-ImKyle commented on #546
![image](https://user-images.githubusercontent.com/25551312/149283731-b3be12ab-08fc-4a1d-9b93-9edf3fe081cb.png)

I figured I'd just press Unregister extensions before I uninstall but I just get this error prompt.

EDIT: Just to make things worse, now my explorer crashes anytime I try to open a folder with images in it, I can't even open the default apps settings page to change it to use the defaul

[2022-01-15 01:41] sombresu opened #1214 "Magnifier + zoom feature by holding mouse click"
### Is your feature request related to a problem? Please describe.
I find it really annoying when I need mignify part of the picture I have to double click first or the picture has to be zoomed until it fill the whole screen so I can move it around. And even after that, the picture's edges always sticking to the screen border

### Describe the solution you'd like
Mignify + zoom using mouse click
F

[2022-01-15 01:44] Comitant commented on #877
Will this ever be implemented?

[2022-01-15 18:35] masterofobzene opened #1215 "Rotating an image may corrupt it."
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. open image
2. try rotating it

### Actual behavior:
Sometimes the image will not save the changes, and sometimes it corrupts the archive leaving the file unusable.

### Expected behavior:
Rotate the image and save the changes.

[2022-01-15 21:20] xmha97 opened #1216 "Can't install on standard user"
Hi, I can't install ImageGlass on the standard user.
Please make an installation for the current user/all users.
MSI packages don't support this, you should make an EXE installation.
![image](https://user-images.githubusercontent.com/23485114/149637898-eb52337d-afc2-41f5-951d-4ffd8514e329.png)
![image](https://user-images.githubusercontent.com/23485114/149637918-a791a190-0516-4a8e-8ccf-ccb6742d96b

[2022-01-15 21:49] fire-eggs commented on #1215
Phap shipped an update via [ImageGlass Moon](https://imageglass.org/moon) which hopefully addresses this issue. See issue #1134 for example.

[2022-01-16 02:33] #1215 closed, assigned to d2phap

[2022-01-16 02:35] #1134 closed, assigned to d2phap

[2022-01-16 02:35] #566 closed

[2022-01-16 02:36] #1120 closed, assigned to d2phap

[2022-01-16 18:00] DEHNCKA commented on #1089
It already looks like the "layers" tool. You can add, for example, one image to the first layer in this tool, then switch to another (in the main view area) and add it to the second layer. Only here's how to shift them relative to each other (in order to achieve a match when superimposed) - remains a mystery to me. It's already something about the image editor, and not about the viewer.

[2022-01-16 18:32] DEHNCKA opened #1218 "Light lines in context menus"
### System information:
 - Windows OS version: 7 SP1 x64
 - ImageGlass version: 8.3.12.12_x64 (8.3.11.21 x64)

Please remove the light lines in the context menus:

- context menu of the main menu;
- context menu in the viewing area;
- context menu for system tray icon.

![2022-01-16_22-18-21](https://user-images.githubusercontent.com/59572905/149672832-7ccc1014-d23b-49ae-925b-0709dc42c137.png)![20

[2022-01-16 20:11] DEHNCKA opened #1219 "Accent colors and substrates (backlight)"
### System information:
 - Windows OS version: 7 SP1 x64
 - ImageGlass version:  8.3.12.12_x64 (8.3.11.21 x64)
### My notes:
1. Currently the color "accentcolor" (in the theme file) is used for highlighting in the toolbar. At the same time, according to my findings, this color (parameter) is also used for text links. It is not right. Text links should have a separate color that is not used elsewhe

[2022-01-16 20:32] DEHNCKA opened #1220 "Unreadable characters in the topic title / missing the right font"
### System information:
 - Windows OS version: 7 SP1 x64
 - ImageGlass version: 8.3.12.12_x64 (8.3.11.21 x64)
### My notes:
I understand that the author wanted to depict kaomoji near the name of the design theme (more precisely, near the first item in the list of design themes), but this may not work for someone (these characters are not deciphered for me). This is probably due to the lack of the

[2022-01-16 21:10] DEHNCKA commented on #1180
It would be cool if the toolbar (in hidden mode) slides out smoothly when the mouse pointer touches the screen border. But, I'm afraid, support for animation of interface elements is unrealistic here.

[2022-01-16 21:24] DEHNCKA commented on #1211
I support. Just a correction: the flags on the thumbnails must be made in such a way that they obey the theme of the program, otherwise they will stand out too much (burn).

[2022-01-16 21:51] DEHNCKA opened #1221 "Focusing the mouse pointer on tools"
### System information:
 - Windows OS version: 7 SP1 x64
 - ImageGlass version: 8.3.12.12_x64 (8.3.11.21 x64)

I know that this question has already been raised here, but I could not dig it out here. I also understand that Windows doesn't make windows active when you hover over them, only when you click on them. However, Paint.NET gets around this by linking its additional little windows ("palette

[2022-01-16 22:25] DEHNCKA opened #1222 "Buttons for closing and docking tool windows."
You can [use](https://aka.ms/SegoeFonts) the "[Segoe MDL2 Assets](https://docs.microsoft.com/en-us/windows/apps/design/style/segoe-ui-symbol-font)" font from Microsoft for symbols in buttons in tool windows (upper right corner). So these buttons will be better perceived functionally and look more aesthetically pleasing.

In addition, the proportions of these buttons must be brought to those adopte

[2022-01-16 23:23] DEHNCKA opened #1223 "The item "Send to ..." in the context menu of the program instead of the item "Edit image (editor name) ...""
Replace the "Edit image (editor name) ..." item with the "Send to ..." item with a drop-down context submenu that will contain several editors. Make the list of editors and paths to them (to activate them) and so on customizable (in the program settings, in the "Edit" item).

This will help avoid the tedious process of customizing editor pinning for each format and give users more choice of editor

[2022-01-16 23:41] DEHNCKA commented on #1223
I hope I chewed everything thoroughly.

[2022-01-17 00:09] DEHNCKA opened #1224 "Substrate (backlight) under the navigation arrows"
I mean this:
![2022-01-16_03-51-53](https://user-images.githubusercontent.com/59572905/149683111-16c90138-3d2c-498b-9867-a7adc36f9df8.png)
![2021-11-22_16-00-05](https://user-images.githubusercontent.com/59572905/149683113-181d2373-85fa-43ca-b31e-2a6aaf3e5d72.png)

The size and shape of the background (highlight) under these arrows needs to be corrected. The grid for these arrow icons looks like t

[2022-01-17 01:32] d2phap commented on #1219
ImageGlass 9 will have a revamp UI, and all of UI-related issues are resolved in [branch v9](https://github.com/d2phap/ImageGlass/tree/v9). It's still in-progress, and does not have a beta version. You can check the source code in the branch, or follow the progress at https://github.com/d2phap/ImageGlass/projects/11

[2022-01-17 01:43] DEHNCKA commented on #1224
Should look like this:
48x48px
![next](https://user-images.githubusercontent.com/59572905/149688147-c7561509-38d3-434b-be8f-55fd2f4d7db5.jpg)

[2022-01-17 01:45] DEHNCKA commented on #1224
Here is the grid:
[ios7-grid.zip](https://github.com/d2phap/ImageGlass/files/7878481/ios7-grid.zip)

[2022-01-17 01:49] DEHNCKA commented on #1224
Here is my source:
[next.ZIP](https://github.com/d2phap/ImageGlass/files/7878491/next.ZIP)

[2022-01-17 02:05] DenisVelicanov commented on #1219
And how can I understand this? It's just that it's hard for me to figure it out here, the devil will break his leg ... I'm writing in vain, since this is no longer relevant or what?

[2022-01-17 02:07] DenisVelicanov commented on #1219
Or did you send it to fixes for version 9?

[2022-01-18 20:21] LLVIG commented on #1122
Could the page navigation buttons be made available to the toolbar customization, so you could add them to the toolbar directly? Among with the play button. Some other app has this function, allowing easily to choose the specific gif frame, for example.
![nomacs  2022-01-18 @ 23-12-00](https://user-images.githubusercontent.com/73268401/150012453-bc0201cb-3928-4b64-9c9a-227bd9cbe3af.png)

[2022-01-18 20:58] DEHNCKA opened #1226 "Dots in the counter"
In the counter (in slideshow mode), replace the symbol ":" with this symbol: "∶". This one will be centered (relative to line height).

I'm talking about this:
![2021-11-22_16-27-57](https://user-images.githubusercontent.com/59572905/150017451-8a5f0a56-e728-47d4-9a0c-3a1f8c865246.png)

[2022-01-18 21:02] DEHNCKA commented on #1226
It will look like this picture (this is in another application):
![2022-01-19_01-00-18](https://user-images.githubusercontent.com/59572905/150018055-ca0d6031-1a43-4d0b-8cd7-2b9ac988af08.png)

[2022-01-18 21:27] DEHNCKA commented on #1226
My final version:
![2022-01-19_01-03-38](https://user-images.githubusercontent.com/59572905/150021358-294baa34-83df-4c24-ae4e-847718b9112f.png)
[2022-01-19_01-03-38.zip](https://github.com/d2phap/ImageGlass/files/7892475/2022-01-19_01-03-38.zip)

#1227

[2022-01-18 21:33] DEHNCKA opened #1227 "Substrate (backlight) under the time counter"
The background (highlight) under the time counter should adapt to the theme of the program (have its own transparent color from the theme file). I represent it like this:

![2022-01-19_01-03-38](https://user-images.githubusercontent.com/59572905/150021497-d5b2a9ba-38e2-40f5-b483-85c1784d8707.png)
(Segoe UI - 48 pt; substrate (backlight) - based on iOS7 Icon Grid)
[2022-01-19_01-03-38.zip](https://

[2022-01-18 21:48] DEHNCKA opened #1228 "Icons for "ExifTool" and "Page navigation" in the toolbar"
Other tools have icons in the toolbar, but "ExifTool" and "Page navigation" don't, why? It would be logical to allow the user to add these tools to the toolbar.

[2022-01-18 21:54] DEHNCKA opened #1229 "Second row in the toolbar"
Sometimes not all icons fit on the toolbar (for example, when the program window is pinned to half the screen) and they begin to hide in the context menu of the toolbar. This is not very convenient. Instead, I suggest that the icons move to the second row (third, fourth, etc...) when the panel is "squeezed" into a narrow state.

[2022-01-18 22:09] DEHNCKA opened #1230 "Crop tool: adjust the background (highlight) to the theme of the program"
Set the "highlight" color when cropping the image to the "accentdarkcolor" setting, and also set the color of the lines (grid borders) to the "accentcolor" setting (this is also the color of the text links for now).

It would also be nice to work on grid anchors: they should be round and follow the theme of the program (in the color sense), but not stand out too much (not burn) and at the same tim

[2022-01-18 22:16] DEHNCKA opened #1231 "Separator icon in the theme of the program"
Add a separate icon for the toolbar icon separator to the theme of the program (sorry for the tautology). The height is the same as a regular icon, but the width of the icon is 4 pixels.

[2022-01-18 22:32] DEHNCKA opened #1232 "Translations for dialogues"
Add translation strings to language packs. We need to translate these dialogues:

![2022-01-19_02-19-09 (2)](https://user-images.githubusercontent.com/59572905/150029150-72ccefc2-c356-4bec-b11a-c5af2673d7d7.png)
![2022-01-19_02-19-32 (2)](https://user-images.githubusercontent.com/59572905/150029155-55911da4-3cd0-4afa-b2e1-435a917d65c4.png)
![2022-01-19_02-19-57 (2)](https://user-images.githubuserc

[2022-01-18 22:38] DEHNCKA opened #1233 "Notification sound: the ability to choose your sound file"
The title speaks for itself. Add the ability to select an individual file from a directory specified by the user (folder selection). Not all sound schemes in the system are suitable for the sound of the image switching notification in the slideshow. Changing the sound scheme every time is a strange undertaking, it is easier to designate the desired audio file.

[2022-01-18 22:42] DEHNCKA opened #1234 "Add the ability to turn off the sound notification in normal browsing mode"
Please add a setting to turn off the notification when we are NOT in slideshow mode, i.e. the ability to use sound notification ONLY in slideshow mode.

[2022-01-18 22:51] DEHNCKA opened #1235 "Mouse wheel scrolling not working in thumbnails panel"
### System information:
 - Windows OS version: 7 SP1 x64
 - ImageGlass version: 8.3.12.12_x64 (8.3.11.21 x64)

### My notes:
Hovering the mouse pointer over the thumbnail area and attempting to scroll through the thumbnails by scrolling the mouse wheel does NOT scroll the thumbnails. Moreover, if the "zoom" action is assigned to scrolling the mouse wheel in the settings, then this leads to a chang

[2022-01-18 23:13] DEHNCKA opened #1236 "GIF playback"
This has already been said, but I will add. It was proposed to add a play / pause button in the middle to the "Page navigation" tool so that you can continue playing the gif-file from the frame where you left off. I support it, I also really need this opportunity.

I propose to correct the Ctrl + Space command as well,so that when you press this combination again, playback does not start from the

[2022-01-19 08:24] yura-f opened #1239 "The white rectangle on the start"
### System information:
 - Windows OS version: win 10 pro (x64) (16Gb RAM)
 - ImageGlass version: 8.3.11.21 (x64)

### To Reproduce
Steps to reproduce the behavior:
1. Just open any image from ImageGlass

### Actual behavior:
You will see a white rectangle and after ~500ms showing the image

### Expected behavior:
I don't want to see the white rectangle on the start :)

### Screenshots:
![This is

[2022-01-20 10:11] SylwesterZarebski commented on #822
Is there any chance to code this in some foreseeable future? This is serious showstopper in my typical usage.

[2022-01-20 11:32] davecarrijo commented on #664
Dev, please can u fix it? Every time I put your program with mais image view. It happens.

[2022-01-20 20:02] SylwesterZarebski commented on #822
I've coded PR to fix this issue. Please review and possibly merge, thanks :-).

[2022-01-20 20:19] SylwesterZarebski commented on #822
PS. I've also made PR #1241 to make `Window fit` more useful.

[2022-01-21 02:06] d2phap commented on #97
ImageGlass 8.5 released with all binary files are signed.

![image](https://user-images.githubusercontent.com/3154213/150642179-80b3b192-026d-4f32-8d7f-f3739e7f48ea.png)

[2022-01-21 02:06] #97 closed

[2022-01-21 02:07] d2phap commented on #1216
Added user selection in MSI x64 installer for v8.4

[2022-01-21 02:16] d2phap commented on #546
Starting from v8.4 x64 MSI installer, you can choose the file type associations during installation process, and of course, it will be removed after uninstalled

[2022-01-21 02:16] #546 closed

[2022-01-21 02:24] kutysam opened #1244 "Feature to set opt-in for 'background app run' instead of opt-out"
Regarding `ImageGlass Kobe 8.4.1.22`
[code]

I personally am very against this. Here are my reasons.

1. This is an opt-out feature and I don't think there is a notification for the user to notice it on launch. So for the retail users, they will not be aware of this
2. Yes, it definetly gives advantage to the app as it starts up fast but it actually slows down the com on startup of windows as it s

[2022-01-21 02:29] d2phap commented on #1244
As announced, you can change these options in Settings > General or use config files to create your custom configuration if you want to opt out them when deploying to other machines.

https://imageglass.org/docs/app-configs

[2022-01-21 02:29] #1244 closed

[2022-01-21 02:49] kutysam commented on #1244
Sorry, but I don't think you are replying to the root thing I am describing. As a retail (non-computer geek), they probably won't know there is such option to disable it as they don't meddle with settings.

TLDR
- By having it as opt out by default (without informing users that it is being enabled) and having it impacting the user's overall experience on the computer isn't a very right thing to do

[2022-01-21 03:05] d2phap commented on #1244
One of the advantages of open source software is the users can modify it to the way they want. In your case, I suggest you to modify the source code, change those settings in Source\Components\ImageGlass.Settings\Configs.cs, and redistribute it, and respect the GPLv3 license of ImageGlass, you need to disclose the source code, too.

For low-end CPU that cannot effort 30MB RAM of IG, can also stay

[2022-01-21 03:37] kutysam commented on #1244
Sorry, but this has nothing to do with open source or closed source or .NET technology.

It's just about having an opt-in option on installation to let users control their preference and I have given my reasoning above. Starting up with computer is infact quite a important selectable option for a user to have.

**Ultimately, your reasoning shows that for technology to grow fast all apps should ada

[2022-01-21 04:03] xmha97 commented on #1216
This issue has not been resolved yet :(
I don't have admin rights.
I think the problem is that the installer wants to add the app shortcut to all users.

https://user-images.githubusercontent.com/23485114/150463579-ddefee05-ac73-42ab-87d6-c3b4db56a0c8.mp4

[2022-01-21 04:17] d2phap commented on #1244
Yeah if you know what WinForms is, you should search the issues with "limitation" labeled. I don't think IG users use the app once a month, if so, they would stay with the default one.

![image](https://user-images.githubusercontent.com/3154213/150461784-cedd6bc7-0b7e-4b41-b0c8-65078b94a897.png)

Retail user will stay with the default app instead.

First, the initial purpose of developing ImageGla

[2022-01-21 04:18] d2phap commented on #1216
I see, thanks for the video!

[2022-01-21 04:31] xmha97 opened #1245 "Shortcut name"
Please remove the version from the shortcut file name.
![image](https://user-images.githubusercontent.com/23485114/150466105-1baf6847-0b2d-42d9-a2b5-42c9849726f1.png)
Only apps mentioned their version in their names that can be installed into some versions at the same time. For example Visual Studio and Photoshop.

[2022-01-21 04:32] kutysam commented on #1244
Once again, I'm looking at the perspective of all users and the feature I am requesting is a small feature which is kind to all users. There's no disadvantage to it, only advantages.

It's up to you to close this issue but there may be others whom wish to also comment on this. I'll leave it up to you since you are the owner.

I guess we agree to disagree.
My last 2 cents: You should enable all you

[2022-01-21 04:42] Otiel commented on #1244
I agree with @kutysam. Even if this new option is a good idea for some users who often start ImageGlass, it shouldn't be the default as it impacts the startup time of Windows. In my experience, few people read the release notes, so it should be an opt-in setting.

[2022-01-21 05:00] xmha97 opened #1246 "Remove toolbar overflow menu free spaces"
Hi, please remove toolbar overflow menu free spaces.
![image](https://user-images.githubusercontent.com/23485114/150468639-867c4a40-4a54-400d-b553-a1a6fc865207.png)
Using IG v8.4

[2022-01-21 05:17] d2phap commented on #1246
Duplicated of #541. Btw, it's fixed in v9 branch

[2022-01-21 05:17] #1246 closed, assigned to d2phap

[2022-01-21 05:18] Chris1320 opened #1247 "Registry error when `Start with OS` is unchecked"
### System information:

 - Windows OS version: 21H2
 - ImageGlass version: 8.4.1.22

### To Reproduce
Steps to reproduce the behavior:
1. Open settings.
2. Uncheck `General > Others > Start with OS`.
3. Click "Apply" or "Save". (You might need to click it two or more times for the error to show)

### Actual behavior:

An error saying "No value exists with that name.". The title of the window says

[2022-01-21 05:30] d2phap commented on #1247
Thanks @Chris1320
Already paused the update notification. I will push a fix soon.

[2022-01-21 06:02] davecarrijo commented on #664
First  save the olds reg. them...

To me, this looks more like a Windows issue than a ImageGlass issue, tbh.
I've tested with several programs, and every program I've tested that registers itself as the default viewer for ICO files triggers this problem.

The solution, for me at least, was to remove the "HKEY_LOCAL_MACHINE\SOFTWARE\Classes\ImageGlass.AssocFile.ICO" and "HKEY_LOCAL_MACHINE\SOFTWARE

[2022-01-21 07:18] davecarrijo commented on #664
Or this, worked for me after trying all available solution on all well-known websites

then I tried
update 1: Python Repair Tool
Update 2: Google Drive File Stream
although I don't have used this app before

My Solution :

1: Enable Windows Administrator Account

Select “Start” and type “CMD“.
Right-click “Command Prompt” then choose “Run as administrator“.
If prompted, enter a username and passwo

[2022-01-21 07:22] #1174 closed, assigned to d2phap

[2022-01-21 07:32] d2phap commented on #664
In v8.4, ImageGlass ignores `.ICO` extension to avoid this issue

[2022-01-21 07:33] #664 closed

[2022-01-21 07:34] d2phap commented on #1247
This should be fixed in v8.4.2.22 now

[2022-01-21 07:34] #1247 closed, assigned to d2phap

[2022-01-21 07:36] xmha97 commented on #1245
It seems that this issue was fixed on "ImageGlass Kobe 8.4.2.22 - Hotfix".

[2022-01-21 07:36] #1245 closed, assigned to d2phap

[2022-01-21 07:37] d2phap commented on #1245
yeah

[2022-01-21 09:09] drandarov-io opened #1249 "Error message when closing ImageGlass (Store Version)"
### System information:
 - Windows OS version: Windows 11
 - ImageGlass version: 8.4 (Store)

### To Reproduce
Steps to reproduce the behavior:
1. Uninstall ImageGlass 8.3 from GitHub
2. Install ImageGlass 8.4 from Store
3. Disable "Start on login" and "Keep in background"
4. Save settings and close ImageGlass

### Actual behavior + Screenshot:
![image](https://user-images.githubusercontent.com/13

[2022-01-21 09:13] d2phap commented on #1249
Hi @drandarov-io
The fix (v8.4.2.22) is submitted to the Store, but the review process of Microsoft takes few days.
I will update here again once it's published.

[2022-01-21 09:14] drandarov-io commented on #1249
Thanks for the fast info! :)

[2022-01-21 09:30] Chris1320 commented on #1247
Cool, thanks!

[2022-01-21 09:34] vivadavid opened #1250 "Better explanation about the Spider Service"
Hi,

I've just read the information about the Spider Service (" This service shares device IP (none of your personal information is accessed) with Spider.com customers to pass traffic through your device") and I'm still not sure what the implications are (also I'm not technical, but my IP looks like personal information). I understand my IP is tracked and shared: but to whom and to what purpose? I

[2022-01-21 09:39] d2phap commented on #1250
Hi @vivadavid

You can find out the details here: https://imageglass.org/docs/spider-service, and https://imageglass.org/privacy.

If you are not sure, you can just remove it without a second of thinking.

[2022-01-21 09:47] vivadavid commented on #1250
Thank you for your quick reply. It might be my problem, but I did read all this information, and yet I don't know what Spider Service does with my data: that's why I wrote my message above. Is it just an ad provider?

[2022-01-21 09:56] d2phap commented on #1250
Spider collects IP address to use and improve their services. You can see the use cases on their website: https://www.spider.com

![image](https://user-images.githubusercontent.com/3154213/150506251-d87fbf91-523f-4dc6-8894-dd7f31346797.png)

[2022-01-21 10:06] vivadavid commented on #1250
Thanks for the info!

[2022-01-21 11:06] xmha97 opened #1251 "Can't show file type icon"
On registry, for all file types set "PhapSoftware.ImageGlass"
`.JPG`=PhapSoftware.ImageGlass
`.BMP`=PhapSoftware.ImageGlass
`.PNG`=PhapSoftware.ImageGlass

![image](https://user-images.githubusercontent.com/23485114/150515433-1f53e510-771f-40e6-90d0-5dda9567f4d1.png)
(See desktop icons)

This was not the case before and a key was set for each type of file. For example:
`.JPG`=ImageGlass.AssocFile.

[2022-01-21 11:23] d2phap commented on #1249
The fix arrived to the Store!

[2022-01-21 11:23] #1249 closed

[2022-01-21 11:25] AntoninCurtit commented on #1250
_Message transfered from release page dicussion_

Hi !
Thanks for this new interesting release ! Though, I have big concerns about the Spider service.

- First, the fact that the checkbox is enabled by default, which might be problematic and non-GDPR compliant. (This allegation is partially linked to next point and may be or not relevant based on your answer)
- [ ] Note to me : To read the privacy

[2022-01-21 11:57] xmha97 commented on #608
I need this key shortcut:
`ESC` to minimize

[2022-01-21 12:05] drandarov-io commented on #1249
Can confirm it's fixed. Thanks :)

[2022-01-21 12:44] martinlindhe opened #1252 "spider.com integration is user hostile and should be removed"
In the new version spider.com has been integrated. This allows internet users to abuse your IP doing any kinds of network requests proxied thru you.

This is user hostile, can lead to criminal charges of users of this software and is highly immoral.
Please reconsider dropping this or expect FORKS.

[2022-01-21 13:27] a1xon commented on #1252
Why not switch to a paid version? Uninstalled the app as soon as I noticed the bloatware.

[2022-01-21 13:28] martinlindhe commented on #1252
@a1xon This is not about the choices I am able to make, but about the spider.com malware being injected in normal user installs without their understanding of what that means.

[2022-01-21 13:58] a1xon commented on #1252
@martinlindhe sorry. missunderstanding. you are completly right. I meant instead of stuffing maleware into a free version you could completly switch the payment model to a paid version and don't offer a free version at all anymore.

[2022-01-21 14:09] d2phap commented on #1252
Alright, I guess people do not like this, so I will remove version 8.4!
The Store release is not affected.

[2022-01-21 14:49] d2phap commented on #1250
Hi, I decided to remove the Spider service from ImageGlass since all people don't like it. Instead, I will find the suitable model for the app.

Currently, version 8.4 is already removed from download. ImageGlass Store version is not affected.

I will work on an update this weekend.
Thank you!
Phap

[2022-01-21 15:44] MightyKnight commented on #1252
I believe, in contrast to *static* things like ads, promotions or similar, the main problem with the Spider integration is that it's not predictable what exactly they (a third party) does with your device (e.g. here any traffic could be routed over your IP).

Very positively surprised by you listening to feedback and changing it, I was about to drop ImageGlass.
I'm sure you'll figure out a better

[2022-01-21 16:10] martinlindhe commented on #1252
@d2phap Thank you for reconsidering this!
I would like to continue to support you so I will purchase a Microsoft Store version for now.

[2022-01-21 20:13] vivadavid commented on #1250
Thank you! I hope you find a good model for your app!

[2022-01-22 01:47] Yakabuff commented on #1252
@d2phap I love how you added literal malware to a supposed "lightweight image viewer".  How can anyone trust you after this lmao maybe you add a crypto miner next time?

[2022-01-22 03:04] d2phap commented on #1252
@Yakabuff what should I do now? I became international criminal after 1 night, and all people from nowhere can come and judge me. Before this integration, I made an announcement to poll people's reaction  on ImageGlass discord server for the first release of IG Moon. There were very little comments, I guessed people were fine with the changes, it's been there for 2 weeks. When it came to the offic

[2022-01-22 04:19] Yakabuff commented on #1252
@d2phap  It should go without saying that adding malware that connects you to a literal botnet goes against the essence of FOSS.  You shouldn't have to ask or raise a poll for something like this.

It's funny how you're somehow painting yourself as the victim and twisting it so it's somehow our fault that you had to do this because you don't get enough donations.  Nobody's holding you at gunpoint

[2022-01-22 04:50] d2phap commented on #1252
Ridiculous, why didn't you count these? Or I MUST write in details every single commit? I'm not working for a company here.

![image](https://user-images.githubusercontent.com/3154213/150624649-efd075a4-94f3-4aa9-93ea-1de403ccb70d.png)

If you really followed the project, you would always see all of my announcements for IG Moon were made in Discord. And why "your Discord server does not count"? It

[2022-01-22 05:00] eebssk1 commented on #1252
Fork, remove, compile, don't talk shit. If you really want, be polite.

[2022-01-22 05:13] Yakabuff commented on #1252
@d2phap  Last time I checked (a month or two ago), your ImageGlass server had ~100 people. Sure, it is an official support channel but compared to the number of stars this project has, you might as well be talking to a wall at this point.

Should we not be critical about your decision?  Are people just "haters" if they don't want malware in their image viewer?

[2022-01-22 05:15] silverwings15 commented on #1252
being constructively critical is one thing, but i don't see the point of your inflammatory posts made _after_ the dev has quickly rectified his mistake

[2022-01-22 05:39] Yakabuff commented on #1252
I don't see how any of my posts are inflammatory but yeah, I agree.  If the dev refuses to apologize or shoulder any responsibility other than "I already removed the botnet why are you hating" then you're absolutely right, this discussion is pointless

[2022-01-22 05:45] silverwings15 commented on #1252
sorry he didn't mail you a personal apology along with some roses to meet your personal standard of what fixing a screw-up should entail. i hope you will find a software more suitable for your needs going forward, where lip service is more important than actions. shouldn't be too hard 👍‍

[2022-01-22 07:05] martinlindhe commented on #1252
@Yakabuff you are not adding to the discussion.

[2022-01-22 07:09] andranoxi commented on #1252
This "screw-up" shouldn't've happened in the first place. For something calling itself "a lightweight, versatile image viewer" to also make you essentially an exit node makes zero sense.

Kinda goes against that whole tagline. I'd understand it a *little* more if it were an opt-in "help the developer pay the bills" kind of deal but to be enabled by default and adding unknowing users to what is ess

[2022-01-22 07:17] xmha97 commented on #608
Please add "Hotkey settings" (like ShareX)

![image](https://user-images.githubusercontent.com/23485114/150628970-beb19a0b-1e29-467a-9218-522cff606306.png)

[2022-01-22 07:33] silverwings15 commented on #1252
all fair points, but he realized his mistake soon enough and did the right thing by pulling the new 'feature' entirely, instead of leaving it in and making it opt-in, or worse, persisting with his initial decision like other projects i've seen in the past would've done.

[2022-01-22 10:20] d2phap commented on #1250
Hi, the version 8.5 is already released:
- No more Spiderman no way home
- Options: Start with OS and Continue running background is unset by default
- Others features and bugfixes are same as v8.4 (which was already withdrawn)

Thank you!

[2022-01-22 10:20] #1250 closed

[2022-01-22 10:22] AntoninCurtit commented on #1250
We're sorry that you had to revert your work, but I'm happy the way you handled that. Thanks to you !

[2022-01-22 10:23] d2phap commented on #1252
Hi, the version 8.5 is already released:
- No more Spiderman no way home
- Options: Start with OS and Continue running background is unset by default
- Others features and bugfixes are same as v8.4 (which was already withdrawn)

I will close this, if you want to continue the discussion here, feel free to create another one in Discussion.
Thank you!

[2022-01-22 10:23] #1252 closed

[2022-01-22 10:25] d2phap commented on #1250
I'm also sorry for that bad idea, too.
Thank you

[2022-01-22 10:26] d2phap commented on #1251
This should be fixed in the MSI x64 of v8.5. It took me 2 hours to key in all extensions into AdvancedInstaller

[2022-01-22 10:26] #1251 closed, assigned to d2phap

[2022-01-22 10:31] Otiel commented on #1250
Thanks for listening to the community. I hope you find a good model to sustain your work without affecting users, particularly those who are less tech-savy or not aware of tracking practices to watch for.

Thank you for your hard work ❤️

[2022-01-22 10:56] DEHNCKA commented on #1227
Note: The dark gray border is just a background, like a viewport in a program or an image.

[2022-01-22 10:57] DEHNCKA commented on #1226
Note: The dark gray border is just a background, like a viewport in a program or an image.

[2022-01-22 11:06] #1219 closed, assigned to d2phap

[2022-01-22 12:35] ntvinh11586 commented on #1244
Agree with @kutysam, app should not be launched on windows startup in default. Nowadays, many apps have been defaultly launched in startup time, it is really annoying users to check then turn off most of them.

My suggestion to @d2phap: If ImageGlass actually need to run in background at startup time, I think it is better to optimise the app startup point to make it loaded faster.

[2022-01-22 12:40] xmha97 commented on #1251
Thanks.

[2022-01-22 15:56] digitalblossom commented on #1252
@d2phap One last thing, check out OpenCollective and Librepay if you want ro receive donations. DarkReader makes 100 thousand USD per year via the former.

Github sponsors would be an option as well of course.

[2022-01-22 16:23] d2phap commented on #1252
Thanks @digitalblossom
I think I put quite a lot of options already :)

[2022-01-22 16:44] stedaniels commented on #1244
I imagine the auto running in the background feature was added to increase the veracity (and profitability) of the Spider.com malware egress VPN feature that was also slipped in.

[2022-01-23 01:37] PaulCoddington commented on #693
This would make using ImageGlass a lot more practical.

With professional photographic and video monitors the Windows Color Profile gets changed automatically by the monitor on the fly when switching modes to different color spaces, each with their own variations of brightness, gamma and color primaries (BT.709, BT.2020 and DCI for watching/editing video or prepping photos for slide shows on UHD T

[2022-01-23 10:18] SaiBork opened #1260 "Custom Install location broken with 8.5"
### System information:
 - Windows OS version: 11, 21H2, 22000.434
 - ImageGlass version:  8.5.1.22

### To Reproduce
Steps to reproduce the behavior:
1. Start x64 msi installer
2. Select Custom
3. Select MainFeature
4. Click Browse to change location
5. Installation Type either (both cause an issue)
6. Continue installation

### Actual behavior:
During the install screen above it shows the correc

[2022-01-23 10:24] d2phap commented on #1260
Confirm the bug

[2022-01-23 10:25] SaiBork commented on #1260
I've updated the report with more details as I've now seen what part causes the issue. It's the "Installation Type" that breaks it. So better off to install an old version and then overwrite with the portable new release at this point.

[2022-01-23 11:13] d2phap commented on #1260
@SaiBork fixed this, you can download the MSI x64 again

[2022-01-23 11:13] #1260 closed, assigned to d2phap

[2022-01-23 11:16] SaiBork commented on #1260
@d2phap Done and confirmed working with the order changed. Thanks for the quick update.

[2022-01-23 18:27] fire-eggs commented on #937
RE: transparent background, see issue #548

[2022-01-23 19:03] SilverKnight-Z opened #1263 "Icons from icon files saved with ImageGlass appear blank"
### System information:
- Windows OS version: Windows 7 Starter SP1 32-bit

- ImageGlass version: 8.3.11.21 (x86 Installer)

### To Reproduce
Steps to reproduce the behavior:
- Open ImageGlass.
- Open an image.
- Save the image as ICO file.
- Open the Windows explorer.
- Check the folder where you saved the ICO file.
- Change the folder view to details view, list view or small icons view.
- Check

[2022-01-23 19:11] SilverKnight-Z opened #1264 "Impossible to change shortcut icons in Windows with icons saved with ImageGlass"
### System information:
 • Windows OS version: Windows 7 Starter SP1 32-bit

• ImageGlass version: 8.3.11.21 (x86 Installer)

### To Reproduce
Steps to reproduce the behavior:

- Open ImageGlass
- Open an image
- Save the image as ICO file
- Go to the Windows desktop
- Select a shortcut and right click
- Select properties
- Go to the shortcut tab
- Click on change icon
- In the new window that app

[2022-01-23 19:24] SilverKnight-Z opened #1265 "ImageGlass installer has wrong default installation directory and creates unnecessary folder in 32-bit Windows"
### System information:
- Windows OS version: Windows 7 Starter SP1 32-bit

- ImageGlass version: 8.5.1.22 (x86 Installer):

### To Reproduce
Steps to reproduce the behavior:

- Open ImageGlass 8.5.1.22 (x86) MSI Installer
- Follow the installation instructions
- When the installer asks for the location where you want to install ImageGlass, change the default location to "C:\Program Files\ImageGla

[2022-01-23 21:46] Shituation opened #1266 "Hidden settings in the UI"
### System information:
 - Windows OS version:  WIN 10 x64
 - ImageGlass version:  8 5 1 22

### To Reproduce
Steps to reproduce the behavior:
1. Go to settings
2. Go to "image" on the left side.
3. Scroll down to "Slideshow"

### Actual behavior:
![image](https://user-images.githubusercontent.com/43975882/150699131-4bb00168-6f06-48aa-a7dc-13e497086897.png)

[2022-01-24 12:12] vuslatx opened #1268 "Changing Settings with Mouse Scrolling"
Excuse me for my bad English.

### System information:
 - Windows 11 Pro
 - ImageGlass version: Imageglass 8.5 portable without spiderman

1.  On settings panel, options change with mouse scrolling. I think it is unnecessary and causes confusion. I want to scroll down option page, but option changes. On blank space, no problem but i shouldn't have to do for this.

### Expected behavior:
If i want

[2022-01-24 15:53] fire-eggs commented on #1266
I don't see the issue with IG 8.5.1.22 (which supercedes 8.4.x, that release has been withdrawn).

If you still see the problem after upgrading to 8.5.1.22, we'll probably need to know more about your system (esp. the monitors - HD, resolution, etc).

[2022-01-24 15:55] Shituation commented on #1266
Try setting your res to 3840 x 2160 and scale at %200.
Corrected the version, it was 8.5.1.22.

[2022-01-24 15:59] fire-eggs commented on #1263
Interesting. I can't repro with Win7 Pro 64 bit / IG 8.5.1.22.

I'll see if I can dig up a 32-bit Win-7 installer ...

[2022-01-24 16:11] fire-eggs commented on #1268
Yes, I see the issue.

Part of this is "standard windows control behavior". Once input focus is on a combobox for example, clicking the up/down arrows moves between the options in the list. Defined by Microsoft, not IG.

A work-around is to use the Tab key to move focus between the controls. As focus moves further down the controls, the panel will scroll.

[For some reason, in the Images section,

[2022-01-24 16:22] fire-eggs commented on #1266
Yup, I see it now ...

There's a little glitch in the tools panel as well:

![image](https://user-images.githubusercontent.com/9809727/150822701-e96d5623-9aae-439d-b8bf-4e5522bcb81f.png)

[2022-01-24 16:36] SilverKnight-Z commented on #1263
I forgot to mention: It also happens with IG 8.5.1.22. I updated yesterday to see if this bug was fixed, but sadly it wasn"t. I also did I clean install but it's the same

[2022-01-24 16:50] worldsdream commented on #1260
When I saw the release with spider, I had my concerns too.

Thanks for listening to the users/customers @d2phap. You're always friendly and bring ImageGlass to the next level. I will buy ImageGlass in the Microsoft store.

[2022-01-24 16:52] worldsdream commented on #1252
When I saw the release with spider, I had my concerns too.

Thanks for listening to the users/customers @d2phap. You're always friendly and bring ImageGlass to the next level. I will buy ImageGlass in the Microsoft store.

I would have loved to buy it from your website with a key. I am not so in favor of Microsoft store apps. Just to let you know.

[2022-01-24 18:32] ghost opened #1271 "Right-click menu's frame"
### System information:
 - Windows OS version: Windows 10 21H2
 - ImageGlass version: 8.5.1.22 x64

### To reproduce
Steps to reproduce the behavior:
1. Open any right-click menu.

### Actual behavior:
Top and left frame line has higher width from bottom and right. Not sure if this is intentional or not.

### Expected behavior:
All lines having same width.

### Screenshots:
![image](https://user-i

[2022-01-24 19:12] fire-eggs commented on #1263
TL;DR : appears to be expected behavior from a clean Windows 7 Explorer. It would be nice if IG _could_ make a better ICO file. Also a reminder: IG doesn't provide the icons shown in Windows Explorer, a shell extension such as [SageThumbs](https://www.cherubicsoft.com/en/projects/sagethumbs/) might solve the issue.

Here's what I've found. This is with a clean Windows 7-SP1 x86 install.

Any .ico

[2022-01-24 19:13] fire-eggs commented on #1266
The Scale at 200% is what causes the issue.

[2022-01-24 19:35] fire-eggs commented on #1266
I think the problem is caused by using "Percent" instead of "Autosize" or "Absolute" for the `tableLayoutPanel2` container in frmSetting.

Not sure what's going on in Tools except maybe needing a little more margin below the "command args" control.

[2022-01-24 19:37] fire-eggs commented on #1271
Duplicated by issue #1218

[2022-01-24 19:37] #1271 closed, assigned to d2phap

[2022-01-24 21:03] SilverKnight-Z commented on #1263
In fact my Windows file explorer does not have any extensions, codecs or anything like that. What I did install were all the updates available for Windows 7 back in June 2020. Which reminded me that before I installed them, the thumbnails in some of my video files weren't appearing (video files with codecs and containers that Windows can play perfectly well, of course), and after installing the up

[2022-01-24 21:12] Hexawolf commented on #1252
Why is this happening? I remember the controversy around MuseScore and Audacity, then some open-source author (who also happened to be making explosives at home), now a photo viewer!.. Who's next? Krita? Blender? What kind of dystopia this is, instead of building tighter communities to survive the advent of neo-feudalism, we are trying to f*ck with each other. People were fine with doing open-sour

[2022-01-25 02:24] pebble2050 opened #1272 "open folder"
Great work! It would be even greater if support open folder with sub folders. Since I have too many photos classified by folders.
Thanks.

[2022-01-25 02:26] d2phap commented on #1272
You can check this option:
![image](https://user-images.githubusercontent.com/3154213/150899403-6647347d-ec3e-4758-a6dd-3730c0bbdfed.png)

[2022-01-25 02:51] pebble2050 commented on #1272
@d2phap
Thanks for reply. Could you please add a menu for open fold. It would more convenient to open fold explicitly.  Sometimes It won't be a photo at root directory.

[2022-01-25 09:40] vuslatx opened #1273 "After rotate, can't save the image."
### System information:
 - Windows 11 Pro With Latest Update since now.
 - ImageGlass version: 8.5 portable

After rotate, can't save the image.

I tried to explain my problem with video:

http://tuskolik.com/1494.mp4

https://user-images.githubusercontent.com/3154213/169681115-9ebe4ede-7343-45d8-a528-4af94742ab96.mp4

I tried these:

Uninstall and reinstall, portable mode, non-portable mode, prev

[2022-01-25 13:00] AuerBau commented on #1203
Hi there,

is will be great when we have this button. Is there a plan to implement this?

[2022-01-25 15:58] fire-eggs commented on #1273
Looks like the "save at exit" case was missed.

For this situation [where you have more than one image in the folder] the save _should_ happen when you go to the next image.

[2022-01-25 16:30] Shituation commented on #1273
Why not making it save instantaneously for rotation? sometimes you just need to rotate one image and you don't have anymore in the folder so you just close the app; this doesn't save the rotation.

[2022-01-25 17:18] spiderwest commented on #1250
I am the CEO at Spider.com. We vet all of our users, you likely know who our customers are, they are large fortune 500 companies. Businesses that need pricing on Amazon products or positions in Search Engine results. The large enterprises with all this data don't make it easy to gather at scale. So by using a few queries from thousands of different IPs we can use the collective wisdom of the crowd

[2022-01-25 17:18] spiderwest commented on #1252
I am the CEO at Spider.com. We vet all of our users, you likely know who our customers are, they are large fortune 500 companies. Businesses that need pricing on Amazon products or positions in Search Engine results. The large enterprises with all this data don't make it easy to gather at scale. So by using a few queries from thousands of different IPs we can use the collective wisdom of the crowd

[2022-01-25 22:28] fire-eggs commented on #1273
Which I admit is a bug. Not saying otherwise, just suggesting a possible workaround.

Reasonable question, as long as the "save image after rotating" option in Settings \ Edit was respected.

Since ImageGlass can't write using all the image formats it can read, it might not be desired to auto-save. For myself, I'll rarely want to save a rotation, I'm just looking at the image from a different pers

[2022-01-25 22:30] fire-eggs commented on #1263
I'll mark it as "improvement" ...

[2022-01-25 22:49] Shituation commented on #1273
What about an option to turn on or off the "instantaneous save" and some lines of code to tell the app that "if the source image cannot be saved because the program doesn't support saving in that format, show the user a warning about transcoding the image to JPG" or something like that?

IMHO the most used formats are jpg, jpeg, bmp, png and not much more. Gifs maybe? but those are usually animate

[2022-01-25 23:46] SilverKnight-Z commented on #1263
Ok, thank you!
Edit: I'll close #1264 now that I now what's happening there

[2022-01-25 23:52] #1264 closed, assigned to d2phap

[2022-01-26 08:47] DimMan88 opened #1274 "Windows Store/native apps icons lost at windows search ONLY"
I have a problem since last summer.

Windows Store/native apps icons lost at windows search ONLY.
Tried sfc /scannow (no problem found) ,
Tried Dism /Online /Cleanup-Image /CheckHealth (no problems found)
Tried Dism /Online /Cleanup-Image /ScanHealth (no problem found)
Tried rebuild icon cache, delete Google drive (many people says that is gdrive problem)...no solution yet.
Maybe this is not a Mic

[2022-01-26 09:04] d2phap commented on #1274
There is a solution here: https://github.com/d2phap/ImageGlass/issues/664#issuecomment-1018246003

[2022-01-26 09:04] #1274 closed, assigned to d2phap

[2022-01-26 09:06] d2phap commented on #1273
@elcosomalo1 because it's a bug. In v8.5, I tried to fix this issue, but this seems remain.

[2022-01-26 09:11] d2phap commented on #1272
Just changed this to feature request. While waiting for it to be implemented, you can drag and drop the folder to the viewer for now.

[2022-01-26 15:23] DimMan88 commented on #664
Finaly **problem solved**.

After tried E-V-E-R-Y-T-H-I-N-G how to solve this issue........

**Its not an .ico issue.**

UWP apps have .PNG icons located in their package folder inside WindowsApps folder...

**1.** You must change the permissions in the WindowsApps folder to TrustedInstaller and follow these commands here:

**https://www.winhelponline.com/blog/windowsapps-folder-restore-default-pe

[2022-01-26 17:54] xmha97 commented on #982
@d2phap
This problem is related to Adobe Acrobat and is outside the scope of ImageGlass.
Also, this issue has also been resolved in the latest version of Adobe Acrobat Pro.

[2022-01-26 18:19] dgonyier commented on #480
I see this issue with WIndows Store app icons. Running ImageGlass 8.5.1.22 x64 installed from MSI installer, if that matters.

[2022-01-26 18:23] dgonyier commented on #480
Seems to only happen when using the search bar to find an app. Just scrolling through the start menu or pinning to the start menu both show the correct icon. I blame Cortana :)

[2022-01-26 21:41] xmha97 opened #1275 "Associate PDF files"
ImageGlass can open the first page of the PDF files.

This is great for me because I can extract PDF books covers in JPG format.

[![ImageGlass](https://cdn.discordapp.com/attachments/818852544859209751/935098302519705640/unknown.png)](https://discord.com/channels/818852544859209748/818852544859209751/935098303106932756)

Please associate PDF files with ImageGlass.

![image](https://user-images.gi

[2022-01-26 22:54] lbux commented on #480
I ended up upgrading to Windows 11 (22000.434) and the issue has not yet presented itself. Nothing I did on Windows 10 fixed it, so perhaps the issue was fixed with something Microsoft did from 10->11

[2022-01-27 11:34] d2phap opened #1277 "Public opinion poll about Spider service"
Yes, it's about the Spider service again, **but don't worry, I have a solution, and I want to hear your opinions**.
This is my last topic about the Spider service. I want to create this public opinion poll to collect your feedback.

_ | Details
-- | --
From | January 28, 2022
To | February 03, 2022
At | [ImageGlass GitHub](https://github.com/d2phap/ImageGlass/issues)

## The old implementation in

[2022-01-27 13:19] SylwesterZarebski commented on #822
Thanks a lot :-).

[2022-01-27 13:23] d2phap commented on #822
Shipped this to the latest build of IG Moon: https://imageglass.org/moon

[2022-01-27 13:25] d2phap commented on #1202
Thanks @Sxderp!
Shipped this to the latest build of IG Moon: https://imageglass.org/moon

[2022-01-27 16:07] MoemenShahawy commented on #1250
nah bro we good. the spider thing been deleted for good. this is an image viewer and it's good for what it does. I'm out the moment it starts to get complicated and have too much background stuff like spider and windows start service (why would I want an image viewer in queue to slow down my startup and run in the background while I'm gaming or working is beyond me)

If it works don't try to fix i

[2022-01-27 19:19] DEHNCKA commented on #1277
50/50

You yourself spoke about the inadmissibility of "inflating" the program. I think this is it. I also understand that I do not need problems with the law and the authorities, so I will not support the Russian-language translation (and, if necessary, the design themes) for "ImageGlass Spider". I will only support the regular version of ImageGlass. I have a concrete example from life when a per

[2022-01-27 19:25] DEHNCKA commented on #1277
As long as I have the opportunity, I will support financially, but in other ways, not through "Spider".

[2022-01-28 02:54] d2phap commented on #982
Thanks @xmha97!
Similar issues also resolved here https://github.com/d2phap/ImageGlass/issues/664#issuecomment-1022305280

[2022-01-28 02:54] #982 closed, assigned to d2phap

[2022-01-28 03:04] d2phap commented on #1275
@xmha97 ImageGlass uses Magick.NET to read the files. The reason I don't add PDF into default extensions is it requires Ghostscript to read.

You can check all of supported formats of it here:
http://imagemagick.net/script/formats.php#supported

[2022-01-28 03:09] xmha97 commented on #1275
OK, I'll close this issue.

[2022-01-28 03:09] #1275 closed, assigned to nobody

[2022-01-29 08:06] TheCGDF opened #1278 "Is it possible to adjust the size of thumbnail manually?"
### Is your feature request related to a problem? Please describe.
Thumbnails look too small on my HDR screen.
![ImageGlass_EJwiQDEAOa](https://user-images.githubusercontent.com/17256673/151652910-b14de3da-c38b-4b9f-b074-2d4e53a87581.jpg)

### Describe the solution you'd like

I tried to adjust the width of the thumbnails, but it just becomes two columns.
![image](https://user-images.githubusercon

[2022-01-30 12:13] olippuner opened #1279 "Image Properties display integrated in a sidebar"
### Making it the best tool to delete images in large shooting sets, based on fully informed decisions
 A great software with potential to become the favorite tool for photographers that need to scan hundreds or even thousands of photographs of one shooting. These are frequent numbers, eg. for animal photographers as I am. In Postprocessing of the first tasks is to trim down those fast numbers of

[2022-01-31 07:44] Zeus64 opened #1280 "ImageGlass 8.5.1.22 not start anymore"
I just updated ImageGlass to the very last one 8.5.1.22 and now the app is not starting anymore (when i double click on a icon I can see the imageglass.exe appearing in the task manager but it's disappear suddenly)

[2022-01-31 08:29] d2phap commented on #1280
It sounds like config file's problem.
Can you open `%AppData%\ImageGlass` folder, and delete `igconfig.xml` file?

[2022-01-31 10:42] cihe13375 commented on #1277
Not sure on this. Personally I don't see a reason to use the Spider version after such split --- like why run some (potentially risky) bloatware on my computer when I can choose not to (also I don't think services like Spider are beneficial to the Internet ecosystem as a whole). If I want to sponsor the project I'd like to donate directly (by MS Store or direct purchase), which is better for both

[2022-01-31 13:18] Zeus64 commented on #1280
Hello, even deleting igconfig.xml do not help. Note also that on my machine ImageGlass is installed in C:\Program Files\ImageGlass\ not in %AppData%\ImageGlass

[2022-01-31 23:18] fire-eggs commented on #1280
This sort of behavior usually means a dependency is missing, or ImageGlass is crashing early on.

On the off-chance you upgraded from a much earlier version of ImageGlass, you want to insure that you have the correct [.NET
framework](https://dotnet.microsoft.com/download/dotnet-framework/net48) installed, and the latest Visual C Runtime [(64-bit)](https://aka.ms/vs/17/release/vc_redist.x64.exe) or

[2022-02-01 07:51] Zeus64 commented on #1280
I upgraded from the previous version of ImageGlass (updated 2 months ago).

no, well ImageGlass start (I can see the exe in the taskmanager) but close immediately after and show nothing.

the only think is that I installed imageGlass in :\Program Files\ImageGlass\

[2022-02-01 08:06] d2phap commented on #1280
@Zeus64
Can you send me the `igconfig.xml` file in `%AppData%\ImageGlass` folder?
Or a video also helps.

Thanks

[2022-02-01 08:12] Zeus64 commented on #1280
I have 2 igconfig.xml :

C:\Users\zeus\AppData\Roaming\ImageGlass\igconfig.xml

[code]

and

c:\Program Files\ImageGlass\igconfig.xml

[code]

before the very last update everything was working fine

[2022-02-01 08:15] Zeus64 commented on #1280
also in the windows event I have :

Application: ImageGlass.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.MissingMethodException
   at ImageGlass.Program.CheckFirstLaunchConfigs()
   at ImageGlass.Program.Main()

Faulting application name: ImageGlass.exe, version: 8.5.1.22, time stamp: 0x61ed30b9
Faulting module name

[2022-02-01 21:58] fire-eggs commented on #1280
Thank you for your continued patience, these sorts of issues are rather difficult to diagnose ...

Is it possible the upgrade has installed the 64-bit version of ImageGlass on a 32-bit system? Could you tell us what version and bit-ness of Windows you are running?

I asked that to see if it was a problem with file associations etc. The Windows Event log shows that it is not the case.

If you want

[2022-02-02 10:04] Zeus64 commented on #1280
I m on windows 10 64 bit. I ran the installer x64 (24.6 MB)

In fact the portable version is not strictly the same as the one in the installer x64. The exe have the exact same version number but they are different for very few bytes (some dll too)

No it's didn't help :( also .net framework was updated to the very last one offered by Microsoft via windows update.

[2022-02-02 17:54] fire-eggs commented on #1280
OK, that is concerning.

I did a clean install of IG 8.5.1.22 on Win10-20H2 into C:\Program Files\ImageGlass. I also got a copy of the portable version. Both run with no issues. Using Explorer properties, I see _no_ difference in size between _any_ files in the two versions.

Between this and since a .NET update made no difference, I'm now thinking the upgrade process might have left you with a mi

[2022-02-02 20:35] Zeus64 commented on #1280
yes if I replace the content of the directory C:\Program Files\ImageGlass with the one located in ImageGlass_8.5.1.22_x64.zip (portable version) then it's work well! so it's look like the setup didn't update all dll/file in the directory keeping a mix of new and old files :(

[2022-02-02 23:36] 4evermaat opened #1281 "customize mouse scroll button actions (tilt wheel)"
### Is your feature request related to a problem? Please describe.

customize mouse scroll wheel and other mouse buttons if they are available.

### Describe the solution you'd like

1) Mouse scroll button should customize between zoom-in/out or having to hold `ctrl` or `shift` + move scroll wheel.

2) Also what I really want is to test mouse wheel zoom in/out vs mouse wheel scroll up/down page (i

[2022-02-03 13:07] vivadavid commented on #1277
Hi! I think the proposal is quite reasonable. The key point is that users are informed and can decide.

[2022-02-03 13:28] malondkarchetan04 opened #1282 "File open process instance remains active even after the file is closed"
### System information:
 - Windows OS version: 21H2 (OS Build 19044.1503)
 - ImageGlass version: 8.5.1.22 x64

### To Reproduce
Steps to reproduce the behavior:
1. Create a new folder on desktop
2. Add few images (maybe PNG or JPG files)
3. Double click to open and use arrow keys to scroll through multiple images in the folder
4. Close ImageGlass
5. Move all the images to another folder in the dri

[2022-02-03 13:31] d2phap commented on #1280
Thanks @Zeus64
I will monitor the issue, but I'm glad that you made it's working now.

[2022-02-03 16:26] Sxderp commented on #1282
1. This was a request https://github.com/d2phap/ImageGlass/issues/1196 ; to deal with the fairly slow start time of the software.
2. You should be able to disable it in Settings -> General -> Others by unseleting "continue running in background".
3. Newest (unreleased? but probably available as an "unstable" download) should disable this by default. Unfortunately I think you may need to uncheck it

[2022-02-03 17:01] fire-eggs commented on #1281
I'm sorry to be stupid, but you'll have to be more specific. ImageGlass already has MouseWheel customizations:

![image](https://user-images.githubusercontent.com/9809727/152391026-62446d94-4926-49ef-980b-5540cabdaac0.png)

So you could set a ctrl/shift/alt combo to be zooming, and another combo to be next/prev.

What options are missing?

[2022-02-03 17:04] fire-eggs commented on #1282
The "real" issue here would be ImageGlass holding on to existing handles. The background process shouldn't need to do that.

Otherwise the behavior is intentional, beneficial, and as @Sxderp reminds us, can be disabled.

[2022-02-04 05:38] d2phap commented on #1277
Thanks all for your feedback.
I decide to go with the proposal implementation above, and also continue monitoring the feedback for future adjustment. ImageGlass will always have free-and-clean version as it is.

[2022-02-04 05:38] #1277 closed

[2022-02-04 07:21] 4evermaat commented on #1281
Mouse wheel click

Mouse wheel tilt left

Mouse wheel tilt right

https://computer.howstuffworks.com/mouse11.htm
https://www.efxkits.us/wireless-tilt-wheel-mouse-working-with-applications/

https://stackoverflow.com/questions/1092500/why-isnt-my-app-getting-mouse-wheel-tilt-messages

[2022-02-04 15:21] fire-eggs commented on #1281
Great! Thank you for the clarifications!

[2022-02-09 15:39] Osahashi opened #1285 "X - close button for the toolbar"
Just a small thing, would it be possible if you add an X button to the toolbar? An X button so that you can close the program with it.

I always close the program and use frameless, so I have to either use ESC on the keyboard or go to Exit in the main menu.

Thank you!

[2022-02-09 17:11] d2phap commented on #1285
Similar to #1182

[2022-02-09 17:11] #1285 closed, assigned to nobody

[2022-02-10 18:17] unquietwiki commented on #1198
@d2phap Hey, on this subject in particular, I put together https://unquietwiki.com/en/TechFindings/CodeQuality this week. I think you can use this to take care of stuff I wanted to tackle, as you continue development on the next version.

https://sixlabors.com/posts/announcing-imagesharp-200/ This also randomly came across my feeds. Might be useful.

[2022-02-11 09:44] d2phap commented on #1198
Thanks @unquietwiki
That's an useful resource

[2022-02-11 12:23] unquietwiki commented on #1198
No problem! The past 3 months, I've been doing more programming, so this is
something that I needed to keep track of & communicate with folks.

Michael Adams, unquietwiki.com

On Fri, Feb 11, 2022, 1:44 AM Phap Dieu Duong ***@***.***>
wrote:

[2022-02-12 20:12] thangarajj commented on #614
Yes it would be great to get this on linux. I tried it in windows and liked it a lot (things like, just hit esc to close the app is exactly what I need), but my primary OS is Manjaro KDE and hoping this will make it's way to linux someday soon! Thank you.

[2022-02-12 23:48] leo-smi commented on #1081
For me the crop doesn't save even if I clice manually in save.

[2022-02-13 04:29] unquietwiki commented on #1198
@d2phap I'm going to close this issue since you have the tooling reference now, and you said you were going to be a while on the new version. Thanks for having a look!

[2022-02-13 04:29] #1198 closed, assigned to nobody

[2022-02-13 10:38] Aikatsui commented on #614
@d2phap you may also able to consider code from scratch, try to make something unbelievable ;)
https://github.com/KDE/gwenview
https://github.com/nomacs/nomacs (with cross builds)
https://gitlab.com/luspi/photoqt (with cross builds)
https://www.irfanview.com/ (for see features)

I noticed a random usage rating for imageglass
https://libreddit.silkky.cloud/r/kde/comments/omq3o3/is_there_a_gwenview_

[2022-02-13 20:47] thangarajj commented on #614
I rediscovered xnview mp, never tried it on linux and it works very well. Thanks for pointing in the right direction!

[2022-02-14 23:50] fire-eggs commented on #1081
Your comment is not related to the issue raised here. Please open a new issue instead.

[2022-02-15 12:07] mirh opened #1287 "Scale to fill doesn't take into account the toolbar"
### System information:
 - Windows OS version: 10 20H2
 - ImageGlass version: 8.5.1.22

### To Reproduce
Steps to reproduce the behavior:
1. Open an image
2. Resize the window to be wider than the image aspect ratio
3. Make sure the toolbar is enabled
4. Click scale to fill

### Actual behavior:
The image is stretched to fill the entire window, as if the toolbar was drawn on top of it

### Expecte

[2022-02-15 12:32] #1204 closed, assigned to nobody

[2022-02-15 12:33] mirh commented on #979
This is likely a consequence of #437.

[2022-02-15 12:37] d2phap commented on #974
Add panning speed options in Settings > Image (#1286).
Deployed to the latest build of IG Moon: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/154062970-f04f6635-c067-40be-821f-f1d47ccaaff5.png)

[2022-02-15 12:38] d2phap commented on #1179
Add panning speed options in Settings > Image (#1286).
Deployed to the latest build of IG Moon: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/154062970-f04f6635-c067-40be-821f-f1d47ccaaff5.png)

[2022-02-15 12:50] d2phap commented on #1204
Deployed to the latest build of IG Moon: https://imageglass.org/moon

[2022-02-15 12:55] #1179 closed, assigned to nobody

[2022-02-15 13:31] mirh opened #1288 "Support Physical Pixel Dimensions"
### Is your feature request related to a problem? Please describe.
Some images (particularly when extracted from old ass media) don't have square pixels.
[Sample](https://user-images.githubusercontent.com/9366725/154070178-b8f4d99c-043a-4ff7-b24a-a674eb7bc753.png).
This should end up being displayed in 16:9, but if you don't parse the right metadata it's just 3:2.

### Additional context
http://ww

[2022-02-16 05:20] BradKML commented on #1272
Folder View Clarification: is it something like this? (Image from Qimgv)
![](https://raw.githubusercontent.com/easymodo/qimgv/master/qimgv/distrib/screenshots/qimgv0.9_2.jpg)

Also how would this tie in to https://github.com/d2phap/ImageGlass/issues/1067

[2022-02-16 08:41] pebble2050 commented on #1272
@d2phap
Yes,It seems OK.  FILESYSTEM(and the entire left side) tree should be togglable(show or not). May be add group display,When have sub directories in the right side. Thanks.

[2022-02-16 16:09] VolatileZero opened #1289 "ImageGlass Spider is still prominently featured on the website"
Even though you understood that your users were unhappy with the Spider integration and you removed it, the spider downloads are still the top 2 here:
https://imageglass.org/release/imageglass-kobe-8-5-1-22-34#downloads

The spider version is also available in the Downloads drop down menu at the top of the website.

![image](https://user-images.githubusercontent.com/11384159/154306979-cfc2b86f-1ce

[2022-02-18 00:47] tokukawa01 commented on #1179
Thank you very much!😊 I wait for this option a long time.

---Original---
From: "Phap Dieu ***@***.***&gt;
Date: Tue, Feb 15, 2022 20:39 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [d2phap/ImageGlass] Image move distance too short (Issue #1179)

Add panning speed options in Settings &gt; Image (#1286)

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Tria

[2022-02-18 12:36] Zeus64 opened #1290 "ImageGlass too slow especially for raw file. maybe use embedded jpeg ?"
ImageGlass is very slow to open, especially for raw file, but often raw files contain embedded jpeg with high resolution (exemple my raw contain a preview jpg of 1616x1080 that is often bigger than the screen resolution) so is could be good for imageGlass to use this embedded jpeg instead.

[2022-02-18 21:38] swbrains opened #1291 "Navigating prev/next image on shared network drive hangs; works if mapped drive location"
### System information:
 - Windows OS version:   Windows Home 11 (64bit)
 - ImageGlass version: 8.5.1.22 x64

### To Reproduce
Steps to reproduce the behavior:
1.  Share USB drive at router (ASUS RT-AC68R)
2.  Access shared USB network drive and image directory from local computer using a UNC path such as: \\ROUTER-NAME\Photos
3.  Open an image from that location in ImageGlass. It opens properly a

[2022-02-19 00:53] #1291 closed, assigned to d2phap

[2022-02-20 03:16] d2phap commented on #1290
You can select this option in Settings > Image:

![image](https://user-images.githubusercontent.com/3154213/154826952-03e67ade-7e74-4ce0-9bc2-3570e51b584d.png)

[2022-02-20 03:16] #1289 closed

[2022-02-20 03:21] d2phap commented on #1287
@mirh can you attach a screenshot or draw your expectation?

[2022-02-20 10:46] Zeus64 commented on #1290
Oh my god didn't catch it ! it's sooo good!

Is it possible to enable it also (the embedded thumbnail) for jpeg ? I explain, my camera is doing 7952x5304 images, that are quite big and it's little slow to open it with imageglass (2-3 seconds each images), but they have a thumbnail of 1616x1080 that is quite big and enough for my screen resolution. If we use the embded thumbnail then we can acceler

[2022-02-20 11:38] mirh commented on #1287
The toolbar covers the top of the image, that's what I'm saying.
You have to manually pan to see the rest of it.

[2022-02-20 19:27] mirh commented on #1287
Ok.. right.
The thing is supposed not to tamper with aspect ratio.
So fill doesn't mean "fill the window with the image" but "have the image somehow fill the window" (which is in turn equal to "*scale to height* OR *scale to width*, whichever is the closest").
I'm a bit torn on how it would be best to move from here.

[2022-02-21 11:42] festivities commented on #593
I second this, channel packed textures are unfortunately interpreted wrongly in both IrfanView and ImageGlass, and I don't see any other alternatives other than just loading it in an actual image manipulation program like Photoshop.

[2022-02-21 14:52] blablablabla opened #1292 "Thumbnails are not cached"
### System information:
 - Windows OS version: Win 10 1809
 - ImageGlass version: 8.5.1.22 x64 [Portable]

### To Reproduce
Steps to reproduce the behavior:
1. Open up a file in a folder with many HEIC files
2. Wait for thumbnails to generate
3. Close IG and reopen
4. Thumbnails are generated once again

Since opening a single HEIC image takes a few seconds (one-two seconds per image on Ryzen 9 59

[2022-02-22 01:10] fire-eggs commented on #1292
Thumbnails have never been cached, switching to 'feature request'.

[2022-02-22 09:36] Zeus64 opened #1293 "ImageGlass too slow with big jpeg file. Maybe use embedded jpeg ?"
ImageGlass is very slow to open with big jpeg file (2-3 seconds for 7952x5304 images), but often those files contain embedded jpeg with high resolution (example my 7952x5304 jpeg contain a preview jpg of 1616x1080 that is often bigger than the screen resolution) so it's could be good for imageGlass to use this embedded jpeg instead. If we use the embedded thumbnail then we can accelerate drastical

[2022-02-22 09:36] Zeus64 commented on #1290
I just opened a new feature request :
https://github.com/d2phap/ImageGlass/issues/1293

[2022-02-22 10:00] d2phap commented on #1290
Thanks I will take a look

[2022-02-22 10:24] #1290 closed, assigned to nobody

[2022-02-22 23:50] shoebillanon opened #1294 "ImageGlass process(es) sometimes stays open and hogs CPU after closing app"
No idea how to replicate this but sometimes ImageGlass' process will stay active in the background after closing the app and hog about 30% of my CPU. This can happen multiple times too, resulting in multiple processes hogging 30% CPU each. I just updated from 8.2 to 8.5 and thought the bug was gone but nope.

[2022-02-23 01:10] fire-eggs commented on #1294
Off-hand do you recall if the thumbnail bar was visible at the time of closing? Or did you edit (crop/rotate) the file you were looking at when you closed?

[These are the likeliest things I can think of off-hand which might be still running in the background at exit.]

[2022-02-23 17:40] shoebillanon commented on #1294
Nope, neither. Was just looking at images and that is it.

[2022-02-26 12:40] ghost opened #1296 "Icons not scalling correctly to be pixel perfect"
### System information:
 - Windows OS version: 10
 - ImageGlass version: Kobe 8.5.1.22 / Moon 8.5.2.15

### To Reproduce
Steps to reproduce the behavior:
1. Open the software
2. Look at the icons

### Actual behavior:
Starting from 8.0.12 looks very weird.
The icons are not aligned to be pixel perfect.
And not centered correctly on box.

Container box not looking good too.

### Expected behavior:

[2022-02-28 14:50] fire-eggs commented on #1294
I've yet to see the "hogging 30% of the CPU" issue, but I was able to get IG to have three background processes running with 8.5.1.22.

1. No IG background process.
2. Run IG. In settings, _check_ "continue running background"; save. Exit IG.
3. Note there is an IG background process.
4. Run IG. In settings, _uncheck_ "continue running background"; save. Exit IG.
5. Note there is still an IG backg

[2022-02-28 15:09] fire-eggs commented on #1294
One thing that occurs to me: when IG is "closed", the current FileWatcher doesn't appear to be stopped. I believe this means the IG background process is still watching the last viewed image folder. If that folder is "active" then IG could spend some cycles processing changes which aren't being viewed.

[2022-03-03 08:21] KonoVitoDa commented on #608
Please, let me edit shortcuts like I want. I really don't like to have to press Ctrl+Shift+C to copy an image, I would like to hit just Ctrl+C; I would like a way to toggle full-screen with F; I would like a new shortcut to close ImageGlass, like Ctrl+W; and I would like to change the order of the Fit commands.

[2022-03-04 17:10] tom-vb opened #1299 "Old icon associated files recovery"
Hello, I don't know what happened but I was happy and visually adapted to the blue icon of files associated with Imageglass but suddenly I used another version and now the icons have changed. The question is, how can recover (if possible) the old icon of files associated with Imageglass? see attached.

thanks

![20220304_180752_ksnp](https://user-images.githubusercontent.com/83949165/156809232-32c

[2022-03-06 13:48] Jarzka opened #1300 "Next / previous image is not loaded"
### System information:
 - Windows OS version: 11
 - ImageGlass version: 8.5.1.22

### To Reproduce
Steps to reproduce the behavior:
1. Open any image, it loads ok
2. Click next / previous image buttons (or press arrow button right / left)
3. The current image disappears but no new image is ever loaded

### Actual behavior:
Does not load the next / previous image

### Expected behavior:
Should loa

[2022-03-06 15:54] fire-eggs commented on #1300
We'll need more information to be able to diagnose this. I can think of a couple of scenarios where there won't be images to navigate to - e.g. opening an image from Explorer search results, where the image is by itself in a folder.

First of all, what does the titlebar show for available images? E.g. here is a sample:

![image](https://user-images.githubusercontent.com/9809727/156930659-ab9f64d5-

[2022-03-06 18:10] Jarzka commented on #1300
The titlebar shows just "ImageGlass".

I'm not expecting to be able to browse images from sub-folders, I'm just browsing files on the same folder.

Here is a little video demostration of the bug. I first open an image with ImageGlass and the navigation does not work in any direction. Then I open the image with Microsoft Photos (the default photo viewing app in Windows 11), and the navigation works

[2022-03-07 15:40] fire-eggs commented on #1300
Ooooh thanks for the video! Yup, that's really scrod. Sorry for the inconvenience!

[2022-03-07 18:02] fire-eggs commented on #1300
After Windows 11 did its update thing (grrr!) I installed IG 8.5.1.22 and had no problems. I'm guessing there might be an issue with your machine/installation.

What I'd like to suggest next is for you to find your igconfig.xml file. The location is shown in the Settings... dialog as the "Configuration Directory". If you don't mind, zip and attach it.

The first thing to do would be to edit it wit

[2022-03-08 02:44] ghost opened #1301 "Settings panel dark theme"
### Is your feature request related to a problem? Please describe.

I use a custom Windows 10 dark theme and the settings panel of this app is completely white. White text on a white BG.

### Describe the solution you'd like

The settings panel to have a dark theme option.

### Describe alternatives you've considered

The settings panel to respect the OS theme, regardless of any custom themes, and

[2022-03-08 14:41] Jarzka commented on #1300
The `IsUseEmptyTitleBar` was already set to false in my igconfig.xml:
```<Item key="IsUseEmptyTitleBar" value="False" />```

Here is my configuration zip: https://www.dropbox.com/s/8e8secjq736lidj/ImageGlass.zip?dl=1

[2022-03-08 15:38] fire-eggs commented on #1300
I'm seeing some issues in my tests with the "Language" settings. This could also cause these IG problems (e.g. the empty title bar).

We'll try forcing IG to use the English language.
1. Rename the folder `Languages` in `C:\Program Files\ImageGlass` [or wherever it is installed] to `_Languages`. [This will require admin.]
2. Edit the `igconfig.xml` file and change this line:
[code]
to this:
[code]

[2022-03-08 15:43] fire-eggs opened #1304 "Settings Panel text illegible : Windows 11 Light Theme"
### System information:
 - Windows OS version: 11
 - ImageGlass version: 8.5.1.22

### To Reproduce

### Actual behavior:

Windows 11, "Sunrise" theme, or "Windows (light)" theme.

Using the "2017 (Light Gray)" IG theme, the settings panel has light grey text against mid-grey background. Illegible.

### Expected behavior:

### Screenshots:

![image](https://user-images.githubusercontent.com/980972

[2022-03-08 15:48] fire-eggs commented on #1301
Which ImageGlass theme are you using? [I'll guess Kobe, but need to confirm.]

Can you be more specific about which aspects of the Windows 10 theme you changed?

[2022-03-08 16:19] bjornsyse opened #1305 "Copy image data does not copy transparency correct"
### System information:
 - Windows OS version: Windows 10 Version	10.0.19044 Build 19044
 - ImageGlass version: 8.5.1.22

### To Reproduce
Steps to reproduce the behavior:
1. Open Transparent image
2. Copy image data (CTRL+C)
3. Open image data from Clipboard (CTRL+V)

### Actual behavior:
Alpha channel is lost, and replaced with white.

### Expected behavior:
Alpha channel is retained. This is ho

[2022-03-08 17:35] Jarzka commented on #1300
I renamed the folder `Languages` in `C:\Program Files\ImageGlass` to `_Languages` and changed the line in igconfig.xml. Did not help, the problem still persists the same way (the windows title bar is "ImageGlass" and previous/next  image does not load).

Also, the application was already using English language even before this change.

[2022-03-08 17:40] Jarzka commented on #1300
I tried running ImageGlass as admin for testing purposes. It asked my to select language (I selected English) and theme. Now the image navigation works! However, if I start ImageGlass without adming rights, the problem persists.

[2022-03-08 17:43] Jarzka commented on #1300
I uninstalled ImageGlass and cleared all its configuration files in `C:\Program Files\ImageGlass` and `C:\Users\<username>\AppData\Roaming`. After that, I reinstalled it (with typical settings) and now the navigation works!

[2022-03-08 19:51] fire-eggs commented on #1300
Hooray! Glad you got it solved! Apologies for the run-around.

[2022-03-08 19:51] #1300 closed, assigned to d2phap

[2022-03-08 21:04] Sxderp commented on #1294
This is somewhat tangential, but you mentioned it in your reproduction steps, how is "allow multiple instances" supposed to work with "continue running in background"? To me they seem mutually exclusive.

The only way I can see them working together is if ImageGlass used multiple windows for viewing images. The code isn't really conducive to this, when looking at it there seems to be an assumption

[2022-03-08 23:41] ghost commented on #1301
Thanks for your response. Yeah, I'm using Kobe, but I tried them all with the same result. I've attached screenshots of some of the settings panels, along with the custom Windows 10 theme I'm using. I downloaded the theme from DeviantArt, but I don't recall who created it.

Edit: I should probably mention that I'm using the portable version.

![01](https://user-images.githubusercontent.com/5130276

[2022-03-09 01:52] cdgriffith opened #1306 "AVIF Images do not honor CICP values"
### System information:
 - Windows OS version:  Windows 10 / 11
 - ImageGlass version: 8.5.1.22

### To Reproduce
Steps to reproduce the behavior:
1. Open AVIF with CICP 9/16/9  (BT.2020 primaries, BT.2100 PQ transfer, BT.2020 matrix)
2. see colors are muted

### Actual behavior:
Muted colors

### Expected behavior:
Bright colors

### Screenshots:

What it should look like on the left, what it end

[2022-03-10 13:01] giwrgosmant opened #1307 "ImageGlass Edit Toolbar Action - Windows Error Association"
### System information:
 - Windows OS version: Windows 11 Version 21H2 (Build 220000.556)
 - ImageGlass version: 8.5.1.22 x64

### To Reproduce
Steps to reproduce the behavior:
1. Open an image in ImageGlass
2. Go to edit button in toolbar and press it.
3. Windows error appears: "**There is no association of an application with the specified file for this function**"

### Actual behavior:

It does

[2022-03-11 01:40] d2phap commented on #1300
Maybe, the file type associations settings was empty.

[2022-03-11 01:41] d2phap commented on #1299
You delete all icons in Ext-Icons folder of ImageGlass, then open Settings > Set as default photo viewer button again.

[2022-03-11 01:41] #1299 closed, assigned to nobody

[2022-03-11 06:24] Heaven7528 opened #1309 "Warning: " ImageGlass无法打开该图片，因为该文件貌似已经损坏或不支持。System.Drawing:参数无效。""
### System information:
 - Windows OS version:  win10
 - ImageGlass version: 8.5.1.22 x86

### To Reproduce
Steps to reproduce the behavior:
Open the image and switch to the next one in succession.

### Actual behavior:

Warning: " ImageGlass无法打开该图片，因为该文件貌似已经损坏或不支持。System.Drawing:参数无效。"
![Z4PLQL7GPW6CA70S9Z%77EP](https://user-images.githubusercontent.com/64640240/157813895-16d66992-da1a-4d8f-aa0b-

[2022-03-11 07:26] Jarzka commented on #1300
Not sure if that was the reason, but IMO the next / previous image buttons should work no matter if the program is set to be the default application for opening the images or not.

[2022-03-11 21:37] fire-eggs commented on #1309
This exception usually occurs when ImageGlass is asked to view an image larger than a specific size. If you provide the details about the image which fails with this error, we can confirm whether this is the case.

[2022-03-12 01:52] Heaven7528 commented on #1309
Yes, I have this problem when I view raw images and big tiff images (They're usually bigger than 20 megabytes）. I love imageglass, which is small but very accurate in color rendering, According to my needs, I can customize different  color space. So is there any way to solve this problem?

何旭升
***@***.***

---原始邮件---
发件人: "Kevin ***@***.***&gt;
发送时间: 2022年3月12日(周六) 凌晨5:37
收件人: ***@***.***&gt;;
抄送:

[2022-03-12 03:57] d2phap commented on #1309
Your image dimension (not the file size) must be very big (> 10k x 10k). ImageGlass has this limit

[2022-03-12 04:01] d2phap commented on #1300
ImageGlass uses user-defined file extensions list (Settings > File type associations) to filter image files from the disk. I just suspected your igconfig.xml file was corrupted, or somehow the extensions list setting was empty. That's why it could not load any images.

Using the user-defined file extensions list allows user to add new extensions that support by Magick.NET.

[2022-03-12 04:11] d2phap commented on #1272
ImageGlass is designed to work with File Explorer, having the folder tree creates many other following sub-features.

The "Open folder" I mean is this dialog:

![image](https://user-images.githubusercontent.com/3154213/158003151-844c3d3e-c21b-4c21-9c65-25e2b9bed903.png)

[2022-03-12 04:16] Heaven7528 commented on #1309
My picture size is not that big, the largest is about 4.5k * 7k, view a single picture is no problem, continuous view multiple will be a problem.I'll send you some pictures later.

何旭升
***@***.***

---原始邮件---
发件人: "Phap Dieu ***@***.***&gt;
发送时间: 2022年3月12日(周六) 中午11:57
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [d2phap/ImageGlass] Warning: " ImageGlass无法打开该图片，因为该文件貌似已经损坏或不支持。Sys

[2022-03-12 04:28] d2phap commented on #1309
That would be great!

[2022-03-12 04:31] BradKML commented on #1272
@d2phap I guess large thumbnail rendering (or lack of ability to show multiple images in ImageGlass) is another issue entirely.

[2022-03-12 05:13] Heaven7528 commented on #1309
What kind of network disk do you use?
It is slow to download large files by email, I share them with you through the internet disk

何旭升
***@***.***

---原始邮件---
发件人: "Phap Dieu ***@***.***&gt;
发送时间: 2022年3月12日(周六) 中午12:28
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [d2phap/ImageGlass] Warning: " ImageGlass无法打开该图片，因为该文件貌似已经损坏或不支持。System.Drawing:参数无效。" (Issue #1309)

That would be g

[2022-03-12 06:17] Heaven7528 commented on #1309
何旭升
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "d2phap/ImageGlass"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月12日(星期六) 中午12:28
***@***.***&gt;;
***@***.******@***.***&gt;

[2022-03-12 15:55] dr-bing commented on #508
+1 - would be amazing to have this.

Thrilled that this is being worked on for version 9.0!

[2022-03-14 08:16] srishak34 opened #1310 "Arrow Keys to Scroll down and up. NOT Pan up and down."
### Is your feature request related to a problem? Please describe.

Id like to have my arrow keys as an option to scroll please. i had f****ng enough scrolling with my mouse. my mouse is quite cheap see, its scroll wheel had its short life span too, no freaking way im gonna go break it like this. the pan up and down is such a di**. its soooooo sloooowww especially doing the hq/hd images. its suck.

[2022-03-14 08:33] srishak34 opened #1311 "Cropping is kind of a pain. Custom cut area is nice but there Images where custom cut area doesnt work, and thats a pain."
### Is your feature request related to a problem? Please describe.

like the title said, cropping is kind of a pain.
you see, i love Illustrations i download from internet. HQ/HD images especially. but among those there would be text of some kind, or even something that gets quite in the way of the view. obviously i crop those. buuuuuttttt remember. its hd images. its thousands of pixels and you a

[2022-03-14 15:10] fire-eggs commented on #1310
SETTINGS. KEYBOARD. UP / DOWN ARROWS.

![image](https://user-images.githubusercontent.com/9809727/158201622-d52342e6-5200-4c5b-abd0-578e6333fb9c.png)

[2022-03-14 18:02] fire-eggs commented on #1309
Thank you very much for the sample images!

I had trouble seeing any problems. However, I did start getting the following error message:

![image](https://user-images.githubusercontent.com/9809727/158230118-939718ac-e739-465b-add0-72959b2dc4ab.png)

For me, it seems to be a memory issue.

For starters, I see you're using the 32-bit ImageGlass. Do you have a 64-bit machine, and can you use the 64-b

[2022-03-15 00:24] Heaven7528 commented on #1309
Yes, I have a 64-bit machine and it's memory is&nbsp; 16GB , but I downloaded the software from your website and installed it by default to 32-bit, I thought your software was only 32-bit.
I'll install the 64-bit application and set it up as you provided.
Thanks for your reply .&nbsp; &nbsp; &nbsp;(●'◡'●)ﾉ♥

Message ID: ***@***.***&gt;

[2022-03-15 03:36] unquietwiki opened #1312 "DirectStorage to boost image load times?"
[DirectStorage](https://devblogs.microsoft.com/directx/directstorage-api-available-on-pc/) is public now, and is intended for providing increased read access for games on Windows & XBox. I'm curious if this could be leveraged here to boost image load times.

[2022-03-17 18:28] hellojianqun opened #1313 "gif image saved with .jpg extension can't play at all"
### System information:
 - Windows OS version: Windows10
 - ImageGlass version: 8.5

### To Reproduce
Steps to reproduce the behavior:
1. Save an gif image with an extension of ".jpg"
2. Open the saved jpg file in ImageGlass
3. The image will not automatically start playing like an gif file
4. Press Ctrl+Space, nothing happens

### Actual behavior:

Such a file will not automatically start playing

[2022-03-18 20:09] ncx9 commented on #508
Thanks for working on this! Would be fantastic to have.

[2022-03-19 01:20] AndyHarbage commented on #1097
Still getting this bug. I've just installed ImageGlass 8.5.1.22 (x64). Using Rotate + Auto Save option corrupted several of my large (apprx 100mb) .png files. Including ones I wasn't even rotating. Just navigating through images caused the save message appear erroneously for images I wasn't even changing and corrupt some of my images. Meaning I'm no longer able to open them, as there's only half a

[2022-03-19 01:23] mirh commented on #503
Probably duplicate of #377

[2022-03-19 05:06] d2phap commented on #1313
ImageGlass uses the file extension to determine image format. This is to avoid the unnecessary calculation while reading the file.

[2022-03-19 05:06] #1313 closed, assigned to d2phap

[2022-03-19 05:07] #1312 closed, assigned to nobody

[2022-03-19 09:00] d2phap commented on #272
To update, hardware acceleration is **partially** supported in v9 (**only for non-alpha formats**), and the performance for panning, zooming is also significantly improved when it's on.

- [x] Direct2D does not display image with alpha formats correctly (or I haven't known yet), so IG will switch to GDI+
- [x] GDI+ is still the best for GIF animation: speedy, less resource.
- [x] Direct2D only sup

[2022-03-19 09:18] unquietwiki commented on #272
@d2phap This would be a good time to tie in #1314 ; I think that goes in the opposite direction of GDI+, unless there's a way to tie the two together? I did find that [DirectX 12](https://docs.microsoft.com/en-us/windows/win32/direct3d12/direct3d-12-reference) works on Windows 7 (which has been deprecated for a bit now), and that texture limit might not exist under DX12? The [docs don't seem that

[2022-03-19 09:21] PhillyMay opened #1315 "Feature request: Show Facetags / FaceAreas with name"
A feature I´d love to see in the future would be the ability to show faceses and the respective name.

I tag all my photos with Picasa and digicam (depending on the operating system I'm currently using). There is a function to automatically or manually find faces and to automatically assign them to people. These programs can in turn write this image information into the tags of the image file. For

[2022-03-19 09:26] PhillyMay opened #1316 "Feature request: Show pictures on a Map (eg. via Openstreetmap)"
A cool addition to ImageGlass would be the abillity to show a map next to the picture, where you can see the location of that photo.

All my fotos have the locations embedded (either by the camera itself, or by manually tagging them with the software "geosetter"). So it would be great to have an icon on the toolbar, where you can open or close a map like openstreemps to see where the photo is take

[2022-03-19 09:33] d2phap commented on #272
DirectX12 is the latest version of DirectX, but it only supports up to 16384px. IG v9 just uses a small features of Direct2D (it's quite complicated to me).

I have another plan for v10 that is to only support for Windows 10 (64-bit) or later, use WinUI 3 (or MAUI). I could do it for v9 already, but IG still has lots of Windows 7 users. So supporting GPU in v9 will make those who can't upgrade to

[2022-03-19 09:39] unquietwiki commented on #272
@d2phap I've been hearing good things about MAUI. This will more or less put my old "Billgatus of BORG" poster to rest for good. 😆

[2022-03-20 23:35] yofukashino opened #1317 "resolution change"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

ok i would like it if i can change resolution of the image in imageglass itslef without using something else , like just a simple resize. chnaging the size of image from 1080p to 720p like that. just resize to match a certain

[2022-03-21 00:47] EternalLeo opened #1318 "Possibility to pan and zoom into the empty area outside the image as well as change scroll speed."
### Is your feature request related to a problem? Please describe.
When you're like me and like to take a look at pixel art sprite sheets, or like to have a particular area in the image centered, and also like to navigate lots, then it's unpractical that you cannot change the scroll speed in settings as well as pan into the empty area outside your image. Say you have a sprite sheet with pixel art

[2022-03-30 09:18] Monarsoft opened #1319 "无法打开图片以及菜单栏透明"
![image](https://user-images.githubusercontent.com/49823635/160797127-a40b6038-f57d-4d75-b532-5421a99c2f13.png)

[2022-03-30 18:27] Jarzka commented on #1300
Unfortunately this started happening again, even if I have set ImageGlass as the default viewer for all of my image files. :(

[2022-03-30 18:48] rosswald commented on #1062
Especially those who come from Irfanview. Also some video players also have enter as their fullscreen key. Since it's unused it's the logical option (also, if you can make it configurable - even better).

[2022-03-30 21:12] fire-eggs commented on #1319
Have you installed the [.NET Framework 4.8](https://dotnet.microsoft.com/download/dotnet-framework/net48) ?

[2022-03-31 13:52] d2phap commented on #1319
You need to install .NET 4.8

[2022-03-31 13:52] #1319 closed, assigned to nobody

[2022-04-02 03:09] mistergom commented on #620
Hello! I have the same issue here... Similar to the last @SeriousHoax video above (https://imgur.com/a/K8RHur8). The second "double-clicked" image doesn't bring IG in foreground + focus...

@VatorArt, could you please explain your temporary "fix"?

Thanks all for the great work!

[2022-04-02 10:12] VatorArt commented on #620
After couple of updates, it kinda sorted it self out. I also reinstalled windows for a different reason, so that might've helped somehow.
Try fully reinstalling the program and see if that fixes it.

My issue was more that any image I opened, would be stuck in " always on top " even though I didnt configure the software that way. As I said in that previous reply, I have a program called Alt Drag
S

[2022-04-02 12:21] mistergom commented on #620
Thanks for your help!
I already tried to reinstall IG, several times, the beta version too...
I also reinstalled windows and things were quite good during the first times, and then IG continued to "bug" and stay in the background...

[2022-04-02 13:07] mistergom commented on #620
Oh... Going deeper in other discussions, I think that it is link to :
https://github.com/d2phap/ImageGlass/issues/1195#issuecomment-997239608

Argh........

[2022-04-02 13:46] mistergom commented on #620
But why "IG doesn't currently force the single window instance to the front"?

[2022-04-03 08:49] libwo opened #1320 "open eps file has very low resolution"
already install ghostscipt，but when i open my eps files，it has a very low resolution，how to change that？ Thanks

[2022-04-04 05:20] ravewulf commented on #404
I'm not exactly sure how this is enabled but the expected behavior can be seen with Windows Photo Viewer (the one present since Vista/7, not the Photos app).

Steps:

1. Use Windows Explorer's search box to filter files (returns filtered results from the current folder and any subfolders) OR open a Saved Search (.search-ms)
2. (Optional) sort the results
3. If Windows Photo Viewer is the default i

[2022-04-04 10:00] d2phap commented on #1320
do you have a sample file?

[2022-04-04 17:56] kevinfrteels opened #1321 "CTRL+SHIFT+S does not SAVE AS"
### System information:
 - Windows OS version: 21%2 19044.1620
 - ImageGlass version: 8.5.1.22   x64

### To Reproduce
Steps to reproduce the behavior:
1. Any open image file
2. CTRL+SHIFT+S
3.
4.

### Actual behavior:

The shortcut for FILE >SAVE AS which is CTRL+SHIFT+S creates a red line following a 90 degree angle about 5 cursors long on each side

### Expected behavior:

This should open a FI

[2022-04-05 14:54] d2phap commented on #1321
It's probably duplicated of #1273

[2022-04-07 02:45] libwo commented on #1320
just like this
![image](https://user-images.githubusercontent.com/64256867/162109951-0f7deca5-70aa-4af0-a814-ad8eea1b6cb2.png)
sample file  [file.zip](https://github.com/d2phap/ImageGlass/files/8439230/file.zip)

[2022-04-11 14:42] SumatraPeter opened #1322 "Add Exit option to the context menu"
There seems to be no way to close the viewer if one is in fullscreen mode with the toolbar turned off.

An easy solution would be to add an **Exit** option to the right-click context menu (especially in fullscreen mode, but might be useful for mouse users otherwise too).

(Note that this is _not_ the same as the prior feature request made to add a Close button to the toolbar itself.)

[2022-04-11 14:47] SumatraPeter opened #1323 "Auto-close viewer if all images in folder are deleted"
When the last image in a folder is deleted, currently a blank page is displayed, while the titlebar displays some incorrect info.

Instead it would be nice if the viewer window was auto-closed when the very last supported image in a folder is deleted. If some people want the viewer to remain open with a blank screen (don't know why), "Auto-close window when last image is deleted" can be made an op

[2022-04-11 15:33] SumatraPeter opened #1324 "Enable ESC to close/cancel dialogs"
In Windows itself for example, the delete dialog can be closed/canceled simply by pressing ESC. In IG's delete confirmation dialog however ESC does nothing.

So it would be nice if IG's dialogs also responded to ESC to close/cancel them.

(Speaking of delete confirmation dialogs, while I like that IG's displays the full path to the file, it would be better if it also displayed the image dimensions

[2022-04-11 15:41] SumatraPeter opened #1325 "Continue running in the background"
Instead of "Continue running background when the app is closed", it would make more sense if the setting read "Continue running _in the_ background when the app is closed".

Also, what exactly does "Start with OS" and this option do? _What_ component keeps running in the background and why? Does it index stuff, or make app startup faster?

[2022-04-11 19:45] fire-eggs commented on #1325
ImageGlass itself is running in the background. Start with OS means IG is running at Windows startup, in the background. By doing so, ImageGlass opens up much faster when the user double-clicks on an image.

[2022-04-13 07:39] LaserLV52 opened #1326 "A better way to rotate the image？by exif, metadata or others?"
### Is your feature request related to a problem? Please describe.

The problem of image file size extremely grow up caused by image rotation has been alleviated, but still unsatisfactory.  Now, in IG, the rotation solution change the metadata of image without exif tag, which raises several confusion.

1.The rotare image file size still grow larger than other software(such as, windows picture app)

[2022-04-15 23:57] mistergom opened #1329 "IG doesn't come and open image in foreground even when it should?"
### Discussed in https://github.com/d2phap/ImageGlass/discussions/1328

<div type='discussions-op-text'>

<sup>Originally posted by **mistergom** April 16, 2022</sup>
Hello!
This question is following the last posts of this discussion:
https://github.com/d2phap/ImageGlass/issues/620

I read that:
_With "allow multiple instances" OFF then yes, IG doesn't currently force the single window instance t

[2022-04-20 18:03] SumatraPeter commented on #1325
Thanks @fire-eggs for that explanation. BTW the first sentence above _is_ a feature request of sorts, since it's about requesting a minor edit to make the setting read better. :)

[2022-04-21 07:56] linchenqian opened #1330 "Ability to Resize Window in Frameless Mode"
I really like how clean the frameless mode looks. but it often happen to me that I need to resize the window. And currently the only way to do that is to exit frameless mode, resize window, then re-enter frameless mode.

It'd be nice if the frameless mode is behaved as the frame is there but just not visible (or extremely thin)

Side note: also like to see a close  button in frameless mode as I li

[2022-04-26 05:10] WinkelCode opened #1331 ""Pinch to Zoom" actually scrolls up and down"
### System information:
 - Windows OS version: Windows 11 21H2
 - ImageGlass version: 8.5.1.22 x64
 - Apple Magic Trackpad 2 with official Windows Precision drivers

### Problem description:

The "pinching to zoom" gesture actually scrolls up and down when zoomed into an image and does nothing when zoomed out.
The scrolling/"two finger up and down" gesture zooms the image, but is really weird and

[2022-04-26 05:14] WinkelCode commented on #1331
# UPDATE:

I managed to get it to sort of work:
![image](https://user-images.githubusercontent.com/29005772/165226374-68049fac-a6c0-4f65-a276-6f00d533195d.png)

"Mouse wheel" = Two finger up/down

"Mouse wheel + Ctrl" = Pinch

"+ Shift"/"+ Alt" = IDK, doesn't seem to do anything.

With these settings the only thing missing is two finger swipe left and right.

Edit: These settings actually work acc

[2022-04-27 14:14] d2phap commented on #1331
ImageGlass does not support "Pinch to zoom", Swipe left/right. Duplicated of #305

I'm not sure but you may wanna try unchecking this option:
![image](https://user-images.githubusercontent.com/3154213/165538735-ef89abfe-334c-4c33-b61c-01dee4f8b4cb.png)

[2022-04-27 14:14] #1331 closed, assigned to d2phap

[2022-04-27 14:18] d2phap commented on #908
Let's close this and merge to #611, it's duplicated.

[2022-04-27 14:24] d2phap commented on #1324
Those are dialogs opened by `MessageBox.Show()` function do not support closing by ESC key.
Most of them are for showing error message.

The rest can be closed by ESC, e.g. Rename dialog, Go to dialog, Custom zoom dialog,...
I will need to replace the `MessageBox` by the custom dialog component.

[2022-04-27 14:26] d2phap commented on #1325
Thanks @SumatraPeter for the correction.

[2022-04-27 14:59] d2phap commented on #1294
If it has multiple instances, only the last instance will be kept running.

You can see the implementation below:
https://github.com/d2phap/ImageGlass/blob/7c416b299c2b5bf9f4acbc4c603a41e68fa64047/Source/ImageGlass/frmMain.cs#L3246-L3272

[2022-04-27 15:10] d2phap commented on #620
When it does not work as expected, it may be a bug and need to be fixed.
I will look into it once I have time.

[2022-04-27 15:10] d2phap commented on #1329
You can just continue on the #620 instead of creating new ones.
Btw, I just replied.

[2022-04-27 15:10] #1329 closed, assigned to nobody

[2022-04-27 23:02] mistergom commented on #620
Thanks for your help! Keep up for the great work! ;)

[2022-04-27 23:03] mistergom commented on #1329
Oh I'm sorry, I thought that the issue was quite different... ^^

[2022-05-01 20:03] Xelrog commented on #404
Bump. I found another request for this dating 2020, can we please add it soon? Literally the one thing missing from ImageGlass, I hate having to constantly go back to using Windows Photos because of the lack of this basic necessary functionality.

[2022-05-02 06:15] Salman1993october opened #1332 ".webp do not animate like .gif file"
### System information:
 - Windows OS version: windows 10 pro 64 latest version
 - ImageGlass version: latest

### To Reproduce
Steps to reproduce the behavior:
1. it happened after the update
2.
3.
4.

### Actual behavior:
 i am a noob dont ask

### Expected behavior:
 i am a noob dont ask

### Screenshots:
 bruh

### Additional context:
 only the .webp are not animating like the  .gif file

[2022-05-02 06:25] d2phap commented on #1332
Duplicated #508

[2022-05-02 06:25] #1332 closed, assigned to d2phap

[2022-05-02 18:13] slashedstar commented on #1132
I wanted it at least to have an option to enable a user prompt confirming the deletion of the file, if you press delete it just deletes the file blowI wanted it at least to have an option to enable a user prompt confirming the deletion of the file, if you missclick the delete button it just deletes the file 🤯

[2022-05-02 22:55] fire-eggs commented on #1132
ImageGlass behaves just like Windows Explorer: when you delete a file, it is sent to the Recycle Bin, where you can recover it.

[2022-05-03 12:45] slashedstar commented on #1132
I'm aware of that, but unlike WE it doesn't have an option to ask if you really want to delete the file, which would prevent the hassle of searching the trash bin or going to the folder where the image was and pressing ctrl+z

[2022-05-03 13:20] d2phap commented on #1132
The option is here:

![image](https://user-images.githubusercontent.com/3154213/166460362-c8dee6f1-2d6b-41d7-95ae-306fc77026f2.png)

[2022-05-03 18:18] pakoito commented on #497
Pinch and zoom is iffy for me too. The rest don't seem to do well either. May it be incompatibility with the High Precision driver?

[2022-05-04 21:04] WinkelCode commented on #305
![image](https://user-images.githubusercontent.com/29005772/166825127-77e88962-b3e5-4a94-9dcf-80ac43a959a9.png)
This configuration works pretty well with my Magic Trackpad 2 with Windows Precision drivers, pinch zoom is responsive and I can at least navigate up and down with two finger swiping, the drawback is that you need to hold down Ctrl to zoom when using a mouse, but I am already used to thi

[2022-05-09 11:07] boromyr commented on #305
I too would like to have full trackpad support in IG 9, to move the zoomed image like in Photoshop or Edge.
I currently use this script in AutoHotKey which emulates the motions:
[code]
Crude but effective, the problem is scrolling not perfectly smooth, and not being able to use scrolling in thumbnails or settings.

[2022-05-09 11:13] xinoulei opened #1334 "Option to show previous/next images with scrolling over thumbnail panel"
Hi there! I am a long user of Picasa Photo Viewer but I am trying to move from it because Picasa is already 10 years old and ImageGlass offers more options.

One of the features from Picasa Photo Viewer that I am missing is showing previous/next pictures with a mouse scroll over the thumbnail panel. In Picasa Photo Viewer when you scroll over the picture it will zoom in/out the picture, however, w

[2022-05-09 11:15] xinoulei opened #1335 "Show a close button in full-screen mode"
Hi there.

I have seen this has been asked before, however, in the previous request the poster asked for a context menu entry to close the app. What I would like to propose is adding a (semi-transparent) close button that would appear on the top-right corner of the window when entering a full-screen mode.

For example, this is how the close button looks in Picasa Photo Viewer:

![2](https://user-i

[2022-05-09 11:48] d2phap commented on #305
IG v9 beta 1 is done, and I'm preparing for the release.
V9 beta 1 introduces a new feature: "Image focus mode" to zoom and pan smoothly using keyboard (configurable).

It does not support all trackpad gestures yet but zooming using trackpad or mouse wheel is pretty smooth (up to 60 FPS) :)

[2022-05-09 11:56] d2phap commented on #1335
Thanks. It's kinda similar to #1182 and #611. Let's follow this there

[2022-05-09 11:56] #1335 closed, assigned to nobody

[2022-05-09 12:00] d2phap commented on #1137
This is probably about keyboard shortcut customization, similar to #608

[2022-05-09 12:00] #1137 closed, assigned to nobody

[2022-05-09 12:06] d2phap commented on #1062
I will merge this to #608 - keyboard customization

[2022-05-09 12:06] #1062 closed, assigned to nobody

[2022-05-09 13:04] boromyr commented on #305
Great! When will the first beta come out?

[2022-05-09 15:32] d2phap commented on #305
This weekend! It's a rewritten app, so there are lots of missing features, too.

[2022-05-11 15:27] d2phap commented on #690
For theme pack details, you can find it here: https://github.com/ImageGlass/theme

[2022-05-11 15:27] #690 closed

[2022-05-11 15:34] d2phap commented on #222
Merged this to #678

[2022-05-11 15:34] #222 closed

[2022-05-11 15:35] d2phap commented on #1278
Merged this to #678

[2022-05-11 15:35] #1278 closed, assigned to nobody

[2022-05-11 15:36] d2phap commented on #1235
Just found there is a similar ticket here #1235

[2022-05-11 15:36] #1235 closed, assigned to d2phap

[2022-05-11 15:43] d2phap commented on #1182
Merge this to #611

[2022-05-11 15:43] #1182 closed, assigned to nobody

[2022-05-12 21:01] xmha97 opened #1336 "Hide all panels on slideshow mode"
Please hide all panels on slideshow mode:
![image](https://user-images.githubusercontent.com/23485114/168167310-55721800-ae44-4855-b43e-91555dc24f13.png)

[2022-05-14 04:53] JonDous opened #1337 "Full screen on mouse wheel"
I'm surprised but I didn't file to set mouse wheel press to enter/exit full screen mode.

[2022-05-14 12:18] lifegpc commented on #1169
![image](https://user-images.githubusercontent.com/41434272/168424898-88e0cf81-b06a-46ac-a245-8d7138214eed.png)
![image](https://user-images.githubusercontent.com/41434272/168424883-d9d4ae9f-19c9-47df-9ab0-491afadfc684.png)
![image](https://user-images.githubusercontent.com/41434272/168425322-e3ed26e8-d6d0-4768-9197-d29dc788d316.png)
Windows explorer (Windows 10)

I got same issue.
I find the exif

[2022-05-16 07:24] Zeus64 commented on #1293
@d2phap I don't know the status of imageGlass 9.0 but as it's seem you redraw it from scratch if you could add this feature in it it's would be very great !

[2022-05-16 13:52] SleepDaemon opened #1339 "How to change the default .ico file types for imageglass?"
I wish to use these .ico file types instead https://github.com/xmha97/IGExtIcons, but I don't see an obvious way to import them or change to them.

[2022-05-16 14:18] d2phap commented on #1339
You can download all those icon files, and put in the folder `Ext-Icons` where `ImageGlass.exe` is located

[2022-05-16 14:20] SleepDaemon commented on #1339
Thanks!

[2022-05-16 14:20] #1339 closed, assigned to d2phap

[2022-05-16 14:30] d2phap commented on #1293
Thanks @Zeus64 I have plan to implement this in the next beta release

[2022-05-16 17:44] HCentric commented on #1272
Hi @d2phap,
I understand that as part of the project you do not allow the option that in addition to showing images selected in Windows Explorer will be able to select folders in ImageGlass in the future?
The togglable folder hierarchy that @BrandonKMLee  proposes is a pretty classic solution that gives a lot of possibilities for the future.
All the best

[2022-05-16 17:55] HCentric opened #1340 "Filter by Tags"
Hi @d2phap,
ImageGlass is a very slick image viewer and at the same time it is getting richer with features - it really stands out among applications of a similar kind.
The feature I'm looking for is the option to filter folders by tags contained in images. The question is, does this kind of feature conflict with your conception of the program?
All the best!

[2022-05-17 02:52] d2phap commented on #391
@14m3l1t3 you can drag and drop multiple files/folders to the viewer

[2022-05-17 07:25] 14m3l1t3 commented on #391
Thanks! I was watching in options to load, but couldn't find a thing, didn't cross my mind to drag and drop... And by the way thanks for greatest viewer ever! Cheers!

[2022-05-18 07:00] d2phap commented on #1272
Hi @HCentric

ImageGlass is designed for viewing and working with File Explorer only, that's why it lacks of photos editing and organizing features.

However, I will probably add support for simple browsing features after version 9 is complete.

[2022-05-18 07:00] d2phap commented on #1340
Hi @HCentric

The program concept is mostly because of my knowledge limitation. I usually avoid to developing the difficult features. But version 9 opens more posible ways to do it. I will consider doing this after I complete the v9.0

[2022-05-18 07:27] d2phap commented on #1279
Hi @olippuner

I wonder if the Exif tool of ImageGlass fits your need?
With Exif tool, when you change the viewing image, it also loads the corresponding information without toggling the window tool. You also can filter, change the order of the EXIF tags.

This tool is in a separate window. But I guess you can just put it side by side with ImageGlass window so it can help your work.

[2022-05-19 01:32] BradKML commented on #1272
@d2phap a major issue is that file explorer may not be equipped to handle larger sized thumbnails or previews on Windows, and that "get all images from a folder" is not easy on it.

[2022-05-19 13:20] d2phap commented on #1325
Updated the text in the latest build of ImageGlass Moon 8: https://imageglass.org/moon

![image](https://user-images.githubusercontent.com/3154213/169302750-1d5bb25e-836d-4015-96fc-2006533b3f7f.png)

[2022-05-19 13:20] #1325 closed, assigned to nobody

[2022-05-19 13:38] d2phap commented on #1305
Add support for copy/paste transparency in the latest build of ImageGlass Moon 8: https://imageglass.org/moon.
So far it works with Paint.NET, MS Word, Power Point, Excel, MS Edge, Chrome,..

Please note that, Because the Windows clipboard data is really dirty and inconsistent, and some software create its own way to copy and paste image data, this implementation is just try to cover all the popul

[2022-05-19 13:39] d2phap commented on #1218
Fixed this in the latest build of ImageGlass Moon 8: https://imageglass.org/moon and [ImageGlass Moon 9.0 Beta 1](https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514).

![image](https://user-images.githubusercontent.com/3154213/169306992-c62a157c-cf8e-4ca2-bbba-1776528ca573.png)

[2022-05-19 13:39] #1218 closed, assigned to d2phap

[2022-05-19 13:41] d2phap commented on #620
Fixed this in the latest build of ImageGlass Moon 8: https://imageglass.org/moon and [ImageGlass Moon 9.0 Beta 1](https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514).

[2022-05-19 13:41] #620 closed

[2022-05-19 13:45] d2phap commented on #508
Add support for WEBP animated format in the latest build of ImageGlass Moon 8: https://imageglass.org/moon and [ImageGlass Moon 9.0 Beta 1](https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514).

Please note this implementation is not native (yet). ImageGlass converts WEBP to GIF and plays it

[2022-05-19 22:47] mistergom commented on #620
Great! Thanks a lot!!!

[2022-05-21 06:04] #1309 closed, assigned to d2phap

[2022-05-21 07:18] #1305 closed, assigned to d2phap

[2022-05-21 07:30] d2phap commented on #781
This issue is fixed in the latest build of ImageGlass Moon: https://imageglass.org/moon

- `Use current monitor profile` is set as default option in Color management setting. If the monitor has no color profile, ImageGlass will use `sRGB`.
- Moving ImageGlass window to another monitor does not auto-correct the color, you need to reload the image (Main menu > File > Reload image (Ctrl+R)). This is

[2022-05-21 07:53] d2phap commented on #541
This issue is fixed in ImageGlass Moon 9.0 beta 1

![image](https://user-images.githubusercontent.com/3154213/169641830-fa9168db-bdcd-4aee-87e0-e64e14678b5a.png)

[2022-05-21 07:53] #541 closed

[2022-05-21 08:00] d2phap commented on #971
This issue is implemented in the ImageGlass Moon v9.0 beta 1: https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514.
You can customize it using the setting `InfoItems` in the `igconfig.json` file.

![image](https://user-images.githubusercontent.com/3154213/169641902-41075ced-b362-47e0-ac0f-5311c21ed1bf.png)

All the tags you can use are:
https://github.com/d2phap/ImageGlass/blob/2e3de3af3b78

[2022-05-21 08:00] #971 closed, assigned to nobody

[2022-05-21 08:02] d2phap commented on #539
This issue is implemented in the ImageGlass Moon v9.0 beta 1: https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514.
You can change `ShowThumbnailFilename` to `true` in the `igconfig.json` file.

![image](https://user-images.githubusercontent.com/3154213/169642127-78ada6d2-b42d-406d-b141-d28adda07d17.png)

[2022-05-21 08:02] #539 closed

[2022-05-21 08:06] d2phap commented on #1224
Updated the navigation buttons in ImageGlass Moon 9.0 beta 1:
https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514

![image](https://user-images.githubusercontent.com/3154213/169642251-cb5dfb29-412f-4826-8709-34b94aad4d7a.png)

[2022-05-21 08:06] #1224 closed, assigned to d2phap

[2022-05-21 08:09] d2phap commented on #1292
This issue is implemented in the ImageGlass Moon v9.0 beta 1: https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514.
The cached thumbnails are stored in `ThumbnailsCache` folder. Maximum cache is set to 100 MB.

![image](https://user-images.githubusercontent.com/3154213/169642381-9b4786a5-10cf-457b-affb-d466d0f12b23.png)

[2022-05-21 08:09] #1292 closed, assigned to d2phap

[2022-05-21 08:11] d2phap commented on #990
This feature is implemented in the ImageGlass Moon v9.0 beta 1: https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514.
You can just drag a thumbnail and drop it to any windows.

[2022-05-21 08:11] #990 closed, assigned to nobody

[2022-05-21 08:18] Zeus64 commented on #990
thanks @d2phap

[2022-05-21 08:20] d2phap commented on #1025
This issue is fixed. ImageGlass Moon v9.0 beta 1 has big improvement for fast switching images. You can press and hold Left/Right arrow button to feel:
https://github.com/d2phap/ImageGlass/releases/tag/9.0.1.514.

If the file is still being loaded after 1.5 second, the loading message will appear.

[2022-05-21 08:20] #1025 closed, assigned to nobody

[2022-05-22 04:57] #508 closed

[2022-05-22 13:04] giwrgosmant commented on #1307
@d2phap or any other can you help me with this?
Thanks

[2022-05-22 16:06] d2phap commented on #1307
Because Windows 11 removed the verb "edit" of the file, I tried to fix in v8.3 here #1160
You need to manually open Settings > Edit, and select the application for editing.

[2022-05-22 17:08] bai12123 opened #1342 "Simplified right-click menu，mouse drag window"
Hello author, I encountered 2 problems in the process of using, here is my suggestion
1.There are too many options in the right-click menu, some functions I can't use, and sometimes I even click accidentally。I hope you can provide a way to simplify the right-click menu options (such as providing changes in the configuration file?)

2.In borderless mode (image fit window)，I hope to be able to drag

[2022-05-23 15:52] SilentGene commented on #971
Thanks for realizing this in the new version! However, I still wanted to ask if the information like `ISO/ aperture/ shutter speed` is possible to be shown in the title bar? It looks like there is no such options currently according to the code.

Thanks,
Heyu

[2022-05-23 16:15] d2phap commented on #971
Hi @SilentGene, there will be more EXIF tags to show in the next release

[2022-05-23 16:17] SilentGene commented on #971
That's exciting! Cheers, mate.

[2022-05-24 08:07] andre-sicking opened #1343 "When printing FAX files, the folder %AppData%\ImageGlass\Temp is not created and IG crashes"
### System information:
 - Windows OS version: Windows Server 2016 Datacenter, German
 - ImageGlass version: 8.5.1.22 x64

### To Reproduce
Steps to reproduce the behavior:
1. Open Multipage .fax file
2. CTRL-P (Print)

### Actual behavior:
ImageGlass crashes. Text below is from german OS, but the problem should be clear. Literally: A part of the path "C:\Users\..." could not be found.

**********

[2022-05-24 09:44] d2phap commented on #1343
Thanks @andre-sicking
Confirm the bug

[2022-05-24 11:30] d2phap commented on #1307
You can try the new build of IG Moon https://imageglass.org/moon
It will try to find MS Paint and use it on Windows 11

[2022-05-24 11:31] d2phap commented on #1343
Fixed this issue in the latest build of IG Moon: https://imageglass.org/moon
The official release will come in a few weeks.

[2022-05-24 11:31] #1343 closed, assigned to d2phap

[2022-05-24 12:42] andre-sicking commented on #1343
Thank you for fixing this. Can confirm that it works in IG Moon.

[2022-05-24 18:01] giwrgosmant commented on #1307
Thx a lot. I will give it a try tommorow. 🙂

[2022-05-25 12:34] LyntNy4n opened #1344 "Can not open avif image that bigger than 32768*32768"
### System information:
 - Windows OS version: win11
 - ImageGlass version: 8.5.1.22 and 9 beta1

### Screenshots:

![Snipaste_2022-05-25_20-30-51](https://user-images.githubusercontent.com/49772385/170262666-0ec9a7b4-8721-490a-a432-42575fcc57b7.jpg)

But png and jpg don't have this issue.

[2022-05-26 18:09] bai12123 opened #1346 "The display of long images is not friendly"
## Hello author, due to work needs, I will browse many similar long pictures every day.I use fit-width mode to scroll through images from top to bottom.But when I switch to the next picture like this, the zoom area is still in the middle of the picture, I have to move the picture display area to the top,then scroll through it.This operation needs to be repeated for each image (moving the picture d

[2022-05-27 02:17] d2phap commented on #1346
- Do not write in big font size unless you want to get bad impression from the reader.
- Following the issue template is respecting the project author.
- And for your issue:
![image](https://user-images.githubusercontent.com/3154213/170615168-ed1fbdb0-1050-444a-8a4d-4113463655a4.png)

[2022-05-27 02:17] #1346 closed, assigned to nobody

[2022-05-27 02:21] #1152 closed, assigned to nobody

[2022-05-27 02:25] d2phap commented on #1342
Duplicated issue:
1 -> #102
2 -> #1005

[2022-05-27 02:25] #1342 closed, assigned to nobody

[2022-05-27 02:28] #998 closed, assigned to nobody

[2022-05-27 02:32] d2phap commented on #400
The MSI installer of v8.5 already supports register the extensions in the installation process

[2022-05-27 02:32] #400 closed

[2022-05-27 03:55] bai12123 commented on #1346
1.The uppercase font is used because the original font is too small, I will pay attention
2.Sorry, because there is no template requirement in other communities, I didn't pay much attention to it myself, I will pay attention to the template next time, and I also like this software
3.Finally thank you for your answer

[2022-05-27 12:46] bai12123 opened #1347 "Edit ----associate photo editing site"
### Is your feature request related to a problem? Please describe.
I am not an in-depth picture worker, for picture editing, I have not installed any picture editing software, just an online picture editing website can solve my needs, like  www.fotor.com.cn/photo-editor  ；photopea.com。I want imageglass to be associated with image editing site

### Describe the solution you'd like
Usually I install

[2022-05-27 12:50] bai12123 commented on #1347
When will the official version 9.0 be released?It would be great if this feature was implemented in 9.0

[2022-05-27 13:38] d2phap commented on #1347
### Short answer:
- This feature must support from the Chrome app, not ImageGlass.
- Chrome app should support reading arguments command line.

### Long answer:

You can launch Chrome app in ImageGlass by copying the Target command of the app.
Let's say I installed Youtube Chrome app, and add it to my desktop. Right-click to open context menu, select Properties, copy the `Target` field:

![image](

[2022-05-27 13:38] #1347 closed, assigned to nobody

[2022-05-27 13:43] d2phap commented on #1347
Version 9.0 will have 2 or 3 more beta, before it can be official released.

[2022-05-27 15:26] bai12123 commented on #1347
Thanks for your help.I just need launch Chrome app in ImageGlass。and I successfully opened the image in the chrome app

[2022-05-29 11:26] d2phap opened #1348 "Automatically display new image in folder"
### Is your feature request related to a problem? Please describe.
If I am looking at a folder and a new photo arrives, the thumbnail bar updates to show the new image. Can I get the program to display that new image immediately?

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context
Requested from https://groups.google.com/g/imageglass/c/2fK0jLP

[2022-05-29 11:44] d2phap commented on #1348
![image](https://user-images.githubusercontent.com/3154213/170866111-d46c58fb-71e0-481b-b507-9be5e96bf62f.png)

[2022-05-29 11:44] #1348 closed, assigned to nobody

[2022-05-31 02:46] giwrgosmant commented on #1307
I tried the latest Moon version. Now opens the MS paint, nice 👍
It would be better if it could open the editor of stock windows photos app tho.
Thanks good job 😎

[2022-05-31 02:48] d2phap commented on #1307
Thanks @giwrgosmant for confirming.
This is for the default editor, the customization can be done in Settings > Edit.

[2022-05-31 02:48] #1307 closed, assigned to d2phap

[2022-06-01 22:55] bai12123 opened #1349 "waterfall flow display pictures in the folder (image gallery)"
### Is your feature request related to a problem? Please describe.
When I do a lot of image filtering, I use the view--oversized icon in the explorer, but the gap between the images is large, and the scroll wheel to the bottom needs to scroll more times. At this time I always use the folder picture display function in microsoft-photos

### Describe the solution you'd like
Now imageglass is my main

[2022-06-03 13:41] d2phap commented on #1265
It should be fixed in ImageGlass 8.6

[2022-06-03 13:41] #1265 closed, assigned to d2phap

[2022-06-03 15:02] ghost opened #1352 "Please keep only ImageGlass Remove Kobe Word from Title Bar"
Please keep only ImageGlass **Remove Kobe Word** from Title Bar

![Screenshot (286)](https://user-images.githubusercontent.com/98110551/171880144-60efbacd-12a6-4896-bc36-7905432c8176.jpg)

[2022-06-03 15:16] Sxderp commented on #1352
Can you elaborate on why you think this is necessary? I don't know why it was added (maybe a version name like Debian uses? buster/bullseye/bookworm), but it's not really a breaking change is it? I'm pretty sure (I don't have a Windows system in front of me) that Windows truncates the end of a title string if it cannot fit in the taskbar, so you don't even see it there.

[2022-06-03 15:21] Sxderp commented on #1344
Images can be vectors for malicious actors. One way to attack a system is via resource exhaustion from decompression bombs. As a result the ImageMagick library has some defaults in regards to how many resources it allocates to decode images. This has an unfortunate side-effect of blocking some legitimate images. This policy can be [overwritten](https://imagemagick.org/script/security-policy.php) b

[2022-06-03 16:23] ghost commented on #1352
Only one thing, because I don't like version name title bar

[2022-06-03 23:06] Shituation opened #1353 "Latest update broke it (8 6 6 6)"
### System information:
 - Windows OS version: Win10 x64
 - ImageGlass version: 8 6 6 6

### To Reproduce
After installing the new "kobe" version:
1. Installation path changed, adding the word "kobe" for some reason. This killed profiles for my keyboard (app detection). Fixed manually. Why changing default paths now?
2. File types got messed up for some reason and windows still asked me which prog

[2022-06-04 03:07] d2phap commented on #1353
Hi @Shituation

Sorry for these troubles, but I want to make the app's code name clear, and not to confuse people with another release at https://github.com/ImageGlass/Spider. Also, I didn't think changing the name could break anything.

The settings for installation are usually saved in `%AppData%\ImageGlass`, and this folder is not changed so it should not happen. Unless you run IG as administra

[2022-06-04 03:15] d2phap commented on #1352
I want to make the app's code name clear, and not to confuse people with another release at https://github.com/ImageGlass/Spider.
In the future, user can switch to different update channel: Kobe, Moon, Spider,... like Windows Insider, and improve the auto-update process.

[2022-06-04 03:34] niresh1234 commented on #1352
But, you must add **Show Version Name in Title Bar** in the Setting Page

Can you add this option in next version?

[2022-06-04 03:39] d2phap commented on #1352
Okay I will create a setting for it in the next release.

[2022-06-04 05:27] #1310 closed, assigned to nobody

[2022-06-04 06:36] d2phap commented on #693
IG 8.6 added support for user current monitor profile (#781) in Settings > Image > Color management:

![image](https://user-images.githubusercontent.com/3154213/171987767-ad7511e1-4227-467a-98bd-34b15a450c16.png)

[2022-06-04 06:36] #693 closed

[2022-06-04 07:27] ConstantineRudenko commented on #1250
https://github.com/d2phap/ImageGlass/issues/1250#issuecomment-1021423957

So basically you are redirecting your requests to the websites (e.g. shops) you want to scan through the PCs of the users (with their permission) so that it doesn't look like all of the requests are coming from the same place, thus getting around the restrictions for number of requests per user.

I think different people wou

[2022-06-04 08:50] QoliAlliance commented on #202
Just rename igcmd.exe to igcmd_.exe in the ImageGlass folder

[2022-06-04 10:19] 1mad1 opened #1354 "8.6.6.6 is broken for me"
### System information:
 - Windows OS version: Windows 10 21H2
 - ImageGlass version: 8.6.6.6 64-bit

### To Reproduce
Steps to reproduce the behavior:
1. Install the new update (8.6.6.6) over ImageGlass (old version: 8.5.1.22)
2. Open ImageGlass or any image

### Actual behavior:

Image isn't showing, Toolbar icons aren't shown, see the screenshot

### Screenshots:

![Screenshot (6)](https://user

[2022-06-04 13:33] Shituation commented on #1353
No, I can't. Too much work and I've already uninstalled the latest version and went back to 8 5 1 22 and it works as intended.
I will simply block updates until this is fixed. Maybe someone else will report it. Its an image viewer so its not critical and the old versions simply work so for me, time is more valuable than "showing proof" of the problem in this case.

[2022-06-04 15:15] graphixillusion commented on #1354
For me it crashes on start. Windows 10 21H2. This is what i have in the eventviewer:

[code]

Last NET Framework 4.8 is installed on the system.

[2022-06-04 16:44] d2phap commented on #1354
@1mad1 It seems the Magick.NET has multiple version conflicts, need to delete the old version of Magick.NET in your machine. I don't know how yet, I will check.

@graphixillusion
What theme are you using? It seems that IG cannot load the igtheme.xml file.

[2022-06-04 16:45] d2phap commented on #202
@QoliAlliance igcmd.exe is also in charge of other functions like Set desktop wallpaper
https://imageglass.org/docs/command-line-utilities

[2022-06-04 21:56] graphixillusion commented on #1354
@d2phap yes you are right. i installed it with scoop and something went wrong. Now i've reinstalled from scratch and the error is gone. Maybe it would be better a notification popup instead of a crash?

[2022-06-05 03:27] ghost opened #1355 "When trying to install ImageGlass for (Only Current User)"
When trying to install ImageGlass for (Only Current User)

**Main Problem:
ImageGlass not Get any Administrator Rights During install for "Only Current User"**
- Because Writing a Registry Keys, Need Administrator Rights.........................

![1](https://user-images.githubusercontent.com/98110551/172033575-c6504528-6ed2-4dc4-bf3e-175f7cb35305.jpg)
![2](https://user-images.githubusercontent.co

[2022-06-05 04:09] Dypsis commented on #1352
But you've already renamed the Program Files folder name to ImageGlass Kobe.
How is that going to work smoothly if you switch channels?

[2022-06-05 12:22] d2phap commented on #1355
I also posted this issue here: https://github.com/d2phap/ImageGlass/discussions/1351#discussioncomment-2881696
I'm still waiting for the Advanced Installer support team to reply me: https://www.advancedinstaller.com/forums/viewtopic.php?f=2&t=50421&p=127545#p127545

[2022-06-05 12:27] d2phap commented on #1354
@graphixillusion IG should come with the Kobe theme by default, I'm not sure why it's missing, but I will check and add more error message for the missing files

[2022-06-05 15:07] neoOpus commented on #272
please focus on making it better and faster for those who upgraded to Windows 11, there is plenty of image viewer already and they will not be left behind unless they are willing for... WinUI 3 is getting better lately and GPU acceleration is a must, even some light AI based functions would be very welcome... IrfanView is more than enough for Windows 7 users 99% of the time

[2022-06-06 04:42] arjunpaudyal opened #1356 "Custom Rotation Request"
### Is your feature request related to a problem? Please describe.
I am looking for a feature where the user is allowed to rotate image on custom degrees by keyboard. A flat rotation of 90 degrees is not always the requirement, but user have to straighten or align the image.

### Describe the solution you'd like
User presses a custom shortcut- that allows user to rotate by the degrees. Take an exa

[2022-06-06 13:54] Sxderp commented on #1352
Same as Firefox? Your profile and settings data are stored in the user folder and can be found regardless if you're running Firefox Nightly, Firefox Developer, Firefox Stable, Firefox ESR, all of which can be installed at the same time.

As for this issue, I still can't wrap my head around it and am going to drop out of it.

[2022-06-06 14:59] robsiera commented on #1354
I have exactly the same error, and cannot get rid of it. Repaired it, uninstalled/reinstalled it. Nothing helps. Indeed some file of the previous install were still floating around. Removed them. Cleaned registry. But still the same error.
I do not have more details. No event log error in my case.
Any suggestions?
--edit--
I uninstalled 8.6.6.6 and reinstalled 5.1.22. That works without any issue.

[2022-06-07 09:52] iDm1 commented on #1320
Same happens with PDF files. ImageGlass opens them too, but resolution is unusable.
Probably there should be a user definable DPI option in ImageGlass settings for vector formats.

[2022-06-07 16:01] d2phap commented on #1354
The amazing @fire-eggs has found the solution for this: https://groups.google.com/g/imageglass/c/TC77lLRiLr4/m/uEtHVOO-AQAJ

You can download `vcomp140.dll` here, and put it in the installed folder of ImageGlass:
[vcomp140.dll.zip](https://github.com/d2phap/ImageGlass/files/8854707/vcomp140.dll.zip)
I have also paused the update of v8.6 until I pack a new one.

[2022-06-09 07:55] Baegus opened #1357 "No thumbnails generated for EPS files, navigation not working"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.6.6.6 Kobe

### To Reproduce
Steps to reproduce the behavior:
1. Have a folder with multiple EPS files.
2. Open one.
3. Try to navigate left/right.

### Actual behavior:
No thumbnails get generated for the EPS files and pressing left/right does nothing. The single EPS image does get opened though.

### Expected behavior:
Th

[2022-06-09 10:03] d2phap commented on #1357
@Baegus Can you share some screenshots?

To read EPS file, you need to install GhostScript, then open IG Settings > File type associations, add `.eps` extension to the list

![image](https://user-images.githubusercontent.com/3154213/172821596-6c593c7d-9d69-4bbc-8fbf-6605df316a0a.png)

[2022-06-11 06:40] asheroto commented on #887
This issue is still present. Brand new Windows 10 installation on a VM - issue present. Brand new Windows 10 installation on a laptop - issue present.  In addition, the buttons at the top are messed up / missing.

Here's what it looks like....
![asdf](https://user-images.githubusercontent.com/49938263/173176656-7413e466-5e24-4add-9670-60f84c1409da.png)

[2022-06-11 06:41] asheroto commented on #1354
Same issue here... Brand new VM install with Windows 10 - issue present. Brand new install on a laptop with Windows 10 - issue present.

![asdf](https://user-images.githubusercontent.com/49938263/173176685-39bcb558-b745-4ff0-aea0-2f0532db33b8.png)

[2022-06-11 06:41] asheroto commented on #1354
Yep, this fixes it! Thanks.

[2022-06-13 13:54] d2phap commented on #1352
Published v8.6.7.13, reverted the folder name to ImageGlass, and removed "Kobe" from the title bar.
The release code is only shown in the About dialog.

[2022-06-13 13:54] #1352 closed, assigned to nobody

[2022-06-13 13:55] d2phap commented on #1355
Fixed this issue in the release v8.6.7.13 https://github.com/d2phap/ImageGlass/releases/tag/8.6.7.13

[2022-06-13 13:55] #1355 closed, assigned to nobody

[2022-06-13 13:56] d2phap commented on #1354
Fixed this issue in the release v8.6.7.13 https://github.com/d2phap/ImageGlass/releases/tag/8.6.7.13

[2022-06-13 13:56] #1354 closed, assigned to d2phap

[2022-06-13 13:58] d2phap commented on #1353
Published release v8.6.7.13 https://github.com/d2phap/ImageGlass/releases/tag/8.6.7.13

[2022-06-13 13:58] #1353 closed, assigned to d2phap

[2022-06-13 14:34] d2phap commented on #1202
In v8.6.7.13, this setting is off by default because it causes issue: Left/Right keyboard control keeps losing focus
https://groups.google.com/g/imageglass/c/u1tAUsF2RN8/m/y6rOyEqOAAAJ

You can enable it in `igconfig.xml` file by changing `AutoFocusToolbarOnHover` value to `true`.

[2022-06-13 15:38] ghost opened #1360 "Trying to Unregister File Extensions"
Trying to Unregister File Extensions

- I Think, The option works correctly, but wrong popup comming
**`Unable to delete registered file extensions of ImageGlass app`**

.

https://user-images.githubusercontent.com/98110551/173389186-4f9475d5-14fc-4cf3-a86b-43946f4f29ee.mp4

[2022-06-13 16:24] ghost opened #1361 "Open ImageGlass from system tray is always empty"
Open ImageGlass from system tray is always empty
I think, the ImageGlass must show the default image..

https://user-images.githubusercontent.com/98110551/173399509-a0fc0024-38de-4056-a175-8366678a1621.mp4

[2022-06-13 21:30] asheroto commented on #1354
Do any of you manage the Chocolatey package for ImageGlass?

[2022-06-14 02:28] d2phap commented on #1354
@asheroto No I don't maintain any other download sources, only from GitHub and the website https://imageglass.org. You can contact the package maintainer, or just wait for a few days, I guess.

[2022-06-14 05:15] 8DL9 opened #1362 "Not corrected install size for desktop background wallpaper"
- Windows 10 x64:
 - ImageGlass v 8.6.7.13

This happens with any monitor resolution.
1) Install background by using program Microsoft Photos:
https://i.postimg.cc/9FD79Hkd/Microsoft-Photos.png

2) Install background by using program FastStone Image Viewer:
https://i.postimg.cc/3N4xkYwW/Fast-Stone-Image-Viewer.png

3) (Bug) Install background by using program ImageGlass_Kobe v8.6.7.13_x64:
https:/

[2022-06-14 12:25] Sxderp commented on #1202
It would seem that this is caused by an unconditional focus to the toolbar on hover. The issue can likely be solved by only focusing the toolbar (or another part of the program) if the window is not already active. Examples on how to check if the window is already active are linked below. Some of them seem like they would be expensive checks. Unfortunately I don't have the development environment

[2022-06-14 17:36] Sxderp opened #1363 "Potential solution to #1202 (AutoFocus toolbar) regression"
The problem with the original solution to #1202 is that it unconditionally focused the toolbar when the mouse hovered over it. This would cause odd behavior if you focused the program, moved your mouse over the toolbar, and expected certain keyboard shortcuts to work.

I'm not making this a PR as it seems a bit hacky as it (ab)uses [Control.Tag](https://docs.microsoft.com/en-us/dotnet/api/system.w

[2022-06-15 06:49] juliankadar opened #1364 "Icon for "Thumbnail panel" could be more intuitive"
I've just clicked on the icons on the toolbar and discovered the thumbnail panel feature. I was a litte bit surprised which feature was behind that icon because I didn't expect a thumbnail panel at all.

May I suggest a more intuitive version?

It should better imitate the resulting screen like a large picture on top-center and small thumbnails below. Some kind of a combination of the slide show i

[2022-06-16 00:41] why0why0why opened #1365 "Wrong install location"
### System information:
 - Windows OS version: windows 10 20H2
 - ImageGlass version: 8.6.7.13

### To Reproduce
Steps to reproduce the behavior:
1. open installer
2. change install location to D:/~1/ImageGlass
3. install

### Actual behavior:

it has been installed to default install path C;/program files/ImageGlass

### Expected behavior:

it should be installed to D:/~1/ImageGlass

### Screensh

[2022-06-16 10:58] d2phap commented on #1365
Fixed for `ImageGlass_Kobe_8.6.7.13_x64.msi`! You can download again.

[2022-06-16 10:58] #1365 closed, assigned to d2phap

[2022-06-16 17:02] darkvertex commented on #1365
@d2phap I noticed the hash in winget was out of date so I fixed it: https://github.com/microsoft/winget-pkgs/pull/63751

Otherwise winget was raising a warning that something might be sketchy:
![image](https://user-images.githubusercontent.com/941331/174126321-62f32011-1e6a-48ba-b587-a620645c9520.png)

[2022-06-16 17:10] ghost opened #1366 "An Idea"
An Idea for ImageGlass

Hi, @d2phap
You know **Windows Photo Viewer** from Windows 7 which is still Available in Windows 10 and it's Very Fast Compare the any other Program, but Microsoft Remove it's Registry Keys, So The Program Not Accessible without adding Registry Keys..

If You Try to Reverse Engineering of Windows Photo Viewer, The You get Many New Ideas for Improving & Speedup ImageGlass..

[2022-06-16 17:22] d2phap commented on #1365
That's awesome!
Thank you, @darkvertex

[2022-06-16 23:26] Eneocho commented on #396
Any updates if this could be implemented? I have a ton of apngs that I have to open separately.

[2022-06-17 03:12] #1366 closed, assigned to nobody

[2022-06-17 07:06] ctaetcsh commented on #1250
Except it wasn't. The latest release on the website has it again. I have been completely oblivious to this the whole time so finding out about it now was an unwelcome surprise.

@spiderwest I appreciate you coming into this thread to address this, because as far as I can tell your service uses peoples computers to scrape websites, piggybacking off of their legitimate connection to bypass bot filte

[2022-06-17 15:21] MoemenShahawy commented on #1250
So it was always there, but way down on the download page. They always have a "clean" installer called Kobe, and another with Spider

What they did with the latest version, is they made the Spider installer #1 in the download choices, and the clean installer #2

which IMO is scummy
I just want a simple clean image viewer. No spider, no autorun service, no BS.
Is it that hard to keep things as they

[2022-06-17 19:33] ctaetcsh commented on #1250
The page that explains the differences between the versions is very helpful and thank you for adding it. However, the Learn More link next to the Spider downloads takes you to a page that doesn't explain what Spider does on the users computer. It just says "ImageGlass Spider is a special release of ImageGlass, collaborates with the Spider to create a full-featured image viewer and provide enterpri

[2022-06-18 10:16] Immortal-Sty opened #1370 "We can't move windows in Frameless Mode."
We can't move windows in Frameless Mode.

I hope that we can move windows by clicking everywhere on photos.

[2022-06-18 11:00] d2phap commented on #1370
You can hold Shift and move

[2022-06-20 09:51] bai12123 opened #1371 "Fast zoom, window flickers badly"
### System information:
 - Windows OS version: windows11  21h2
 - ImageGlass version: ImageGlass Kobe 8.6.7.13

### To Reproduce
Steps to reproduce the behavior:
1. Enable "window fit" behaviour
2. Use the scroll wheel to zoom quickly
3. Quick next picture

### Actual behavior:

Enable "window fit" behaviour，when I use the scroll wheel for fast zooming (or fast next picture), the window has severe

[2022-06-20 20:45] geraldsnm commented on #1252
@d2phap Can you also consider adding another paid option that doesn't require installing and running UWP executables?

I'm against TPM 2.0 / Windows 11 / UWP and any/all movement towards turning powerful unrestricted desktop computers into the mobile app license model that started with the iPhone and is now starting to infect desktop's with the "we sell you a subscription to license the software f

[2022-06-21 02:53] d2phap commented on #1252
@geraldsnm people buy Store version because they want the smooth update process of Store app.
I will think about it after I implement the autoupdater.

[2022-06-21 09:51] TheCGDF opened #1372 "[Feature Request]Custom Configuration Path / Configuration Export"
### Is your feature request related to a problem? Please describe.

In old versions, the configuration was being stored in a separate folder(`C:\Users\AppData\Roaming\Image Glass`).
I have multiple computers and I used to back up the configuration folder to make all computers consistent.
But the latest version stores the configuration into the installed path,
it makes me confused that which ones n

[2022-06-21 10:10] d2phap commented on #1372
If you installed for "Only for me", the config will be saved in the folder you choose (if it has write permission). If you choose "Everybody", it will use `C:\Users\AppData\Roaming\ImageGlass` because IG does not have permission to write to Program Files folder (admin required).

![image](https://user-images.githubusercontent.com/3154213/174774460-8e26f46c-833c-4887-8552-0044c3ac82f4.png)

If you

[2022-06-21 11:07] TheCGDF commented on #1372
I chose "Everybody" and did not run as admin, but ImageGlass used the installed folder.
Older versions before `8.6.7.13` was using `C:\Users\AppData\Roaming\ImageGlass`.

[2022-06-22 22:14] ghost opened #1374 "Window remains on top on update 8.6.7.13 x64 on Windows 11 21H2 (also not resizing when changing to a different monitor with different scaling)"
### System information:
 - Windows OS version: Windows 11 21H2
 - ImageGlass version: 8.6.7.13 x64

### To Reproduce
Steps to reproduce the behavior:
1. Open any image with ImageGlass, and open a few other windows like explorer or microsoft word or chrome browser.
2. Try to make other windows in focus
3. ImageGlass will remain on top, covering everything else, including taskbar if you put it over

[2022-06-23 03:20] d2phap commented on #1374
Can you check if the menu Layout > Keep window always on top is checked?

[2022-06-23 03:42] ghost commented on #1374
Awesome that fixed it! I assume the new update made that default?

On Wed, Jun 22, 2022 at 11:20 PM Phap Dieu Duong ***@***.***>
wrote:

[2022-06-23 03:44] d2phap commented on #1374
It's not never set as default.
It has a hotkey (`), and appears in the context menu, too. I think people may miss-press the key some time

[2022-06-23 03:44] #1374 closed, assigned to d2phap

[2022-06-28 19:56] Kazserah opened #1375 "Can't open settings"
Windows 10 Pro 1909
ImageGlass_Moon_9.0.1.518_Beta-1_x64

An error occurred trying to start process 'C:\Program Files\ImageGlass Moon\igconfig.json' with working directory 'C:\Program Files\ImageGlass Moon'. No application is associated with the specified file for this operation.

ImageGlass Moon v9.0.1.518
Microsoft Windows NT 10.0.18363.0 64-bit

System.ComponentModel.Win32Exception (1155): An e

[2022-06-28 20:01] #1375 closed, assigned to d2phap

[2022-07-02 07:39] yousuftamer opened #1378 "Can't display some (.ico) Files"
### System information:
 - Windows 11
 - ImageGlass version: 8.6.7.13 x64

### The Issue:
1. Can't display some (.ico) Files

### Screenshots:
![image](https://user-images.githubusercontent.com/81828638/176991329-108ceb37-9945-4ad6-ae93-6606bdfbe0f6.png)

[2022-07-02 07:46] yousuftamer opened #1379 "Display (.ani) Files"
### Describe the solution you'd like
- ImageGlass can't display (.ani) Files

#### Please make ImageGlass Support .ani Files.

[2022-07-05 17:53] Funkmiser opened #1381 "ImageGlass crashes when trying to open a Jpeg XL file"
### System information:
 - Windows OS version: Windows 11 x64 Version 21H2 (Build 22000.739)
 - ImageGlass version: Kobe 8.6.7.13 x64

### To Reproduce
Steps to reproduce the behavior:
1. Attempt to open the jxl image from [Test image and conversion.zip](https://github.com/d2phap/ImageGlass/files/9048412/Test.image.and.conversion.zip)
2. Watch as ImageGlass immediately closes a couple of second la

[2022-07-07 15:24] aotuitx opened #1383 "System hanging for a while when installing ImageGlass"
### System information:
 - Windows OS version: 10.0.17763.1637
 - ImageGlass version: 8.0.12.8、8.6.7.13

### To Reproduce
Steps to reproduce the behavior:
1. Do some ImageGlass settings
2.
3.
4.

### Actual behavior:

I am setting up ImageGlass. During the setting process, after a while, I felt that the system was obviously stuck, and the right mouse button did not respond.

This problem happened

[2022-07-08 14:13] ghost opened #1384 "Expand exiftool by enabling editing and removing exif data"
### Is your feature request related to a problem? Please describe.

I've been searching for a clean and modern looking open source image viewer that's also capable of reading, editing and removing exif data. Imageglass at the moment only reads exifdata.

### Describe the solution you'd like

Imageglass will be able to view, rewrite and remove exifdata
### Describe alternatives you've considered

I

[2022-07-11 07:34] d2phap opened #1385 "🎉 ImageGlass' 12th birthday: Give away 12 MS Store codes!"
![b12](https://user-images.githubusercontent.com/3154213/178208837-4cf73046-ef51-4ac5-9493-598a0f4a36ad.png)

### ImageGlass turns 12 years old this July (and also my birth month)!

To celebrate this, I'm giving away 12 promotional codes for [ImageGlass Store version](https://www.microsoft.com/store/productId/9N33VZK3C7TH) as a thank you to those who have been supporting ImageGlass.

You can copy

[2022-07-12 05:29] ghost commented on #1301
Closing this issue as I've moved to Linux.

[2022-07-12 05:29] #1301 closed, assigned to nobody

[2022-07-13 01:35] cakiya opened #1386 "imageglass hijacks microsoft apps icons with imageglass png icon"
### System information:
 - Windows OS version: Microsoft Windows 10 Home 10.0.19043 Build 19043
 - ImageGlass version: ImageGlass Kobe 8.6.7.13 x64

### To Reproduce
Steps to reproduce the behavior:
1. Install Imageglass (i used the .msi)
2. restart computer
3. open windows menu and type a name of a microsoft app (store, settings, photos, etc)
4. look at the hijacked icon of imageglass png file ty

[2022-07-13 03:32] d2phap commented on #1386
see this https://github.com/d2phap/ImageGlass/issues/664#issuecomment-1022305280

[2022-07-13 03:32] #1386 closed, assigned to d2phap

[2022-07-13 08:34] cakiya commented on #664
the link: step 3 asks me to input this into command prompt (admin):
`icacls "%programfiles%\WindowsApps" /setowner "nt service\trustedinstaller"`
but my output is
`C:\Program Files\WindowsApps: Access is denied.
Successfully processed 0 files; Failed processing 1 files`
while the website says i should expect
`processed file: WindowsApps
Successfully processed 1 files; Failed processing 0 files`
..

[2022-07-13 09:27] sovalyeler commented on #664
Don't follow that "solution". It's going to break some of the apps.

[2022-07-15 01:42] inbremen opened #1389 "it's dumb that IG doesn't read the embedded color profiles!"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-07-15 01:45] d2phap commented on #1389
Closed because the author didn't provide any information

[2022-07-15 01:45] #1389 closed, assigned to nobody

[2022-07-15 02:24] uzerucer opened #1390 "Small feat request: Close btn on context menu"
### Is your feature request related to a problem? Please describe.
I have configured ImageGlass such that it opens in full screen mode and I prefer it this way however, I can't close it from mouse itself...

### Describe the solution you'd like
So I would like a close btn in context menu when I right click,

![image](https://user-images.githubusercontent.com/101860653/179133886-0bb69f4a-12ce-4cac-

[2022-07-16 21:45] floppyD opened #1391 "These bmps looks weird on 8.6.7.13"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.6.7.13

### To Reproduce
Steps to reproduce the behavior:
1. open image

### Actual behavior:
Image looks washed.

ImageGlass
![image](https://user-images.githubusercontent.com/29208110/179372764-0455693c-9e51-4dac-8860-d805ff714b49.png)

Edge browser
![image](https://user-images.githubusercontent.com/29208110/179372775-99b

[2022-07-17 03:34] NRHGDW opened #1392 "ImageGlass Not Showing Last Double-Clicked Image"
### System information:
 - Windows OS version: 10 21H1 19043.1826
 - ImageGlass version: 8.6.7.13 x84

### To Reproduce
1. Double click an image in explorer
2. Wait for ImageGlass to open, showing that image
3. Double click a different image in explorer

### Actual behavior:
ImageGlass is focused, but is still showing the first image

### Expected behavior:
ImageGlass is focused, and showing the i

[2022-07-17 03:54] d2phap commented on #1392
Make sure you check this option:

![image](https://user-images.githubusercontent.com/3154213/179383151-900ac618-971f-499e-b177-41f0111d3e38.png)

[2022-07-17 04:11] NRHGDW commented on #1392
Made no difference. Also, to clarify, this is not on startup. ImageGlass is open, then I double click another image. ImageGlass comes to focus and top, but is still on the previous image. Video available if needed.

[2022-07-17 04:14] d2phap commented on #1391
Thanks @floppyD for the report, but it's similar to #386.

ImageGlass uses Magick.NET to read the image formats. And this image is a 32 bit BMP3 image. This means that 4 channels can be stored per pixel. When the 4th channel are not all zero ImageMagick will treat the 4th channel as an alpha channel.
https://github.com/dlemstra/Magick.NET/issues/271#issuecomment-410369165.

![image](https://user-i

[2022-07-17 04:14] #1391 closed, assigned to d2phap

[2022-07-17 04:16] d2phap commented on #1392
It seems that you're enabling multiple instances of IG.
Can you try disabling this option and see if it works?

If not, a video would be helpful.

![image](https://user-images.githubusercontent.com/3154213/179383716-db663b96-5856-4957-88aa-29f2a2a44bcb.png)

[2022-07-17 04:29] NRHGDW commented on #1392
I am not trying to use multiple instances; everything is one instance. Here is a video.
https://user-images.githubusercontent.com/99230615/179383992-69cdba69-b152-4bd8-b0a8-e733f851682d.mp4

[2022-07-17 04:57] d2phap commented on #1392
Thanks for the video, I still can't reproduce with my laptop.

One more try, can you download this config, rename it to `igconfig.xml`, then paste it to the configuration directory (see the Settings > General to know where the Config dir is)

[igconfig.xml.log](https://github.com/d2phap/ImageGlass/files/9127052/igconfig.xml.log)

[2022-07-17 05:18] NRHGDW commented on #1392
Replacing settings did not work. Uninstall/reinstall did not work. Changing install from current user to all users did not work.
I have set up _beta 9.0.1.518 x64_ and can confirm that it _does work_ as expected. So for me the solution will be to move to beta until release. Thanks.

[2022-07-17 05:18] #1392 closed, assigned to d2phap

[2022-07-17 21:35] Squarenet commented on #404
Would also like to see this being done. Any plans for doing so?

[2022-07-18 06:55] mbhkoay opened #1394 "Slideshow in window mode (not fullscreen)"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

[2022-07-18 07:00] d2phap commented on #1394
It's not official supported but since [version 7.5](https://github.com/d2phap/ImageGlass/releases/tag/7.5.1.1), all window modes can be combined to create a new window mode:
- Windowed slideshow (F11 -> F12 -> F11)
- Frameless windowed slideshow (F11 -> F12 -> F11 -> F10)
- Window-fit slideshow (F12 -> F9 -> F10)
- Frameless Window fit (F10 -> F9)

[2022-07-18 07:37] mbhkoay commented on #1394
This is great! It's exactly what I imagine.

[2022-07-18 07:37] #1394 closed, assigned to nobody

[2022-07-19 07:09] SillyCatto commented on #1097
Im facing the same problem. Enabled "Save the viewing image after rotating" in the Edit-Settings, rotated an image and its corrupted.

Image glass version 8.6.7.13
Windows 10 21H2

![ig](https://user-images.githubusercontent.com/103640580/179688888-b715b097-0df4-4fd2-a818-43236cf84a72.png)

[2022-07-20 11:52] sovalyeler opened #1396 ".ico File's Icon"
### System information:
 - Windows OS version: 10.0.19043 Build 19043
 - ImageGlass version: 8.6.7.13

I can't change icon files'(.ico) icons. Explorer always shows default ImageGlass icon.
![image](https://user-images.githubusercontent.com/108634252/179975253-6d18b09e-1c8b-42db-82c1-b109aff2ea8a.png)
![image](https://user-images.githubusercontent.com/108634252/179975291-e52b3a5d-a0fa-4f52-80cd-70

[2022-07-21 14:09] d2phap commented on #1385
The event ended!

[2022-07-21 14:09] #1385 closed, assigned to nobody

[2022-07-22 11:44] vermomths opened #1398 ""Imageglass cannot open this pic bc the file appears to be damaged""
### System information:
 - Windows OS version: win10
 - ImageGlass version: 8.3.11.21

### To Reproduce
Steps to reproduce the behavior:
1. rotate the pic
2. click on the next one
3. click back to the rotated pic
4. the pic cannot be seen anymore and it shows "Imageglass cannot open this pic bc the file appears to be damaged"

### Actual behavior:

^

### Expected behavior:

the pic not be damaged

[2022-07-22 11:54] d2phap commented on #1398
@vermomths please update to the latest version and check if the error still persists for you.

[2022-07-22 13:56] d2phap commented on #909
Merged this to #648

[2022-07-22 13:56] #909 closed

[2022-07-24 00:38] d2phap commented on #1304
This was fixed in v8.6. The link color is now always blue

[2022-07-24 00:38] #1304 closed, assigned to d2phap

[2022-07-24 01:59] d2phap commented on #574
- When user drag and drop an image from the folder that is already loaded, ImageGlass does not reload the entire folder, it just finds the index of that image and open.
- Double-clicking an image from Explorer always does a full reload.

[2022-07-24 01:59] #574 closed

[2022-07-24 02:06] d2phap commented on #404
I haven't found any resources/API to retrieve the search result.

[2022-07-24 03:28] ravewulf commented on #404
I'm not 100% positive but I think it might be related to the IFolderView2 interface

[2022-07-24 17:32] ravewulf commented on #404
IFolderView2::GetItems? It's inherited from IFolderView but, I assume, with the extra stuff from Vista and newer (search folders/search results in an Explorer view). May or may not also need IFolderView2::GetSortColumns depending on if the collection is sorted or not.

I'm primarily a web developer rather than working with Windows apps so I'm not entirely sure but it seems like that should get all

[2022-07-24 20:22] fire-eggs commented on #404
The guts of the "support Window Explorer sort order" code can be found at:

[Doit.cpp](https://github.com/fire-eggs/ExplorerSortOrder/blob/master/Dll1/Doit.cpp)

It's in C++ because for the life of me, I could not get the necessary C# bindings to the COM functions to work.

Here is the primary challenge for supporting Search results:

Which Explorer window is ImageGlass supposed to pull the list f

[2022-07-24 21:33] ravewulf commented on #404
So, if I'm understanding it correctly, this could work by adding GetItems to what's already there and using that instead of searching the directory/subdirectories of the opened image file IF (and only if) we know we have the correct Explorer window?

If we did know we had the correct window, then using GetItems would work for both search results (which already includes subdirectories) and regular

[2022-07-25 10:55] lonelyorchid opened #1399 "issue with alt+mouse scroll"
When customize Mouse wheel action to the following:
wheel+alt => horizontally scroll

the image will stuck if use the "wheel+alt" to scroll and another click of alt kay would solve the problem.

guessing it is because in windows, alt key would set focus to menu.

If setting wheel+alt shortcut key could disable the windows alt key to set focux of menu...

[2022-07-26 06:18] vermomths commented on #1398
Hello, thank you for your reply. I updated to the latest version and the problem still exists.

[2022-07-26 06:49] d2phap commented on #1398
Can you attach the file? I will need to do more investigation

[2022-07-26 06:59] vermomths commented on #1398
Sure. Here's what it shows.

On Tue, Jul 26, 2022 at 2:49 PM Phap Dieu Duong ***@***.***>
wrote:

[2022-07-27 02:14] cakiya commented on #664
ok nvm i guess it just decided to revert the fix after a while, its bugged again.

i uninstalled imageglass, restarted computer and its still using imageglass png file type icon...? if its uninstalled how is it still being hijacked by imageglass png icon

edit: deleting the files in AppIconCache in davecarrijo's solution doesn't fix the icons but it turns all the broken imageglass icons into broke

[2022-07-27 03:56] cakiya commented on #664
ok i finally fixed it, in my case it was because of the Google Drive application. uninstall it by going to system settings apps and uninstall it

https://appuals.com/fix-icons-not-showing-correctly-in-windows-10-search/

in the comments there are steps:

Serdar Sağlam
Friends, the source of this problem is the Google Drive program. Surprising to see that it still causes the same issue.

I guess th

[2022-07-28 11:29] sydeslyde opened #1400 "Keybindings not working when pressed on Numpad [v9.0]"
### System information:

 - Windows OS version: Windows 10 21H2 (19044.1826 x64)
 - Keyboard Layout: German
 - ImageGlass version: 9.0.1.518 (64-bit)

### To Reproduce

Steps to reproduce the behavior:
1. Open an Image
2. Zoom in by scrolling the mousewheel
3. Press key `0` on the numpad (to reset to actual size)

### Actual behavior:

Nothing happens.

### Expected behavior:

Zoom should be reset

[2022-07-28 11:36] d2phap commented on #1400
The first beta version only supports assigning 1 hotkey to the action.
If you want to set it to Numpad, you can change the hotkey for `MnuActualSize` to `NumPad0` in `igconfig.json`

[code]

[2022-07-28 11:38] d2phap commented on #1398
@vermomths You forgot to attach the file

[2022-07-28 11:43] vermomths commented on #1398
I did attached a png to the previous email but not sure what happened.
Here it is again

On Thu, Jul 28, 2022 at 19:38 Phap Dieu Duong ***@***.***>
wrote:

[2022-07-28 11:49] d2phap commented on #1398
No file again, it's better to go to https://github.com/d2phap/ImageGlass/issues/1398, then attach your file here

[2022-07-29 05:20] vermomths commented on #1398
![20220726141819](https://user-images.githubusercontent.com/109801662/181688055-cba74d8e-69b0-49a4-b893-4376998e2634.png)

[2022-07-30 02:58] d2phap commented on #1398
I mean if you can attach the image file (not the screenshot).
But according to the message in the screenshot, your image file has "**insufficient image data**" for Magick.NET library to decode and display in ImageGlass, which means you file might be corrupted

[2022-07-31 09:13] MSi57 opened #1401 "Windows sorting order ignored"
### System information:
 - Windows OS version: 10.0.19044 Build 19044
 - ImageGlass version: 8.6.7.13

### To Reproduce
Steps to reproduce the behavior:
1. In Settings / Image / Image loading order, tick the box "Use Windows Explorer sorting order if possible"
2. Press Save
3. In Windows Explorer, set sort order to e.g. photo taken.
4. Open a picture file in Windows Explorer with Image Glass
5. In

[2022-07-31 11:32] Sasiko commented on #951
on windows 11, also tried disabling and enabling touch gesture support but it doesnt work. i tried pinch zoom in but no gesture works at all.

[2022-07-31 16:06] playmobilmeister opened #1402 "windows thumbnails sometimes don't generate"
### Description
ever since my last install of IG, my windows thumbnails behave strangely. JPG for example, sometimes get thumbnails and sometimes don't. example:

![image](https://user-images.githubusercontent.com/33288162/182035057-3b4d4ee4-ea5b-4e7f-a47c-5a8faadc6350.png)

This also happens with .png btw. This happens in multiple folders, but not all of them, but I could not figure out the patte

[2022-08-02 13:27] laxsjo commented on #651
I would like to give my thoughts on why I think that this feature is very important, since this in my opinion is something that's very important for how it *feels* to use the program.

Here are a couple of examples of when this feature would be helpful.

# When is this a problem

When zooming out/in I would expect the image to move such that the point which was under the cursor would stay under th

[2022-08-05 00:14] regs01 opened #1403 "Full screen improvements"
May i suggest couple of things related to full screen?

- When closing the app from full screen (using ESC), the app will remember dimensions and size of maximized window. So next time it will open into full screen. That saving should be ignored, if it is in full screen mode.
- It will also remember toolbar visibility state. So next launch, when you switch from full screen back to windowed toolbar

[2022-08-05 09:21] thekrotek opened #1404 "Works VERY slow with large images"
### System information:
 - Windows OS version: 10
 - ImageGlass version: 8.6.7.13 x64

### To Reproduce
Steps to reproduce the behavior:
 Try to open this image:

https://en.wikipedia.org/wiki/The_Tower_of_Babel_(Bruegel)#/media/File:Pieter_Bruegel_the_Elder_-_The_Tower_of_Babel_(Vienna)_-_Google_Art_Project_-_edited.jpg

### Actual behavior:
When large image is opened, ImageGlass works VERY slow.

[2022-08-05 13:58] d2phap commented on #1404
This is a long and big improvement topic, also mentioned at #272, #522.
The file is just too big (30,000 × 21,952) for the current ImageGlass.
- ImageGlass v8 does not use GPU to render the image, so it's laggy when handling the large image.
- ImageGlass v9.0 beta 1 supports GPU rendering for non-transparent, non-animated images with maximum dimension up to 16,384 pixels.

[2022-08-05 13:58] #1404 closed, assigned to d2phap

[2022-08-05 14:05] d2phap commented on #1403
Most of the suggestions here are already implemented in v9.0 beta 2: https://github.com/d2phap/ImageGlass/projects/12#card-83527059

You can customize the hotkeys, mouse clicks, chain the actions and a lot more...

[2022-08-05 14:11] d2phap commented on #1402
Honestly, I have no idea.
Can you just try deleting thumbnails cache and rebuilding the thumbnails again:
https://www.windowscentral.com/how-reset-thumbnail-cache-windows-10

[2022-08-05 14:17] d2phap commented on #1401
Mentioned here #544.

IG currently can mimic the sort order for Name, Size, Extension. For Date, Windows uses data from EXIF tag, IG uses ModifiedDate/CreationDate/LastWriteTime from file attributes which do not match.

[2022-08-05 14:17] #1401 closed, assigned to d2phap

[2022-08-05 14:19] d2phap commented on #1396
Because of this issue https://github.com/d2phap/ImageGlass/issues/664, so I removed ICO extension from the list. I will add it back in the next release

[2022-08-05 19:54] sjain882 commented on #1178
Same issue, however I never get a dialog, it just completely freezes imageglass. No dialogs visible in alt tab menu or taskbar. Also for some reason all imageglass windows open with "always on top" on by default, not sure why this is the case

also, it spawns two exif tool process when it happens. these never close themselves even if you quit imageglass from task manager

[2022-08-06 09:20] vermomths commented on #1398
Hello,
It seems that every time after I rotate an image, it becomes damaged, which
is very annoying since I cannot retrieve the original file. Could you
please help me with this? Thank you!

On Sat, Jul 30, 2022 at 10:58 AM Phap Dieu Duong ***@***.***>
wrote:

[2022-08-08 06:48] thekrotek commented on #1404
OK, good to know, thank you. Will try v9.0, because right now even default Photos app works much better that v8. The latter is slow in general, not only with large images. It improved lately, but still slow comparing to some other image viewers. I am looking for fast image viewer myself, this is a core feature to me.

Keep up the good work anyway!